div.mobile-navigation#mobile-navigation
    div.mobile-navigation__inside.js-accordions-collapsible
        div.accordion.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Продукты
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                    a.website-footer-navigation__element(href='./product-page.html') Diamond VPN/FW
                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond VPN/FW Client
                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond NCC
                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond ACS
                    a.website-footer-navigation__element(href='javascript:void(0);') DCRYPT XG
                    a.website-footer-navigation__element(href='javascript:void(0);') DCRYPT
                    a.website-footer-navigation__element(href='javascript:void(0);') DCRYPT Smart SFP

        div.accordion.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Услуги
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                    a.website-footer-navigation__element(href='javascript:void(0);') Создание системы #[br]защиты информации
                    a.website-footer-navigation__element(href='javascript:void(0);') Экспертиза проектных решений
                    a.website-footer-navigation__element(href='javascript:void(0);') Проектирование
                    a.website-footer-navigation__element(href='javascript:void(0);') Аттестация по&nbsp;требованиям безопасности
                    a.website-footer-navigation__element(href='javascript:void(0);') Обучение по&nbsp;продуктам

        div.accordion.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Компания
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                    a.website-footer-navigation__element(href='javascript:void(0);') История компании
                    a.website-footer-navigation__element(href='javascript:void(0);') Клиенты
                    a.website-footer-navigation__element(href='javascript:void(0);') Новости
                    a.website-footer-navigation__element(href='javascript:void(0);') Мероприятия
                    a.website-footer-navigation__element(href='javascript:void(0);') Наш опыт
                    a.website-footer-navigation__element(href='javascript:void(0);') Лицензии и&nbsp;сертификаты
                    a.website-footer-navigation__element(href='javascript:void(0);') Работа и&nbsp;стажировка

        div.accordion.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Техническая поддержка
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                    a.website-footer-navigation__element(href='javascript:void(0);') пункт №1
                    a.website-footer-navigation__element(href='javascript:void(0);') пункт №2
                    a.website-footer-navigation__element(href='javascript:void(0);') пункт №3
                    a.website-footer-navigation__element(href='javascript:void(0);') пункт №4

        a.mobile-navigation__element(href='javascript:void(0);') Безопасный IoT
        a.mobile-navigation__element(href='javascript:void(0);') Купить
        a.mobile-navigation__element(href='javascript:void(0);') Контакты

    include website-contacts
    include ../includes/social-networks