block variables
-
    var navigation =
        [
        {url: 'javascript:void(0);', value: 'Компания', dropdown: [
            {value: 'История компании'},
            {value: 'Клиенты'},
            {value: 'Новости'},
            {value: 'Мероприятия'},
            {value: 'Наш опыт'},
            {value: 'Лицензии и&nbsp;сертификаты'},
            {value: 'Работа и&nbsp;стажировка'}
        ]},
        {url: 'javascript:void(0);', value: 'Продукты', dropdown: [
            {value: 'Diamond VPN/FW'},
            {value: 'Diamond VPN/FW Client'},
            {value: 'Diamond NCC'},
            {value: 'Diamond ACS'},
            {value: 'DCRYPT XG'},
            {value: 'DCRYPT'},
            {value: 'DCRYPT Smart SFP'}
        ]},
        {url: 'javascript:void(0);', value: 'Безопасный ioT'},
        {url: 'javascript:void(0);', value: 'Услуги', dropdown: [
            {value: 'Создание системы <br>защиты информации'},
            {value: 'Экспертиза проектных решений'},
            {value: 'Проектирование'},
            {value: 'Аттестация по&nbsp;требованиям безопасности'},
            {value: 'Обучение по&nbsp;продуктам'}
        ]},
        {url: 'javascript:void(0);', value: 'Купить'},
        {url: 'javascript:void(0);', value: 'Контакты'}
    ];

nav.navigation
    each element in navigation
        div.navigation__element( class=element.dropdown?'navigation__element--dropdown':'')
            a.navigation__link(href=element.url)= element.value
            if element.dropdown
                div.navigation__dropdown
                    each item in element.dropdown
                        a.navigation__link(href='javascript:void(0);')!= item.value
