header.website-header.js-website-header
    div.website-header__bar
        div.container
            button.mobile-navigation-button#mobile-navigation-button(type='button')
                span.mobile-navigation-button__bar
            include logotype
            include website-options

    div.website-header__nav
        div.container
            include navigation
            button.button.button--hover-theme-alt.js-popup-launcher(type='button' data-popup-trigger='ask-expert-trigger' data-popup-id='ask-expert') Вопрос экспертам

    include mobile-navigation

