div.website-options
    div.website-options__element.website-options__element--support
        a.website-options__control.website-options__control--with-arrow(href='javascript:void(0);') Техническая поддержка
        div.website-options__dropdown
            a.website-options__control(href='javascript:void(0);') Программы поддержки
            a.website-options__control(href='javascript:void(0);') Гарантийное обсжуливание
            a.website-options__control(href='javascript:void(0);') Заявка на техподдержку

    div.website-options__element.website-options__element--prodile
        a.website-options__control(href='javascript:void(0);') Личный кабинет
    div.website-options__element.website-options__element--search#quick-search
        button.website-options__control.quick-search__control.js-quick-search-button(type='button')
            | <svg class="i _zoom" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <circle cx="6.5" cy="5.5" r="4.5" stroke-width="2"/>
            | <path d="M9.5 8.5L14 13" stroke-width="2"/>
            | </svg>
            | Поиск
        form.quick-search
            input.quick-search__input(type='search')
            button.quick-search__button(type='submit')
                | <svg class="i" width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <circle cx="6.5" cy="5.5" r="4.5" stroke-width="2"/>
                | <path d="M9.5 8.5L14 13" stroke-width="2"/>
                | </svg>
                | Поиск


