footer.website-footer
    div.container
        div.website-footer__body
            include website-contacts

            div.website-footer-navigation.js-accordions-collapsible
                div.website-footer-navigation__section
                    div.website-footer-navigation__row
                        div.accordion.accordion--mobile.accordion--is-hidden.js-accordion(data-mobile)
                            a.accordion__button.js-accordion-button(href='./products.html') Продукты
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond VPN/FW
                                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond VPN/FW Client
                                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond NCC
                                    a.website-footer-navigation__element(href='javascript:void(0);') Diamond ACS
                                    a.website-footer-navigation__element(href='javascript:void(0);') DCRYPT XG
                                    a.website-footer-navigation__element(href='javascript:void(0);') DCRYPT
                                    a.website-footer-navigation__element(href='javascript:void(0);') DCRYPT Smart SFP

                div.website-footer-navigation__section
                    div.website-footer-navigation__row
                        div.accordion.accordion--mobile.accordion--is-hidden.js-accordion(data-mobile)
                            a.accordion__button.js-accordion-button(href='./services.html') Услуги
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                                    a.website-footer-navigation__element(href='javascript:void(0);') Создание системы #[br]защиты информации
                                    a.website-footer-navigation__element(href='javascript:void(0);') Экспертиза проектных решений
                                    a.website-footer-navigation__element(href='javascript:void(0);') Проектирование
                                    a.website-footer-navigation__element(href='javascript:void(0);') Аттестация по&nbsp;требованиям безопасности
                                    a.website-footer-navigation__element(href='javascript:void(0);') Обучение по&nbsp;продуктам

                div.website-footer-navigation__section
                    div.website-footer-navigation__row
                        div.accordion.accordion--mobile.accordion--is-hidden.js-accordion(data-mobile)
                            a.accordion__button.js-accordion-button(href='./about.html') Компания
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    a.website-footer-navigation__element.website-footer-navigation__element--mobile(href='javascript:void(0);') Перейти в&nbsp;раздел
                                    a.website-footer-navigation__element(href='javascript:void(0);') История компании
                                    a.website-footer-navigation__element(href='javascript:void(0);') Клиенты
                                    a.website-footer-navigation__element(href='javascript:void(0);') Новости
                                    a.website-footer-navigation__element(href='javascript:void(0);') Мероприятия
                                    a.website-footer-navigation__element(href='javascript:void(0);') Наш опыт
                                    a.website-footer-navigation__element(href='javascript:void(0);') Лицензии и&nbsp;сертификаты
                                    a.website-footer-navigation__element(href='javascript:void(0);') Работа и&nbsp;стажировка

                div.website-footer-navigation__section
                    div.website-footer-navigation__row
                        a.website-footer-navigation__headline(href='javascript:void(0);') Безопасный IoT
                    div.website-footer-navigation__row
                        a.website-footer-navigation__headline(href='./buy.html') Купить
                    div.website-footer-navigation__row
                        a.website-footer-navigation__headline(href='./contacts.html') Контакты

            include ../includes/social-networks

        div.website-footer__bar
            div.copyright
                p &copy;&nbsp;2009-2020. Tssltd

            a.developers(href='javascript:void(0);')
                | Сайт разработан
                | <svg class="i" viewBox="0 0 82 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M78.0525 12.209C76.8707 12.209 76.0114 11.6293 75.6117 10.7515V12.0553H72.5885V0.000244141H75.6117V5.00093C76.0572 4.2331 76.8551 3.59066 78.0677 3.59066C79.8939 3.59066 81.4286 4.985 81.4286 7.85332V7.97821C81.4286 10.8465 79.8788 12.2095 78.0525 12.2095V12.209ZM78.3591 7.82146C78.3591 6.50525 77.8376 5.87823 76.9316 5.87823C76.0411 5.87823 75.5347 6.56795 75.5347 7.82146V7.94635C75.5347 9.21579 76.026 9.85874 76.9472 9.85874C77.8522 9.85874 78.3586 9.20037 78.3586 7.94635V7.82146H78.3591ZM68.4242 11.065C68.0865 11.6288 67.3807 12.2085 66.0755 12.2085C64.6334 12.2085 63.3438 11.4874 63.3438 9.73231C63.3438 7.80501 64.8785 7.05311 67.6561 7.05311H68.3472V6.91178C68.3472 6.22206 68.2239 5.72045 67.4104 5.72045C66.7198 5.72045 66.5054 6.17529 66.4591 6.59827H63.6352C63.758 4.59234 65.2923 3.5737 67.5952 3.5737C69.9278 3.5737 71.3392 4.54557 71.3392 6.70774V12.0045H68.4237V11.0645L68.4242 11.065ZM68.3477 8.71418H67.7029C66.6891 8.71418 66.3212 8.91822 66.3212 9.49795C66.3212 9.88958 66.6126 10.1399 67.1658 10.1399C67.8559 10.1399 68.3477 9.74875 68.3477 9.13767V8.71418ZM55.6187 0.800457H58.7571V9.26256H62.698V12.0553H55.6187V0.800457Z"/>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M47.521 12.0101V7.25868C47.521 6.42814 47.2296 6.00465 46.5072 6.00465C45.7552 6.00465 45.3107 6.4595 45.3107 7.43085V12.0106H42.2865V3.94116H45.3107V5.0811C45.7552 4.2187 46.6149 3.54543 47.9655 3.54543C49.4856 3.54543 50.5437 4.53272 50.5437 6.56999V12.0111H47.521V12.0101ZM36.4213 14.9997C33.6438 14.9997 32.3391 13.8397 32.1241 11.897H35.1171C35.2248 12.3986 35.5012 12.8684 36.4369 12.8684C37.5881 12.8684 37.9717 12.1787 37.9717 11.3024V10.033C37.573 10.8162 36.7284 11.4741 35.5314 11.4741C33.7052 11.4741 32.1704 10.1265 32.1704 7.58812V7.46272C32.1704 5.00246 33.6896 3.52898 35.5158 3.52898C36.7742 3.52898 37.5262 4.06194 37.9717 4.89299V3.94116H40.9954V11.2546C40.9954 13.6994 39.4138 15.0002 36.4208 15.0002L36.4213 14.9997ZM38.0638 7.47814C38.0638 6.4744 37.5574 5.81655 36.6524 5.81655C35.7312 5.81655 35.2399 6.4595 35.2399 7.49355V7.61947C35.2399 8.62166 35.7312 9.28003 36.6524 9.28003C37.5423 9.28003 38.0638 8.62166 38.0638 7.58812V7.47865V7.47814ZM29.7372 3.15277C28.8004 3.15277 28.0947 2.49441 28.0947 1.60169C28.0947 0.692518 28.8004 0.034668 29.7372 0.034668C30.6573 0.034668 31.3635 0.693032 31.3635 1.60169C31.3635 2.49441 30.6573 3.15277 29.7372 3.15277ZM23.9606 6.66302C26.2781 6.94517 27.3527 7.50897 27.3527 9.28003C27.3527 11.3024 25.8487 12.1633 23.578 12.1633C21.2293 12.1633 19.8476 11.4535 19.8023 9.60433H22.5648C22.6574 10.1373 22.8718 10.1738 23.5624 10.1738C24.1463 10.1738 24.4066 9.93839 24.4066 9.59405C24.4066 9.23326 24.0688 9.04567 22.9941 8.90433C20.8307 8.65353 19.8788 8.05735 19.8788 6.30326C19.8788 4.42222 21.4906 3.52847 23.4547 3.52847C25.5427 3.52847 26.939 4.23411 27.1232 6.24004H24.4066C24.3144 5.75488 24.0532 5.47221 23.5005 5.47221C22.9483 5.47221 22.7027 5.7225 22.7027 6.03601C22.7027 6.4117 23.0706 6.56897 23.9611 6.6625L23.9606 6.66302ZM15.2443 10.0643C16.088 10.0643 16.4101 9.93377 16.5028 9.46351H19.3266C19.081 11.3445 17.6846 12.1638 15.1371 12.1638C12.5735 12.1638 10.6859 10.6749 10.6859 7.96381V7.83892C10.6859 5.17412 12.6812 3.52898 15.1371 3.52898C17.3932 3.52898 19.3115 4.84622 19.3115 7.79164V8.54406H13.7408C13.8173 9.53135 14.3856 10.0643 15.2448 10.0643H15.2443ZM16.3955 6.92976C16.3648 6.05245 15.9501 5.51949 15.1371 5.51949C14.4002 5.51949 13.8782 6.00517 13.7554 6.92976H16.3955ZM4.18998 12.0106H0.000488281V0.730036H4.18998C8.11923 0.730036 10.1146 2.66709 10.1146 6.22411V6.33409C10.1146 9.90704 8.05732 12.0106 4.18998 12.0106ZM6.49186 6.28732C6.49186 4.23463 5.44386 3.48221 3.75558 3.48221H3.18728V9.23377H3.77118C5.47406 9.23377 6.49186 8.37189 6.49186 6.41273V6.28784V6.28732ZM31.2412 12.0106H28.2331V3.94116H31.2412V12.0106Z"/>
                | </svg>