div.website-contacts
    a.website-contacts__phone(href='tel:+74951201284') +7 495 120-12-84
    a.website-contacts__email(href='mailto:hello@tssltd.ru') hello@tssltd.ru
    div.website-contacts__location
        p Москва, Борисовская улица, дом 1, 900