div.content-page
    div.container.js-accordions-non-collapsible
        p Сотрудникам с&nbsp;самого начала работы предоставляется обучение, которое позволит успешно справляться со&nbsp;своей работой. В&nbsp;дальнейшем предусмотрено повышение уровня квалификации и&nbsp;профессиональное развитие.
        p В&nbsp;компании Вас встретят опытные сотрудники-наставники и&nbsp;тренер, которые помогут адаптироваться в&nbsp;нашей команде и&nbsp;научат работать в&nbsp;соответствии с&nbsp;политикой и&nbsp;стандартами компании.
        p Комфортные условия труда наших сотрудников важны для качественной и&nbsp;продуктивной работы. Мы&nbsp;не&nbsp;останавливаемся на&nbsp;том, что достигнуто, и&nbsp;планируем внедрять и&nbsp;развивать другие преимущества работы в&nbsp;нашей компании, которые сделают работу у&nbsp;нас еще более приятной и&nbsp;комфортной.

        h2 Комфортные условия работы
        ul
            li Позитивная атмосфера, доброжелательное и&nbsp;доступное руководство, отсутствие бюрократии
            li Творческие задачи и&nbsp;амбициозные цели
            li Удобный график работы, позволяющий совмещать рабочие задачи и&nbsp;личную жизнь
            li Расширенная система медицинского страхования на&nbsp;благо здоровья наших сотрудников и&nbsp;их&nbsp;семей
            li Спорт&nbsp;&mdash; неотъемлемая часть нашей жизни, мы&nbsp;делаем фитнес-карты доступными для сотрудников и&nbsp;их&nbsp;семей
            li Корпоративные соревнования футбольных, волейбольных и&nbsp;теннисных команд
            li Спортивные фитнес-комнаты и&nbsp;душевые кабины
            li Хорошее настроение для детей в&nbsp;новогодние каникулы на&nbsp;корпоративных ёлках
            li Корпоративные подарки в&nbsp;праздники
            li Два раза в&nbsp;год корпоративные праздники
            li Бесплатные горячие напитки&nbsp;&mdash; листовой и&nbsp;пакетированный чай, свежемолотый кофе

        h2 Вакансии

        div.accordion.accordion--type-1.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Отдел технической поддержки
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    ul.default
                        li
                            a(href='javascript:void(0);') Менеджер по&nbsp;продажам
                        li
                            a(href='javascript:void(0);') Специалист по&nbsp;работе с&nbsp;клиентами
                        li
                            a(href='javascript:void(0);') Вакансия #1
                        li
                            a(href='javascript:void(0);') Вакансия #2
                        li
                            a(href='javascript:void(0);') Вакансия #3
                        li
                            a(href='javascript:void(0);') Вакансия #4

        div.accordion.accordion--type-1.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Отдел продаж
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    ul.default
                        li
                            a(href='javascript:void(0);') Менеджер по&nbsp;продажам
                        li
                            a(href='javascript:void(0);') Специалист по&nbsp;работе с&nbsp;клиентами
                            
        div.accordion.accordion--type-1.accordion--is-hidden.js-accordion
            button.accordion__button.js-accordion-button(type="button") Отдел планирования
            div.accordion__body.js-accordion-body
                div.accordion__inside.js-accordion-inside
                    ul.default
                        li
                            a(href='javascript:void(0);') Менеджер по&nbsp;продажам
                        li
                            a(href='javascript:void(0);') Специалист по&nbsp;работе с&nbsp;клиентами
                        li
                            a(href='javascript:void(0);') Вакансия #1
                        li
                            a(href='javascript:void(0);') Вакансия #2