header.website-workarea__header
    div.website-workarea__header-image
        img(
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="assets/images/workarea-header/image-9.jpg"
            data-srcset="assets/images/workarea-header/image-9.jpg 1x, assets/images/workarea-header/image-9-2x.jpg 2x"
            alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h1 Работа и&nbsp;стажировка у&nbsp;нас
            div.website-workarea__header-control
                button.button.button--h-48.button--white.button--fw-700.button--hover-theme.js-popup-launcher(type='button' data-popup-trigger='get-job-trigger' data-popup-id='get-job') Подать заявку