section.section.section--business-partners.load-more.load-more--mobile.js-load-more.js-scroll-section#partners
    div.container
        header.section__header
            div.section__headline.h2 Бизнес-партнеры

        div.client-array
            each element in partners
                div.client-array__element(class=element.hidden ? 'load-more__element--mobile-hidden js-load-more-element-mobile' : '')
                    +client-element(element)
        div.load-more__control
            button.button.js-load-more-button(type='button' data-expanded='Скрыть' data-collapsed="Показать еще")
                span.js-load-more-button-text Показать еще

