section.section.section--distributors.js-scroll-section#distributors
    div.container
        header.section__header
            div.section__headline.h2 Дистрибьюторы

        div.client-array
            each element in distibutors
                div.client-array__element
                    +client-element(element)

