header.website-workarea__header
    div.website-workarea__header-image
        img(
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="assets/images/workarea-header/image-4.jpg"
            data-srcset="assets/images/workarea-header/image-4.jpg 1x, assets/images/workarea-header/image-4-2x.jpg 2x"
            alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h1 Партнеры
            p.p--l Партнерская сеть Diamond объединяет профессионалов, обладающих экспертизой #[br]в продаже, интеграции и обслуживании решений Diamond
            div.website-workarea__header-control
                button.button.button--white.button--fs-20.button--fw-700.button--hover-theme.js-popup-launcher(type='button' data-popup-trigger='become-partner-trigger' data-popup-id='become-partner') Стать парнером
                button.button.button--bordered.button--fs-20.button--fw-700.button--hover-theme-alt.js-popup-launcher(type='button' data-popup-trigger='offer-partner-trigger' data-popup-id='offer-partner') Подобрать партнера