section.section.section--partnership-profitable.section--dark
    div.container
        header.section__header
            div.section__headline.h2 Почему партнерство с&nbsp;ТСС выгодно?

        div.partners-features.grid
            each element in features
                div.partners-features__element.grid-col.grid-col--6.grid-col--m-12.grid-col--s-12
                    +partners-feature(element)
