section.section.section--partners-program.section-with-sidebar.section-with-sidebar--dark.js-scroll-section#partners-program
    div.container
        div.section-with-sidebar__body
            div.section-with-sidebar__headline.h2 Парнерская программа
            p.p--l Наша цель&nbsp;&mdash; сделать партнерскую программу не&nbsp;только мощным ресурсом для развития партнерских инициатив, но&nbsp;и&nbsp;простым, понятным инструментом, с&nbsp;помощью которого партнер любого уровня сможет оптимально раскрыть свой потенциал и&nbsp;получить высокую рентабельность бизнеса.
            p Партнерская программа Diamond направлена на&nbsp;продажи и&nbsp;продвижение решений Diamond конечным потребителям через партнерскую сеть. Программа предлагает инструменты и&nbsp;преимущества для Партнеров, которые в&nbsp;свою очередь выполняют обязательства по&nbsp;обучению и&nbsp;объемам продаж.
            p Программа регламентирует правила и&nbsp;принципы взаимодействия с&nbsp;партнерами по&nbsp;вопросам продажи и&nbsp;продвижения решений Diamond, а&nbsp;именно: получение скидок и&nbsp;других партнерских преимуществ, обучение, защита сделок, качество выполнения услуг Партнерами Diamond.
        aside.section-with-sidebar__sidebar
            ul.round-checked
                li Взаимовыгодное сотрудничество
                li Устойчивое прогнозируемое развитие совместного бизнеса
                li Прозрачная политика взаимодействия
                li Исключение конфликта интересов
                li Ответственность за&nbsp;результат
                li Эффективность