div.yandex-map.js-yandex-map
    div.yandex-map__controls.yandex-map__controls--left
        button.yandex-map__button.js-ya-maps-zoom-in(type='button')
            | <svg class="i _zoom-in" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C12.5523 4 13 4.44772 13 5V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V5C11 4.44772 11.4477 4 12 4Z"/>
            | <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
            | </svg>
        button.yandex-map__button.js-ya-maps-zoom-out(type='button')
            | <svg class="i _zoom-out" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z"/>
            | </svg>
    div.yandex-map__controls.yandex-map__controls--right
        a.yandex-map__button(href='javascript:void(0);' target='_blank')
            | <svg class="i _fullscreen-in" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 3C14 2.44772 14.4477 2 15 2H21C21.5523 2 22 2.44772 22 3V9C22 9.55228 21.5523 10 21 10C20.4477 10 20 9.55228 20 9V4H15C14.4477 4 14 3.55228 14 3Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3 14C3.55228 14 4 14.4477 4 15V20H9C9.55228 20 10 20.4477 10 21C10 21.5523 9.55228 22 9 22H3C2.44772 22 2 21.5523 2 21V15C2 14.4477 2.44772 14 3 14Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.7071 2.29289C22.0976 2.68342 22.0976 3.31658 21.7071 3.70711L14.7071 10.7071C14.3166 11.0976 13.6834 11.0976 13.2929 10.7071C12.9024 10.3166 12.9024 9.68342 13.2929 9.29289L20.2929 2.29289C20.6834 1.90237 21.3166 1.90237 21.7071 2.29289Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7071 13.2929C11.0976 13.6834 11.0976 14.3166 10.7071 14.7071L3.70711 21.7071C3.31658 22.0976 2.68342 22.0976 2.29289 21.7071C1.90237 21.3166 1.90237 20.6834 2.29289 20.2929L9.29289 13.2929C9.68342 12.9024 10.3166 12.9024 10.7071 13.2929Z"/></svg>
    div.yandex-map__container#js-contacts-map(
        data-lat='55.785035'
        data-lon='37.736008'
        data-zoom='16'
        data-address='Россия, Москва, 105187, ул. Борисовская, д.1, офис 900'
        data-phone='+7 495 120-12-84'
        data-email='info@tssltd.ru'
        data-icon='assets/images/yandex-map/pin.png'
    )