div.contacts-page
    div.container
        div.contacts-section
            div.contacts-section__headline Общие вопросы
            p.contacts-element.contacts-element--address
                | Россия, Москва, 105187, ул. Борисовская, д.1, офис 900
            p.contacts-element.contacts-element--phone
                a(href='tel:+74951201284') +7 495 120-12-84
            p.contacts-element.contacts-element--email
                a(href='mailto:info@tssltd.ru') info@tssltd.ru
            p.contacts-element.contacts-element--download
                a(href='javascript:void(0);') Скачать реквизиты

        div.contacts-section
            div.contacts-section__headline Техническая поддержка
            p.contacts-element.contacts-element--phone
                a(href='tel:88005004368') 8 800 500-43-68
            p.contacts-element.contacts-element--email
                a(href='mailto:support@tssltd.ru') support@tssltd.ru

        div.contacts-section
            div.contacts-section__headline Отдел продаж
            p.contacts-element.contacts-element--email
                a(href='mailto:sales@tssltd.ru') sales@tssltd.ru