div.section.company-features
    div.container
        div.grid
            div.company-features__element.grid-col.grid-col--4.grid-col--m-12.grid-col--s-12
                div.company-features__element-headline Обеспечиваем работу высоконагруженных систем
                p Технологии ТСС позволяют обеспечить безопасность КИИ, в&nbsp;ядре сети и&nbsp;на&nbsp;самых ответственных участках жизненного цикла сложных автоматизированных систем

            div.company-features__element.grid-col.grid-col--4.grid-col--m-12.grid-col--s-12
                div.company-features__element-headline Кроссплатформенность продуктов и&nbsp;решений
                p Широкий перечень операционных систем и&nbsp;платформ позволяет легко интегрировать средства защиты в&nbsp;информационные системы заказчика

            div.company-features__element.grid-col.grid-col--4.grid-col--m-12.grid-col--s-12
                div.company-features__element-headline Защита ключевых каналов передачи данных
                p Обеспечиваем защиту каналов передачи данных между ЦОД, магистральных каналов сервис-провайдеров и&nbsp;системообразующих предприятий на&nbsp;скорости 100&nbsp;Gb
