section.section.section--cases
    div.container
        header.section__header
            div.section__headline.h2 Кейсы

        div.case-slider.swiper-container._with-arrows._with-dots.js-case-slider
            div.swiper-wrapper
                div.case-element.case-slider__element.swiper-slide
                    div.case-element__header
                        div.case-element__headline Федеральная служба государственной регистрации, #[br]кадастра и&nbsp;картографии
                        div.case-element__logotype
                            img(
                            class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            data-src="assets/images/case/image-0.jpg"
                            data-srcset="assets/images/case/image-0.jpg 1x, assets/images/case/image-0-2x.jpg 2x"
                            alt=""
                            )

                    div.case-element__section
                        div.case-element__title Описание
                        p Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации без единой методологии ведения учета.

                    div.case-element__section
                        div.case-element__title Результаты
                        ul.round-checked
                            li автоматизация процессов в единой информационной среде с возможностью
                            li разграничения прав доступа для филиалов. Центральная система «1С:Зарплата и управление персоналом»
                            li и распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                            li ведения учета требованиям законодательства, возможности формирования
                            li любых видов аналитических отчетов.

                div.case-element.case-slider__element.swiper-slide
                    div.case-element__header
                        div.case-element__headline Федеральная служба государственной регистрации, #[br]кадастра и&nbsp;картографии
                        div.case-element__logotype
                            img(
                            class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            data-src="assets/images/case/image-0.jpg"
                            data-srcset="assets/images/case/image-0.jpg 1x, assets/images/case/image-0-2x.jpg 2x"
                            alt=""
                            )

                    div.case-element__section
                        div.case-element__title Описание
                        p Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации без единой методологии ведения учета.

                    div.case-element__section
                        div.case-element__title Результаты
                        ul.round-checked
                            li автоматизация процессов в единой информационной среде с возможностью
                            li разграничения прав доступа для филиалов. Центральная система «1С:Зарплата и управление персоналом»
                            li и распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                            li ведения учета требованиям законодательства, возможности формирования
                            li любых видов аналитических отчетов.

            +arrows({prev: 'js-case-slider-prev', next: 'js-case-slider-next'})
            div.dots.js-case-slider-pagination