section.section.section--full-clients.load-more.load-more--centered.load-more.js-load-more
    div.container
        header.section__header
            div.section__headline.h2 Клиенты

        div.client-array
            each element in clients
                div.client-array__element(class=element.hidden ? 'load-more__element--hidden js-load-more-element' : '')
                    +client-element(element)

        div.load-more__control
            button.button.js-load-more-button(type='button' data-expanded='Скрыть' data-collapsed="Показать еще")
                span.js-load-more-button-text Показать еще

