.accordion {
	width: 100%;
		&__button {
			position: relative;
			@include flex();
			padding-top: map-get($defaults, base);
			padding-bottom: map-get($defaults, base);
			padding-right: map-get($defaults, gutter);
			color: map-get($basic, secondary);
			font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
			@include font-size(2rem);
			font-weight: $bold;
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					@include size(1.6rem, 1rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8049 0.713013L7.95338 6.56452L2.10188 0.713013L0.527618 2.28728L7.95338 9.71305L15.3792 2.28728L13.8049 0.713013Z' fill='%231E3230'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					will-change: transform;
					transform: translateY(-50%);
					@include smooth(.3s);
					z-index: 1;
				}
		}
		&__body {
			width: 100%;
			overflow: hidden;
			@include smooth(.3s);
		}
		&__inside {
			width: 100%;
		}

	& + .accordion {
		border-top: .05rem solid rgba(map-get($basic, primary), .2);
	}


	&--is-hidden {
		.accordion {
			&__body {
				height: 0;
			}
		}
	}
	&--is-expanded {
		margin-bottom: map-get($defaults, base);
		.accordion {
			&__button {
				&::after {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}

	&--mobile {
		.accordion {
			&__button {
				height: auto;
				margin-bottom: map-get($defaults, base);
				padding: 0;
				color: $colorWhite;
				@include font-size(2rem);
				font-weight: $bold;
				text-transform: none;
				//@include no-touch;
					&::after {
						display: none;
						background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.78422 0.0859375L7.63573 5.93744L13.4872 0.0859375L15.0615 1.6602L7.63573 9.08597L0.209961 1.6602L1.78422 0.0859375Z' fill='white'/%3E%3C/svg%3E%0A");
					}
					&:hover {
						color: map-get($basic, theme);
					}
			}
		}
		&.accordion--is-hidden {
			.accordion {
				&__body {
					height: auto;
				}
			}
		}
	}
	&--type-0 {
		.accordion {
			&__button {
				padding-top: 2rem;
				padding-bottom: 2.4rem;
				color: map-get($basic, themeAlt);
				@include font-size(2.4rem, 2.8rem);
				font-weight: normal;
				@include smooth(.2s);
					&::after {
						right: #{map-get($defaults, base) * 3};
						@include size(2rem, 1.2rem);
						background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L10 10L18 2' stroke='%2325B0A5' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
					}
			}
			&__body {
				& p {
					max-width: 80rem;
				}
				& img {
					display: block;
					margin: 3.2rem auto 3rem;
				}
			}
			&__inside {
				padding-bottom: 3rem;
				@include offsets-reset;
			}
		}

		& + .accordion--type-0 {
			border-top-color: map-get($grey, color_1);

			&:last-child {
				border-bottom: .1rem solid map-get($grey, color_1);
			}
		}

		&.accordion--is-expanded {
			margin-bottom: 0;
				.accordion {
					&__button {
						color: map-get($basic, primary);
							&::after {
								background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L10 10L18 2' stroke='%23898989' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
							}
					}
				}
		}
	}
	&--type-1 {
		max-width: 68.3rem;
		.accordion {
			&__button {
				padding: 1.8rem 8.3rem 1.8rem 1.6rem;
				color: map-get($grey, color_2);
				@include font-size(2.4rem, 1);
				font-weight: normal;
				@include align_l;
				background-color: map-get($grey, color_3);
				@include radius(.4rem);
				@include smooth(.2s);
					&::after {
						right: map-get($defaults, gutter);
						display: flex;
						@include size(multi(3), multi(3));
						align-items: center;
						justify-content: center;
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1485 8.36688L12 14.2184L17.8515 8.36688L19.4258 9.94115L12 17.3669L4.57423 9.94115L6.1485 8.36688Z' fill='%23D70E45'/%3E%3C/svg%3E%0A") center center no-repeat;
						background-size: cover;
					}
			}
			&__body {
				padding-left: map-get($defaults, gutter);
				padding-right: 2rem;
			}
			&__inside {
				padding: map-get($defaults, base) map-get($defaults, gutter) map-get($defaults, gutter);
				border-top: .1rem solid map-get($grey, color_1);
			}
		}
		&.accordion--is-expanded {
			margin-bottom: 0;
			.accordion {
				&__button {
					color: map-get($basic, secondary);
					background-color: $colorWhite;
					&::after {}
				}
			}
		}

		& + .accordion--type-1 {
			border-top: 0;
			margin-top: .1rem;
		}
	}

	@include bp-tabletXS {
		&--mobile {
			border-top: .1rem solid rgba(map-get($grey, color_3), .2);
				.accordion {
					&__button {
						margin-bottom: 0;
						padding-top: map-get($defaults, base);
						padding-bottom: map-get($defaults, base);
						@include all-touch;
							&::after {
								display: block;
							}
					}
				}
				&.accordion--is-expanded {
					margin-bottom: map-get($defaults, base);
				}
		}
		&--type-0 {
			.accordion {
				&__button {
					padding-top: map-get($defaults, base);
					padding-right: 7rem;
					padding-bottom: map-get($defaults, base);
					@include font-size(1.8rem, 2rem);
					font-weight: $medium;
					@include align_l;
					&::after {
						right: 0;
						@include size(1.2rem, .7rem);
						background-size: contain;
					}
				}
				&__body {
					& img {
						margin-top: map-get($defaults, gutter);
						margin-bottom: map-get($defaults, gutter);
					}
				}
				&__inside {
					padding-bottom: map-get($defaults, gutter);
				}
			}
		}
		&--type-1 {
			.accordion {
				&__button {
					padding: map-get($defaults, base) 6rem map-get($defaults, base) map-get($defaults, base);
					@include font-size(1.6rem, 2.4rem);
				}
				&__inside {
					padding-left: map-get($defaults, base);
					padding-right: map-get($defaults, base);
				}
			}
		}
	}
}