*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: map-get($basic, primary);
	font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
	font-weight: $regular;
	min-width: 320px;
	background-color: $colorWhite;
}
html {
	height: 100%;
	font-size: map-get($defaults, size);
	scroll-behavior: smooth;

		&.Mac-OS,
		&.iOS {
			.button {
				padding-top: .2rem;
				padding-bottom: 0;
					&--alternative {
						& .i {
							&._arrow-right {
								margin-top: -.3rem;
							}
						}
					}
			}
			.ss-main .ss-single-selected {
				padding-top: 1.8rem;
				padding-bottom: 1.4rem;
			}
		}
		&.Mac-OS {
			.website-options__control--with-arrow:after {
				margin-top: -.2rem;
			}
			.navigation__element--dropdown>.navigation__link:after {
				margin-top: -.3rem;
			}
			.developers .i {
				margin-top: -.1rem;
			}
			.round-checked li:before {
				top: .2rem;
			}
		}
		&.iOS {
			.developers .i {
				margin-top: 0;
			}
			.round-checked li:before {
				top: 0;
			}
		}
		&.Android {
			.button {
				padding-top: .1rem;
				padding-bottom: 0;
			}
		}

		&._quick-search-is-expanded {
			.quick-search {
				width: 42rem;
				opacity: 1;
				@include all-touch;
			}
		}

		@include bp-desktopXS {
			&._order-project-is-expanded {
				overflow: hidden;
					.order-project {
						@include all-touch;
						visibility: visible;
					}
			}
			&._order-project-button-is-visible {
				.order-project-button {
					opacity: 1;
					visibility: visible;
					@include all-touch;
				}
			}

		}
		@include bp-tablet {
			&._mobile-navigation-is-expanded {
				cursor: pointer;
					.mobile-navigation {
						opacity: 1;
						@include all-touch;
						visibility: visible;
					}
					.mobile-navigation-button {
						&__bar {
							background-color: transparent;
								&::before {
									top: 0;
									transform: rotate(45deg);
								}
								&::after {
									bottom: 0;
									transform: rotate(-45deg);
								}
						}
					}
			}
			&._quick-search-is-expanded {
				.quick-search {
					width: calc(100vw - #{multi(4)});
				}
				.website-options__element--search {
					.website-options__control {
						&::before {
							@include size(2.4rem, 2.5rem);
							background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.87749 18.1787L18.1228 5.93338M5.87744 5.93339L18.1228 18.1787' stroke='%23898989' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}
		}
}
body {
	min-height: 100%;
	font-size: 1.8rem;
	line-height: 2.4rem;

		&.popup--is-opened {
			height: 100%;
			overflow: hidden;
		}
}
button {
	padding: 0;
	font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
	background: transparent;
	border: 0;
	box-shadow: none;
	outline: 0;

	&:not(disabled) {
		cursor: pointer;
	}
}
img {
	@include iblock(top);
	@include image(auto, 100%);
	height: auto;
	border: 0;
}
label {
	cursor: pointer;
	user-select: none;
}
textarea {
	resize: vertical;
}
ul,
ol {
	@include list-reset;
}
@include placeholder {
	text-overflow: ellipsis;
}
input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
}
input:-moz-placeholder {
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}
:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder {
	color: transparent;
}
:focus:-moz-placeholder {
	color: transparent;
}
:focus:-ms-input-placeholder {
	color: transparent;
}

/*
	Set font selection according to the website color scheme
*/

*::selection {
	background: map-get($basic, theme);
	color: $colorWhite;
}
*::-moz-selection {
	background: map-get($basic, theme);
	color: $colorWhite;
}

._hide,
._none,
[hidden] {
	display: none !important;
	visibility: hidden !important;
}

._desktop-hidden {
	display: none!important;
}
@include bp-tabletXS {
	._desktop-hidden {
		display: block;
			&.button {
				display: inline-flex!important;
			}
	}
	._mobile-hidden {
		display: none!important;
	}
}