@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin center($position) {
	position: absolute;

	@if $position == 'vertical' {
		top: 50%;
		transform: translateY(-50%);
	} @else if $position == 'horizontal' {
		left: 50%;
		transform: translate(-50%);
	} @else if $position == 'both' {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@mixin iblock($align: initial) {
	display: inline-block;
	vertical-align: $align;
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}

@mixin fontFace($family, $src, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot');
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
		url('#{$src}.woff') format('woff'),
		url('#{$src}.ttf') format('truetype'),
		url('#{$src}.svg##{$family}') format('svg');

		font-display: swap;
		font-style: $style;
		font-weight: $weight;
	}
}

@mixin media($mediaWidth) {
	@media only screen and (max-width: $mediaWidth) {
		@content;
	}
}

/*
    Default media queries
*/

@mixin bp-desktopHD() {
	@media only screen and (max-width: map-get($bp, desktopHD)) {
		@content;
	}
}

@mixin bp-desktop() {
	@media only screen and (max-width: map-get($bp, desktop)) {
		@content;
	}
}

@mixin bp-desktopXS() {
	@media only screen and (max-width: map-get($bp, desktopXS)) {
		@content;
	}
}

@mixin bp-tablet() {
	@media only screen and (max-width: map-get($bp, tablet)) {
		@content;
	}
}

@mixin bp-tabletXS() {
	@media only screen and (max-width: map-get($bp, tabletXS)) {
		@content;
	}
}

@mixin bp-mobile() {
	@media only screen and (max-width: map-get($bp, mobile)) {
		@content;
	}
}

@mixin bp-mobileXS() {
	@media only screen and (max-width: map-get($bp, mobileXS)) {
		@content;
	}
}

/*
    Personal mixins
*/

@mixin fix {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	visibility: hidden;
	clear: both;
}

@mixin smooth($val, $type: ease) {
	transition: all $val $type;
}

@mixin flex($width: 100%) {
	display: flex;
	width: $width;
	flex-wrap: wrap;
}

@mixin table($hi: 100%) {
	display: table;
	width: 100%;
	height: $hi;
	table-layout: fixed;
}

@mixin td($align) {
	display: table-cell;
	vertical-align: $align;
}

@mixin iblock($align: initial) {
	display: inline-block;
	vertical-align: $align;
}

@mixin noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@mixin align_l {
	text-align: left;
}

@mixin align_c {
	text-align: center;
}

@mixin align_r {
	text-align: right;
}

@mixin align_j {
	text-align: justify;
}

@mixin bold {
	font-weight: bold;
}

@mixin upp {
	text-transform: uppercase;
}

@mixin image($width, $m_width) {
	width: $width;
	max-width: $m_width;
}

@mixin link($hi: auto) {
	display: block;
	height: $hi;
	text-decoration: none;
}

@mixin auto {
	margin-left: auto;
	margin-right: auto;
}

@mixin inherit {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

@mixin radius($val : map-get($defaults, radius)) {
	border-radius: $val;
}

@mixin round {
	border-radius: 50%;
}

@mixin font-size($font: 1.8rem, $lineHeight : 2.4rem) {
	font-size: $font;
	line-height: $lineHeight;
}

@mixin input($hi, $padding) {
	display: block;
	width: 100%;
	height: $hi;
	padding: $padding;
	font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
	@include font-size(1.6rem, 2.4rem);
	background: $colorWhite;
	border: .1rem solid transparent;
	box-shadow: none;
	@include radius(#{map-get($defaults, radius) - 1});
	outline: 0;
	resize: none;
	appearance: none;
	@include smooth(.2s);
}

@mixin button($hi, $padding, $bg, $bc) {
	display: inline-flex;
	width: auto;
	height: $hi;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: $padding;
	color: $colorWhite;
	font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
	@include font-size(1.8rem, 2.4rem);
	@include align_c;
	text-decoration: none;
	background: $bg;
	border: .1rem solid $bc;
	border-radius: map-get($defaults, radius);
	@include noselect;
	@include smooth(.2s);
}

@mixin hundred {
	width: 100%;
	height: 100%;
}

@mixin full {
	@include hundred;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin no-touch() {
	pointer-events: none;
	touch-action: none;
}

@mixin all-touch() {
	pointer-events: all;
	touch-action: auto;
}

@mixin offsets-reset {
	& > *:first-child {
		margin-top: 0!important;
	}
	& > *:last-child {
		margin-bottom: 0!important;
	}
}

@mixin shadow($val : 0 .8rem 2rem rgba($colorBlack, .05)) {
	box-shadow: $val
}

@mixin outbox($paddings : 'false') {
	width: calc(100% + #{map-get($defaults, base) * 4});
	margin-left: -#{map-get($defaults, base) * 2};
	margin-right: -#{map-get($defaults, base) * 2};
	@if $paddings == 'true' {
		padding-left: #{map-get($defaults, base) * 2};
		padding-right: #{map-get($defaults, base) * 2};
	}
}

@mixin touch-scroll() {
	-webkit-overflow-scrolling: touch;
}

@function multi($val) {
	@return .8 * $val + rem;
}

