/* headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	width: 100%;
	margin: 0;
	color: map-get($basic, secondary);
	font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
	font-weight: $bold;
}

h1, .h1 {
	margin-bottom: 2.6rem;
	@include font-size(4.8rem, 5.6rem);
}

h2, .h2 {
	margin-bottom: 2.4rem;
	@include font-size(4.8rem, 5.6rem);
}

h3, .h3 {
	margin-bottom: 2.2rem;
	@include font-size(3.6rem, 4.2rem);
}

h4, .h4 {
	margin-bottom: 2rem;
	@include font-size(2.8rem, 3.2rem);
}

@include bp-tablet {
	h1, .h1, h2, .h2 {
		@include font-size(4rem, 5rem);
	}
}
@include bp-tabletXS {
	h1, .h1, h2, .h2 {
		@include font-size(3.6rem, 4.3rem)
	}
}

/* text */

p {
	max-width: 78rem;
	margin: 0;
	@include font-size();
		&.p--s {
			@include font-size(1.5rem, 2.4rem);
		}
		&.p--l {
			@include font-size(2.4rem, 3.2rem);
			font-weight: $medium;
			& + p {
				margin-top: 3rem;
			}
		}

		& + p {
			margin-top: map-get($defaults, gutter);
		}

	@include bp-tabletXS {
		font-size: map-get($defaults, gutter);
			&.p--s {
				@include font-size(1.4rem, 2.2rem);
			}
			&.p--l {
				@include font-size(1.8rem, 2.4rem);
				font-weight: $medium;
				& + p {
					margin-top: map-get($defaults, gutter);
				}
			}
	}
}

/* links */
a {
	color: map-get($basic, themeAlt);
	font-size: inherit;
	text-decoration: none;
	transition: color .2s ease;
		&:hover {
			color: map-get($basic, theme);
		}
}
