//defaults
$defaults : (
	size      : 62.5%,
	base      : .8rem,
	gutter    : #{.8rem * 2},
  	container : 142.4rem,
	radius    : .6rem,
);
$grid : (
	base   : .8rem,
	column : 8.33%
);
//fonts
$font : (
	primary       : PFDinDisplayPro,
	alternative_0 : Arial,
	alternative_1 : sans-serif,
);
$regular  : 400;
$medium   : 500;
$bold 	  : 700;

/* colors */
$colorBlack  : #000000;
$colorWhite  : #ffffff;
$colorRed    : #db052c;
$colorGreen	 : #27ae60;

$basic : (
	theme	         : #d70e45,
	themeAlt         : #25b0a5,
	themeAltLight    : #70bdb7,
	themeAltLightset : #f0f8f8,
	primary          : #1e3230,
	secondary        : #01211f
);
$grey : (
	color_0 : #dcdcdc,
	color_1 : #f3f3f3,
	color_2 : #898989,
	color_3 : #f9f9f9,
	color_4 : #dddddd,
	color_5 : #d2d8d7,
);
$table : (
	tr     : #f1faf9,
	border : #d4e8e6
);

/* breakpoints */
$bp: (
	desktopHD : 1450px,
	desktop   : 1285px,
	desktopXS : 1199px,
	tablet    : 991px,
	tabletXS  : 767px,
	mobile    : 599px,
	mobileXS  : 359px
);