.about-company {
	padding-top: 9rem;
	padding-bottom: 10.4rem;
		&__headline {
			margin-bottom: .6rem;
			color: map-get($basic, theme);
		}
		&__more {
			width: 100%;
			margin-top: 3.4rem;
				&--mobile {
					display: none;
					@include align_r;
				}
		}

		& p {
			max-width: 67.8rem;
				&.p--l {
					max-width: 59.3rem;
				}
		}

	@include bp-tablet {
		padding-top: 5.6rem;
			&__more {
				display: none;
				&--mobile {
					display: block;
				}
			}
	}
	@include bp-tabletXS {
		padding-bottom: 3.4rem;
			&__more {
				&--mobile {
					margin-top: multi(3);
					@include align_c;
				}
			}
	}
}
.about-company-features {
	@include flex();
	align-items: flex-start;
	margin-top: multi(2);
	margin-bottom: -3.3rem;
		& .about-company-feature {
			max-width: 50%;
			margin-top: 3.3rem;
			margin-bottom: 3.3rem;
		}

	@include bp-tabletXS {
		width: calc(100% + #{multi(2)});
		margin: multi(4) -#{multi(1)} 0;
			& .about-company-feature {
				width: calc(50% - #{multi(2)});
				max-width: initial;
				margin: multi(1);
			}
	}
}
.about-company-feature {
	width: 100%;
	max-width: 28rem;
		&__icon {
			position: relative;
			@include flex();
			height: 6.2rem;
			align-items: center;
			margin-bottom: 1.6rem;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 2rem;
					display: block;
					@include size(6.2rem, 6.2rem);
					background-color: rgba(map-get($basic, themeAltLight), .2);
					@include round;
					@include no-touch;
				}
				& .i {
					@include size(4.8rem, 4.8rem);
				}
		}
		&__value {
			margin-bottom: map-get($defaults, base);
			@include font-size(4.8rem, 4.8rem);
			color: map-get($basic, theme);
			font-weight: $bold;
		}

		& p {
			max-width: 80%;
		}

	@include bp-tabletXS {
		@include align_c;
			&__icon {
				width: 7.6rem;
				@include auto;
				margin-bottom: 0;
					&::after {
						@include size(5.5rem, 5.5rem);
					}
					& .i {
						@include size(4.3rem, 4.3rem);
					}
			}
			&__value {
				margin-bottom: 0;
				@include font-size(2.4rem, 3.2rem);
			}
			& p {
				max-width: 100%;
				@include font-size(1.4rem, 2.1rem);
			}
	}
}