.company-features {
	padding-top: 6.6rem;
	padding-bottom: 7.1rem;
	background-color: map-get($grey, color_3);

		&__element {
			&-headline {
				max-width: 33rem;
				margin-bottom: 1.5rem;
				@include font-size(2.2rem, 3.2rem);
				font-weight: $bold;
			}
			& p {
				max-width: 38.2rem;
			}
		}

	@include bp-tablet {
		&__element {
			&-headline,
			& p {
				max-width: 100%;
			}

			& + .company-features__element {
				margin-top: 3rem;
			}
		}
	}
	@include bp-tabletXS {
		padding-top: 3rem;
		padding-bottom: 3rem;
			&__element {
				&-headline {
					@include font-size(2rem, 3rem);
				}
			}
	}
}