.section-with-sidebar {
	& .container {}

	&__body {
		width: calc(100% - 53rem);
		padding-right: 7rem;
			& p {
				max-width: 80rem;
			}
	}
	&__sidebar {
		width: 53rem;
	}
	&__headline {
		margin-bottom: .6rem;
	}

	&--dark {
		.section-with-sidebar {
			&__sidebar {
				margin-top: 1.3rem;
				padding: 5.2rem 4.5rem 7.6rem 5.2rem;
				background: map-get($table, tr);
			}
		}
	}
	&--bordered {
		.section-with-sidebar {
			&__sidebar {
				padding: 6.2rem 4.9rem 7.3rem 9.3rem;
				border: .1rem solid map-get($basic, themeAltLight);
			}
		}
	}

	@include bp-tablet {
		& .container {
			display: block;
		}
		&__body {
			width: 100%;
			padding-right: 0;
		}
		&__sidebar {
			@include outbox;
		}

		&--dark {
			.section-with-sidebar {
				&__sidebar {
					margin-top: 3rem;
					padding-left: map-get($defaults, gutter);
					padding-right: map-get($defaults, gutter);
				}
			}
		}
	}
	@include bp-tabletXS {
		&--dark {
			.section-with-sidebar {
				&__sidebar {
					padding-top: map-get($defaults, gutter);
					padding-bottom: map-get($defaults, gutter);
				}
			}
		}
	}
}