.breadcrumbs {
	@include flex();
		&__element {
			position: relative;
			width: auto;
				& + .breadcrumbs__element {
					margin-left: #{map-get($defaults, base) * 3};
						&::before {
							content: '';
							position: absolute;
							top: .1rem;
							left: -1.2rem;
							display: block;
							@include size(.1rem, 100%);
							background: rgba($colorWhite, .5);
						}
				}
		}
		&__link {
			color: $colorWhite;
			@include font-size(1.4rem, 1.6rem);
		}

	@include bp-tabletXS {
		&__element {
			& + .breadcrumbs__element {
				margin-left: map-get($defaults, base);
				&::before {
					content: '';
					position: absolute;
					top: 1rem;
					left: -.45rem;
					@include size(.2rem, 1rem);
				}
			}
		}
		&__link {
			@include font-size(map-get($defaults, base), map-get($defaults, guuter));
			font-weight: $bold;
		}
	}
}