.container {
	@include flex();
	max-width: map-get($defaults, container);
	@include auto;
	padding-left: multi(2);
	padding-right: multi(2);
		&--narrow {
			max-width: 95.2rem;
		}

		@include bp-desktopHD {
			max-width: 132.6rem;
				&--narrow {
					max-width: 95.2rem;
				}
		}
}