.grid {
	display: flex;
	width: calc(100% + #{map-get($grid, base) * 3});
	flex-wrap: wrap;
	margin-left: -#{map-get($grid, base) * 3 / 2};
	margin-right: -#{map-get($grid, base) * 3 / 2};

	&--align-start {
		align-items: flex-start;
	}
	&--align-center {
		align-items: center;
	}
	&--align-end {
		align-items: flex-end;
	}

	&--start {
		justify-content: flex-start;
	}
	&--center {
		justify-content: center;
	}
	&--end {
		justify-content: flex-end;
	}
	&--space-between {
		justify-content: space-between;
	}

	//xl
	&-col {
		width: 100%;
		margin-left: #{map-get($grid, base) * 3 / 2};
		margin-right: #{map-get($grid, base) * 3 / 2};

		&--1 {
			width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 3});
		}
		&--2 {
			width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 3});
		}
		&--3 {
			width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 3});
		}
		&--4 {
			width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 3});
		}
		&--5 {
			width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 3});
		}
		&--6 {
			width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 3});
		}
		&--7 {
			width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 3});
		}
		&--8 {
			width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 3});
		}
		&--9 {
			width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 3});
		}
		&--10 {
			width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 3});
		}
		&--11 {
			width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 3});
		}
		&--12 {
			width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 3});
		}
	}

	//ls
	@include bp-desktop {
		&-col {
			&--sl-1 {
				width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 3});
			}
			&--sl-2 {
				width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 3});
			}
			&--sl-3 {
				width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 3});
			}
			&--sl-4 {
				width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 3});
			}
			&--sl-5 {
				width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 3});
			}
			&--sl-6 {
				width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 3});
			}
			&--sl-7 {
				width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 3});
			}
			&--sl-8 {
				width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 3});
			}
			&--sl-9 {
				width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 3});
			}
			&--sl-10 {
				width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 3});
			}
			&--sl-11 {
				width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 3});
			}
			&--sl-12 {
				width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 3});
			}

			&--sl-show {
				display: block;
			}
			&--sl-none {
				display: none;
			}
		}
	}

	//l
	@include bp-desktopXS {
		&-col {

			&--l-1 {
				width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 3});
			}
			&--l-2 {
				width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 3});
			}
			&--l-3 {
				width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 3});
			}
			&--l-4 {
				width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 3});
			}
			&--l-5 {
				width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 3});
			}
			&--l-6 {
				width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 3});
			}
			&--l-7 {
				width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 3});
			}
			&--l-8 {
				width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 3});
			}
			&--l-9 {
				width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 3});
			}
			&--l-10 {
				width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 3});
			}
			&--l-11 {
				width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 3});
			}
			&--l-12 {
				width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 3});
			}

			&--l-show {
				display: block;
			}
			&--l-none {
				display: none;
			}
		}
	}

	//m
	@include bp-tablet {
		&-col {

			&--m-1 {
				width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 3});
			}
			&--m-2 {
				width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 3});
			}
			&--m-3 {
				width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 3});
			}
			&--m-4 {
				width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 3});
			}
			&--m-5 {
				width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 3});
			}
			&--m-6 {
				width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 3});
			}
			&--m-7 {
				width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 3});
			}
			&--m-8 {
				width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 3});
			}
			&--m-9 {
				width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 3});
			}
			&--m-10 {
				width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 3});
			}
			&--m-11 {
				width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 3});
			}
			&--m-12 {
				width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 3});
			}

			&--m-show {
				display: block;
			}
			&--m-none {
				display: none;
			}
		}
	}

	//s
	@include bp-tabletXS {
		width: calc(100% + #{map-get($grid, base) * 2});
		margin-left: -#{map-get($grid, base)};
		margin-right: -#{map-get($grid, base)};
			&-col {
				margin-left: #{map-get($grid, base)};
				margin-right: #{map-get($grid, base)};
				&--1 {
					width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 2});
				}
				&--2 {
					width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 2});
				}
				&--3 {
					width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 2});
				}
				&--4 {
					width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 2});
				}
				&--5 {
					width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 2});
				}
				&--6 {
					width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 2});
				}
				&--7 {
					width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 2});
				}
				&--8 {
					width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 2});
				}
				&--9 {
					width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 2});
				}
				&--10 {
					width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 2});
				}
				&--11 {
					width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 2});
				}
				&--12 {
					width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 2});
				}

				&--s-1 {
					width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 2});
				}
				&--s-2 {
					width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 2});
				}
				&--s-3 {
					width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 2});
				}
				&--s-4 {
					width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 2});
				}
				&--s-5 {
					width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 2});
				}
				&--s-6 {
					width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 2});
				}
				&--s-7 {
					width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 2});
				}
				&--s-8 {
					width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 2});
				}
				&--s-9 {
					width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 2});
				}
				&--s-10 {
					width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 2});
				}
				&--s-11 {
					width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 2});
				}
				&--s-12 {
					width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 2});
				}

				&--s-show {
					display: block;
				}
				&--s-none {
					display: none;
				}
			}
	}

	//xs
	@include bp-mobile {
		&-col {
			&--xs-1 {
				width: calc(#{map-get($grid, column) * 1} - #{map-get($grid, base) * 2});
			}
			&--xs-2 {
				width: calc(#{map-get($grid, column) * 2} - #{map-get($grid, base) * 2});
			}
			&--xs-3 {
				width: calc(#{map-get($grid, column) * 3} - #{map-get($grid, base) * 2});
			}
			&--xs-4 {
				width: calc(#{map-get($grid, column) * 4} - #{map-get($grid, base) * 2});
			}
			&--xs-5 {
				width: calc(#{map-get($grid, column) * 5} - #{map-get($grid, base) * 2});
			}
			&--xs-6 {
				width: calc(#{map-get($grid, column) * 6} - #{map-get($grid, base) * 2});
			}
			&--xs-7 {
				width: calc(#{map-get($grid, column) * 7} - #{map-get($grid, base) * 2});
			}
			&--xs-8 {
				width: calc(#{map-get($grid, column) * 8} - #{map-get($grid, base) * 2});
			}
			&--xs-9 {
				width: calc(#{map-get($grid, column) * 9} - #{map-get($grid, base) * 2});
			}
			&--xs-10 {
				width: calc(#{map-get($grid, column) * 10} - #{map-get($grid, base) * 2});
			}
			&--xs-11 {
				width: calc(#{map-get($grid, column) * 11} - #{map-get($grid, base) * 2});
			}
			&--xs-12 {
				width: calc(#{map-get($grid, column) * 12} - #{map-get($grid, base) * 2});
			}


			&--xs-show {
				display: block;
			}
			&--xs-none {
				display: none;
			}
		}
	}
}