.logotype {
	position: relative;
	@include flex(16.9rem);
	height: 7.5rem;
	align-items: center;
	justify-content: center;
	padding-left: 3.3rem;
	padding-right: 3rem;
	background-color: $colorWhite;
	transform: translate(-3.3rem, 1.8rem);
	z-index: 1;

		& .i {
			@include hundred;
		}

	@include bp-tablet {
		@include size(7rem, 4.5rem);
		padding-left: 0;
		padding-right: 0;
		transform: none;
	}
}