.page-wrapper {
	width: 100%;
}
.page {
	padding-top: 6.5rem;
	margin-bottom: 15rem;

		&__body {
			padding-right: 4rem;
		}
		&__aside {
			padding: #{map-get($defaults, base) * 6};
			background-color: map-get($grey, color_3);
		}
		&__section {
			width: 100%;
			@include offsets-reset;
				&-headline {
					margin-bottom: multi(4);
				}

				& p {
					max-width: 87.6rem;
				}
				& .round-checked {
					max-width: 70rem;
				}

				& + .page__section {
					padding-top: multi(8);
				}
		}

	@include bp-desktop {
		& > .container {
			overflow-x: hidden;
		}

		&__body {
			padding-right: 0;
		}
	}
	@include bp-desktopXS {
		margin-bottom: 0;
		&__body {
			padding-bottom: multi(4);
		}
		&__aside {
			@include outbox('true');
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	@include bp-tablet {
		//margin-bottom: 6rem;
	}
	@include bp-tabletXS {
		padding-top: 6rem;

		&__section {
			&-headline {
				@include align_c;
			}
		}
	}
}