.pagination-wrapper {
	@include flex();
	align-items: center;
	justify-content: center;
	margin-top: 6.2rem;
		& .button {
			margin-bottom: map-get($defaults, gutter);
		}

		&--mobile {
			display: none;
			margin-top: 3rem;
		}

		@include bp-tabletXS {
			margin-top: 3.2rem;
				&--mobile {
					display: flex;
				}
		}
}
.pagination {
	@include flex();
	align-items: center;
	justify-content: center;
		&__element {
			@include flex(3rem);
			height: 3rem;
			align-items: center;
			justify-content: center;
			color: map-get($grey, color_2);
			@include font-size(1.8rem, 1.8rem);
			@include round;
				&:hover {
					background-color: map-get($grey, color_1);
				}
				&--current {
					color: map-get($basic, primary);
					background-color: map-get($grey, color_3);
					@include no-touch;
				}

				& + .pagination__element {
					margin-left: #{map-get($defaults, base) * 2};
				}
		}
}