.section {
	width: 100%;
		&__header {
			width: 100%;
			margin-bottom: 3.5rem;

				& p {
					margin-top: multi(1);
				}
		}
		&__headline {
			margin-bottom: 0;
		}
		&__more {
			display: none;
			width: 100%;
			margin-top: 3rem;
			@include align_c;
		}

	&--with-control {
		.section {
			&__header {
				@include flex();
				align-items: flex-start;
				justify-content: space-between;

					& .button {
						margin-top: .5rem;
					}
			}
			&__headline {
				max-width: calc(100% - 20rem);
			}
		}
	}
	&--default {
		padding-top: 9.4rem;
		padding-bottom: 10rem;

			.section {
				&__header {
					margin-bottom: 5.2rem;
				}
			}
	}

	&--we-are-trusted {
		padding-top: 10rem;
		padding-bottom: 8rem;
			.section {
				&__header {
					margin-bottom: 5.2rem;
				}
			}

			& + .section--products {
				padding-top: 0;
			}
	}
	&--products {
		padding-top: 9.6rem;
		padding-bottom: 9.6rem;
			.section {
				&__header {
					margin-bottom: 5.4rem;
				}
			}
	}
	&--products-array {
		padding-top: 3.8rem;
		padding-bottom: 9.6rem;
	}
	&--news {
		padding-top: 7.6rem;
		padding-bottom: 6.8rem;
		background-color: map-get($grey, color_3);
	}
	&--news-alt {
		padding-top: 13.6rem;
		padding-bottom: 9.6rem;
	}
	&--webinars {
		padding-top: 10.4rem;
		padding-bottom: 9.2rem;
			.section {
				&__header {
					margin-bottom: 5.2rem;
				}
			}
	}

	//about page
	&--aim {
		padding-top: 9.2rem;
	}
	&--features {
		padding-top: 6.8rem;
		overflow: hidden;
			& .section {
				&__headline {
					&.h2 {
						margin-bottom: 5.3rem;
					}
				}
			}
	}
	&--history  {
		padding-top: 9.8rem;
		padding-bottom: 6.4rem;
		& .section {
			&__headline {
				&.h2 {
					margin-bottom: 7rem;
				}
			}
		}
	}
	&--clients {
		padding-top: 10.2rem;
		& .section {
			&__header {
				margin-bottom: 8.6rem;
			}
		}
	}
	&--contacts {
		padding-top: 9.2rem;
		padding-bottom: 5.5rem;
			& .section {
				&__headline {
					&.h2 {
						margin-bottom: 5.5rem;
					}
				}
			}
	}
	&--reviews {
		padding-top: 8.4rem;
	}
	&--management {
		padding-top: 8.4rem;
	}

	//partners
	&--distributors {
		padding-top: 6.6rem;
			.section {
				&__header {
					margin-bottom: 4.2rem;
				}
			}
	}
	&--business-partners {
		padding-top: 6.6rem;
			.section {
				&__header {
					margin-bottom: 5rem;
				}
			}
	}
	&--partners-program {
		padding-top: 14.2rem;
		padding-bottom: 9.2rem;
	}
	&--partners-advantages {
		padding-top: 7.4rem;
		padding-bottom: 8.4rem;

			ul {
				li {
					max-width: 78rem;
				}
			}
	}
	&--partnership-profitable {
		padding-top: 7.8rem;
		padding-bottom: 10.2rem;
			.section {
				&__header {
					margin-bottom: 5rem;
				}
			}
	}

	//services
	&--services {
		padding-top: 9.6rem;
		padding-bottom: 10.4rem;
	}

	//buy
	&--buy-table {
		padding-bottom: 7.4rem;
	}

	//experience
	&--full-clients {
		padding-top: 9.2rem;
		padding-bottom: 9rem;
			& .section {
				&__header {
					margin-bottom: 8.6rem;
				}
			}
	}
	&--cases {
		padding-bottom: 8.4rem;
	}

	//certificates
	&--certificates-list {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	//cases
	&--cases-array {
		padding-top: 8.5rem;
		padding-bottom: 10.7rem;
	}

	//support
	&--support {
		padding-top: multi(8);
		padding-bottom: multi(12);
			& .section {
				&__header {
					margin-bottom: multi(6);
				}
			}
	}

	//warranty
	&--warranty {
		padding-top: multi(8);
		padding-bottom: multi(12);

			& .container {
				display: block;
			}
	}
	&--warranty-features {
		padding-top: multi(8);
	}
	&--warranty-plans {
		padding-top: 8.4rem;
			& .section {
				&__header {
					margin-bottom: 8.4rem;
				}
			}
	}
	&--warranty-docs {
		padding-top: 7.8rem;
		padding-bottom: 9.8rem;
			& .section {
				&__header {
					margin-bottom: multi(4);
				}
			}
	}
	&--warranty-app {
		padding-top: multi(8);
		padding-bottom: multi(12);
	}

	//news page
	&--news-array {
		padding-top: 7.8rem;
		padding-bottom: 9.6rem;
	}

	&--dark {
		background-color: map-get($grey, color_3);
	}
	&--pages-list {
		padding-top: 8rem;
		padding-bottom: 8rem;
		.section {
			&__header {
				margin-bottom: 5.4rem;
			}
		}
	}


	@include bp-tablet {
		&--partners-program {
			padding-bottom: 0;
		}
		&--news-alt {
			padding-top: 7.6rem;
			padding-bottom: 6.8rem;
		}
	}
	@include bp-tabletXS {
		&__header,
		&__headline {
			@include align_c;
		}
		&__header {
			& p {
				@include align_l;
			}
		}
		&__more {
			display: block;
		}

		&--default {
			padding-top: 3rem;
			padding-bottom: 6.4rem;

			.section {
				&__header {
					margin-bottom: 3rem;
				}
			}
		}
		&--with-control {
			.section {
				&__header {
					display: block;

					& .button {
						display: none;
					}
				}
				&__headline {
					max-width: 100%;
				}
			}
		}
		&--products {
			padding-bottom: 6.6rem;
			.section {
				&__header {
					margin-bottom: 3.2rem;
				}
			}

			& + .section--news {
				padding-top: 0;
			}
		}
		&--products-array {
			padding-top: 3.6rem;
			padding-bottom: 6rem;
		}
		&--we-are-trusted {
			padding-top: 6rem;
			padding-bottom: 6rem;
				.section {
					&__header {
						margin-bottom: .1rem;
					}
					&__more {
						margin-top: 1.3rem;
					}
				}
		}
		&--news {
			padding-top: 6rem;
			padding-bottom: 5.4rem;
			background-color: $colorWhite;
				& + .section--webinars {
					padding-top: 0;
				}
		}
		&--news-alt {
			padding-top: 2rem;
			padding-bottom: multi(4);
		}
		&--webinars {
			padding-top: 6rem;
			padding-bottom: 6rem;
			.section {
				&__header {
					margin-bottom: 2.2rem;
				}
			}
		}

		&--aim,
		&--features,
		&--history,
		&--clients,
		&--contacts {
			padding-top: 6rem;
		}
		&--aim,
		&--features,
		&--history,
		&--contacts {
			padding-top: 6rem;
			& .section {
				&__headline {
					&.h2 {
						margin-bottom: 3rem;
					}
				}
			}
		}
		&--clients {
			& .section {
				&__header {
					margin-bottom: 3rem;
				}
			}
		}

		&--reviews,
		&--management {
			padding-top: multi(7);
		}

		//partners
		&--distributors {
			padding-top: 4.6rem;
				.section{
					&__header {
						margin-bottom: map-get($defaults, gutter);
					}
				}
		}
		&--business-partners {
			padding-top: 5rem;
				.section{
					&__header {
						margin-bottom: map-get($defaults, gutter);
					}
				}
		}
		&--partners-program {
			padding-top: 6rem;

			.section-with-sidebar__headline {
				@include align_c;
			}
		}
		&--partners-advantages {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
		&--partnership-profitable {
			padding-bottom: 0;
			&.section--dark {
				background-color: $colorWhite;
			}

			.section{
				&__header {
					margin-bottom: 3rem;
				}
			}
		}

		//services
		&--services {
			padding-top: 4.8rem;
			padding-bottom: 5.6rem;
		}

		//buy
		&--buy-table {
			padding-bottom: 6.4rem;
		}

		//experience
		&--full-clients {
			padding-top: 6rem;
			padding-bottom: 6rem;
			& .section {
				&__header {
					margin-bottom: 3rem;
				}
			}
		}

		//certificates
		&--certificates-list {
			padding-top: 4.8rem;
			padding-bottom: 6.4rem;
		}

		//cases
		&--cases-array {
			padding-top: 4rem;
			padding-bottom: multi(8);
		}

		//support
		&--support {
			padding-top: multi(6);
			padding-bottom: multi(9.5);
			& .section {
				&__header {
					margin-bottom: 5rem;
				}
			}
		}

		//warranty
		&--warranty {
			padding-top: multi(6);
			padding-bottom: multi(8);
		}
		&--warranty-features {
			padding-top: multi(6);
		}
		&--warranty-plans,
		&--warranty-docs {
			padding-top: multi(8);
		}
		&--warranty-plans {
			& .section {
				&__header {
					margin-bottom: 3.6rem;
				}
			}
		}
		&--warranty-docs {
			padding-bottom: multi(8);
				& .section {
					&__header {
						margin-bottom: multi(3);
					}
				}
		}
		&--warranty-app {
			padding-top: 6rem;
			padding-bottom: multi(8);
		}

		//news page
		&--news-array {
			padding-top: 4.6rem;
			padding-bottom: 6.4rem;
		}

		&--mobile-dark {
			background-color: map-get($grey, color_3);
				&.section--news {
					padding-top: 3rem;
					padding-bottom: 3rem;
				}

				& .pagination__element--current {
					background-color: $colorWhite;
				}
		}
	}
}