.website-options {
	@include flex(auto);
	height: 100%;
		&__element {
			position: relative;
			@include size(auto, 100%);
				& + .website-options__element {
					margin-left: 3.2rem;
				}

			&--support {}
			&--prodile {}
			&--search {}

			&:hover {
				& .website-options__dropdown {
					top: 100%;
					opacity: 1;
					visibility: visible;
					@include all-touch;
				}
				& > .website-options__control--with-arrow {
					&::after {
						transform: rotate(-180deg);
					}
				}
			}
		}
		&__control {
			@include flex();
			height: 100%;
			align-items: center;
			padding-bottom: .2rem;
			color: map-get($grey, color_2);
			@include font-size(1.6rem);
			@include smooth(.2s);
				& .i {
					&._zoom {
						@include size(1.6rem, 1.4rem);
						margin-top: .2rem;
						margin-right: .5rem;
						fill: none;
						stroke: map-get($grey, color_2);
					}
				}

				&--with-arrow {
					&::after {
						content: '';
						display: block;
						@include size(1rem, .7rem);
						margin-top: .2rem;
						margin-left: map-get($defaults, base);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L5 5L8 2' stroke='%23898989' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
						will-change: tranfrom;
						transition: transform .2s linear;
					}
				}

				&:hover {
					color: map-get($basic, themeAlt);
				}
		}
		&__dropdown {
			position: absolute;
			top: 95%;
			left: 0;
			min-width: 20.8rem;
			padding-top: map-get($defaults, base);
			padding-bottom: map-get($defaults, base);
			background-color: $colorWhite;
			@include shadow(0 .6rem 1.8rem rgba($colorBlack, .15));
			opacity: 0;
			visibility: hidden;
			@include no-touch;
			@include smooth(.3s);
			z-index: 2;
				& .website-options__control {
					padding: .5rem multi(2);
					@include font-size(1.4rem, 2.4rem);
				}
		}

	@include bp-tablet {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 1rem;
		height: 6.8rem;
		&__element {
			@include flex(auto);
			height: 100%;
			z-index: 2;
				& + .website-options__element {
					margin-left: 0;
				}
				&--support {
					display: none;
				}
				&--prodile,
				&--search  {
					position: static;
					width: 3.8rem;
					padding-top: map-get($defaults, base);
						.website-options__control {
							&::before {
								content: '';
								display: block;
								background-size: cover;
								background-position: center center;
							}
						}
				}
				&--prodile {
					& .website-options__control {
						&::before {
							@include size(2.4rem, 2.5rem);
							background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 21.056V19.056C20 17.9952 19.5786 16.9777 18.8284 16.2276C18.0783 15.4775 17.0609 15.056 16 15.056H8C6.93913 15.056 5.92172 15.4775 5.17157 16.2276C4.42143 16.9777 4 17.9952 4 19.056V21.056' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11.056C14.2091 11.056 16 9.26517 16 7.05603C16 4.84689 14.2091 3.05603 12 3.05603C9.79086 3.05603 8 4.84689 8 7.05603C8 9.26517 9.79086 11.056 12 11.056Z' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						}
					}
				}
				&--search {
					& .website-options__control {
						&::before {
							@include size(2.4rem, 2.4rem);
							background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.9999 21L16.6499 16.65' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						}
					}
				}
		}
		&__control {
			align-items: center;
			justify-content: center;
			font-size: 0;
				& .i {
					display: none;
				}
		}
	}
}