.website-header {
	position: relative;
	width: 100%;
	background-color: $colorWhite;
		&__bar {
			border-bottom: .1rem solid map-get($grey, color_1);
				& .container {
					height: 4rem;
					justify-content: space-between;
				}
		}
		&__nav {
			& .container {
				height: 7.2rem;
				align-items: center;
				justify-content: flex-end;
			}
			& .navigation + .button {
				margin-left: 5.6rem;
			}
		}

	@include bp-desktopXS {
		&__nav {
			& .navigation + .button {
				margin-left: 3rem;
			}
		}
	}
	@include bp-tablet {
		height: 13.2rem;
		z-index: 10;
			&__bar {
				height: 7.6rem;
				border-bottom: 0;

				& .container {
					height: 100%;
					align-items: center;
					justify-content: center;
				}
			}
			&__nav {
				height: 5.6rem;

				& .container {
					display: block;
					height: 100%;
				}
				& .navigation + .button {
					margin-left: 0;
				}
				& .button {
					width: 100%;
				}
			}
	}
}