.website-contacts {
	color: map-get($basic, primary);
	&__phone {
		display: block;
		color: inherit;
		@include font-size(3.2rem, 3.8rem);
		font-weight: $bold;
	}
	&__email {
		display: block;
		margin-top: 2.8rem;
		color: inherit;
		@include font-size(2rem);
	}
	&__location {
		margin-top: map-get($defaults, base);
		color: inherit;
		@include font-size(2rem);
		p {
			@include inherit;
		}
	}

	@include bp-desktopXS {
		width: 100%;
	}
	@include bp-tabletXS {
		&__phone {
			@include font-size(3rem, 3.6rem);
		}
		&__email {
			margin-top: map-get($defaults, gutter);
			@include font-size(1.8rem, 2.1rem);
		}
		&__location {
			@include font-size(1.6rem, 1.9rem);
			& p {
				@include inherit;
			}
		}
	}
}