.website-workarea {
	width: 100%;
		&__header {
			position: relative;
			@include size(100%, 44.8rem);
			overflow: hidden;
				& .container {
					position: relative;
					height: 100%;
					align-items: flex-end;
					padding-bottom: 6rem;
					z-index: 1;
				}
				& .breadcrumbs {
					position: absolute;
					top: 3rem;
					left: map-get($defaults, gutter);
					z-index: 1;
				}

				&-image {
					position: absolute;
					top: 0;
					left: 0;
					@include hundred;
					@include no-touch;
					z-index: 0;
						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							display: block;
							@include hundred;
							background: rgba(map-get($basic, secondary), .4);
							z-index: 1;
						}
						& img {
							@include hundred;
							object-fit: cover;
							object-position: center center;
						}
				}
				&-content {
					width: 100%;
					color: $colorWhite;

					& p {
						max-width: initial;
						margin-top: 1.8rem;
						color: inherit;
					}
					& .button {
						margin-top: 2.7rem;
					}
				}
				&-h1,
				&-h2 {
					margin-bottom: 0;
					color: inherit;
				}
				&-h1 {
					@include font-size(6.4rem, 4.8rem);
					@include upp;
				}
				&-h2 {
					@include font-size(4.8rem, 4.8rem);
				}
				&-label {
					display: inline-flex;
					margin-bottom: 2rem;
					padding: .4rem map-get($defaults, base);
					color: map-get($basic, primary);
					@include font-size(1.2rem, 1.6rem);
					font-weight: $medium;
					letter-spacing: .15rem;
					@include upp;
					@include radius();
						&--white {
							color: map-get($grey, color_2);
							background-color: $colorWhite;
						}
				}
				&-control {
					@include flex();
					align-items: flex-start;
					margin-top: 3.8rem;
						&--mobile {
							display: none;
							margin-top: map-get($defaults, gutter);
						}

						& .button {
							margin-top: 0;
							& + .button {
								margin-left: map-get($defaults, gutter);
							}
						}
				}
		}
		&__description {
			padding-top: 7.9rem;
				& p {
					max-width: 103.6rem;
				}
		}

	@include bp-tabletXS {
		&__header {
			& .container {
				padding-bottom: 4rem;
			}
			& .breadcrumbs {
				top: 1.2rem;
			}

			&-h1 {
				font-size: 3.6rem;
			}
			&-h2 {
				@include font-size(2rem, 2.4rem);
			}
			&-label {
				margin-bottom: map-get($defaults, base);
			}
			&-control {
				display: block;
					&--mobile {
						display: block;
					}

				& .button {
					min-width: 25rem;
					margin-top: 0;
					& + .button {
						margin-top: map-get($defaults, base);
						margin-left: 0;
					}
				}
			}

			&--centered {
				@include align_c;
					& .container {
						align-items: center;
						padding-bottom: 0;
					}
					.website-workarea__header {
						&-content {
							& .button {
								margin-top: 4.5rem;
							}
						}
					}
			}
			&--no-breadcrumnbs {
				& .breadcrumbs {
					display: none;
				}
			}
		}
		&__description {
			padding-top: 6rem;
		}
	}
}