.website-footer {
	width: 100%;
	padding-top: 5.5rem;
	padding-bottom: 4rem;
	background-color: map-get($basic, primary);

		&__body {
			width: 100%;
				&::before,
				&::after {
					content: '';
					display: block;
					@include size(100%, 0);
					clear: both;
					visibility: hidden;
				}
		}
		&__bar {
			@include flex();
			justify-content: space-between;
			padding-top: 8rem;
		}

		& .social-networks {
			float: right;
			width: 38.4rem;
			margin-top: 3.8rem;
				&__element {
					& .i {
						stroke: $colorWhite;
					}
				}
		}
		& .website-contacts {
			float: right;
			width: 38.4rem;
			margin-top: -.4rem;
			color: $colorWhite;
		}

	@include bp-desktopXS {
		&__bar {
			padding-top: 3rem;
			border-top: .1rem solid rgba(map-get($grey, color_3), .2);
		}

		& .social-networks {
			float: none;
			width: 100%;
			margin-top: 2rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			border-top: .1rem solid rgba(map-get($grey, color_3), .2);
		}
		& .website-contacts {
			float: none;
			width: 100%;
		}
	}
	@include bp-tabletXS {
		padding-top: 3rem;
		padding-bottom: 6rem;
			&__bar {
				display: block;
				@include align_c;
			}

			& .social-networks {
				margin-top: 0;
			}
			& .copyright {
				margin-bottom: map-get($defaults, base);
			}
			& .accordion + .d {

			}
	}
}
.website-footer-navigation {
	float: left;
	@include flex(94.5rem);
	max-width: calc(100% - 38.4rem);
	align-items: flex-start;

		&__section {
			width: 25%;
		}
		&__row {
			width: 100%;
			& + .website-footer-navigation__row {
				margin-top: 2.4rem;
			}
		}
		&__headline {
			display: block;
			color: $colorWhite;
			@include font-size(2rem);
			font-weight: $bold;
		}
		&__element {
			display: block;
			max-width: 20rem;
			color: map-get($grey, color_2);
			@include font-size(1.6rem);
				&--mobile {
					display: none;
				}
				& + .website-footer-navigation__element {
					margin-top: map-get($defaults, base);
				}
		}

	@include bp-desktopXS {
		float: none;
		width: 100%;
		max-width: 100%;
		margin-top: 3rem;
		padding-top: 3rem;
		border-top: .1rem solid rgba(map-get($grey, color_3), .2);
	}
	@include bp-tabletXS {
		padding-top: 0;
		border-top: 0;

			&__section {
				width: 100%;
			}
			&__row {
				& .website-footer-navigation__headline {
					border-top: .1rem solid rgba(map-get($grey, color_3), .2);
				}
				& + .website-footer-navigation__row {
					margin-top: 0;
				}
			}
			&__headline {
				padding-top: map-get($defaults, base);
				padding-bottom: map-get($defaults, base);
				@include font-size(2rem, 2.4rem);
			}
			&__element {
				&--mobile {
					display: block;
				}
			}
	}
}