div.file-uploader.js-file-uploader.js-input#js-warranty-app-file-uploader
   div.file-uploader__files
       div.file-uploader__inputs.js-file-uploader-input-list
           input.js-file-uploader__input(type='file' name="files[]" multiple)
       div.file-uploader__list.js-file-uploader-list

   div.file-uploader__control
       button.button.button--bordered-theme.button--fs-14.js-file-uploader-file(type='button')
        | <svg class="i _pin" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        | <path d="M10.5106 4.32031L4.53553 10.2953C4.14501 10.6859 4.14501 11.319 4.53553 11.7095C4.92606 12.1001 5.55922 12.1001 5.94975 11.7095L11.9248 5.73452M9.09635 2.90609L3.12132 8.88112C1.94975 10.0527 1.94975 11.9522 3.12132 13.1238C4.29289 14.2953 6.19239 14.2953 7.36396 13.1238L14.0461 6.44163M5.56084 6.4416L9.23777 2.76467C9.94071 2.06173 11.1437 2.12504 11.9248 2.90609C12.7058 3.68714 12.7691 4.89015 12.0662 5.5931L8.07107 9.58823" stroke-linecap="round" stroke-linejoin="round"/>
        | </svg>
        | Загрузить

       div.file-uploader__control-label До&nbsp;20&nbsp;файлов (общий размер&nbsp;&mdash; до&nbsp;20&nbsp;МБ).

   div.input__messages.js-input-messages
