div.fullwidth-banner#order-project-button-anchor
    div.fullwidth-banner__background
        img(
            class="js-responsive-image"
            data-desktop-src="assets/images/fullwidth-banner/background-0.jpg"
            data-desktop-srcset="assets/images/fullwidth-banner/background-0.jpg 1x,assets/images/fullwidth-banner/background-0-2x.jpg 2x"
            data-mobile-src="assets/images/fullwidth-banner/mobile-background-0.jpg"
            data-mobile-srcset="assets/images/fullwidth-banner/mobile-background-0.jpg 1x,assets/images/fullwidth-banner/mobile-background-0-2x.jpg 2x"
            src='assets/images/fullwidth-banner/background-0.jpg'
            srcset='assets/images/fullwidth-banner/background-0.jpg 1x,assets/images/fullwidth-banner/background-0-2x.jpg 2x'
        alt='')
    div.container
        div.fullwidth-banner__content
            h1.div.fullwidth-banner__headline.h1 #[b Единое решение] для защиты от&nbsp;сетевых угроз
            p.p--l Diamond VPN/FW&nbsp;&mdash; наиболее производительное программно-аппаратное решение на&nbsp;рынке сертифицированных средств защиты.
            p._mobile-hidden Межсетевое экранирование, виртуальные частные сети и&nbsp;оперативное предотвращение вторжений создают прочную основу вашей сетевой безопасности.
            div.fullwidth-banner__controls
                a.button.button--h-48.button--p-32.button--white.button--fs-20.button--fw-700.button--hover-theme-alt.js-photo-glidebox(href='https://www.youtube.com/watch?v=UZSp5lvDlfE') Обзор
                button.button.button--h-48.button--p-32.button--bordered.button--fs-20.button--fw-700.button--hover-theme.js-popup-launcher(data-popup-trigger='discuss-task-trigger' data-popup-id='discuss-task') Обсудить задачу
        div.fullwidth-banner__image
            img(
                class="lazyload"
                src='assets/images/fullwidth-banner/image-0.png'
                srcset='assets/images/fullwidth-banner/image-0.png 1x, assets/images/fullwidth-banner/image-0-2x.png 2x'
            alt='')

