div.pagination-wrapper.pagination-wrapper--mobile
    a.button.button--hover-theme-alt(href="javascript:void(0);") Показать еще
    div.pagination
        a.pagination__element.pagination__element--current(href="javascript:void(0);") 1
        a.pagination__element(href="javascript:void(0);") 2
        a.pagination__element(href="javascript:void(0);") 3
        a.pagination__element(href="javascript:void(0);") ...
        a.pagination__element(href="javascript:void(0);") 9