div#become-partner.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Стать партнером
                form.form.js-form(action='/' method='POST')
                    +form-rows('Стать партнером')
div#offer-partner.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Подобрать партнера
                form.form.js-form(action='/' method='POST')
                    +form-rows('Подобрать')
div#order-service.popup.popup--440.popup--dark.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Заказать услугу
                form.form.js-form(action='/' method='POST')
                    +form-rows('Заказать услугу')
div#ask-expert.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Вопрос экспертам
                form.form.js-form(action='/' method='POST')
                    +form-rows('Задать вопрос')
div#certificate-0.popup.popup--1470.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.certificate-viewer
                    div.certificate-viewer__image
                        img(
                            class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                            data-src="assets/images/certificate/full/image-0.jpg"
                            data-srcset="assets/images/certificate/full/image-0.jpg 1x, assets/images/certificate/full/image-0-2x.jpg 2x"
                            alt=""
                        )
                    div.certificate-viewer__description
                        p Соответствует требованиям ГОСТ 28147-89, ГОСТ Р&nbsp;34.10-2012, ГОСТ Р&nbsp;34.11-2012, Требованиям ФСБ России к&nbsp;к&nbsp;шифровальным (криптографическим) средствам, предназначенным для защиты информации, не&nbsp;содержащей сведений, составляющих гостайну, класса КС1 и&nbsp;КС3, Требованиям к&nbsp;средствам электронной подписи, и&nbsp;может использоваться для криптографической защиты (шифрование данных, содержащихся к&nbsp;областях оперативной памяти, вычисление имитовставки для данных, содержащихся в&nbsp;областях оперативной памяти, вычисление значения хэш-функции для данных, содержащихся в&nbsp;областях оперативной памяти, реализация функций электронной подписи) информации, не&nbsp;содержащей сведений, составляющих государственную тайну.
                        p Сертификат действителен до&nbsp;08&nbsp;ноября 2021&nbsp;г.
div#discuss-task.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Обсудить задачу
                form.form.js-form(action='/' method='POST')
                    +form-rows('Отправить')
div#get-consult.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Получить консультацию
                form.form.js-form(action='/' method='POST')
                    +form-rows('Получить консультацию')
div#calculate-price.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Рассчитать стоимость
                form.form.js-form(action='/' method='POST')
                    +form-rows('Рассчитать')
div#get-job.popup.popup--440.modal
    div.popup__inside
        a.popup__underlay.js-popup-close(href='javascript:void(0);')
        div.popup__container
            button.popup__close.js-popup-close(type="button")
                | <svg class="i" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"></path>
                | <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"></path>
                | </svg>
            div.popup__content
                div.popup__headline.h4 Подать заявку
                form.form.js-form(action='/' method='POST')
                    div.form__row
                        +input({mod: 'input--required', type: 'text', name: 'USER_NAME', placeholder: 'Имя и фамилия'})
                    div.form__row
                        +input({
                            mod: 'input--required',
                            type: 'email',
                            name: 'USER_EMAIL',
                            placeholder: 'Электронная почта'
                        })
                    div.form__row
                        +input({type: 'text', name: 'COMPANY_VACANCY', placeholder: 'Желаемая должность'})
                    div.form__row
                        +input({inputMod: 'js-input-tel', type: 'tel', name: 'USER_PHONE', placeholder: 'Телефон'})
                    div.form__row
                        button.button.button--w-100.button--h-48.button--fs-20.button--fw-700(type='submit') Подать заявку

                    div.order-project__agreement
                        p Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных.

