block variables
-
    var networks =
    [
        {url: 'javascript:void(0);', icon: '<svg class="i" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="6" width="27" height="20" rx="4.5"/><path d="M11.9907 20.4773V11.5234L20.009 15.9335L11.9907 20.4773Z" stroke-linecap="round" stroke-linejoin="round"/></svg>'},
        {url: 'javascript:void(0);', icon: '<svg class="i" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27 2H5C3.34315 2 2 3.34315 2 5V27C2 28.6569 3.34315 30 5 30H14.542V20.8714H11.3856V16.0315H14.542C14.542 13.0922 13.9275 8.30479 19.6975 7.61443H24.3807V12.6091H20.6975C20.1452 12.6091 19.6975 13.0568 19.6975 13.6091V16.0315H24.3807L23.3705 20.8714H19.6975V30H27C28.6569 30 30 28.6569 30 27V5C30 3.34315 28.6569 2 27 2Z"/></svg>'},
        {url: 'javascript:void(0);', icon: '<svg class="i" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="2.49988" width="27" height="27" rx="7.5"/><circle cx="15.9999" cy="15.9999" r="5.52091"/><circle cx="24.0477" cy="7.86648" r="0.5" stroke-width="0.995279"/></svg>'},
        {url: 'javascript:void(0);', icon: '<svg class="i" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.5" y="2.50006" width="27" height="27" rx="7.5"/><path d="M13.5505 12.8711V16.2913C12.5161 14.9494 11.883 14.0727 10.8887 11.6655C10.5723 10.8997 10.3529 9.85439 9.39318 9.85439H7.20501C5.84144 9.75918 5.77551 10.6508 5.89604 11.4566C6.82787 14.8534 9.98636 21.3913 15.2831 22.1321C16.8302 22.3485 18.2425 22.2207 18.1602 20.8628V18.7278C18.39 18.7636 19.0527 19.1228 19.5297 19.5883L21.4613 21.5668C21.834 21.9417 22.1573 22.1798 23.1973 22.1798C23.6245 22.1798 24.1019 22.1939 24.6838 22.1798C26.5446 22.1346 26.1999 20.8495 25.9307 20.2837C25.6798 19.7567 23.7362 17.5435 22.6777 16.4022C23.6703 15.0299 25.1879 12.762 25.6134 11.596C26.1095 10.2365 25.3965 9.90001 24.6905 9.80459C24.0447 9.78391 23.274 9.78391 22.5558 9.78391C21.8045 9.818 21.2939 10.095 21.0591 10.7965C20.2271 12.7427 19.068 14.3605 18.1602 15.3701C18.0969 14.6629 18.1896 12.8712 18.1524 11.4783C18.1076 9.8044 17.3776 9.80441 16.8213 9.80441H13.6647C12.8436 9.80441 12.4804 10.7277 12.7184 11.1312C12.9565 11.5346 13.2471 11.6917 13.3988 12.1476C13.5505 12.6034 13.5505 12.8711 13.5505 12.8711Z" stroke-linejoin="round"/></svg>'},
        {url: 'javascript:void(0);', icon: '<svg class="i" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.9543 4.52829C28.5951 4.52832 25.2859 5.98567 25.2859 5.98567C18.487 1.64387 14.9537 7.86774 15.1143 11.2644C9.79431 10.3898 5.75057 7.35271 4.32131 5.28885C2.5142 9.01712 3.66418 11.9465 5.07701 13.4777C4.41988 13.4777 3.26526 13.0253 2.61275 12.7464C2.61275 14.4098 4.10774 16.7233 6.13019 18.3243C5.87683 18.6896 4.40091 18.0222 3.60605 17.6977C3.47056 17.6424 3.33017 17.7512 3.35262 17.8959C3.78056 20.6526 6.20934 22.2167 8.34124 22.637C8.56808 23.3207 5.18445 24.4364 2.80551 24.6678C2.59779 24.688 2.54346 24.9914 2.73057 25.0838C19.0922 33.1673 28.0095 19.0707 27.5357 10.6544C29.0379 9.97257 29.9327 8.25995 30 7.11144L28.428 7.19952C28.428 7.19952 30.3273 4.60092 28.9543 4.52829Z" stroke-linejoin="round"/></svg>'},
        {url: 'javascript:void(0);', icon: '<svg class="i" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.33317 5.14159C9.33317 6.59677 8.14304 7.78318 6.66658 7.78318C5.19013 7.78318 4 6.59677 4 5.14159C4 3.68641 5.19013 2.5 6.66658 2.5C8.14304 2.5 9.33317 3.68641 9.33317 5.14159Z"/><rect x="4.04468" y="11.1298" width="5.22778" height="18.8702" stroke-linejoin="round"/><path d="M18.3658 11.1298H13.0586V30H18.3658V18.7371C18.3658 15.3647 23.6406 15.5508 23.6406 18.7836V30H28.5001V18.7836C28.5001 14.0077 23.1456 9.6581 18.3658 13.1574V11.1298Z" stroke-linejoin="round"/></svg>'}
    ];

mixin social-networks-element(element)
    a.social-networks__element(href= element.url)!= element.icon


div.social-networks
    each element in networks
        +social-networks-element(element)
