.default-slider {
	position: relative;
	@include flex(calc(100% + #{map-get($defaults, base) * 3}));
	margin-left: -#{(map-get($defaults, base) * 3) / 2};
	margin-right: -#{(map-get($defaults, base) * 3) / 2};
	padding-top: 2rem;
	padding-bottom: 2rem;
		&__element {
			width: calc(33.33% - #{map-get($defaults, base) * 3});
			margin-left: #{(map-get($defaults, base) * 3) / 2};
			margin-right: #{(map-get($defaults, base) * 3) / 2};
		}
		&__arrow {
			position: absolute;
			top: 50%;
			display: none;
			@include size(4.8rem, 4.8rem);
			align-items: center;
			justify-content: center;
			background-color: $colorWhite;
			border: .1rem solid map-get($grey, color_0);
			@include round;
			cursor: pointer;
			outline: 0;
			transform: translateY(-50%);
			z-index: 2;
				& .i {
					@include size(1.4rem, 1.1rem);
					stroke: map-get($basic, themeAltLight);
				}

				&--prev {
					left: 0;
				}
				&--next {
					right: 0;
				}

			&.swiper-button-disabled {
				opacity: 0;
				@include no-touch;
			}
		}
		&__pagination {
			position: absolute;
			bottom: 0!important;
			display: none;
			width: 100%;
			@include align_c;
			z-index: 2;

			.swiper-pagination-bullet {
				width: .8rem;
				height: .8rem;
				margin-left: .5rem!important;
				margin-right: .5rem!important;
				background-color: rgba(map-get($basic, primary), .5);
				outline: 0;
				opacity: 1;
				&-active {
					background-color: map-get($basic, primary);
					transform: scale(1.5);
				}
			}
		}

		& .swiper-wrapper {
			height: initial;
		}

		&.swiper-container-initialized {
			width: calc(100% + 5rem);
			margin-left: -2.5rem;
			margin-right: -2.5rem;
			padding: 2rem 2.5rem;

				.default-slider {
					&__element {
						width: 100%;
						margin-left: 0;
						margin-right: 0;
						opacity: 0;
						transition: opacity .3s linear;
							&.swiper-slide-active,
							&.swiper-slide-next {
								opacity: 1;
							}
							&.swiper-slide-next + .swiper-slide {
								opacity: 1;
							}
					}
					&__arrow {
						display: flex;
					}
				}
		}

		&--webinars {
			.default-slider__arrow {
				top: 8.4rem;
				transform: none;
			}
		}
	@include bp-desktop {
		&__arrow {
			&--prev {
				left: map-get($defaults, base);
			}
			&--next {
				right: map-get($defaults, base);
			}
		}
		&.swiper-container-initialized {
			width: calc(100% + #{map-get($defaults, base) * 4});
			margin-left: -#{map-get($defaults, base) * 2};
			margin-right: -#{map-get($defaults, base) * 2};
			padding-left: #{map-get($defaults, base) * 2};
			padding-right: #{map-get($defaults, base) * 2};
		}

		&--webinars {
			.default-slider__arrow {
				top: 7.2rem;
			}
		}
	}
	@include bp-desktopXS {
		&--webinars {
			.default-slider__arrow {
				top: 9.6rem;
			}
		}
	}
	@include bp-tabletXS {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
			&__element {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
					& + .default-slider__element {
						margin-top: map-get($defaults, gutter);
					}
			}
			&__arrow {
				display: none;
			}


			&.swiper-container {
				overflow: initial;
			}
			& .swiper-wrapper {
				display: block;
			}
			&.swiper-container-initialized {
				display: flex;
				padding: 0 0 3rem;
					.default-slider {
						&__element {
							opacity: 1;
							& + .default-slider__element {
								margin-top: 0;
							}
						}
						&__arrow {
							display: none;
						}
						&__pagination {
							display: block;
						}
					}
					&.swiper-container {
						overflow: hidden;
					}
					& .swiper-wrapper {
						display: flex;
					}

					& .webinar-element {
						box-shadow: 0 .2rem .4rem rgba($colorBlack, .1);
							&__details {
								padding: 2.5rem 2.8rem;
							}
					}
			}
	}
}