div.section.section--news-array
    div.container
        div.news-array.grid
            each element in news
                div.news-array__element.grid-col.grid-col--4.grid-col--l-6.grid-col--s-12
                    +news-element(element)

        include ../../includes/pagination-desktop