header.website-workarea__header.website-workarea__header--no-breadcrumnbs
    div.website-workarea__header-image
        img(
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="assets/images/workarea-header/image-17.jpg"
            data-srcset="assets/images/workarea-header/image-17.jpg 1x, assets/images/workarea-header/image-17-2x.jpg 2x"
            alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h2 ТСС приняла участие в&nbsp;форуме #[br]&laquo;Информационная безопасность финансовой сферы&raquo;