div.section.section--news-alt
    div.container
        div.news-array.news-array--alt.grid
            each element in news
                div.news-array__element.grid-col.grid-col--4.grid-col--l-6.grid-col--s-12
                    +news-item(element)

        include ../../includes/pagination-desktop