div.news-page
    div.container
        div.news-page__content

            p.p--l Основатель и&nbsp;гендиректор ООО &laquo;ТСС&raquo; Александр Атаманов и&nbsp;заместитель генерального директора Владимир Сенькин приняли участие в&nbsp;XI&nbsp;Уральском форуме &laquo;Информационная безопасность финансовой сферы&raquo;.
            h3 Организаторы мероприятия
            div.news-organizers
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/news/image-1.jpg"
                    data-srcset="assets/images/news/image-1.jpg 1x, assets/images/news/image-1-2x.jpg 2x"
                    alt=""
                )
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/news/image-2.jpg"
                    data-srcset="assets/images/news/image-2.jpg 1x, assets/images/news/image-2-2x.jpg 2x"
                    alt=""
                )
            p Форум является одним из&nbsp;крупнейших событий в&nbsp;сфере информационной безопасности. В&nbsp;этом году спикерами и&nbsp;модераторами пленарных заседаний выступили сотрудники компаний ВТБ, ПАО &laquo;Ростелеком&raquo;, АО&nbsp;&laquo;ЭЛВИС-ПЛЮС&raquo;, InfoWatch, Positive Technologies, Web Control, Ассоциации банков России, Национальной ассоциации участников фондового рынка (НАУФОР), представители Совета Федерации, Министра цифрового развития, связи и&nbsp;массовых коммуникаций Российской Федерации, Министерства, Роскомнадзора, ФСТЭК и&nbsp;ФСБ России.
            figure
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/news/image-0.jpg"
                    data-srcset="assets/images/news/image-0.jpg 1x, assets/images/news/image-0-2x.jpg 2x"
                    alt=""
            )
            h3 Обсуждались вопросы
            ul
                li преодоление технологической зависимости при построении автоматизированных информационных систем;
                li перспективные отечественные разработки в сфере информационной безопасности;
                li проблемы их продвижения, новые инструменты ведения бизнеса в цифровой экономике;
                li автоматизация и искусственный интеллект в сфере обеспечения информационной безопасности;
                li киберпреступность как бизнес;
                li безопасность как сервис;
                li информационная безопасность как часть бизнеса;
                li анализ рисков и социальная ответственность;
                li другие темы.

            p Участие руководства ТСС в&nbsp;форуме неслучайно. Наша компания&nbsp;&mdash; один из&nbsp;лидеров на&nbsp;рынке информационной безопасности России. Компания была основана в&nbsp;2008 году ведущими специалистами, имеющими большой опыт в&nbsp;разработке и&nbsp;внедрении как зарубежных, так и&nbsp;отечественных средств ИБ. Ведущие российские интеграторы, участвовавшие в&nbsp;форуме, являются партнерами ТСС. Кроме того, наша компания ведет совместные разработки с&nbsp;другими разработчиками и&nbsp;вендорами.
            p С&nbsp;момента создания ТСС сконцентрировалась на&nbsp;разработке собственных СКЗИ. Итогом работы стало создание криптомаршрутизатора Diamond VPN/FW с&nbsp;пропускной способностью 35&nbsp;Гбит/c на&nbsp;один Unit, объединяющего в&nbsp;одном устройстве VPN-построитель, межсетевой экран и&nbsp;средства обнаружения и&nbsp;предотвращения вторжений. Diamond VPN/FW были установлены в&nbsp;многих российских городах в&nbsp;рамках государственной программы &laquo;Безопасный город&raquo;, реализуемой на&nbsp;федеральном уровне.
            p Всего&nbsp;же ТСС выполнила 130 проектов по&nbsp;комплексной защите информационных систем в&nbsp;различных отраслях, в&nbsp;том числе в&nbsp;трех федеральных службах, одном агентстве и&nbsp;20&nbsp;органах исполнительной власти. Заказчиками ТСС выступили компании, как ПАО &laquo;Сибур&raquo;, &laquo;РусГидро&raquo;, &laquo;Сибирская Сервисная Компания&raquo;, &laquo;Мегафон&raquo;, МРСК Северного Кавказа, China Construction Bank и&nbsp;многие другие.

            h3 Приложение
            ul.docs
                li._pdf
                    a(href='javascript:void(0);') Выдержка из&nbsp;Сертификата соответствия ФСТЭК России &#8470;&nbsp;4066 от&nbsp;24&nbsp;января 2019&nbsp;г.
                li._doc
                    a(href='javascript:void(0);') Заявка на&nbsp;проведение работ по&nbsp;обновлению прошивки МКСЗ &laquo;Diamond VPN/FW&raquo;

            time.news-date 22 февраля 2019

