div.section.section--cases-array
    div.container
        div.case-array.grid
            each element in cases
                div.case-array__element.grid-col.grid-col--4.grid-col--l-6.grid-col--s-12
                    +case-box(element)

        include ../../includes/pagination-desktop