.file-uploader {
	position: relative;
		&__control {
			@include flex(auto);
			align-items: center;
			flex-wrap: nowrap;
				&-label {
					width: auto;
					margin-left: multi(2);
					color: map-get($grey, color_2);
					@include font-size(1.4rem, 2.4rem);
					flex-shrink: 1;
				}

				& .button {
					flex-shrink: 0;
				}
		}
		&__files {
			width: calc(100% - 19.5rem);
		}
		&__inputs {
			display: none;
		}
		&__list {
			width: 100%;
			max-width: 30.3rem;
			margin-bottom: multi(2);
				&:empty {
					display: none;
				}
		}
		&__element {
			position: relative;
			display: block;
			width: 100%;
			padding: multi(1) 5.8rem multi(1) 3.4rem;
			color: map-get($grey, color_2);
			@include font-size(1.2rem, 1.6rem);
			@include align_l;
			background-color: $colorWhite;
			@include radius(.4rem);
				&::before,
				&::after {
					content: '';
					position: absolute;
					display: block;
					@include size(1.4rem , 1.4rem);
					background-position: 0 0;
					background-repeat: no-repeat;
					background-size: cover;
				}
				&::before {
					top: 1rem;
					left: 1.4rem;
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51056 2.9519L3.53553 8.92693C3.14501 9.31745 3.14501 9.95062 3.53553 10.3411C3.92606 10.7317 4.55922 10.7317 4.94975 10.3411L10.9248 4.36611M8.09635 1.53768L2.12132 7.51271C0.949748 8.68429 0.949748 10.5838 2.12132 11.7554C3.29289 12.9269 5.19239 12.9269 6.36396 11.7554L13.0461 5.07322M4.56084 5.07319L8.23777 1.39626C8.94071 0.693319 10.1437 0.756635 10.9248 1.53768C11.7058 2.31873 11.7691 3.52175 11.0662 4.22469L7.07107 8.21982' stroke='%23D70E45' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				}
				&::after {
					top: .9rem;
					right: 1.4rem;
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.10012 9.29597L9.69209 4.70398M5.1001 4.70398L9.69209 9.29597' stroke='%23D70E45' stroke-linecap='round'/%3E%3Ccircle cx='7.39597' cy='6.99997' r='6.10398' stroke='%23F3F3F3'/%3E%3C/svg%3E%0A");
				}

				&-name {
					max-width: 100%;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					@include no-touch;
				}


				& + .file-uploader__element {
					margin-top: multi(1);
				}
		}

	&--error {
		& .button {
			opacity: .4;
			@include no-touch;
		}
	}

	@include bp-tabletXS {
		&__control {
			&-label {
				@include font-size(1.2rem, 1.8rem);
			}
		}
	}
}