.navigation {
	position: relative;
	display: flex;
	@include size(auto, 100%);
		&__element {
			height: 100%;
			flex-shrink: 0;
				&:not(:last-child) {
					margin-right: 2.8rem;
				}
				&--dropdown {
					position: relative;
						&:not(:last-child) {
							margin-right: 3rem;
						}
						&:hover {
							.navigation__dropdown {
								top: 100%;
								opacity: 1;
								visibility: visible;
								@include all-touch;
							}
							& > .navigation__link {
								&::after {
									transform: rotate(-180deg);
								}
							}
						}

						& > .navigation__link {
							&::after {
								content: '';
								display: block;
								@include size(1rem, .7rem);
								margin-left: map-get($defaults, base);
								background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L6 6L10 2' stroke='%2325B0A5' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
								background-size: cover;
								will-change: transform;
								transition: transform .2s linear;
							}
						}
				}
		}
		&__link {
			@include flex();
			height: 100%;
			align-items: center;
			color: map-get($basic, secondary);
			@include font-size(1.6rem);
			font-weight: $bold;
			@include upp;
				&:hover,
				&--active {
					color: map-get($basic, themeAlt);
				}

				& .i {
					margin-left: .4rem;
					@include size(#{map-get($defaults, base) * 2}, #{map-get($defaults, base) * 2});
					stroke: map-get($grey, color_3);
					@include smooth(.2s);
				}
		}
		&__dropdown {
			position: absolute;
			top: 95%;
			left: 0;
			min-width: 24rem;
			padding-top: map-get($defaults, base);
			padding-bottom: map-get($defaults, base);
			background-color: $colorWhite;
			@include shadow(0 .6rem 1.8rem rgba($colorBlack, .15));
			opacity: 0;
			visibility: hidden;
			@include no-touch;
			@include smooth(.3s);
			z-index: 2;
				& .navigation {
					&__element {
						height: auto;
					}
					&__link {
						@include size(100%, auto);
						padding: 1rem 1.9rem;
						font-weight: $regular;
						text-transform: none;
							&:hover {
								color: map-get($basic, secondary);
								background-color: map-get($grey, color_3);
							}
					}
				}
		}

	@include bp-desktopXS {
		&__element {
			&:not(:last-child) {
				margin-right: map-get($defaults, gutter);
			}
			&--dropdown {
				&:not(:last-child) {
					margin-right: map-get($defaults, gutter);
				}
			}
		}
		&__link {
			font-size: 1.5rem;
		}
	}
	@include bp-tablet {
		display: none;
	}
}