div.section.section--certificates-list
    div.container
        div.certificate-list.grid
            each element in certificates
                div.certificate-list__element.grid-col.grid-col--3.grid-col--l-4.grid-col--s-6
                    +certificate-element(element)

