.about {
	&-history {
		width: 100%;
		padding-bottom: multi(3);
		overflow: auto;
		@include touch-scroll;
			&__row {
				display: flex;
				width: 100%;
				flex-wrap: nowrap;
					&--up {
						padding-left: 8.5rem;
							& .about-history__element:first-child {
								border-bottom: .1rem solid map-get($grey, color_0);
							}
					}
					&--down {
						margin-top: -.1rem;
						padding-left: 20.5rem;
						border-top: .1rem solid map-get($grey, color_0);
							& .about-history__element {
								margin-top: -.1rem;
								padding-top: 4.2rem;
								padding-bottom: 0;
								border-top: .1rem solid map-get($grey, color_0);
							}
					}
			}
			&__element {
				width: 35.5rem;
				padding: 0 #{map-get($defaults, base) * 4} #{map-get($defaults, base) * 4};
				border-left: .1rem solid map-get($grey, color_0);
				flex-shrink: 0;
					&-headline {
						margin-bottom: .6rem;
						color: map-get($basic, theme);
						@include font-size(2.4rem, 3.2rem);
						font-weight: $bold;
					}
			}
	}

	@include bp-desktopXS {
		&-history {
			&__row {
				&--up {
					padding-left: 4.2rem;
				}
				&--down {
					padding-left: 10.2rem;
				}
			}
		}
	}
	@include bp-tablet {
		&-history {
			@include outbox();

				&__row {
					min-width: 100rem;
				}
		}
	}
	@include bp-tabletXS {
		&-history {
			padding-bottom: 0;
			&__row {
				&--up {
					padding-left: map-get($defaults, gutter);
				}
				&--down {
					padding-left: 13.5rem;
				}
			}
			&__element {
				width: 30.5rem;
					&:last-child {
						padding-right: map-get($defaults, gutter);
					}
			}

			&.scrollable-block {
				&:hover {
					.simplebar-track.simplebar-horizontal {
						opacity: 0;
					}
				}
			}
		}
	}
}