.brands {
	&-carousel {
		position: relative;
		width: 100%;
		padding-left: 11.5rem;
		padding-right: 11.5rem;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				display: block;
				@include size(5rem, 100%);
				background-color: $colorWhite;
				z-index: 2;
			}
			&::before {
				left: 0;
			}
			&::after {
				right: 0;
			}

			&__element {
				@include flex(auto);
				height: 11.4rem;
				align-items: center;
				outline: 0;

					& .i {
						@include auto;
						&._rus-gidro {
							@include size(17rem, 5.9rem);
						}
						&._bank-russia {
							@include size(23rem, 5.8rem);
						}
						&._rzhd {
							@include size(12rem, 5.3rem);
						}
						&._megafone {
							@include size(21rem, 3.7rem);
						}
						&._ros-atom {
							@include size(17.8rem, 6.2rem);
						}
					}
					& img {
						max-height: 11.4rem;
					}
			}
			&__arrow {
				position: absolute;
				top: 50%;
				display: flex;
				@include size(4.8rem, 4.8rem);
				align-items: center;
				justify-content: center;
				background-color: $colorWhite;
				border: .1rem solid map-get($grey, color_0);
				@include round;
				cursor: pointer;
				outline: 0;
				transform: translateY(-50%);
				z-index: 3;
					& .i {
						@include size(1.4rem, 1.1rem);
						stroke: map-get($basic, themeAltLight);
					}

					&--prev {
						left: 0;
					}
					&--next {
						right: 0;
					}

					&.swiper-button-disabled {
						opacity: 0;
						@include no-touch;
					}
			}

		&--partners {
			&::before,
			&::after {
				width: 6rem;
			}
			.brands-carousel {
				&__element {
					height: 5.8rem;
						& img {
							max-height: 5.8rem;
						}
				}
			}
		}
	}

	@include bp-tabletXS {
		&-carousel {
			width: calc(100% + #{map-get($defaults, base) * 4});
			margin-left: -#{(map-get($defaults, base) * 4) / 2};
			margin-right: -#{(map-get($defaults, base) * 4) / 2};
			padding-left: 0;
			padding-right: 0;
				&::before,
				&::after {
					display: none;
				}
				&__element {
					height: 6.8rem;
					& .i {
						&._rus-gidro {
							@include size(13.6rem, 4.7rem);
						}
						&._bank-russia {
							@include size(18.4rem, 4.6rem);
						}
						&._rzhd {
							@include size(9.6rem, 4.2rem);
						}
						&._megafone {
							@include size(16.8rem, 3rem);
						}
						&._ros-atom {
							@include size(14.2rem, 5rem);
						}
					}
					& img {
						max-height: 6.8rem;
					}
				}
				&__arrow {
					display: none;
				}

			&--partners {
				.brands-carousel {
					&__element {
						height: 6.8rem;
						& img {
							max-height: 6.8rem;
						}
					}
				}
			}
		}
	}
}