.buy {
	&-table {
		width: 100%;
			&__row {
				@include flex();
				height: 13.5rem;
				align-items: center;
				border-bottom: .1rem solid map-get($grey, color_1);
			}
			&__cell {
				padding-left: 4rem;
				color: map-get($grey, color_2);
				@include font-size(1.6rem, 2.4rem);
					&--logo {
						//width: 34.7rem;
						width: 24.929%;
					}
					&--name {
						//width: 39.5rem;
						width: 28.377%;
					}
					&--location {
						//width: 39.5rem;
						width: 28.377%;
					}
					&--website {
						//width: 25.4rem;
						width: 18.248%;
					}

					& img {
						max-width: 16.7rem;
						max-height: 9.6rem;
					}
					& a {
						color: map-get($basic, themeAlt);
					}
			}
	}

	@include bp-desktopXS {
		&-table {
			&__cell {
				&--name {
					width: 33.377%;
				}
				&--location {
					width: 23.377%;
				}
			}
		}
	}
	@include bp-tablet {
		&-table {
			&__cell {
				padding-left: 0;
				@include align_c;
					&--logo,
					&--name,
					&--location,
					&--website {
						width: 50%;
					}
			}
		}
	}
	@include bp-tabletXS {
		&-table {
			&__row {
				height: 9.7rem;
			}
			&__cell {
				& img {
					max-width: 13.6rem;
					max-height: 5rem;
				}
			}
		}
	}
}