.case {
	&-slider {
		position: relative;
		width: 100%;
			&__element {}

		&.swiper-container {
			overflow: visible;

			&.swiper-container-initialized {
				margin-top: -3.2rem;
				padding-top: 3.2rem;
				padding-bottom: 4.6rem;
				overflow: hidden;
					.case-slider__element {
						opacity: 0;
						transition: opacity .2s linear;
						&.swiper-slide-active {
							opacity: 1;
						}
					}
			}
		}
	}
	&-element {
		width: 100%;
		padding: 4rem 4.8rem 5.7rem;
		box-shadow: 0 .4rem map-get($defaults, gutter) rgba($colorBlack, .05);
			&__header {
				@include flex();
				align-items: flex-start;
				justify-content: space-between;
				margin-bottom: 3rem;
			}
			&__headline {
				max-width: 47rem;
				@include font-size(2rem, 2.4rem);
				font-weight: $bold;
			}
			&__logotype {
				max-width: 12.8rem;
					img {
						max-width: 100%;
					}
			}
			&__section {
				width: 100%;
					& + .case-element__section {
						margin-top: 3.5rem;
					}
			}
			&__title {
				margin-bottom: 1.8rem;
				color: map-get($grey, color_2);
				@include font-size(1.6rem, 1.9rem);
			}

	}
	&-array {
		margin-top: -1.2rem;
		margin-bottom: -1.2rem;
			&__element {
				margin-top: 1.2rem;
				margin-bottom: 1.2rem;
			}
	}
	&-box {
		position: relative;
		display: block;
		@include hundred;
		min-height: 23.2rem;
		padding: multi(2) multi(3) 7.4rem multi(6);
		color: map-get($basic, secondary);
		@include shadow(0 .4rem 2rem rgba($colorBlack, .05));
			&__header {
				@include flex();
				align-items: center;
				justify-content: space-between;
			}
			&__type {
				color: map-get($basic, secondary);
				@include font-size(1.4rem, 1.6rem);
				@include upp;
				letter-spacing: .1rem;
			}
			&__image {
				@include flex(9rem);
				height: 7rem;
				align-items: center;
				justify-content: center;
					& img {
						max-width: 9rem;
						max-height: 6rem;
					}
			}
			&__headline {
				@include font-size(2rem, 2.4rem);
				font-weight: $bold;
			}
			&__footer {
				position: absolute;
				left: 0;
				bottom: 0;
				@include size(100%, 7.4rem);
				padding-top: 1rem;
				padding-left: multi(6);
			}
			&__date {
				color: map-get($grey, color_2);
				@include font-size(1.6rem, 2rem);
			}
	}
	&-client {
		@include flex();
		align-items: center;
			&__image {
				width: 28rem;
					& img {
						max-width: 20.8rem;
						max-height: 10rem;
					}
			}
			&__details {
				width: calc(100% - 28rem);
			}
			&__headline {
				@include font-size(2.4rem, 3.2rem);
				font-weight: $bold;
			}
	}
	&-image {
		width: 100%;
		margin-top: multi(4);
		margin-bottom: multi(4);
		@include align_c;
	}

	@include bp-tabletXS {
		&-slider {
			&._with-arrows {
				.arrow {
					display: none;
				}
			}
		}
		&-element {
			padding: 3rem map-get($defaults, gutter);
				&__header {
					display: block;
					@include align_c;
				}
				&__headline {
					max-width: 100%;
					@include font-size();
				}
				&__logotype {
					margin: 3rem auto 0;
				}
				&__section {
					& + .case-element__section {
						margin-top: 3rem;
					}
				}
				&__title {
					margin-bottom: map-get($defaults, gutter);
				}
		}
		&-array {
			margin-top: 0;
			margin-bottom: 0;
			&__element {
				margin-top: 0;
				margin-bottom: 0;
					&:not(:last-child) {
						margin-bottom: multi(2);
					}
			}
		}
		&-box {
			min-height: 16.8rem;
			padding: multi(2) multi(2) 4rem multi(2);
				&__header {
					margin-bottom: 1.4rem;
				}
				&__image {
					@include size(7rem, 4rem);
						& img {
							max-width: 7rem;
							max-height: 4rem;
						}
				}
				&__headline {
					@include font-size(1.6rem, 2rem);
				}
				&__footer {
					height: 4rem;
					padding-top: multi(1);
					padding-left: multi(2);
				}
				&__date {
					@include font-size(1.4rem, 1.6rem);
				}
		}
		&-client {
			display: block;
			@include align_c;
				&__image,
				&__details {
					width: 100%;
				}
				&__details {
					margin-top: multi(2);
				}
				&__headline {
					@include font-size();
				}
		}
		&-image {
			margin-top: multi(2);
			margin-bottom: multi(2);
		}
	}
}