.certificate {
	&-array {
		@include flex(calc(100% + 4.5rem));
		margin: -2.25rem;
			&__element {
				width: calc(20% - 4.5rem);
				margin: 2.25rem;
			}
	}
	&-list {
		margin-top: -2.25rem;
		margin-bottom: -2.25rem;
			&__element {
				margin-top: 2.25rem;
				margin-bottom: 2.25rem;
			}
	}
	&-element {
		display: block;
			&__image {
				@include size(100%, 19.8rem);
				margin-bottom: 1.8rem;
				padding: 1rem;
				@include align_c;
				background-color: $colorWhite;
				border: map-get($defaults, base) solid map-get($grey, color_1);
					& img {
						max-width: 100%;
						max-height: 100%;
					}
			}
			&__headline {
				color: map-get($basic, themeAlt);
				@include font-size();
			}
			&__date {
				display: block;
				margin-top: .1rem;
				color: map-get($grey, color_2);
				@include font-size(1.3rem);
			}

			&--huge {
				.certificate-element {
					&__image {
						height: 46.5rem;
					}
					&__headline {
						margin-top: 2.6rem;
						@include align_c;
					}
				}
			}
	}
	&-viewer {
		@include flex();
		align-items: center;
			&__image {
				width: calc(100% - 37.6rem);
				padding-right: #{map-get($defaults, base) * 4};
				@include align_r;
					img {
						max-height: 74.8rem;
					}
			}
			&__description {
				width: 37.6rem;
				@include font-size(1.6rem, 2.4rem);

					& p {
						@include inherit;
					}
			}
	}

	@include bp-desktop {
		&-array {
			@include flex(calc(100% + #{map-get($defaults, base) * 3}));
			margin: -#{(map-get($defaults, base) * 3) / 2};
			&__element {
				width: calc(20% -  #{map-get($defaults, base) * 3});
				margin: #{(map-get($defaults, base) * 3) / 2};
			}
		}
	}
	@include bp-tablet {
		&-element {
			&--huge {
				.certificate-element {
					&__image {
						height: 32rem;
					}
				}
			}
		}
		&-viewer {
			justify-content: space-between;
			&__image {
				width: calc(50% - #{map-get($defaults, base) * 2});
				padding-right: 0;
				@include align_c;
			}
			&__description {
				width: calc(50% - #{map-get($defaults, base) * 2});
				@include font-size(1.2rem, 1.6rem);
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			width: calc(100% + #{map-get($defaults, base ) * 2});
			margin: -#{(map-get($defaults, base ) * 3) / 2} -#{map-get($defaults, base )};
			&__element {
				width: calc(50% - #{map-get($defaults, base ) * 2});
				margin: #{(map-get($defaults, base ) * 3) / 2} #{map-get($defaults, base )};
			}
		}
		&-list {
			margin-top: -1.2rem;
			margin-bottom: -1.2rem;
				&__element {
					margin-top: 1.2rem;
					margin-bottom: 1.2rem;
				}
		}
		&-element {
			&__image {
				height: 19.2rem;
				margin-bottom: map-get($defaults, gutter);
			}

			&--huge {
				.certificate-element {
					&__headline {
						margin-top: map-get($defaults, gutter);
						@include align_l;
					}
				}
			}
		}
		&-viewer {
			display: block;
			&__image,
			&__description {
				width: 100%;
			}
			&__description {
				margin-top: #{map-get($defaults, base) * 3};
				@include font-size(1.4rem, 2.2rem);
			}
		}
	}
	@include bp-mobile {
		&-element {
			&--huge {
				.certificate-element {
					&__image {
						height: 19.2rem;
					}
				}
			}
		}
	}
}