.client {
	&-array {
		@include flex();
		margin-top: -3.5rem;
		margin-bottom: -3.5rem;
			&__element {
				width: 20%;
				margin-top: 3.5rem;
				margin-bottom: 3.5rem;
			}
	}
	&-element {
		display: block;
		width: 100%;
		@include align_c;
			&__logotype {
				@include flex();
				height: 12rem;
				align-items: center;
				justify-content: center;
				margin-bottom: 3.5rem;
					& img {
						max-width: 75%;
						max-height: 75%;
					}
			}
			&__headline {
				max-width: 26rem;
				@include auto;
				color: map-get($grey, color_2);
				@include font-size(1.6rem, 2.4rem);
			}
	}

	@include bp-desktopXS {
		&-array {
			&__element {
				width: 25%;
			}
		}
	}
	@include bp-tablet {
		&-array {
			&__element {
				width: 33.33%;
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			margin-top: -1.5rem;
			margin-bottom: -1.5rem;
			&__element {
				width: 50%;
				margin-top: 1.5rem;
				margin-bottom: 1.5rem;
			}
		}
		&-element {
			&__logotype {
				height: 8.4rem;
				margin-bottom: map-get($defaults, base);
					& .i,
					& img {
						max-width: 11.5rem;
						max-height: 8.4rem;
					}
			}
			&__headline {
				@include font-size(1.2rem, 2rem);
			}
		}
	}
}