.contacts {
	&-summary {
		@include flex();
		align-items: flex-start;
			&__section {
				width: auto;
				max-width: 50%;
					& + .contacts-summary__section {
						margin-left: 15.2rem;
					}
			}

			& a {
				color: map-get($basic, themeAlt);
					&[href^="tel:"] {
						color: map-get($basic, primary);
							&:hover {
								color: map-get($basic, themeAlt);
							}
					}
			}
	}
	&-page {
		width: 100%;
		padding-top: 3.8rem;
		padding-bottom: 5.7rem;

			& .container {
				align-items: flex-start;
			}
	}
	&-section {
		width: auto;
			&__headline {
				margin-bottom: 1.8rem;
				@include font-size(2.4rem, 2.8rem);
				font-weight: $bold;
			}

			& p {
				& + p {
					margin-top: 1.4rem;
				}
			}

			& + .contacts-section {
				margin-left: 8rem;
			}
	}
	&-element {
		position: relative;
		padding-left: 3.2rem;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				@include size(2.5rem, 2.5rem);
				background-size: cover;
				background-repeat: no-repeat;
			}
			&--address {
				&::before {
					@include size(2.4rem, 2.4rem);
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C9.87827 2 7.84344 2.84285 6.34315 4.34315C4.84285 5.84344 4 7.87827 4 10C4 15.4 11.05 21.5 11.35 21.76C11.5311 21.9149 11.7616 22.0001 12 22.0001C12.2384 22.0001 12.4689 21.9149 12.65 21.76C13 21.5 20 15.4 20 10C20 7.87827 19.1571 5.84344 17.6569 4.34315C16.1566 2.84285 14.1217 2 12 2ZM12 19.65C9.87 17.65 6 13.34 6 10C6 8.4087 6.63214 6.88258 7.75736 5.75736C8.88258 4.63214 10.4087 4 12 4C13.5913 4 15.1174 4.63214 16.2426 5.75736C17.3679 6.88258 18 8.4087 18 10C18 13.34 14.13 17.66 12 19.65ZM12 6C11.2089 6 10.4355 6.2346 9.77772 6.67412C9.11992 7.11365 8.60723 7.73836 8.30448 8.46927C8.00173 9.20017 7.92252 10.0044 8.07686 10.7804C8.2312 11.5563 8.61216 12.269 9.17157 12.8284C9.73098 13.3878 10.4437 13.7688 11.2196 13.9231C11.9956 14.0775 12.7998 13.9983 13.5307 13.6955C14.2616 13.3928 14.8864 12.8801 15.3259 12.2223C15.7654 11.5645 16 10.7911 16 10C16 8.93913 15.5786 7.92172 14.8284 7.17157C14.0783 6.42143 13.0609 6 12 6ZM12 12C11.6044 12 11.2178 11.8827 10.8889 11.6629C10.56 11.4432 10.3036 11.1308 10.1522 10.7654C10.0009 10.3999 9.96126 9.99778 10.0384 9.60982C10.1156 9.22186 10.3061 8.86549 10.5858 8.58579C10.8655 8.30608 11.2219 8.1156 11.6098 8.03843C11.9978 7.96126 12.3999 8.00087 12.7654 8.15224C13.1308 8.30362 13.4432 8.55996 13.6629 8.88886C13.8827 9.21776 14 9.60444 14 10C14 10.5304 13.7893 11.0391 13.4142 11.4142C13.0391 11.7893 12.5304 12 12 12Z' fill='%23898989'/%3E%3C/svg%3E%0A");
				}
			}
			&--phone {
				&::before {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4943 13.4612C19.2743 13.4612 19.0443 13.3912 18.8243 13.3412C18.3788 13.243 17.941 13.1127 17.5143 12.9512C17.0504 12.7824 16.5404 12.7912 16.0826 12.9758C15.6248 13.1604 15.2514 13.5078 15.0343 13.9512L14.8143 14.4012C13.8403 13.8594 12.9453 13.1864 12.1543 12.4012C11.3691 11.6102 10.6961 10.7152 10.1543 9.74117L10.5743 9.46117C11.0177 9.24409 11.3651 8.8707 11.5497 8.41286C11.7343 7.95502 11.7431 7.44508 11.5743 6.98117C11.4155 6.55359 11.2852 6.11597 11.1843 5.67117C11.1343 5.45117 11.0943 5.22117 11.0643 4.99117C10.9429 4.28679 10.5739 3.64891 10.0239 3.19241C9.47392 2.73591 8.779 2.49078 8.0643 2.50117H5.0643C4.63333 2.49713 4.20655 2.58599 3.81301 2.7617C3.41947 2.93742 3.06841 3.19587 2.78373 3.51945C2.49905 3.84304 2.28743 4.22417 2.16329 4.63689C2.03914 5.04961 2.00538 5.48423 2.0643 5.91117C2.59704 10.1006 4.51033 13.9931 7.50195 16.9738C10.4936 19.9546 14.393 21.8537 18.5843 22.3712H18.9643C19.7017 22.3723 20.4137 22.1017 20.9643 21.6112C21.2807 21.3282 21.5334 20.9813 21.7058 20.5935C21.8781 20.2056 21.9663 19.7856 21.9643 19.3612V16.3612C21.9521 15.6666 21.6991 14.9977 21.2486 14.4688C20.7982 13.94 20.1781 13.5838 19.4943 13.4612ZM19.9943 19.4612C19.9941 19.6032 19.9637 19.7435 19.9051 19.8728C19.8465 20.0021 19.761 20.1175 19.6543 20.2112C19.5426 20.3076 19.4119 20.3797 19.2707 20.4228C19.1295 20.4658 18.9809 20.4789 18.8343 20.4612C15.0892 19.981 11.6105 18.2677 8.94702 15.5915C6.2835 12.9153 4.58671 9.42851 4.1243 5.68117C4.10838 5.53469 4.12233 5.3865 4.1653 5.24556C4.20827 5.10462 4.27937 4.97386 4.3743 4.86117C4.46801 4.7545 4.58336 4.66901 4.71268 4.61039C4.842 4.55176 4.98232 4.52135 5.1243 4.52117H8.1243C8.35685 4.516 8.58392 4.59205 8.76644 4.73624C8.94896 4.88043 9.07551 5.08374 9.1243 5.31117C9.1643 5.58451 9.2143 5.85451 9.2743 6.12117C9.38982 6.64832 9.54356 7.16635 9.7343 7.67117L8.3343 8.32117C8.2146 8.37609 8.10692 8.45412 8.01746 8.55077C7.92799 8.64742 7.8585 8.76079 7.81297 8.88437C7.76744 9.00795 7.74677 9.1393 7.75215 9.27089C7.75752 9.40248 7.78884 9.53172 7.8443 9.65117C9.2835 12.7339 11.7615 15.212 14.8443 16.6512C15.0878 16.7512 15.3608 16.7512 15.6043 16.6512C15.729 16.6066 15.8436 16.5376 15.9415 16.4484C16.0393 16.3591 16.1185 16.2513 16.1743 16.1312L16.7943 14.7312C17.3113 14.916 17.8389 15.0697 18.3743 15.1912C18.641 15.2512 18.911 15.3012 19.1843 15.3412C19.4117 15.39 19.615 15.5165 19.7592 15.699C19.9034 15.8815 19.9795 16.1086 19.9743 16.3412L19.9943 19.4612Z' fill='%23898989'/%3E%3C/svg%3E%0A");
				}
			}
			&--email {
				&::before {
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0542 4.31323H5.0542C4.25855 4.31323 3.49549 4.6293 2.93288 5.19191C2.37027 5.75452 2.0542 6.51758 2.0542 7.31323V17.3132C2.0542 18.1089 2.37027 18.8719 2.93288 19.4346C3.49549 19.9972 4.25855 20.3132 5.0542 20.3132H19.0542C19.8498 20.3132 20.6129 19.9972 21.1755 19.4346C21.7381 18.8719 22.0542 18.1089 22.0542 17.3132V7.31323C22.0542 6.51758 21.7381 5.75452 21.1755 5.19191C20.6129 4.6293 19.8498 4.31323 19.0542 4.31323ZM5.0542 6.31323H19.0542C19.3194 6.31323 19.5738 6.41859 19.7613 6.60613C19.9488 6.79366 20.0542 7.04802 20.0542 7.31323L12.0542 12.1932L4.0542 7.31323C4.0542 7.04802 4.15956 6.79366 4.34709 6.60613C4.53463 6.41859 4.78898 6.31323 5.0542 6.31323ZM20.0542 17.3132C20.0542 17.5784 19.9488 17.8328 19.7613 18.0203C19.5738 18.2079 19.3194 18.3132 19.0542 18.3132H5.0542C4.78898 18.3132 4.53463 18.2079 4.34709 18.0203C4.15956 17.8328 4.0542 17.5784 4.0542 17.3132V9.59323L11.5342 14.1632C11.6862 14.251 11.8587 14.2972 12.0342 14.2972C12.2097 14.2972 12.3822 14.251 12.5342 14.1632L20.0542 9.59323V17.3132Z' fill='%23898989'/%3E%3C/svg%3E%0A");
				}
			}
			&--download {
				margin-top: 3rem;
				padding-left: 0;
			}

			& a {
				color: map-get($basic, themeAlt);
				&[href^='tel:'],
				&[href^='mailto:'] {
					color: inherit;
				}
			}
	}

	@include bp-desktopXS {
		&-summary {
			&__section {
				max-width: 100%;
				& + .contacts-summary__section {
					margin-left: 6.2rem;
				}
			}
		}
		&-section {
			& + .contacts-section {
				margin-left: 3rem;
			}
		}
	}
	@include bp-tablet {
		&-summary {
			display: block;
			&__section {
				& + .contacts-summary__section {
					margin-top: 3rem;
					margin-left: 0;
				}

				& b {
					display: block;
				}
			}
		}
		&-section {
			width: 100%;
			& + .contacts-section {
				margin-top: 3rem;
				margin-left: 0;
			}
		}
	}
}