.content {
	&-page {
		width: 100%;
		padding-top: #{map-get($defaults, base) * 8};
		padding-bottom: 6.8rem;
			& > .container {
				display: block;
				@include offsets-reset;
			}

			& h2, .h2 {
				margin-top: 6rem;
				margin-bottom: 2.6rem;
					& + .accordion {
						margin-top: 3.4rem;
					}
			}
			& p {
				max-width: 103.6rem;
			}
			& .red-dash {
				max-width: 77rem;
			}
			& ul {
				margin-top: 2rem;
				margin-bottom: 4.4rem;
				li {
					position: relative;
					padding-left: multi(4);
					&::before {
						content: '';
						position: absolute;
						top: .5rem;
						left: 0;
						display: block;
						@include size(1.6rem, 1.6rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.442 2.51561C9.26017 1.98901 7.93976 1.85856 6.67772 2.1437C5.41568 2.42884 4.27962 3.1143 3.43897 4.09785C2.59833 5.08141 2.09814 6.31035 2.01301 7.6014C1.92788 8.89245 2.26237 10.1764 2.96658 11.2619C3.6708 12.3473 4.70701 13.176 5.92069 13.6244C7.13436 14.0728 8.46046 14.1168 9.70122 13.75C10.942 13.3831 12.0309 12.625 12.8056 11.5887C13.5803 10.5524 13.9993 9.29346 14 7.99961V7.38666C14 7.01847 14.2985 6.71999 14.6667 6.71999C15.0349 6.71999 15.3333 7.01847 15.3333 7.38666V7.99999C15.3324 9.58137 14.8204 11.1205 13.8735 12.387C12.9267 13.6536 11.5957 14.5802 10.0793 15.0286C8.56279 15.4769 6.942 15.4231 5.45862 14.8751C3.97524 14.327 2.70875 13.3142 1.84804 11.9876C0.987334 10.6609 0.578519 9.09162 0.682568 7.51367C0.786618 5.93572 1.39796 4.43368 2.42541 3.23156C3.45286 2.02944 4.84138 1.19165 6.38388 0.843146C7.92637 0.49464 9.5402 0.654086 10.9847 1.29771C11.321 1.44756 11.4721 1.84168 11.3223 2.17799C11.1724 2.51431 10.7783 2.66546 10.442 2.51561Z' fill='%23D70E45'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1378 2.19503C15.3983 2.45525 15.3985 2.87736 15.1383 3.13784L8.47164 9.81117C8.34664 9.9363 8.17704 10.0066 8.00017 10.0067C7.8233 10.0067 7.65366 9.93647 7.5286 9.8114L5.5286 7.8114C5.26825 7.55106 5.26825 7.12895 5.5286 6.8686C5.78895 6.60825 6.21106 6.60825 6.47141 6.8686L7.99977 8.39696L14.195 2.1955C14.4552 1.93502 14.8774 1.93481 15.1378 2.19503Z' fill='%23D70E45'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
					}

					& + li {
						margin-top: map-get($defaults, gutter);
					}
				}
			}
	}

	@include bp-tabletXS {
		&-page {
			padding-top: #{map-get($defaults, base) * 6};
			padding-bottom: #{map-get($defaults, base) * 8};

				& h2, .h2 {
					margin-top: #{map-get($defaults, base) * 7};
					margin-bottom: #{map-get($defaults, base) * 4};
					@include align_c;
						& + .accordion {
							margin-top: 3.2rem;
						}
				}
				& ul {
					margin-top: multi(3);
					margin-bottom: multi(3);
					@include font-size(1.4rem, 2rem);
					li {
						padding-left: #{map-get($defaults, base) * 3};
						&::before {
							top: .3rem;
						}
					}
				}
		}
	}
}