.event {
	&-summary {
		width: 100%;
		background-color: map-get($table, tr);
		& .container {
			justify-content: center;
			padding-top: #{map-get($defaults, base) * 3};
			padding-bottom: #{map-get($defaults, base) * 3};
		}

		&__element {
			position: relative;
			@include flex(33.33%);
			align-items: center;
			justify-content: center;
			flex-direction: column;
			@include align_c;
				&:not(:last-child) {
					border-right: .1rem solid map-get($grey, color_5);
				}

			&--date {}
			&--time {}
			&--location {}
		}
		&__label {
			@include font-size(1.6rem, 1.4rem);
				& + .event-summary__value {
					margin-top: .5rem;
				}
		}
		&__value {
			@include font-size(3.6rem, 4.3rem);
			font-weight: $bold;
		}
		&__location {
			@include font-size(1.6rem, 2.4rem);
		}
	}
	&-section {
		width: 100%;
			&__headline {}

			& .container {
				@include offsets-reset;
			}

			&--description {
				padding-top: #{map-get($defaults, base) * 8};
				padding-bottom: #{map-get($defaults, base) * 8};

					& p:not(.p--l) {
						max-width: 92rem;
					}
					& .youtube-player {
						margin-top: 7.4rem;
						margin-bottom: 7.4rem;
					}
			}
			&--program {
				padding-top: 5.8rem;
				padding-bottom: 6.6rem;
				background-color: map-get($grey, color_3);
					.event-section {
						&__headline {
							margin-bottom: 2.8rem;
						}
					}

					& .red-dash {
						max-width: 70rem;
					}

			}
			&--speakers,
			&--partners {
				padding-top: 6.5rem;
				padding-bottom: 8.5rem;
					.event-section {
						&__headline {
							margin-bottom: 4.8rem;
						}
					}


			}
			&--speakers {
				& + .event-section--partners {
					padding-top: 0;
				}
			}
			&--partners {
				padding-bottom: 9rem;
			}
			&--app {
				background-color: map-get($grey, color_3);

				& .event-app {
					@include auto;
				}
			}
	}
	&-speaker {
		@include flex();
		align-items: flex-start;
		padding: 2rem 4rem;
		border: .1rem solid map-get($grey, color_1);
		@include radius();
			&__image {
				@include size(11rem, 11rem);
				@include round;
				overflow: hidden;
					& img {
						@include hundred;
						object-fit: cover;
						object-position: center center;
					}
			}
			&__details {
				width: calc(100% - 11rem);
				padding-top: map-get($defaults, gutter);
				padding-left: 4rem;
			}
			&__name {
				@include font-size(2.4rem, 2.8rem);
				font-weight: $bold;
			}
			&__position {
				margin-top: map-get($defaults, base);
				@include font-size();
			}

			& + .event-speaker {
				margin-top: 2rem;
			}
	}
	&-app {
		width: 45rem;
		padding: 6rem 3.5rem 4.8rem 4.5rem;
		background: map-get($grey, color_3);
		@include radius();
			&__headline {
				margin-bottom: 3.6rem;
				@include align_c;
			}
	}
	&-location-info {
		padding: 4rem 3.8rem;
		@include font-size(2rem, 2.8rem);
		background: map-get($grey, color_3);
		@include radius();

			& p {
				@include inherit;
			}
	}

	@include bp-tabletXS {
		&-summary {
			& .container {
				padding-top: #{map-get($defaults, base) * 2};
				padding-bottom: #{map-get($defaults, base) * 2};
			}

			&__element {
				position: relative;
				width: 100%;
				@include align_c;
					&--date {
						order: -1;
							& .event-summary {
								&__label {
									@include font-size(2.4rem, 2.4rem);
								}
								&__value {
									@include font-size(6.4rem, 6.4rem);
								}
							}
					}
					&--time {
						margin-top: map-get($defaults, gutter);
						padding-top: #{map-get($defaults, base) * 3};
						order: 1;
							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 50%;
								display: block;
								@include size(10.8rem, .1rem);
								background: map-get($grey, color_2);
								will-change: transform;
								transform: translateX(-50%);
							}
					}
					&--location {
						order: 2;
						margin-top: map-get($defaults, gutter);
						padding-top: #{map-get($defaults, base) * 3};
							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 50%;
								display: block;
								@include size(10.8rem, .1rem);
								background: map-get($grey, color_2);
								will-change: transform;
								transform: translateX(-50%);
							}
					}

				&:not(:last-child) {
					border-right: 0;
				}
			}
			&__value {
				color: map-get($basic, theme);
			}
		}
		&-section {
			&__headline {
				margin-bottom: 3rem;
				@include align_c;
			}

			&--description {
				padding-top: 6rem;
				padding-bottom: 6rem;

				& .youtube-player {
					margin-top: 6rem;
					margin-bottom: 6rem;
				}
			}
			&--program {
				padding-top: 3rem;
				padding-bottom: 3rem;
					.event-section {
						&__headline {
							margin-bottom: 1.8rem;
						}
					}
			}
			&--speakers,
			&--partners {
				padding-top: 6rem;
			}
			&--app {
				& .container {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
		&-speaker {
			display: block;
			padding: map-get($defaults, gutter);
				&__image {
					@include auto;
						& + .event-speaker__details {
							margin-top: map-get($defaults, gutter);
						}
				}
				&__details {
					width: 100%;
					padding-top: 0;
					padding-left: 0;
					@include align_c;
				}

			& + .event-speaker {
				margin-top: map-get($defaults, gutter);
			}
		}
		&-app {
			padding: 4.2rem 4.2rem 9.2rem;
				&__headline {
					margin-bottom: 3rem;
				}
		}
		&-location-info {
			padding: 2rem map-get($defaults, gutter);
			@include font-size(1.6rem, 2.4rem);
		}
	}
}