.partners {
	&-features {
		margin-top: -3.1rem;
		margin-bottom: -3.1rem;
			&__element {
				margin-top: 3.1rem;
				margin-bottom: 3.1rem;
			}
	}
	&-feature {
		@include flex();
		align-items: flex-start;
			&__icon {
				width: 12rem;
					& .i {
						@include size(9.2rem, 9.3rem);
						//@include auto;
						stroke: map-get($basic, theme);
					}
			}
			&__details {
				width: calc(100% - 12rem);
				@include font-size(2.2rem, 3.2rem);
					& p {
						@include inherit;
					}
			}
	}

	@include bp-tablet {
		&-features {
			margin-top: 0;
			margin-bottom: 0;
			&__element {
				margin-top: 0;
				margin-bottom: 0;
					& + .partners-features__element {
						margin-top: 3rem;
					}
			}
		}
		&-feature {
			display: block;
				&__icon {
					@include auto;
						& .i {
							@include auto;
						}
				}
				&__details {
					width: 100%;
					margin-top: map-get($defaults, gutter);
					@include align_c;
					 & br {
						 display: none;
					 }
				}
		}
	}
	@include bp-tabletXS {
		&-features {
			@include outbox('true');
			padding-top: map-get($defaults, gutter);
			padding-bottom: map-get($defaults, gutter);
			background-color: map-get($grey, color_3);
		}
		&-feature {
			&__details {
				@include font-size(1.4rem, 2.2rem);
			}
		}
	}
}