.product {
	&-array {
		margin-top: -#{map-get($defaults, gutter)};
		margin-bottom: -#{map-get($defaults, gutter)};
			&__element {
				margin-top: #{map-get($defaults, gutter)};
				margin-bottom: #{map-get($defaults, gutter)};
			}
	}
	&-element {
		position: relative;
		display: flex;
		@include hundred;
		min-height: 44rem;
		flex-wrap: wrap;
		color: map-get($basic, primary);
		background-color: $colorWhite;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				@include size(100%, calc(100% - 15rem));
				background-color: map-get($grey, color_3);
				box-shadow: 0 .2rem .4rem rgba($colorBlack, .1);
				@include no-touch;
				z-index: 0;
			}
			&__image {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 91%;
				overflow: hidden;
				z-index: 1;
					& img {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						@include hundred;
						object-fit: cover;
						object-position: center center;
						will-change: transform;
						transition: transform .6s linear;
					}
			}
			&__details {
				position: relative;
				min-height: 21.5rem;
				padding: 3rem #{map-get($defaults, base) * 4} #{map-get($defaults, base) * 4};
				@include font-size(1.6rem);
				background-color: $colorWhite;
				z-index: 1;

					& p {
						@include inherit;
					}
			}
			&__headline {
				margin-bottom: map-get($defaults, base);
				color: map-get($basic, secondary);
				@include font-size(2rem);
				font-weight: $bold;
				@include smooth(.2s);
			}

		&:hover {
			color: map-get($basic, primary);
				.product-element {
					&__image {
						& img {
							transform: scale(1.02);
						}
					}
					&__headline {
						color: map-get($basic, themeAlt);
					}
				}
		}
	}
	&-section {
		width: 100%;
		@include offsets-reset;
			& + .product-section {
				padding-top: #{map-get($defaults, base) * 8};
					&--material {
						padding-top: 4.2rem;
					}
			}

			&__headline {
				&.h3 {
					margin-bottom: 3.6rem;
				}

				& + .default-slider {
					margin-top: -2rem;
				}
			}

			& .product-features {
				margin-top: 4.2rem;
			}

			&--overview {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: 1.1rem;
						}
					}
				}
			}
			&--models {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: 3.9rem;
						}
					}
				}
			}
			&--material {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: 4rem;
						}
					}
				}
			}

			& ul {
				margin-top: multi(2);
				margin-bottom: multi(4);
					& > li {
						position: relative;
						padding-left: multi(4);
						&::before {
							content: '';
							position: absolute;
							top: .5rem;
							left: 0;
							display: block;
							@include size(1.6rem, 1.6rem);
							background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.442 2.51561C9.26017 1.98901 7.93976 1.85856 6.67772 2.1437C5.41568 2.42884 4.27962 3.1143 3.43897 4.09785C2.59833 5.08141 2.09814 6.31035 2.01301 7.6014C1.92788 8.89245 2.26237 10.1764 2.96658 11.2619C3.6708 12.3473 4.70701 13.176 5.92069 13.6244C7.13436 14.0728 8.46046 14.1168 9.70122 13.75C10.942 13.3831 12.0309 12.625 12.8056 11.5887C13.5803 10.5524 13.9993 9.29346 14 7.99961V7.38666C14 7.01847 14.2985 6.71999 14.6667 6.71999C15.0349 6.71999 15.3333 7.01847 15.3333 7.38666V7.99999C15.3324 9.58137 14.8204 11.1205 13.8735 12.387C12.9267 13.6536 11.5957 14.5802 10.0793 15.0286C8.56279 15.4769 6.942 15.4231 5.45862 14.8751C3.97524 14.327 2.70875 13.3142 1.84804 11.9876C0.987334 10.6609 0.578519 9.09162 0.682568 7.51367C0.786618 5.93572 1.39796 4.43368 2.42541 3.23156C3.45286 2.02944 4.84138 1.19165 6.38388 0.843146C7.92637 0.49464 9.5402 0.654086 10.9847 1.29771C11.321 1.44756 11.4721 1.84168 11.3223 2.17799C11.1724 2.51431 10.7783 2.66546 10.442 2.51561Z' fill='%23D70E45'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1378 2.19503C15.3983 2.45525 15.3985 2.87736 15.1383 3.13784L8.47164 9.81117C8.34664 9.9363 8.17704 10.0066 8.00017 10.0067C7.8233 10.0067 7.65366 9.93647 7.5286 9.8114L5.5286 7.8114C5.26825 7.55106 5.26825 7.12895 5.5286 6.8686C5.78895 6.60825 6.21106 6.60825 6.47141 6.8686L7.99977 8.39696L14.195 2.1955C14.4552 1.93502 14.8774 1.93481 15.1378 2.19503Z' fill='%23D70E45'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
							background-size: cover;
						}

						& + li {
							margin-top: map-get($defaults, gutter);
						}

						& ul {
							& > li {
								position: relative;
								padding-left: multi(3);
									&::before {
										content: '';
										position: absolute;
										top: 1.2rem;
										left: 0;
										display: block;
										@include size(1.2rem, .1rem);
										background-color: map-get($basic, theme);
									}
									& + li {
										margin-top: map-get($defaults, gutter);
									}
							}
						}
					}
			}
			& table {
				margin-top: multi(3);
				margin-bottom: multi(3);
			}
			& .tabs {
				margin-top: 4rem;
			}
	}
	&-features {
		@include flex(calc(100% + 4.6rem));
		margin-left: -2.3rem;
		margin-right: -2.3rem;

		& .product-feature {
			width: calc(33.33% - 4.6rem);
			margin-left: 2.3rem;
			margin-right: 2.3rem;
		}
	}
	&-feature {
		width: 100%;
		color: map-get($grey, color_2);
		@include font-size(1.5rem, 2.4rem);
			&__header {
				@include flex();
				align-items: center;
				margin-bottom: #{map-get($defaults, base) * 4};
			}
			&__icon {
				position: relative;
				@include flex(8.4rem);
				height: 6.4rem;
				align-items: center;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					@include size(6.2rem, 6.2rem);
					background-color: rgba(map-get($basic, themeAltLight), .2);
					@include round;
					z-index: 0;
				}
				& .i {
					position: relative;
					z-index: 1;
					&._cogs {
						@include size(5.4rem, 5.4rem);
					}
					&._activity {
						@include size(3.8rem, 5.1rem);
					}
					&._coins {
						@include size(4.7rem, 5.7rem);
					}
				}
			}
			&__value {
				margin-left: 1.8rem;
				color: map-get($basic, theme);
				@include font-size(4.8rem, 4.8rem);
				font-weight: $bold;
			}
			&__headline {
				max-width: 26rem;
				margin-bottom: map-get($defaults, base);
				color: map-get($basic, primary);
				@include font-size();
				font-weight: $bold;
			}

			& p {
				max-width: 26rem;
				@include inherit;
			}
	}
	&-props-wrapper {
		@include flex();
		align-items: flex-start;
	}
	&-props-image {
		width: 100%;
		margin-bottom: 4.2rem;
	}
	&-props-section {
		width: 100%;
			&--type-0 {
				width: 100%;
			}
			&--type-1 {
				width: calc(100% - 36.4rem);
				margin-right: 5.8rem;
			}
			&--type-2 {
				width: 30.6rem;
			}

			&__headline {
				margin-bottom: 2.9rem;
				@include font-size(2.2rem, 3.2rem);
				font-weight: $medium;
			}
	}
	&-prop {
		position: relative;
		@include flex();
		align-items: flex-end;
		@include font-size(1.5rem);
			&__label,
			&__value {
				& span {
					position: relative;
					background-color: $colorWhite;
					z-index: 1;
				}
			}
			&__label {
				width: 16.8rem;
				font-weight: $bold;
					&::before {
						content: '';
						position: absolute;
						left: 0;
						bottom: .7rem;
						display: block;
						@include size(100%, .1rem);
						background: url("data:image/svg+xml,%3Csvg width='4' height='1.092' fill='none' version='1.1' viewBox='0 0 4 1.092' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cpath d='m0.016949 0.518c0-0.13067 0.046666-0.24733 0.14-0.35 0.10267-0.112 0.24267-0.168 0.42-0.168 0.15867 0 0.28933 0.056 0.392 0.168 0.112 0.10267 0.168 0.21933 0.168 0.35 0 0.15867-0.05133 0.294-0.154 0.406-0.09333 0.112-0.22867 0.168-0.406 0.168s-0.31733-0.05133-0.42-0.154c-0.093334-0.112-0.14-0.252-0.14-0.42z' fill='%23000'/%3E%3C/svg%3E") 0 0 repeat-x;
						opacity: .5;
						z-index: 0;
					}
					& span {
						padding-right: .5rem;
					}
			}
			&__value {
				width: calc(100% - 16.8rem);
				& span {
					display: block;
					padding-left: map-get($defaults, base);
				}
			}

		& + .product-prop {
			margin-top: 2.4rem;
		}
	}
	&-article {
		@include flex();
		align-items: center;
		padding: 4.2rem 4.2rem 4.7rem;
		border: .1rem solid map-get($grey, color_1);
			&__image {
				width: 14.5rem;
				@include align_c;
					& img {
						max-width: 14.5rem;
						max-height: 14.5rem;
					}
			}
			&__details {
				width: calc(100% - 14.5rem);
				padding-left: 7.4rem;
				color: map-get($grey, color_2);

					& p {
						max-width: 57.8rem;
					}
			}
			&__headline {
				margin-bottom: map-get($defaults, base);
				color: map-get($basic, themeAlt);
				@include font-size();
			}

		& + .product-article {
			margin-top: map-get($defaults, base);
		}
	}
	&-carousel {
		position: relative;
		width: 100%;
		overflow: visible;
			&__element {}

		&.swiper-container-initialized {
			padding-bottom: 4.8rem;
			overflow: hidden;
		}
		&._with-arrows {
			.arrow {
				top: 19.8rem;
				transform: none;
			}
		}
	}

	@include bp-desktopXS {
		&-carousel {
			&._with-arrows {
				.arrow {
					top: 18.8rem;
				}
			}
		}
		&-feature {
			&__value {
				font-size: 4rem;
			}
		}
	}
	@include bp-tablet {
		&-carousel {
			&._with-arrows {
				.arrow {
					display: none;
				}
				&.swiper-container {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			margin-top: 0;
			margin-bottom: 0;
			&__element {
				margin-top: 0;
				margin-bottom: 0;
				& + .product-array__element {
					margin-top: 3.3rem;
				}
			}
		}
		&-element {
			&__details {
				min-height: 19.5rem;
				padding: 2.5rem 2.8rem;
				@include font-size(1.6rem, 2.2rem);
			}
			&__headline {
				margin-bottom: map-get($defaults, base);
				@include font-size(1.8rem, 2.1rem);
			}
		}
		&-section {
			& + .product-section {
				padding-top: 6rem;
					&--material {
						padding-top: 6.6rem;
					}
			}

			&__headline {
				&.h3 {
					margin-bottom: 3.6rem;
					@include align_c;
				}

				& + .default-slider {
					margin-top: 0;
				}
			}

			&--overview {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: 1.5rem;
						}
					}
				}
			}
			&--models {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: 3rem;
						}
					}
				}
			}
			&--material {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: 3rem;
						}
					}
				}
			}
			&--scheme {
				.product-section {
					&__headline {
						&.h3 {
							margin-bottom: map-get($defaults, gutter);
						}
					}
				}
			}

			& ul {
				@include font-size(1.4rem, 2rem);
					li {
						padding-left: #{map-get($defaults, base) * 3};
							&::before {
								top: .3rem;
							}

							& ul {
								@include font-size(1.4rem, 2rem);
									& > li {
										&::before {
											top: 1.1rem;
										}
									}
							}
					}
			}
			& .tabs {
				margin-top: 3rem;
			}
		}
		&-features {
			display: block;
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			& .product-feature {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				& + .product-feature {
					margin-top: 3rem;
				}
			}
		}
		&-feature {
			@include align_c;
				&__header {
					justify-content: center;
					margin-bottom: 3rem;
				}
				&__headline {
					max-width: 100%;
				}

				& p {
					max-width: 100%;
					@include auto;
				}
		}
		&-props-section {
			&--type-0,
			&--type-1,
			&--type-2 {
				width: 100%;
			}
			&--type-1 {
				margin-right: 0;
			}
			&__headline {
				display: none;
			}
		}
		&-prop {
			font-size: 1.4rem;
			&__label {
				width: 13.6rem;
			}
			&__value {
				width: calc(100% - 13.6rem);
			}
		}
		&-article {
			display: block;
			padding: 0;
			border: 0;
			&__image {
				width: 100%;
					& img {
						max-height: 15rem;
					}

					& + .product-article__details {
						margin-top: 3rem;
					}
			}
			&__details {
				width: 100%;
				padding-left: 0;

				& p {
					max-width: 100%;
				}
			}
			&__headline {
				font-size: map-get($defaults, gutter);
			}

			& + .product-article {
				margin-top: 3rem;
			}
		}
		&-carousel {
			&.swiper-container-initialized {
				padding-bottom: 3.2rem;
			}
		}
	}
	@include bp-mobile {
		&-props-image {
			& img {
				width: 100%;
			}
		}
	}
}