.services {
	&-array {
		margin-top: -2.8rem;
		margin-bottom: -2.8rem;
		&__element {
			margin-top: 2.8rem;
			margin-bottom: 2.8rem;
		}
	}
	&-element {
		position: relative;
		@include hundred;
		padding-bottom: 8.8rem;
		@include shadow(0 .2rem .4rem rgba($colorBlack, .1));
			&__image {
				@include flex();
				height: 22.5rem;
				align-items: center;
				justify-content: center;
				background-color: map-get($grey, color_3);

					& .i {
						fill: map-get($basic, theme);
							&._icon-0,
							&._icon-1 {
								@include size(12rem, 11rem);
							}
							&._icon-2 {
								@include size(11.7rem, 11.7rem);
							}
							&._icon-3,
							&._icon-4 {
								@include size(12rem, 12rem);
							}
					}
			}
			&__details {
				padding: #{map-get($defaults, base) * 4} #{map-get($defaults, base) * 4} 0;
					& .button {
						position: absolute;
						left: #{map-get($defaults, base) * 4};
						bottom: #{map-get($defaults, base) * 4};
					}
			}
			&__headline {
				margin-bottom: map-get($defaults, base);
				@include font-size(2rem, 2.4rem);
				font-weight: $bold;
			}
	}

	@include bp-tabletXS {
		&-array {
			margin-top: 0;
			margin-bottom: 0;
			&__element {
				margin-top: 0;
				margin-bottom: 0;
					& + .services-array__element {
						margin-top: map-get($defaults, gutter);
					}
			}
		}
		&-element {
			&__details {
				padding: 2.2rem 2.4rem 0;
					& .button {
						left: 2.4rem;
					}
			}
			&__headline {
				@include font-size();
			}
		}
	}
}