.support {
	&-array {
		margin-top: -1.2rem;
		margin-bottom: -1.2rem;
			&__element {
				margin-top: 1.2rem;
				margin-bottom: 1.2rem;
			}
	}
	&-element {
		position: relative;
		display: flex;
		@include hundred;
		flex-direction: column;
		color: map-get($basic, secondary);
		background-color: $colorWhite;
			&__image {
				position: relative;
				width: 100%;
				height: 0;
				flex-shrink: 0;
				padding-bottom: 58%;
				@include radius(map-get($defaults, radius) map-get($defaults, radius) 0 0);
				overflow: hidden;
				z-index: 2;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						@include hundred;
						background-color: rgba(map-get($basic, secondary), .25);
						z-index: 1;
					}
					& img {
						position: absolute;
						top: 0;
						left: 0;
						@include hundred;
						object-fit: cover;
						object-position: center center;
						will-change: transform;
						@include smooth(.8s);
						z-index: 0;
					}
			}
			&__type {
				position: absolute;
				left: multi(6);
				bottom: 2.8rem;
				width: auto;
				margin: 0;
				color: $colorWhite;
				z-index: 2;
			}
			&__details {
				position: relative;
				height: 100%;
				flex-shrink: 1;
				padding: multi(3) multi(6) multi(18);
				@include shadow(0 .2rem .4rem rgba($colorBlack, .2));
				@include radius(0 0 map-get($defaults, radius) map-get($defaults, radius));
				z-index: 0;
			}
			&__headline {
				margin-bottom: multi(2);
				@include font-size(2.4rem, 3.2rem);
				font-weight: $medium;
			}
			&__footer {
				position: absolute;
				left: 0;
				bottom: 0;
				@include size(100%, multi(12));
				padding-left: multi(6);
				padding-right: multi(6);
				z-index: 2;
			}

			&:hover {
				color: map-get($basic, secondary);
					.support-element {
						&__image {
							& img {
								transform: scale(1.02);
							}
						}
					}
			}
	}

	@include bp-tablet {
		&-array {
			margin-top: 0;
			margin-bottom: 0;
			&__element {
				margin-top: 0;
				margin-bottom: 0;
					& + .support-array__element {
						margin-top: multi(3);
					}
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			&__element {
				& + .support-array__element {
					margin-top: multi(2);
				}
			}
		}
		&-element {
			display: block;
				&__type {
					left: multi(2);
					bottom: multi(2);
					@include font-size();
				}
				&__details {
					height: auto;
					padding: multi(2) multi(2) multi(12);
				}
				&__headline {
					margin-bottom: multi(1);
					@include font-size(1.6rem, 2.1rem);
				}
				&__footer {
					height: 7.2rem;
					padding-left: multi(2);
					padding-bottom: multi(4);
						& .button--alternative {
							height: 4rem;
							padding-left: multi(2);
							padding-right: multi(2);
						}
				}
		}
	}
}