.warranty {
	&-features {
		@include flex();
		justify-content: space-between;
		margin-top: multi(4);
			& .warranty-feature {
				width: auto;
				max-width: 33.33%;
			}
	}
	&-feature {
		@include flex();
		align-items: center;
			&__icon {
				width: 11.3rem;
					& .i {
						@include size(9.2rem, 9.2rem);
						stroke: map-get($basic, theme);
					}
			}
			&__description {
				width: calc(100% - 11.3rem);
				max-width: 26rem;
				color: map-get($grey, color_2);
				@include font-size();
			}
	}
	&-plans {
		@include flex(calc(100% + #{multi(3)}));
		align-items: flex-start;
		margin-left: -1.2rem;
		margin-right: -1.2rem;
			& .warranty-plan {
				width: calc(33.33% - #{multi(3)});
				margin-left: 1.2rem;
				margin-right: 1.2rem;
			}
	}
	&-plan {
		position: relative;
		width: 100%;
		min-height: 68rem;
		padding: 8.7rem multi(3) 5rem;
		border: .1rem solid map-get($grey, color_1);
		@include radius();
		will-change: transform;
			&--standard {}
			&--exclusive {
				padding-top: 10.4rem;
				@include shadow(0 .2rem .4rem rgba($colorBlack, .25));
				transform: translateY(-.6rem);
					& .warranty-plan {
						&__header {
							height: 8rem;
							color: $colorWhite;
							background: linear-gradient(115.72deg, rgba(215, 15, 70, .8) 22.56%, rgba(169, 16, 76, .8) 66.25%), map-get($basic, theme);
						}
					}
			}
			&--extanded {}

			&__header {
				position: absolute;
				top: -.1rem;
				left: -.1rem;
				@include flex(calc(100% + .2rem));
				height: 6rem;
				align-items: center;
				justify-content: center;
				color: map-get($basic, secondary);
				@include font-size(3.6rem, 4.2rem);
				font-weight: $bold;
				background-color: map-get($grey, color_3);
				@include radius(map-get($defaults,radius) map-get($defaults,radius) 0 0);
			}
			&__data {
				width: 100%;
				margin-bottom: multi(4);
				@include align_c;
				&-value {
					color: map-get($basic, theme);
					@include font-size(6.4rem, 1.05);
					font-weight: $bold;
				}
				&-text {
					color: map-get($grey, color_2);
					@include font-size(2.4rem, 2.8rem);
					font-weight: $medium;
				}
			}
			&__features {
				width: 100%;
				padding: multi(3) 0 0 1rem;
				border-top: .1rem solid map-get($grey, color_1);
				color: $colorBlack;
			}

			& .round-checked li {
				padding-left: multi(4);
			}
	}
	&-app {
		width: 100%;
			&__section {
				width: 100%;
				max-width: 73rem;
				@include auto;
				padding: 4.4rem 4.7rem multi(4);
				background-color: map-get($grey, color_3);
				@include radius();

					& + .warranty-app__section {
						margin-top: multi(3);
					}
			}
			&__headline {
				margin-bottom: multi(2);
				@include font-size(2.4rem, 2.8rem);
				font-weight: $bold;
			}
			&__row {
				display: flex;
				width: calc(100% + #{3rem});
				margin-left: -1.5rem;
				margin-right: -1.5rem;
					& + .warranty-app__row {
						margin-top: 3rem;
					}

					&--wrappable {
						flex-wrap: wrap;
							& .input__messages {
								margin-top: 2rem;
								padding-left: 1.5rem;
								padding-right: 1.5rem;
							}
					}
			}
			&__element {
				width: calc(100% - #{3rem});
				margin-left: 1.5rem;
				margin-right: 1.5rem;
					&--50 {
						width: calc(50% - #{3rem});
					}
			}

			&__label {
				margin-top: multi(4);
				margin-bottom: multi(1);
				@include font-size();
				font-weight: $medium;
					&--required {
						position: relative;
						margin-bottom: multi(3);
						padding-left: 1.2rem;
							&::before {
								content: '';
								position: absolute;
								top: 1.1rem;
								left: 0;
								display: block;
								@include size(.4rem, .4rem);
								background-color: map-get($basic, theme);
								@include round;
							}
					}
			}
			&__text {
				@include font-size(1.4rem, 2.4rem);
			}
			&__control {
				margin-top: multi(3);
				@include align_c;
			}

			& .file-uploader {
				margin-top: multi(2);
			}
	}

	@include bp-desktopXS {
		&-plans {
			width: calc(100% + #{multi(2)});
			margin-left: -.8rem;
			margin-right: -.8rem;
				& .warranty-plan {
					margin-left: .8rem;
					margin-right: .8rem;
				}
		}
		&-plan {
			&__header {
				font-size: 2.4rem;
			}
			&__features {
				padding-left: 0;
			}
		}
	}
	@include bp-tablet {
		&-features {
			display: block;
				& .warranty-feature {
					width: 100%;
					max-width: 100%;
						& + .warranty-feature {
							margin-top: multi(3);
						}
				}
		}
		&-feature {
			display: block;
			@include align_c;
				&__icon,
				&__description {
					width: 100%;
				}
				&__icon {
					& .i {
						@include auto;
					}
				}
				&__description {
					max-width: 100%;
					margin-top: multi(2);
				}
		}
		&-plans {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			& .warranty-plan {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
					&--standard,
					&--extanded {
						margin-top: multi(2);
					}
			}
		}
		&-plan {
			min-height: initial;
			padding-top: 9.2rem;

			&--standard {
				order: 3;
			}
			&--exclusive {
				padding-top: 9.2rem;
				order: 1;
				transform: none;
					& .warranty-plan {
						&__header {
							height: 6rem;
							background: linear-gradient(115.72deg, rgba(215, 15, 70, .8) 22.56%, rgba(169, 16, 76, .8) 66.25%), map-get($basic, theme);
						}
					}
			}
			&--extanded {
				order: 2;
			}

			&__header {
				font-size: 2.4rem;
			}
			&__features {
				padding-left: 0;
			}
		}
	}
	@include bp-tabletXS {
		&-feature {
			&__description {
				@include font-size(1.4rem, 2.2rem);
			}
		}
		&-plan {
			padding-left: multi(2);
			padding-right: multi(2);
			padding-bottom: 2.8rem;
				&__data {
					margin-bottom: multi(3);
					&-value {
						font-size: 4.8rem;
					}
					&-text {
						font-size: 1.8rem;
					}
				}
		}
		&-app {
			&__section {
				@include outbox();
				padding: multi(3) multi(2) 3rem;
			}
			&__headline {
				line-height: 2.4rem;
			}
			&__row {
				display: block;
				width: 100%;
				margin-left: 0;
				margin-right: 0;
					& + .warranty-app__row {
						margin-top: multi(1);
					}
			}
			&__element {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
					&--50 {
						width: 100%;
							& + .warranty-app__element--50 {
								margin-top: multi(1);
							}
					}
			}
			&__label {
				margin-top: multi(3);
					&--required {
						margin-bottom: multi(2);
					}
			}
		}
	}
}