.webinar {
	&-array {
		margin-top: -#{map-get($defaults, gutter)};
		margin-bottom: -#{map-get($defaults, gutter)};
			&__element {
				margin-top: #{map-get($defaults, gutter)};
				margin-bottom: #{map-get($defaults, gutter)};
			}
	}
	&-element {
		display: block;
		@include hundred;
		color: map-get($basic, primary);
		background-color: $colorWhite;
		overflow: hidden;
			&__image {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 65.5%;
				overflow: hidden;
					&::before,
					&::after {
						content: '';
						position: absolute;
						display: block;
					}
					&::before {
						top: 0;
						left: 0;
						@include hundred;
						background-color: rgba(map-get($basic, secondary), .1);
						z-index: 1;
					}
					&::after {
						top: 50%;
						left: 50%;
						@include size(6.4rem, 4.4rem);
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 64 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.9155 0C17.9038 0 5.05977 1.55685 5.05977 1.55685C5.05977 1.55685 4.75114e-05 1.94606 0 22.1851C-4.75107e-05 42.4242 5.05977 42.4242 5.05977 42.4242C5.05977 42.4242 20.6283 43.9811 31.9155 43.9811C43.2027 43.9811 59.1604 42.4242 59.1604 42.4242C59.1604 42.4242 63.831 42.4242 63.831 22.1851C63.831 1.94606 59.1604 1.55685 59.1604 1.55685C59.1604 1.55685 45.9271 0 31.9155 0Z' fill='%23D70E45'/%3E%3Cpath d='M42.0351 21.4067L25.6881 12.4548V31.1371L42.0351 21.4067Z' fill='white'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
						transform: translate(-50%, -50%);
						z-index: 2;
					}
					& img {
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						@include hundred;
						object-fit: cover;
						object-position: center center;
						will-change: transform;
						transition: transform .6s linear;
					}
			}
			&__details {
				padding-top: 2.7rem;
				line-height: 3.2rem;
					& p {
						line-height: inherit;
					}
			}

		&:hover {
			color: map-get($basic, themeAlt);
				.webinar-element {
					&__image {
						& img {
							transform: scale(1.02);
						}
					}
				}
		}

		&--mini {
			.webinar-element {
				&__details {
					padding-top: 1.8rem;
					@include font-size(1.6rem, 2.4rem);
						& p {
							@include inherit;
						}
				}
			}
		}
	}

	@include bp-tabletXS {
		margin-top: 0;
		margin-bottom: 0;
		&__element {
			margin-top: 0;
			margin-bottom: 0;
				& + .webinar-array__element {
					margin-top: 3.3rem;
				}
		}
		&-element {
			&__details {
				padding-top: 1.5rem;
				@include font-size(1.8rem, 2.7rem);
				& p {
					font-size: inherit;
				}
			}
		}
	}
}