.mobile-navigation {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	width: 100%;
	padding: 3rem map-get($defaults, gutter) #{map-get($defaults, base) * 4};
	background-color: $colorWhite;
	box-shadow: 0 .8rem 2.8rem rgba($colorBlack, .15);
	opacity: 0;
	@include no-touch;
	visibility: hidden;
	z-index: 10;
	@include smooth(.2s);

		&__element {
			display: block;
			width: 100%;
			padding-top: map-get($defaults, base);
			padding-bottom: map-get($defaults, base);
			color: map-get($basic, primary);
			@include font-size(2rem, 2.4rem);
			font-weight: $bold;
			border-top: .05rem solid rgba(map-get($basic, primary), .2);
			border-bottom: .05rem solid rgba(map-get($basic, primary), .2);
				& + .mobile-navigation__element {
					border-top: 0;
				}
		}

		& .website-contacts {
			margin-top: 3.2rem;
		}
		& .social-networks {
			margin-top: 3.4rem;
		}

	@include bp-tablet {
		display: block;
	}
}
.mobile-navigation-button {
	position: absolute;
	top: map-get($defaults, base);
	left: map-get($defaults, base);
	display: none;
	@include size(3.8rem, 6rem);
	align-items: center;
	justify-content: center;
	background-color: $colorWhite;
	z-index: 2;
		&__bar {
			position: relative;
			display: block;
			@include size(1.8rem, .2rem);
			background-color: map-get($grey, color_2);
			@include radius(.4rem);
				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					@include hundred;
					background-color: map-get($grey, color_2);
					@include radius(.4rem);
					will-change: transform;
					@include smooth(.2s);
				}
				&::before {
					top: -.6rem;
				}
				&::after {
					bottom: -.6rem;
				}
		}

	@include bp-tablet {
		display: flex;
	}
}