div.section.section--buy-table
    div.container
        div.buy-table
            div.buy-table__row
                div.buy-table__cell.buy-table__cell--logo
                    img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/client/mont.jpg"
                    alt='Mont'
                    )
                div.buy-table__cell.buy-table__cell--name Mont
                div.buy-table__cell.buy-table__cell--location г. Москва
                div.buy-table__cell.buy-table__cell--website
                    a(href='mailto:') mont.com
            div.buy-table__row
                div.buy-table__cell.buy-table__cell--logo
                    img(
                        class="lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                        srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                        data-src="assets/images/client/mont.jpg"
                        data-srcset="assets/images/client/mont.jpg 1x, assets/images/client/mont.jpg 2x"
                        alt='Mont'
                    )
                div.buy-table__cell.buy-table__cell--name Mont
                div.buy-table__cell.buy-table__cell--location г. Москва
                div.buy-table__cell.buy-table__cell--website
                    a(href='mailto:') mont.com

            each element in buy
                +buy-table-row(element)

        include ../../includes/pagination-desktop

