div.controls-bar
    div.container
        div.controls-bar__element
            div.select
                select.js-select(data-placeholder='Выберите город')
                    option(data-placeholder='true')
                    option(value='city_1') Город 1
                    option(value='city_2') Город 2
                    option(value='city_3') Город 3
                    option(value='city_4') Город 4
                    option(value='city_5') Город 5
                    option(value='city_6') Город 6
                    option(value='city_7') Город 7

        div.controls-bar__element
            div.select
                select.js-select(data-placeholder='Выберите округ')
                    option(data-placeholder='true')
                    option(value='city_1') Округ 1
                    option(value='city_2') Округ 2
                    option(value='city_3') Округ 3
                    option(value='city_4') Округ 4