header.website-workarea__header
    div.website-workarea__header-image
        img(
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="assets/images/workarea-header/image-19.jpg"
            data-srcset="assets/images/workarea-header/image-19.jpg 1x, assets/images/workarea-header/image-19-2x.jpg 2x"
            alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h1 Где купить
            p.p--l Приобрести продукты компании ТСС можно только у авторизованных партнеров
            div.website-workarea__header-control
                button.button.button--h-48.button--white.button--fw-700.button--hover-theme.js-popup-launcher(type='button' data-popup-trigger='get-consult-trigger' data-popup-id='get-consult') Получить консультацию
                button.button.button--h-48.button--bordered.button--fw-700.button--hover-theme-alt.js-popup-launcher(type='button' data-popup-trigger='calculate-price-trigger' data-popup-id='calculate-price') Рассчитать стоимость