.order-project {
	position: sticky;
	top: 8.4rem;
	width: 100%;
	background-color: map-get($grey, color_3);
		&__close {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			@include size(4rem, 4rem);
			align-items: center;
			justify-content: center;
			z-index: 2;
				& .i {
					@include size(2.5rem, 2.5rem);
					stroke: map-get($grey, color_2);
				}
		}
		&__header {
			position: relative;
			margin-bottom: #{map-get($defaults, base) * 4};

				& .i {
					position: absolute;
					top: .2rem;
					right: 0;
				}
		}
		&__headline {
			margin-bottom: 0;
			color: map-get($basic, primary);
		}
		&__agreement {
			width: 100%;
			margin-top: #{map-get($defaults, base) * 4};
			color: map-get($grey, color_2);
			@include font-size(1.5rem, 2.4rem);
			@include align_c;

				& p {
					max-width: 30rem;
					@include auto;
					@include inherit;
				}
		}

	@include bp-desktopXS {
		//position: fixed;
		//top: 0;
		//left: 0;
		//@include flex();
		//height: 100%;
		//align-items: center;
		//justify-content: center;
		//@include no-touch;
		//visibility: hidden;
		//overflow: hidden;
		//@include smooth(.2s);
		//z-index: 150;
		position: relative;
		top: auto;
		max-width: 36rem;
		@include auto;
			&__close {
				display: flex;
			}
			&__agreement {
				margin-top: 3rem;
			}
			& .form {
				padding: multi(6) multi(1) 4.4rem;
				overflow: auto;
			}
	}
}
.order-project-button {
	position: fixed;
	left: multi(2);
	bottom: multi(2);
	width: calc(100% - #{multi(4)});
	opacity: 0;
	visibility: hidden;
	@include no-touch;
	z-index: 150;
}