._with-arrows {
	&.swiper-container {
		width: calc(100% + 5rem);
		margin-left: -2.5rem;
		margin-right: -2.5rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	.arrow {
		position: absolute;
		top: 50%;
		display: none;
		@include size(4.8rem, 4.8rem);
		align-items: center;
		justify-content: center;
		background-color: $colorWhite;
		border: .1rem solid map-get($grey, color_0);
		@include round;
		cursor: pointer;
		outline: 0;
		transform: translateY(-50%);
		z-index: 2;
			& .i {
				@include size(1.4rem, 1.1rem);
				stroke: map-get($basic, themeAltLight);
			}

			&--prev {
				left: 0;
			}
			&--next {
				right: 0;
			}

		&.swiper-button-disabled {
			opacity: 0;
			@include no-touch;
		}
	}

	&.swiper-container-initialized {
		.arrow {
			display: flex;
		}
	}

	@include bp-desktop {
		&.swiper-container {
			width: calc(100% + #{map-get($defaults, base) * 4});
			margin-left: -#{map-get($defaults, base) * 2};
			margin-right: -#{map-get($defaults, base) * 2};
			padding-left: #{map-get($defaults, base) * 2};
			padding-right: #{map-get($defaults, base) * 2};
		}

		.arrow {
			&--prev {
				left: map-get($defaults, base);
			}
			&--next {
				right: map-get($defaults, base);
			}
		}
	}
}