.controls-bar {
	width: 100%;
	background-color: map-get($grey, color_1);
		& .container {
			padding-top: #{map-get($defaults, base) * 4};
			padding-bottom: #{map-get($defaults, base) * 4};
		}

		&__element {
			width: 33rem;
				& + .controls-bar__element {
					margin-left: #{map-get($defaults, base) * 3};
				}
		}

	@include bp-tabletXS {
		& .container {
			padding-top: #{map-get($defaults, base) * 3};
			padding-bottom: #{map-get($defaults, base) * 3};
		}

		&__element {
			width: 100%;
			& + .controls-bar__element {
				margin-top: map-get($defaults, base);
				margin-left: 0;
			}
		}
	}
}