.custom-scrollbar {
	& .simplebar {
		&-track {
			width: 1rem;
		}
		&-vertical {
			& .simplebar-scrollbar {
				left: .3rem;
			}
		}
		&-scrollbar {
			&::before {
				background: map-get($grey, color_1);
				opacity: 1;
			}
		}
	}
}