.developers {
	@include flex(auto);
	align-items: center;
	color: map-get($grey, color_2);
	@include font-size(1.6rem);
		&:hover {
			color: $colorWhite;
		}
		.i {
			@include size(8.2rem, 1.5rem);
			margin-top: .2rem;
			margin-left: .7rem;
			fill: $colorWhite;
		}

	@include bp-tablet {
		@include font-size(1.6rem, 2.4rem);
	}
	@include bp-tabletXS {
		justify-content: center;
	}
}