._with-dots {
	.dots {
		position: absolute;
		bottom: 0!important;
		display: none;
		width: 100%;
		@include align_c;
		z-index: 2;

		.swiper-pagination-bullet {
			width: .8rem;
			height: .8rem;
			margin-left: .5rem!important;
			margin-right: .5rem!important;
			background-color: rgba(map-get($grey, color_2), .5);
			outline: 0;
			opacity: 1;
			&-active {
				background-color: map-get($basic, theme);
				transform: scale(1.5);
			}
		}
	}

	&.swiper-container-initialized {
		.dots {
			display: block;
		}
	}
}