.features {
	&-array {
		@include flex(calc(100% + #{map-get($defaults, base) * 8}));
		margin-left: -#{map-get($defaults, base) * 4};
		margin-right: -#{map-get($defaults, base) * 4};

		& .features-element {
			width: calc(33.33% - #{map-get($defaults, base) * 8});
			margin-left: #{map-get($defaults, base) * 4};
			margin-right: #{map-get($defaults, base) * 4};
		}
	}
	&-element {
		width: 100%;
		color: map-get($grey, color_2);
			&__header {
				@include flex();
				align-items: center;
				margin-bottom: 2.8rem;
			}
			&__icon {
				position: relative;
				@include flex(8.4rem);
				height: 6.2rem;
				align-items: center;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						display: block;
						@include size(6.2rem, 6.2rem);
						background-color: rgba(map-get($basic, themeAltLight), .2);
						@include round;
						z-index: 0;
					}
					& .i {
						position: relative;
						z-index: 1;
					}
			}
			&__value {
				margin-left: 1.6rem;
				color: map-get($basic, theme);
				@include font-size(4.8rem, 4.8rem);
				font-weight: $bold;
			}
			&__headline {
				margin-bottom: 1.8rem;
				color: map-get($basic, primary);
				@include font-size(2.4rem);
				font-weight: $bold;
			}

			& p {
				@include inherit;
			}
			& .i {
				position: relative;
				z-index: 1;
				&._cogs {
					@include size(5.4rem, 5.4rem);
				}
				&._activity {
					@include size(3.8rem, 5.1rem);
				}
				&._coins {
					@include size(4.7rem, 5.7rem);
				}
				&._shield {
					@include size(4.3rem, 5.3rem);
				}
				&._target {
					@include size(5.7rem, 5.7rem);
				}
			}
	}

	@include bp-desktopXS {
		&-element {
			&__value {
				font-size: 4rem;
			}
		}
	}
	@include bp-tablet {
		&-array {
			width: calc(100% + 3.2rem);
			margin-left: -1.6rem;
			margin-right: -1.6rem;

			& .features-element {
				width: calc(33.33% - 3.2rem);
				margin-left: 1.6rem;
				margin-right: 1.6rem;
			}
		}
		&-element {
			@include font-size(1.5rem, 2.4rem);
			&__value {
				font-size: 3rem;
			}
			&__headline {
				margin-bottom: map-get($defaults, base);
				@include font-size()
			}

			P {
				@include inherit;
			}
		}
	}
	@include bp-tabletXS {
		&-array {
			display: block;
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			& .features-element {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
					& + .features-element {
						margin-top: 3rem;
					}
			}
		}
		&-element {
			@include font-size(1.4rem, 2.2rem);
			@include align_c;
				&__header {
					justify-content: center;
				}
				&__value {
					font-size: 4rem;
				}
				&__headline {
					font-size: 1.6rem;
				}
		}
	}
}