.fullwidth-banner {
	position: relative;
	width: 100%;
	overflow: hidden;
		& .container {
			position: relative;
			min-height: 44.8rem;
			align-items: center;
			padding-top: 4rem;
			padding-bottom: 3.2rem;
			z-index: 1;
		}

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			@include hundred;
			@include no-touch;
			z-index: 0;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					@include hundred;
					background: rgba($colorBlack, .35);
					z-index: 1;
				}
				& img {
					@include hundred;
					object-fit: cover;
					object-position: center center;
				}
		}
		&__content {
			width: calc(100% - 36.8rem);
			margin-top: -1.4rem;
			color: $colorWhite;

				& p {
					max-width: 79rem;
						&.p--l {
							& + p {
								margin-top: map-get($defaults, gutter)
							}
						}
				}
		}
		&__image {
			width: 36.8rem;
		}
		&__headline {
			color: $colorWhite;
				&.h1 {
					margin-bottom: 2rem;
					font-weight: normal;
					line-height: 4.8rem;
				}

				& b {
					display: block;
				}
		}
		&__controls {
			@include flex();
			margin-top: 4rem;
				& .button {
					& + .button {
						margin-left:  map-get($defaults, gutter);
					}
				}
		}

	@include bp-desktopXS {
		&__image {
			@include align_r;
		}
	}
	@include bp-tablet {
		&__content {
			width: calc(100% - 26rem);
		}
		&__image {
			width: 26rem;
		}
	}
	@include bp-tabletXS {
		& .container {
			padding-top: map-get($defaults, base);
			padding-bottom: 3rem;
		}

		&__content,
		&__image {
			width: 100%;
		}
		&__content {
			margin-top: 0;
			& p {
				@include font-size(1.4rem, 2rem);
					& + p {
						margin-top: map-get($defaults, base);
					}
					&.p--l {
						@include font-size(1.6rem, 2rem);
							& + p {
								margin-top: map-get($defaults, base);
							}
					}
			}
		}
		&__image {
			height: 15rem;
			margin-bottom: map-get($defaults, base);
			@include align_l;
			order: -1;

				& img {
					max-height: 15rem;
				}
		}
		&__headline {
			@include align_l;
			&.h1 {
				@include font-size(2rem, 2.4rem);
				margin-bottom: map-get($defaults, gutter);
			}
		}
		&__controls {
			margin-top: 1.8rem;
			align-items: center;
			flex-wrap: nowrap;
				& .button {
					padding-left: #{map-get($defaults, base) * 3};
					padding-right: #{map-get($defaults, base) * 3};
					@include font-size(1.6rem, 2rem);
						&--h-48 {
							height: 4.2rem;
						}
						&--white {
							flex-shrink: 0;
						}
						&--bordered {
							width: 100%;
							flex-shrink: 1;
						}
						& + .button {
							margin-left: 1.5rem;
						}
				}
		}
	}
}