.social-networks {
	@include flex(auto);
	align-items: center;
		&__element {
			@include flex(2.8rem);
			height: 2.8rem;
			align-items: center;
			justify-content: center;
				&:not(:last-child) {
					margin-right: 2.2rem;
				}

				& .i {
					@include hundred;
					fill: none;
					stroke: map-get($basic, primary);
					@include smooth(.2s);
				}
				&:hover {
					& .i {
						stroke: map-get($basic, themeAlt);
					}
				}
		}
}