.hero-slider {
	position: relative;
	width: 100%;

		&__element {
			position: relative;
			height: 33.6rem; //44.8rem
			padding-bottom: map-get($defaults, base);
			overflow: hidden;

				& .container {
					height: 100%;
					align-content: center;
					align-items: center;
						& > * {
							position: relative;
							z-index: 1;
						}
				}
				& .button {
					margin-top: 2.6rem;
				}
		}
		&__background {
			position: absolute;
			top: 0;
			left: 0;
			@include hundred;
			z-index: 0;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					@include hundred;
					background: rgba($colorBlack, .35);
					z-index: 2;
				}
				& img {
					@include hundred;
					object-fit: cover;
					object-position: center center;
				}
		}
		&__description {
			width: calc(100% - 52.6rem);
			max-width: 85rem;
			color: $colorWhite;
		}
		&__headline {
			margin: 0;
			color: inherit;
		}
		&__image {
			width: 52.6rem;
			padding-left: 12rem;
		}
		&__arrows {
			position: absolute;
			top: 0;
			left: 50%;
			@include hundred;
			max-width: map-get($defaults, container);
			@include no-touch;
			transform: translateX(-50%);
			z-index: 3;
		}
		&__arrow {
			position: absolute;
			top: 50%;
			@include flex(4.8rem);
			height: 4.8rem;
			align-items: center;
			justify-content: center;
			background-color: $colorWhite;
			@include round;
			cursor: pointer;
			transform: translateY(-50%);
			@include all-touch;
			outline: 0;
			z-index: 3;
				& .i {
					@include size(1.4rem, 1.1rem);
					stroke: map-get($basic, themeAltLight);
				}

				&--prev {
					left: -#{multi(6)};
				}
				&--next {
					right: map-get($defaults, gutter);
				}

				&.swiper-button-disabled {
					opacity: 0;
					@include no-touch;
				}
		}
		&__pagination {
			position: absolute;
			left: 0;
			@include flex();
			align-items: center;
			justify-content: center;
			z-index: 3;

				& .swiper-pagination-bullet {
					@include size(map-get($defaults, base), map-get($defaults, base));
					margin: 0;
					background-color: rgba($colorWhite, .5);
					outline: 0;
					@include smooth(.2s);
				}

				&.swiper-pagination-bullets {
					bottom: 1.8rem;
						& .swiper-pagination-bullet {
							margin: 0;
								& + .swiper-pagination-bullet {
									margin-left: 1rem;
								}
						}
						& .swiper-pagination-bullet-active {
							background-color: $colorWhite;
							transform: scale(1.5);
						}
				}
		}

	@include bp-desktopHD {
		&__arrow {
			&--prev {
				left: 0;
			}
		}
	}
	@include media(1399px) {
		&__description {
			padding-left: multi(8);
		}
		&__headline {
			@include font-size(4.2rem, 5rem);
		}
		&__arrow {
			&--prev {
				left: multi(2);
			}
		}
	}
	@include bp-desktopXS {
		&__description {
			width: calc(100% - 30rem);
			max-width: initial;
		}
		&__image {
			width: 30rem;
			padding-left: 0;
			@include align_c;
		}
	}
	@include bp-tablet {
		&__headline {
			@include font-size(multi(4), multi(5));
		}
	}
	@include bp-tabletXS {
		&__element {
			height: 36.4rem;
			padding-top: map-get($defaults, base);
			@include align_c;
				& .container {
					height: auto;
				}
				& .button {
					margin-top: map-get($defaults, gutter);
				}
		}
		&__description,
		&__image {
			width: 100%;
		}
		&__description {
			padding-left: 0;
		}
		&__image {
			height: 15rem;
			margin-bottom: map-get($defaults, base);
			order: -1;

				& img {
					max-height: 15rem;
				}
		}
		&__headline.h1 {
			@include font-size(2rem, 2.4rem);
		}
		&__arrows {
			display: none;
		}
	}
}