header.website-workarea__header
    div.website-workarea__header-image
        img(
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="assets/images/workarea-header/image-12.jpg"
            data-srcset="assets/images/workarea-header/image-12.jpg 1x, assets/images/workarea-header/image-12-2x.jpg 2x"
            alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h1 Техническая поддержка
            div.website-workarea__header-control
                a.button.button--h-48.button--white.button--fs-20.button--fw-700.button--hover-theme(href='javascript:void(0);') Войти в центр поддержки