section.section.section--support
    div.container
        header.section__header
            div.section__headline.h3 Непрерывность вашего бизнеса
            p Узнайте подробнее о&nbsp;гарантийном обслуживании и&nbsp;технической поддержке решений Diamond.

        div.support-array.grid
            each element in support
                div.support-array__element.grid-col.grid-col--6.grid-col--m-12.grid-col--s-12
                    +support-element(element)

