div.website-workarea__description
    div.container
        p Компания ТСС обладает исследовательской и&nbsp;производственной базой для оказания полного спектра услуг по&nbsp;информационной безопасности: от&nbsp;разработки средств защиты до&nbsp;консалтинга и&nbsp;аудита ИБ-инфраструктуры предприятия. Опыт разработки и&nbsp;внедрения крупных проектов позволяет нашей команде осуществлять комплексное обеспечение безопасности информационных систем.
        p Мы&nbsp;предлагаем услугу обеспечения комплексной защиты объектов информатизации, на&nbsp;которых обрабатывается конфиденциальная информация.