section.section.section--services
    div.container
        div.services-array.grid
            each element in services
                div.services-array__element.grid-col.grid-col--4.grid-col--m-6.grid-col--s-12
                    +services-element(element)