mixin brands-carousel-element(element)
    if element.svg
        div.brands-carousel__element.swiper-slide!= element.svg
    else if element.jpg
        div.brands-carousel__element.swiper-slide
            img(
                src="assets/images/brand/" + element.jpg + ".jpg"
                srcset="assets/images/brand/" + element.jpg + ".jpg 1x, assets/images/brand/" + element.jpg + "-2x.jpg 2x"
                alt=""
            )