mixin breadcrumbs(elements)
    div.breadcrumbs
        each element in elements
            div.breadcrumbs__element
                if element.url
                    a.breadcrumbs__link(href=element.url)= element.value
                else
                    span.breadcrumbs__link!= element.value