mixin buy-table-row(element)
    div.buy-table__row
        div.buy-table__cell.buy-table__cell--logo
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/client/" + element.image + ".jpg"
                data-srcset="assets/images/client/" + element.image + ".jpg 1x, assets/images/client/" + element.image + "-2x.jpg 2x"
                alt!= element.name
            )
        div.buy-table__cell.buy-table__cell--name!= element.name
        div.buy-table__cell.buy-table__cell--location!= element.location
        if element.website
            div.buy-table__cell.buy-table__cell--website
                a(href='mailto:'+ element.website +'')= element.website