mixin case-box(element)
    a.case-box(href=element.url)
        div.case-box__header
            div.case-box__type Кейсы
            div.case-box__image
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/client/" + element.image + ".jpg"
                    data-srcset="assets/images/client/" + element.image + ".jpg 1x, assets/images/client/" + element.image + "-2x.jpg 2x"
                    alt=""
                )
        div.case-box__headline!= element.headline
        div.case-box__footer
            div.case-box__date!= element.date