mixin certificate-element(element)
    a.certificate-element(
        href='javascript:void(0);'
        class=element.mod
        data-popup-trigger="certificate-"+ element.image +""
        data-popup-id="certificate-"+ element.image +""
    )
        div.certificate-element__image
            if element.original
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/certificate/image-" + element.image + "-2x.jpg"
                    data-original!=element.original
                    alt=""
                )
            else
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/certificate/image-" + element.image + "-2x.jpg"
                    alt=""
                )
        div.certificate-element__headline!= element.headline
        if element.date
            time.certificate-element__date!= element.date
