mixin checkbox(element)
    label.control(class=element.mod)
        input(class="control__input" type="checkbox" name=element.name checked=element.checked disabled=element.disabled)
        span.control__container
            span.control__checkbox
            span.control__value!= element.value

