mixin client-element(element)
    div.client-element
        div.client-element__logotype
            if element.jpg
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/client/" + element.jpg + ".jpg"
                    data-srcset="assets/images/client/" + element.jpg + ".jpg 1x, assets/images/client/" + element.jpg + "-2x.jpg 2x"
                    alt!= element.headline
                )
            else if element.svg
                != element.svg

        div.client-element__headline!= element.headline