mixin features-element(element)
    div.features-element
        div.features-element__header
            div.features-element__icon!= element.icon
            div.features-element__value!= element.value
        div.features-element__headline!= element.headline
        p!= element.desc