mixin form-rows(button)
    div.form__row
        +input({mod: 'input--required', type: 'text', name: 'USER_NAME', placeholder: 'Имя и фамилия'})
    div.form__row
        +input({mod: 'input--required', type: 'email', name: 'USER_EMAIL', placeholder: 'Электронная почта'})
    div.form__row
        +input({type: 'text', name: 'COMPANY_NAME', placeholder: 'Компания'})
    div.form__row
        +input({inputMod: 'js-input-tel', type: 'tel', name: 'USER_PHONE', placeholder: 'Телефон'})
    div.form__row
        button.button.button--w-100.button--h-48.button--fs-20.button--fw-700(type='submit')!= button

    div.order-project__agreement
        p Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных.