mixin input(element)
    div.input.js-input(class=element.mod)
        if element.label
            label.input__label!= element.label
        if element.textarea
            textarea.input__field.input__field--textarea( name=element.name placeholder=element.placeholder)
        else
            if element.required
                input.input__field(
                    id=element.id
                    class=element.inputMod
                    type=element.type
                    name=element.name
                    placeholder=element.placeholder
                    required
                )
            else
                input.input__field(
                    id=element.id
                    class=element.inputMod
                    type=element.type
                    name=element.name
                    placeholder=element.placeholder
                )
        div.input__messages.js-input-messages

