mixin news-item(element)
    a.news-item(href='javascript:void(0);')
        div.news-item__image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/news/items/image-" + element.image + ".jpg"
                data-srcset="assets/images/news/items/image-" + element.image + ".jpg 1x, assets/images/news/items/image-" + element.image + "-2x.jpg 2x"
                alt!= element.headline
            )
        div.news-item__headline!= element.headline
        div.news-item__preview
            p!= element.preview
        time.news-item__date!= element.date