mixin news-element(element)
    a.news-element(href='javascript:void(0);')
        if element.type
            div.news-element__type= element.type
        div.news-element__headline!= element.headline
        time.news-element__date!= element.date