mixin product-element(element)
    a.product-element(href='javascript:void(0);')
        div.product-element__image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/products/image-"+ element.image +".jpg"
                data-srcset="assets/images/product/image-"+ element.image +".jpg 1x, assets/images/product/image-"+ element.image +"-2x.jpg 2x"
                alt=""
            )
        div.product-element__details
            div.product-element__headline!= element.headline
            p!= element.desc