mixin product-article(element)
    a.product-article(href='javascript:void(0);')
        div.product-article__image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/products/article/image-" + element.image + ".jpg"
                data-srcset="assets/images/product/article/image-" + element.image + ".jpg 1x, assets/images/product/article/image-" + element.image + "-2x.jpg 2x"
                alt=""
            )
        div.product-article__details
            div.product-article__headline!= element.headline
            div.product-article__preview!= element.preview
