mixin review-carousel-element(element)
    div.reviews-carousel__element.swiper-slide
        div.reviews-carousel__element-details
            p!= element.text
            div.reviews-carousel__element-name!= element.name
            div.reviews-carousel__element-position!= element.position
        div.reviews-carousel__element-image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/reviews-carousel/image-"+ element.image +".png"
                data-srcset="assets/images/reviews-carousel/image-"+ element.image +".png 1x, assets/images/reviews-carousel/image-"+ element.image +"-2x.png 2x"
                alt!= element.name
            )