mixin review-carousel-thumb-element(element)
    div.reviews-carousel-thumbs__element.swiper-slide
        div.reviews-carousel-thumbs__element-image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/reviews-carousel/thumbs/image-"+ element.image +".jpg"
                data-srcset="assets/images/reviews-carousel/thumbs/image-"+ element.image +".jpg 1x, assets/images/reviews-carousel/thumbs/image-"+ element.image +"-2x.jpg 2x"
                alt!= element.name
            )
        div.reviews-carousel-thumbs__element-details
            div.reviews-carousel-thumbs__element-name!= element.name
            div.reviews-carousel-thumbs__element-position!= element.position