mixin scroll-navigation(elements, button)
    div.scroll-navigation.js-scroll-navigation(class=button ? 'scroll-navigation--with-control' : '')
        div.container
            each element in elements
                a.scroll-navigation__element.js-scroll-link(href= element.url class=element.mod)
                    span= element.value
            if button
                button.button(type='button' class=button.mod ? button.mod : '' data-popup-trigger=button.trigger data-popup-id=button.id)!= button.value
