mixin services-element(element)
    div.services-element
        div.services-element__image
            != element.icon
        div.services-element__details
            div.services-element__headline!= element.headline
            p.p--s!= element.text
            button.button.js-order-service-trigger(type='button') Заказать услугу