mixin support-element(element)
    a.support-element(href='javascript:void(0);')
        div.support-element__image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/support/image-" + element.image + ".jpg"
                data-srcset="assets/images/support/image-" + element.image + ".jpg 1x, assets/images/support/image-" + element.image + "-2x.jpg 2x"
                alt=""
            )
            div.support-element__type.h3!= element.type
        div.support-element__details
            div.support-element__headline!= element.headline
            p!= element.preview
        div.support-element__footer
            div.button.button--alternative
                | Подробнее
                | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>

