mixin warranty-plan(element)
    div.warranty-plan(class=element.mod)
        div.warranty-plan__header!= element.headline
        div.warranty-plan__data
            div.warranty-plan__data-value!= element.value
            div.warranty-plan__data-text часов&nbsp;/ месяц
        div.warranty-plan__features
            ul.round-checked
                each item in element.features
                    li!= item