mixin webinar-element(element)
    a.webinar-element(href='javascript:void(0);' class=element.mod)
        div.webinar-element__image
            img(
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                data-src="assets/images/webinar/image-" + element.image + ".jpg"
                data-srcset="assets/images/webinar/image-" + element.image + ".jpg 1x, assets/images/webinar/image-" + element.image + "-2x.jpg 2x"
            )
        div.webinar-element__details
            p!= element.preview
