mixin youtube-player(element)
    div.youtube-player.js-youtube-player
        a.youtube-player__poster.js-youtube-button(href='javascript:void(0);' data-video-id!= element.id style='background-image: url("'+ element.poster +'")')
            span.youtube-player__poster-play
        div.youtube-player__video
            div.youtube-player__video-container.js-youtube-player-container