include ../mixins/_breadcrumbs
include ../mixins/_checkbox
include ../mixins/_input
include ../mixins/_product-element
include ../mixins/_webinar-element
include ../mixins/_news-element
include ../mixins/_news-item
include ../mixins/_brands-carousel-element
include ../mixins/_scroll-navigation
include ../mixins/_product-prop
include ../mixins/_certificate-element
include ../mixins/_product-article
include ../mixins/_arrows
include ../mixins/_features-element
include ../mixins/_client-element
include ../mixins/_youtube-player
include ../mixins/_pages-list-element
include ../mixins/_partners-feature
include ../mixins/_form-rows
include ../mixins/_services-element
include ../mixins/_buy-table-row
include ../mixins/_case-box
include ../mixins/_support-element
include ../mixins/_warranty-feature
include ../mixins/_warranty-plan
include ../mixins/_review-carousel-element
include ../mixins/_review-carousel-thumb-element