extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Компания';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {value: 'Компания'}
        ];
    -
        var newsAndEvents =
        [
            {type: 'Мероприятие', headline: 'PT&nbsp;ISIM 3.0&nbsp;&mdash; запуск новой версии продукта', date: 'Сегодня'},
            {type: 'Новости', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Новости', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
            {type: 'Мероприятие', headline: 'PT&nbsp;ISIM 3.0&nbsp;&mdash; запуск новой версии продукта', date: 'Сегодня'},
            {type: 'Новости', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Новости', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'}
        ];
    -
        var news =
        [
            {type: 'Новости', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Новости', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
        ];
    -
        var events =
        [
            {type: 'Мероприятие', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Мероприятие', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
            {type: 'Мероприятие', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Мероприятие', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
        ];
    -
        var features =
        [
            {icon: '<svg class="i _shield" width="43" height="53" viewBox="0 0 43 53" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 26.9474C1 43.0526 14.6667 50.3597 21.5 52C28.3333 50.3597 42 43.0528 42 26.9475V9.50019L21.5 1L1 9.50008V26.9474Z" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><rect x="12" y="22" width="20" height="15" rx="4" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 22H27V18C27 15.2386 24.7614 13 22 13C19.2386 13 17 15.2386 17 18V22Z" stroke="#D70E45" stroke-width="2"/><circle cx="22" cy="28" r="2" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><line x1="22" y1="31" x2="22" y2="33" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>', value: '150+', headline: 'реализованных проектов', desc: 'Мы выполнили более 150 проектов по комплексной защите информационных систем.'},
            {icon: '<svg class="i _coins" width="47" height="57" viewBox="0 0 47 57" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46 6.5C46 7.07504 45.7442 7.69626 45.1332 8.34382C44.5172 8.9967 43.5791 9.63003 42.344 10.1837C39.8761 11.29 36.3966 12 32.5 12C28.6034 12 25.1239 11.29 22.656 10.1837C21.4209 9.63003 20.4828 8.9967 19.8668 8.34382C19.2558 7.69626 19 7.07504 19 6.5C19 5.92496 19.2558 5.30374 19.8668 4.65618C20.4828 4.0033 21.4209 3.36997 22.656 2.81632C25.1239 1.71002 28.6034 1 32.5 1C36.3966 1 39.8761 1.71002 42.344 2.81632C43.5791 3.36997 44.5172 4.0033 45.1332 4.65618C45.7442 5.30374 46 5.92496 46 6.5Z" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 7V10.6863C19 14 25.0442 16 32.5 16C39.9558 16 46 14 46 11V7" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M46 16C46 18.7614 39.9558 21 32.5 21C25.0442 21 19 18.7614 19 16" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 16V19.6863C19 23 25.0442 25 32.5 25C39.9558 25 46 23 46 20V16" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M46 25C46 27.7614 39.9558 30 32.5 30C25.0442 30 19 27.7614 19 25" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 25V28.6863C19 32 25.0442 34 32.5 34C39.9558 34 46 32 46 29V25" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M46 34C46 36.7614 39.9558 39 32.5 39C25.0442 39 19 36.7614 19 34" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 34V37.6863C19 41 25.0442 43 32.5 43C39.9558 43 46 41 46 38V34" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 51C1 51.3448 1.17762 51.6653 1.47 51.848L5.47 54.348C5.6003 54.4294 5.74761 54.4797 5.9005 54.495L20.9005 55.995C21.1146 56.0164 21.33 55.9682 21.5145 55.8575L31.5145 49.8575C31.8157 49.6768 32 49.3513 32 49V14.5C32 13.2801 31.4443 12.1914 30.5879 11.2836C29.7364 10.3812 28.551 9.61391 27.1621 8.9913C24.382 7.74505 20.6115 7 16.5 7C12.3885 7 8.61798 7.74505 5.8379 8.9913C4.449 9.61391 3.26361 10.3812 2.41214 11.2836C1.55565 12.1914 1 13.2801 1 14.5V51Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 14.5C30 15.075 29.7442 15.6963 29.1332 16.3438C28.5172 16.9967 27.5791 17.63 26.344 18.1837C23.8761 19.29 20.3966 20 16.5 20C12.6034 20 9.12389 19.29 6.65601 18.1837C5.42092 17.63 4.48284 16.9967 3.86682 16.3438C3.25583 15.6963 3 15.075 3 14.5C3 13.925 3.25583 13.3037 3.86682 12.6562C4.48284 12.0033 5.42092 11.37 6.65601 10.8163C9.12389 9.71002 12.6034 9 16.5 9C20.3966 9 23.8761 9.71002 26.344 10.8163C27.5791 11.37 28.5172 12.0033 29.1332 12.6562C29.7442 13.3037 30 13.925 30 14.5Z" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 15V18.6863C3 22 9.04416 24 16.5 24C23.9558 24 30 22 30 19V15" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 24C30 26.7614 23.9558 29 16.5 29C9.04416 29 3 26.7614 3 24" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 24V27.6863C3 31 9.04416 33 16.5 33C23.9558 33 30 31 30 28V24" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 33C30 35.7614 23.9558 38 16.5 38C9.04416 38 3 35.7614 3 33" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 33V36.6863C3 40 9.04416 42 16.5 42C23.9558 42 30 40 30 37V33" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 42C30 44.7614 23.9558 47 16.5 47C9.04416 47 3 44.7614 3 42" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 42V45.6863C3 49 9.04416 51 16.5 51C23.9558 51 30 49 30 46V42" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>', value: '700 млрд', headline: 'совокупная капитализация', desc: 'Защищаем информационные активы компаний с&nbsp;совокупной капитализацией более 700&nbsp;млрд. руб.'},
            {icon: '<svg class="i _target" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M47 17.4299C49.5307 21.338 51 25.9974 51 31C51 44.8071 39.8071 56 26 56C12.1929 56 1 44.8071 1 31C1 17.1929 12.1929 6 26 6C30.7615 6 35.2121 7.33115 39 9.64161" stroke="#D70E45" stroke-width="2" stroke-linecap="round"/><path d="M40.1369 23.5C41.3262 25.737 42 28.2898 42 31C42 39.8366 34.8366 47 26 47C17.1634 47 10 39.8366 10 31C10 22.1634 17.1634 15 26 15C28.4208 15 30.7161 15.5376 32.7729 16.5" stroke="#D70E45" stroke-width="2" stroke-linecap="round"/><path d="M26.3907 24.0109C22.5307 23.7951 19.2267 26.7492 19.0109 30.6092C18.7951 34.4692 21.7492 37.7732 25.6092 37.989C29.4692 38.2048 32.7732 35.2507 32.989 31.3907C33.0178 30.8766 32.9903 30.3724 32.9119 29.884" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.9999 30.5854L52 4.58533" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M45.0879 5.98319L51.0711 -2.2769e-05L52.8116 3.91626L46.8284 9.89947L45.0879 5.98319Z" fill="#D70E45"/><path d="M50.7447 11.6402L56.7279 5.65696L52.8116 3.91639L46.8284 9.8996L50.7447 11.6402Z" fill="#D70E45"/></svg>', value: '200+', headline: 'компаний за&nbsp;10&nbsp;лет работы', desc: '3&nbsp;федеральных службы и&nbsp;1&nbsp;агенство, 20&nbsp;органов исполнительной власти, более 100 юридических лиц.'}
        ];
    -
        var clients =
        [
            {headline : 'Федеральная служба государственной регистрации, кадастра и&nbsp;картографии', jpg: 'roseestr'},
            {headline : 'Федеральная миграционная служба', jpg: 'fms'},
            {headline : 'Администрация г. Рязани', jpg: 'ryazan'},
            {headline : 'Администрация г. Воронежа', jpg: 'voronezh'},
            {headline : 'Департамент жилищной политики и&nbsp;жилищного фонда&nbsp;г. Москвы', jpg: 'homeland-policy-moscow'},
            {headline : 'Департамент жилищной политики и&nbsp;жилищного фонда&nbsp;г. Москвы', jpg: 'homeland-policy-moscow-1'},
            {headline : 'Департамент семейной и&nbsp;молодежной политики&nbsp;г. Москвы', jpg: 'family-policy-moscow'},
            {headline : 'Комитет по архитектуре и градостроительству г. Москвы', jpg: 'architecture-commitee'},
            {headline : '31&nbsp;городская клиническая больница&nbsp;г. Москвы', jpg: '31-hospital'},
            {headline : 'Мегафон', svg: '<svg class="i _megafon" width="177" height="31" viewBox="0 0 177 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.6418 0.0575139V16.0464C17.6418 16.7941 17.0595 17.3117 16.3609 17.3117H14.4395C14.323 17.3117 14.2648 17.4267 14.2648 17.4842V30.885C14.7306 30.885 15.1964 31 15.7204 31C24.3957 31 31.4408 24.0408 31.4408 15.4712C31.4408 7.59184 25.4437 0.977737 17.6418 0.0575139ZM17.2924 23.9833C16.1862 23.9833 15.3711 23.0631 15.3711 22.0853C15.3711 20.9926 16.3026 20.1874 17.2924 20.1874C18.3987 20.1874 19.2138 21.1076 19.2138 22.0853C19.3303 23.1206 18.3987 23.9833 17.2924 23.9833ZM21.8921 23.9833C20.7859 23.9833 19.9707 23.0631 19.9707 22.0853C19.9707 20.9926 20.9023 20.1874 21.8921 20.1874C22.9984 20.1874 23.8135 21.1076 23.8135 22.0853C23.8135 23.0631 23.0566 23.9833 21.8921 23.9833ZM26.55 23.9833C25.4437 23.9833 24.6286 23.0631 24.6286 22.0853C24.6286 20.9926 25.5602 20.1874 26.55 20.1874C27.6562 20.1874 28.4714 21.1076 28.4714 22.0853C28.4714 23.0631 27.6562 23.9833 26.55 23.9833Z" fill="#00B956"/><path d="M15.7204 0C7.04507 0 0 6.95918 0 15.5288C0 23.0631 5.29835 29.2171 12.4016 30.6549V16.679C12.4016 16.0464 12.9839 15.5288 13.5661 15.4137H15.4875C15.6039 15.4137 15.6622 15.2987 15.6622 15.2412L15.7204 0ZM12.6928 12.7681C11.5865 12.7681 10.7714 11.8479 10.7714 10.8701C10.7714 9.77737 11.703 8.97217 12.6928 8.97217C13.799 8.97217 14.6141 9.89239 14.6141 10.8701C14.6141 11.8479 13.7408 12.7681 12.6928 12.7681Z" fill="#00B956"/><path d="M173.099 8.45455V14.321H165.181V8.45455H161.163V23.9833H165.181V17.7143H173.099V23.9833H177V8.45455H173.099ZM107.656 10.2375C107.015 8.85714 105.734 8.10946 104.453 8.10946C103.172 8.10946 101.833 8.85714 101.251 10.2375L94.9046 24.0408H99.0967L100.494 20.7625H108.645L110.043 24.0408H114.235L107.656 10.2375ZM101.6 17.6568L103.988 11.9629C104.104 11.7904 104.162 11.7904 104.279 11.7904C104.395 11.7904 104.57 11.7904 104.57 11.9629L106.957 17.6568H101.6ZM60.8438 5.69388C58.9806 5.69388 57.8161 6.67161 56.9428 8.62709L51.8773 20.3024L46.7536 8.56957C45.9385 6.67161 44.7158 5.63636 42.8526 5.63636C41.1059 5.63636 39.3592 6.78664 39.3592 9.4898V23.9258H43.2602V10.0074L48.4421 21.5677C49.0826 23.2356 50.3053 24.2134 51.8773 24.2134C53.5658 24.2134 54.672 23.2356 55.3125 21.5677L60.4944 10.0074V24.0983H64.3954V9.66234C64.3372 6.95918 62.5905 5.69388 60.8438 5.69388ZM71.2658 20.705C71.0911 20.705 70.8582 20.5325 70.8582 20.3024V17.5417H80.6398V14.3785H70.8582V12.0204C70.8582 11.8479 71.0329 11.6178 71.2658 11.6178H80.9891V8.33952H69.3444C67.947 8.33952 67.0155 9.43228 67.0155 10.6401V21.5102C67.0155 22.6605 68.0053 23.8108 69.3444 23.8108H80.9891V20.5325H71.2658V20.705ZM87.5684 23.9833V12.1354C87.5684 11.9629 87.7431 11.7328 87.976 11.7328H97.6993V8.45455H86.0546C84.6572 8.45455 83.7257 9.54731 83.7257 10.7551V23.9258L87.5684 23.9833ZM158.601 16.2764C158.601 10.8701 156.214 8.33952 150.275 8.33952H148.878C142.939 8.33952 140.552 10.9276 140.552 16.2764C140.552 21.5677 142.939 24.2134 148.878 24.2134H150.159C156.214 24.0983 158.601 21.5677 158.601 16.2764ZM150.159 20.9351H148.878C145.676 20.9351 144.337 19.4972 144.337 16.2764C144.337 13.1707 145.443 11.6178 148.878 11.6178H150.159C153.478 11.6178 154.7 13.1707 154.7 16.2764C154.7 19.4397 153.478 20.9351 150.159 20.9351ZM129.664 6.03896H121.862C116.04 6.03896 113.711 8.97217 113.711 13.9759C113.711 14.7811 113.827 15.5288 113.886 16.1614C114.526 19.7273 116.68 21.9128 122.095 21.9128H123.842V23.9258H127.743V21.9128H129.431C134.904 21.9128 137.059 19.7273 137.641 16.1614C137.757 15.5288 137.815 14.7811 137.815 13.9759C137.757 8.97217 135.37 6.03896 129.664 6.03896ZM121.979 18.692C119.3 18.692 118.369 17.7143 117.787 16.1039C117.612 15.5288 117.612 14.7236 117.612 13.9184C117.612 10.6401 119.184 9.25974 121.396 9.25974H123.784V18.692H121.979ZM133.74 16.2764C133.158 17.8293 132.168 18.8646 129.548 18.8646H127.801V9.37477H130.188C132.401 9.37477 133.973 10.7551 133.973 14.0334C133.914 14.8961 133.914 15.5863 133.74 16.2764Z" fill="#00B956"/></svg>'},
            {headline : 'РусГидро', svg: '<svg class="i _rushydro" width="170" height="58" viewBox="0 0 170 58" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M83.8133 23.5098C83.8133 22.9427 83.7202 22.4496 83.5339 22.0298C83.3464 21.6095 83.0631 21.2672 82.6815 21.0016C82.351 20.7746 81.9647 20.6107 81.526 20.5152C81.0841 20.4194 80.5359 20.3727 79.8808 20.3727H78.1464V26.9479H79.5745C80.4205 26.9479 81.1037 26.8764 81.6244 26.7329C82.1464 26.5885 82.5798 26.3336 82.9261 25.9637C83.2349 25.6325 83.4611 25.2719 83.6015 24.8818C83.7438 24.4901 83.8133 24.0352 83.8133 23.5098ZM85.9917 23.4555C85.9917 24.1701 85.8703 24.8462 85.6258 25.4829C85.3831 26.121 85.0474 26.6645 84.6172 27.1125C84.0736 27.6725 83.4362 28.0982 82.7038 28.3854C81.97 28.672 81.0434 28.8162 79.9234 28.8162H78.1464V34.95H76.0552V18.4934H80.008C80.9372 18.4934 81.7306 18.5736 82.3857 18.7359C83.0421 18.8986 83.6192 19.1609 84.1208 19.5216C84.7044 19.9406 85.1641 20.4724 85.4953 21.1177C85.8251 21.7628 85.9917 22.5421 85.9917 23.4555Z" fill="#231F20"/><path d="M98.5361 24.2148L92.1845 38.9088H90.0593L92.1727 34.43L87.8802 24.2148H90.0265L93.2514 32.1623L96.4646 24.2148H98.5361Z" fill="#231F20"/><path d="M105.276 35.1892C104.467 35.1892 103.722 35.0745 103.045 34.8491C102.37 34.6214 101.788 34.2758 101.302 33.8155C100.817 33.3539 100.438 32.7717 100.171 32.0707C99.9026 31.3683 99.7682 30.5435 99.7682 29.5972C99.7682 28.6541 99.9079 27.8403 100.187 27.1551C100.465 26.4699 100.836 25.8936 101.302 25.4253C101.766 24.9592 102.347 24.5972 103.042 24.3454C103.735 24.0908 104.48 23.965 105.276 23.965C105.926 23.965 106.551 24.047 107.154 24.2148C107.756 24.3813 108.292 24.5737 108.764 24.7911V26.8201H108.648C108.509 26.7099 108.328 26.5847 108.105 26.4438C107.882 26.3034 107.613 26.1597 107.297 26.0116C107.023 25.8836 106.697 25.7722 106.323 25.6751C105.949 25.5796 105.59 25.5316 105.244 25.5316C104.217 25.5316 103.391 25.8857 102.765 26.5931C102.142 27.3013 101.83 28.3021 101.83 29.5972C101.83 30.866 102.133 31.8537 102.735 32.5612C103.336 33.2686 104.173 33.6229 105.244 33.6229C105.894 33.6229 106.509 33.5023 107.095 33.2581C107.68 33.0156 108.198 32.7015 108.648 32.3152H108.764V34.3435C108.568 34.4267 108.321 34.5276 108.025 34.6465C107.731 34.7663 107.461 34.853 107.221 34.9105C106.885 35.0005 106.581 35.0699 106.313 35.1186C106.045 35.1645 105.699 35.1892 105.276 35.1892Z" fill="#231F20"/><path d="M121.092 20.4391H113.851V34.95H111.758V18.4934H121.092V20.4391Z" fill="#231F20"/><path d="M129.731 34.95H127.763V26.944L122.204 34.95H120.406V24.2148H122.372V32.095L127.87 24.2148H129.731V34.95Z" fill="#231F20"/><path d="M140.482 33.4111V25.7335H137.099C137.008 27.3349 136.767 28.7965 136.374 30.1211C135.984 31.4426 135.493 32.5402 134.9 33.4111H140.482ZM143.643 37.5246H141.792V34.9206H134.012V37.5246H132.162V33.4111H132.945C133.614 32.4124 134.161 31.1068 134.588 29.4961C135.016 27.8836 135.228 26.1244 135.228 24.2148H142.469V33.4111H143.643V37.5246Z" fill="#231F20"/><path d="M148.555 25.8608V33.1396C149.077 33.3709 149.524 33.3291 149.893 33.4111C150.262 33.4936 150.688 33.5376 151.165 33.5376C152.196 33.5376 152.997 33.1934 153.567 32.5082C154.137 31.8222 154.423 30.8196 154.423 29.5002C154.423 28.2771 154.209 27.7251 153.779 27.0491C153.349 26.3728 152.65 26.0353 151.684 26.0353L148.555 25.8608ZM152.171 24.3145C153.524 24.3145 154.58 24.8004 155.337 25.7755C156.095 26.7494 156.473 27.6588 156.473 29.2988C156.473 31.0863 156.003 32.5094 155.062 33.5709C154.122 34.6301 152.932 35.1611 151.495 35.1611C150.91 35.1611 150.392 35.2994 149.942 35.177C149.491 35.0556 149.028 35.2654 148.555 35.0085V38.9089H146.568V24.2148H148.555L152.171 24.3145V24.3145Z" fill="#231F20"/><path d="M167.251 29.5873C167.251 28.1958 166.974 27.1638 166.417 26.4876C165.859 25.8108 165.068 25.4745 164.038 25.4745C163.002 25.4745 162.205 25.8108 161.644 26.4876C161.083 27.1638 160.804 28.1958 160.804 29.5873C160.804 30.931 161.083 31.952 161.644 32.6464C162.205 33.3434 163.002 33.6903 164.038 33.6903C165.059 33.6903 165.851 33.3493 166.411 32.6667C166.971 31.9848 167.251 30.9571 167.251 29.5873ZM169.302 29.5873C169.302 31.3934 168.824 32.7881 167.865 33.773C166.907 34.7558 165.632 35.2464 164.038 35.2464C162.395 35.2464 161.105 34.7394 160.164 33.7238C159.223 32.708 158.752 31.3296 158.752 29.5873C158.752 27.7927 159.238 26.4005 160.206 25.4064C161.175 24.4123 162.453 23.9158 164.038 23.9158C165.632 23.9158 166.907 24.4109 167.865 25.4005C168.824 26.3905 169.302 27.7868 169.302 29.5873Z" fill="#231F20"/><path opacity="0.6" d="M10.5193 48.1044L13.9394 44.6177C13.9394 44.6177 19.5798 48.9267 23.3801 50.3201C27.1832 51.7141 29.9078 56.0225 29.9078 56.0225C29.9078 56.0225 36.3065 57.4808 26.865 57.6703C17.4249 57.8612 12.2291 53.2361 12.2291 53.2361L10.5193 48.1044Z" fill="#F2521B"/><path opacity="0.6" d="M5.19599 27.8272C5.19599 27.8272 -4.05538 21.2382 4.87939 14.5837L13.4322 9.32547C13.4322 9.32547 14.32 14.3944 35.1668 22.5669C56.0126 30.7407 55.3781 33.6557 55.7595 34.607C56.1406 35.5573 56.4562 39.6752 53.0356 43.9836C49.6126 48.293 43.2778 51.5882 43.2778 51.5882C43.2778 51.5882 44.7351 47.9127 39.8552 44.6806C34.9773 41.4503 24.4582 36.699 20.9748 35.1782C17.4871 33.6557 5.19599 27.8272 5.19599 27.8272Z" fill="#F2521B"/><path opacity="0.6" d="M28.8932 0.199453C28.8932 0.199453 40.1728 0.516767 44.9884 5.20488C49.8038 9.89469 45.1152 9.70466 44.5455 10.4016C43.9746 11.0981 41.3759 11.5425 41.3759 11.5425C41.3759 11.5425 32.6325 8.12038 26.865 2.48144C25.7887 0.770672 28.8932 0.199453 28.8932 0.199453Z" fill="#F2521B"/><path d="M44.1424 4.34319C44.1424 4.34319 46.8652 7.56886 42.4528 10.3399C26.7382 20.4765 12.2926 20.6666 0 32.8327C0 41.133 8.87153 51.5232 12.3567 53.4256C12.3567 53.4256 9.88432 50.2583 14.764 47.0892C19.6423 43.9212 31.9982 38.6621 36.0541 37.1414C40.1093 35.6196 49.296 31.5023 51.6409 29.6642C53.9857 27.8273 55.3156 27.2555 56.7093 24.2148C55.2531 15.0267 50.5627 8.50002 44.1424 4.34319Z" fill="#576EBE"/><path d="M55.1909 40.1829C55.1909 40.1829 48.2838 46.6471 38.9051 50.8283C29.8922 54.8465 28.133 56.3403 27.1194 57.543C27.2464 58.1142 27.8806 57.9882 28.5776 57.9882C29.2744 57.9882 36.245 57.4185 42.2632 54.3129C48.2838 51.2086 52.3389 46.8989 55.1909 40.1829Z" fill="#576EBE"/><path d="M29.9078 0.00939178C27.437 -0.0536251 8.74497 -0.307987 1.39423 18.702C1.39423 18.702 7.27722 12.1452 15.2701 8.56482C23.7612 4.76229 32.3784 0.073719 29.9078 0.00939178Z" fill="#576EBE"/></svg>'},
            {headline : 'МРСК Северного Кавказа', jpg: 'mrsk'},
            {headline : 'Камчатэнерго', jpg: 'kamchatenergo'},
            {headline : 'Сибирская Сервисная Компания', jpg: 'cck'},
            {headline : 'China Construction Bank', jpg: 'china-bank'},
        ];
    -
        var carousel =
        [
            {image: 0, text: 'Мы&nbsp;&mdash; единственная компания на&nbsp;российском рынке, которая может с&nbsp;помощью собственных продуктов обеспечить полную защиту базовой ИТ-инфраструктуры: конечных станций и&nbsp;серверов, периметра сети, современных виртуальных инфраструктур и&nbsp;мобильных устройств.', name: 'Голов Андрей Викторович', position: 'Генеральный директор'},
            {image: 0, text: 'Мы&nbsp;&mdash; единственная компания на&nbsp;российском рынке, которая может с&nbsp;помощью собственных продуктов обеспечить полную защиту базовой ИТ-инфраструктуры: конечных станций и&nbsp;серверов, периметра сети, современных виртуальных инфраструктур и&nbsp;мобильных устройств.', name: 'Зрячих Дмитрий Авенирович', position: 'МРСК Северного Кавказа, <br />Технический директор'},
            {image: 0, text: 'Мы&nbsp;&mdash; единственная компания на&nbsp;российском рынке, которая может с&nbsp;помощью собственных продуктов обеспечить полную защиту базовой ИТ-инфраструктуры: конечных станций и&nbsp;серверов, периметра сети, современных виртуальных инфраструктур и&nbsp;мобильных устройств.', name: 'Дбар Федор Анатольевич', position: 'Камчатэнерго, <br />Коммерческий директор'},
            {image: 0, text: 'Мы&nbsp;&mdash; единственная компания на&nbsp;российском рынке, которая может с&nbsp;помощью собственных продуктов обеспечить полную защиту базовой ИТ-инфраструктуры: конечных станций и&nbsp;серверов, периметра сети, современных виртуальных инфраструктур и&nbsp;мобильных устройств.', name: 'Голова Алла Владимировна', position: 'Сибирская Сервисная Компания, <br />Финансовый директор'},
            {image: 0, text: 'Мы&nbsp;&mdash; единственная компания на&nbsp;российском рынке, которая может с&nbsp;помощью собственных продуктов обеспечить полную защиту базовой ИТ-инфраструктуры: конечных станций и&nbsp;серверов, периметра сети, современных виртуальных инфраструктур и&nbsp;мобильных устройств.', name: 'Дбар Федор Анатольевич', position: 'Генеральный директор'},
            {image: 0, text: 'Мы&nbsp;&mdash; единственная компания на&nbsp;российском рынке, которая может с&nbsp;помощью собственных продуктов обеспечить полную защиту базовой ИТ-инфраструктуры: конечных станций и&nbsp;серверов, периметра сети, современных виртуальных инфраструктур и&nbsp;мобильных устройств.', name: 'Зрячих Дмитрий Авенирович', position: 'МРСК Северного Кавказа, <br />Технический директор'},
        ];
    -
        var thumbs =
        [
            {image: 0, name: 'Голов Андрей Викторович', position: 'Генеральный директор'},
            {image: 1, name: 'Зрячих Дмитрий Авенирович', position: 'МРСК Северного Кавказа, <br />Технический директор'},
            {image: 2, name: 'Дбар Федор Анатольевич', position: 'Камчатэнерго, <br />Коммерческий директор'},
            {image: 3, name: 'Голова Алла Владимировна', position: 'Сибирская Сервисная Компания, <br />Финансовый директор'},
            {image: 2, name: 'Дбар Федор Анатольевич', position: 'Генеральный директор'},
            {image: 1, name: 'Зрячих Дмитрий Авенирович', position: 'МРСК Северного Кавказа, <br />Технический директор'},
        ];

block content
    include ../pages-content/about