extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Где купить';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {value: 'Купить'}
        ];
    -
        var buy =
        [
            {image : 'mont', name: 'Mont', location: 'г. Москва', website: 'mont.com'},
            {image : 'axsoft', name: 'Axoft', location: 'г. Москва', website: 'axoft.ru'},
            {image : 'azimut', name: 'АО&nbsp;&laquo;АЗИМУТ&raquo;', location: 'г. Москва', website: 'azimut.ru'},
            {image : 'bitk', name: 'АО&nbsp;&laquo;БИТК&raquo;', location: 'г. Раменское', website: 'oao-bitk.ru'},
            {image : 'astral', name: 'АО&nbsp;&laquo;КАЛУГА АСТРАЛ&raquo;', location: 'г. Москва', website: 'astral.ru'},
            {image : 'lanit', name: 'АО&nbsp;&laquo;Ланит&raquo; ', location: 'lanit.ru'},
            {image : 'lanit-integra', name: 'ООО &laquo;ЛАНИТ-ИНТЕГРАЦИЯ&raquo;', location: 'г. Москва', website: 'itlanit.ru'},
            {image : 'niiit', name: 'АО&nbsp;&laquo;НИИИТ&raquo;', location: 'г. Москва', website: 'aoniiit.ru'},
            {image : 'nic', name: 'АО&nbsp;&laquo;НИЦ&raquo;', location: 'г. Улан-Удэ', website: 'centin.ru'},
            {image : 'abiton', name: 'АО&nbsp;НПК &laquo;АБИТОН&raquo;', location: 'г. Абакан', website: 'abiton.net'}
        ];

block content
    include ../pages-content/buy