extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'работа и стажировка у нас';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {value: 'работа и стажировка'}
        ];

block content
    include ../pages-content/career