extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Автоматизация процессов';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {url: './cases.html', value: 'Кейсы'},
            {value: 'Росреестр'}
        ];
    -
        var scrollNavigation =
        [
            {url: '#client', mod : 'scroll-navigation__element--current', value: 'Заказчик'},
            {url: '#project-architecture', value: 'Архитектура проекта'},
            {url: '#aims', value: 'Цели и задачи'},
            {url: '#result', value: 'Результаты'},
            {url: '#cases', value: 'Другие кесы'}
        ];

block content
    include ../pages-content/case-page