extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Кейсы ';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {value: 'Кейсы'}
        ];
    -
        var cases =
        [
            {url: 'javascript:void(0);', image: 'roseestr', headline: 'Автоматизация процессов', date : '21&nbsp;дкабря, 2020'},
            {url: 'javascript:void(0);', image: 'voronezh', headline: 'Комплексная защита от внутренних угроз', date : '21&nbsp;дкабря, 2020'},
            {url: 'javascript:void(0);', image: 'family-policy-moscow', headline: 'Угрозы направленные на&nbsp;нарушение конфиденциальности информации', date : '17 ноября, 2020'},
            {url: 'javascript:void(0);', image: 'fms', headline: 'Как взламывают <br />телеком-провайдеров: разбор реальной атаки', date : '1&nbsp;ноября, 2020'},
            {url: 'javascript:void(0);', image: 'homeland-policy-moscow', headline: 'Надёжная авторизация <br />для веб-сервиса', date : '14&nbsp;октября, 2020'},
            {url: 'javascript:void(0);', image: 'architecture-commitee', headline: 'Немного о&nbsp;приватности реальных <br />Git-репозиториев', date : '11&nbsp;сентября, 2020'},
            {url: 'javascript:void(0);', image: 'ryazan', headline: 'Внедрение новой системы', date : '2&nbsp;августа, 2020'},
            {url: 'javascript:void(0);', image: 'homeland-policy-moscow-1', headline: 'Реализация системы безопасности в&nbsp;нескольких региональных офисах', date : '24&nbsp;июня, 2020'},
            {url: 'javascript:void(0);', image: '31-hospital', headline: 'Техническое обслуживание <br />Diamond VPN/FW', date : '5&nbsp;февраля, 2020'}
        ];

block content
    include ../pages-content/cases