extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Лицензии и сертификаты ';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {value: 'Лицензии и сертификаты'}
        ];
    -
        var certificates =
        [
            {mod: 'certificate-element--huge js-popup-launcher', image: 0, headline: 'Лицензия 16275H, лист 1'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 1, headline: 'Лицензия 16275H, лист&nbsp;2'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 2, headline: 'Лицензия 33589, лист&nbsp;1'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 3, headline: 'Лицензия 33589, лист&nbsp;2'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 4, headline: 'Лицензия 33589, лист&nbsp;1'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 5, headline: 'Лицензия 33589, лист&nbsp;2'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 6, headline: 'Лицензия 14486Н, лист&nbsp;1'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 7, headline: 'Лицензия 14486Н, лист&nbsp;2'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 8, headline: 'Лицензия 010613'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 9, headline: 'Лицензия 005702'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 10, headline: 'Лицензия 005703'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 11, headline: 'Сертификат 124-3842'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 12, headline: 'Сертификат 124-3843'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 13, headline: 'Сертификат 124-3518'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 14, headline: 'Сертификат 124-3517'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 15, headline: 'Сертификат 124-3519'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 16, headline: 'Сертификат 124-3644'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 17, headline: 'Сертификат 124-3645'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 18, headline: 'Сертификат 124-3646'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 19, headline: 'Сертификат 124-3738'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 20, headline: 'Сертификат 124-3739'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 21, headline: 'Сертификат 124-3740'},
            {mod: 'certificate-element--huge js-popup-launcher', image: 22, headline: 'Сертификат &#8470;&nbsp;4066'}
        ];

block content
    include ../pages-content/certificates