extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Информационная безопасность финансовой сферы';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './events.html', value: 'Мероприятия'},
            {value: 'Информационная безопасность финансовой сферы'}
        ];
    -
        var brands =
        [
            {jpg : 'rt'},
            {jpg : 'elvis'},
            {jpg : 'positive'},
            {jpg : 'info'},
            {jpg : 'elvis'},
            {jpg : 'rt'},
            {jpg : 'positive'},
        ];

block content
    include ../pages-content/event-page