extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Главная';
    - var description = 'Высокотехнологичная компания, специализирующаяся на разработке современных, гибких и надежных средств защиты информации.';
    - var home = true;
    -
        var products =
        [
            {image: 0, headline: 'Diamond VPN/FW', desc: 'Многофункциональный комплекс для защиты сети с&nbsp;функциями межсетевого экрана, средства криптографической защиты информации (СКЗИ) и&nbsp;СОВ.'},
            {image: 1, headline: 'Diamond VPN/FW Client', desc: 'Программный клиент для безопасного удаленного доступа с&nbsp;сертифицированной криптографией.'},
            {image: 2, headline: 'Diamond NCC центр управления и&nbsp;мониторинга', desc: 'Современная платформа для управления большими защищенными сетями.'},
            {image: 3, headline: 'Diamond ACS', desc: 'Программное решение для контроля и&nbsp;разграничения доступа с&nbsp;возможностью подключения аппаратной платы&nbsp;&mdash; максимальная защита от&nbsp;НСД.'},
            {image: 4, headline: 'DCRYPT XG', desc: 'Сертифицированный шифратор для защиты трафика на&nbsp;канальном уровне, который позволяет достигать скорости шифрования 100&nbsp;Gb.'},
            {image: 5, headline: 'DCRYPT', desc: 'Встраиваемое средство криптографической защиты информации с&nbsp;простой адаптацией к&nbsp;любой IT-инфраструктуре заказчика.'},
            {image: 6, headline: 'DCRYPT Smart SFP', desc: 'Сертифицированное ФСБ канальное шифрование в&nbsp;форм-факторе SFP-модуля.'},
            {image: 7, headline: 'Безопасный IoT', desc: 'Встраиваемые криптографические решения для безопасного интернета вещей.'}
        ];
    -
        var webinars =
        [
            {image: 0, preview: 'Dcrypt XG&nbsp;100&nbsp;Гб высокоскоростной сертифицированный шифратор реальный опыт'},
            {image: 1, preview: 'Diamond NCC онлайн презентация нового продукта для управления защищенной сетью'},
            {image: 2, preview: 'Презентация Diamond VPN/FW на&nbsp;Infosecurity'},
            {image: 3, preview: 'Высокопроизводительное шифро- вальное средство Dcrypt XG&nbsp;ключевые характеристики и&nbsp;целевые функции'}
        ];
    -
        var newsAndEvents =
        [
            {type: 'Мероприятие', headline: 'PT&nbsp;ISIM 3.0&nbsp;&mdash; запуск новой версии продукта', date: 'Сегодня'},
            {type: 'Новости', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Новости', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
            {type: 'Мероприятие', headline: 'PT&nbsp;ISIM 3.0&nbsp;&mdash; запуск новой версии продукта', date: 'Сегодня'},
            {type: 'Новости', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Новости', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'}
        ];
    -
        var news =
        [
            {type: 'Новости', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Новости', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
        ];
    -
        var events =
        [
            {type: 'Мероприятие', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Мероприятие', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
            {type: 'Мероприятие', headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22 июля, 2020'},
            {type: 'Мероприятие', headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
        ];
    -
        var brands =
        [
            {svg: '<svg class="i _rus-gidro" width="170" height="59" viewBox="0 0 170 59" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M83.8133 23.7342C83.8133 23.1671 83.7202 22.674 83.5339 22.2542C83.3464 21.8339 83.0631 21.4916 82.6815 21.226C82.351 20.999 81.9647 20.8351 81.526 20.7395C81.0841 20.6437 80.5359 20.5971 79.8808 20.5971H78.1464V27.1723H79.5745C80.4205 27.1723 81.1037 27.1008 81.6244 26.9573C82.1464 26.8129 82.5798 26.558 82.9261 26.1881C83.2349 25.8569 83.4611 25.4963 83.6015 25.1062C83.7438 24.7145 83.8133 24.2596 83.8133 23.7342ZM85.9917 23.6799C85.9917 24.3945 85.8703 25.0705 85.6258 25.7073C85.3831 26.3454 85.0474 26.8889 84.6172 27.3369C84.0736 27.8969 83.4362 28.3226 82.7038 28.6098C81.97 28.8964 81.0434 29.0406 79.9234 29.0406H78.1464V35.1744H76.0552V18.7178H80.008C80.9372 18.7178 81.7306 18.798 82.3857 18.9603C83.0421 19.123 83.6192 19.3853 84.1208 19.746C84.7044 20.165 85.1641 20.6968 85.4953 21.342C85.8251 21.9872 85.9917 22.7665 85.9917 23.6799Z" fill="#231F20"/><path d="M98.5361 24.4391L92.1845 39.1331H90.0593L92.1727 34.6543L87.8802 24.4391H90.0265L93.2514 32.3866L96.4646 24.4391H98.5361Z" fill="#231F20"/><path d="M105.276 35.4136C104.467 35.4136 103.722 35.2988 103.045 35.0734C102.37 34.8457 101.788 34.5002 101.302 34.0399C100.817 33.5783 100.438 32.996 100.171 32.295C99.9026 31.5926 99.7682 30.7678 99.7682 29.8216C99.7682 28.8784 99.9079 28.0646 100.187 27.3795C100.465 26.6943 100.836 26.1179 101.302 25.6497C101.766 25.1835 102.347 24.8215 103.042 24.5697C103.735 24.3151 104.48 24.1893 105.276 24.1893C105.926 24.1893 106.551 24.2713 107.154 24.4391C107.756 24.6056 108.292 24.798 108.764 25.0154V27.0444H108.648C108.509 26.9343 108.328 26.809 108.105 26.6681C107.882 26.5278 107.613 26.384 107.297 26.236C107.023 26.1079 106.697 25.9965 106.323 25.8994C105.949 25.8039 105.59 25.756 105.244 25.756C104.217 25.756 103.391 26.11 102.765 26.8175C102.142 27.5257 101.83 28.5265 101.83 29.8216C101.83 31.0903 102.133 32.078 102.735 32.7855C103.336 33.493 104.173 33.8473 105.244 33.8473C105.894 33.8473 106.509 33.7266 107.095 33.4825C107.68 33.2399 108.198 32.9259 108.648 32.5396H108.764V34.5678C108.568 34.6511 108.321 34.752 108.025 34.8708C107.731 34.9907 107.461 35.0773 107.221 35.1349C106.885 35.2248 106.581 35.2942 106.313 35.3429C106.045 35.3888 105.699 35.4136 105.276 35.4136Z" fill="#231F20"/><path d="M121.092 20.6635H113.851V35.1744H111.758V18.7178H121.092V20.6635Z" fill="#231F20"/><path d="M129.731 35.1743H127.763V27.1683L122.204 35.1743H120.406V24.4391H122.372V32.3193L127.87 24.4391H129.731V35.1743Z" fill="#231F20"/><path d="M140.482 33.6354V25.9578H137.099C137.008 27.5592 136.767 29.0208 136.374 30.3454C135.984 31.6669 135.492 32.7645 134.9 33.6354H140.482ZM143.643 37.7489H141.792V35.1449H134.012V37.7489H132.162V33.6354H132.945C133.614 32.6367 134.161 31.3311 134.588 29.7204C135.016 28.1079 135.228 26.3487 135.228 24.4391H142.469V33.6354H143.643V37.7489Z" fill="#231F20"/><path d="M148.555 26.0852V33.364C149.077 33.5953 149.524 33.5535 149.893 33.6355C150.262 33.718 150.688 33.762 151.165 33.762C152.196 33.762 152.997 33.4178 153.567 32.7326C154.137 32.0466 154.423 31.044 154.423 29.7246C154.423 28.5015 154.209 27.9494 153.779 27.2735C153.349 26.5972 152.65 26.2597 151.684 26.2597L148.555 26.0852ZM152.171 24.5389C153.524 24.5389 154.58 25.0248 155.337 25.9999C156.095 26.9738 156.473 27.8832 156.473 29.5232C156.473 31.3107 156.003 32.7338 155.062 33.7953C154.122 34.8545 152.932 35.3855 151.495 35.3855C150.91 35.3855 150.392 35.5238 149.942 35.4014C149.491 35.28 149.028 35.4898 148.555 35.2329V39.1333H146.568V24.4392H148.555L152.171 24.5389V24.5389Z" fill="#231F20"/><path d="M167.251 29.8116C167.251 28.4202 166.974 27.3882 166.417 26.7119C165.859 26.0352 165.068 25.6988 164.038 25.6988C163.002 25.6988 162.205 26.0352 161.644 26.7119C161.083 27.3882 160.804 28.4202 160.804 29.8116C160.804 31.1554 161.083 32.1763 161.644 32.8708C162.205 33.5678 163.002 33.9146 164.038 33.9146C165.059 33.9146 165.851 33.5737 166.411 32.891C166.971 32.2091 167.251 31.1815 167.251 29.8116ZM169.302 29.8116C169.302 31.6177 168.824 33.0124 167.865 33.9973C166.907 34.9802 165.632 35.4707 164.038 35.4707C162.395 35.4707 161.105 34.9638 160.164 33.9482C159.223 32.9323 158.752 31.5539 158.752 29.8116C158.752 28.017 159.238 26.6248 160.206 25.6307C161.175 24.6366 162.453 24.1401 164.038 24.1401C165.632 24.1401 166.907 24.6353 167.865 25.6248C168.824 26.6148 169.302 28.0111 169.302 29.8116Z" fill="#231F20"/><path opacity="0.6" d="M10.5193 48.3289L13.9394 44.8421C13.9394 44.8421 19.5798 49.1511 23.3801 50.5446C27.1832 51.9385 29.9078 56.247 29.9078 56.247C29.9078 56.247 36.3065 57.7052 26.865 57.8948C17.4248 58.0856 12.2291 53.4606 12.2291 53.4606L10.5193 48.3289Z" fill="#F2521B"/><path opacity="0.6" d="M5.19601 28.0516C5.19601 28.0516 -4.05536 21.4627 4.87941 14.8082L13.4322 9.54989C13.4322 9.54989 14.32 14.6189 35.1669 22.7913C56.0126 30.9651 55.3781 33.8801 55.7595 34.8314C56.1406 35.7817 56.4562 39.8996 53.0356 44.2081C49.6126 48.5175 43.2778 51.8126 43.2778 51.8126C43.2778 51.8126 44.7351 48.1371 39.8552 44.905C34.9773 41.6747 24.4582 36.9234 20.9749 35.4026C17.4871 33.8801 5.19601 28.0516 5.19601 28.0516Z" fill="#F2521B"/><path opacity="0.6" d="M28.8932 0.423788C28.8932 0.423788 40.1727 0.741101 44.9884 5.42921C49.8038 10.119 45.1152 9.92899 44.5455 10.626C43.9746 11.3224 41.3759 11.7668 41.3759 11.7668C41.3759 11.7668 32.6325 8.34472 26.865 2.70578C25.7887 0.995007 28.8932 0.423788 28.8932 0.423788Z" fill="#F2521B"/><path d="M44.1424 4.56758C44.1424 4.56758 46.8652 7.79325 42.4528 10.5643C26.7382 20.7009 12.2926 20.891 0 33.0571C0 41.3574 8.87153 51.7476 12.3567 53.65C12.3567 53.65 9.88432 50.4827 14.764 47.3136C19.6423 44.1456 31.9982 38.8865 36.0541 37.3658C40.1093 35.844 49.296 31.7267 51.6409 29.8885C53.9857 28.0517 55.3156 27.4799 56.7093 24.4392C55.2531 15.2511 50.5627 8.72441 44.1424 4.56758Z" fill="#576EBE"/><path d="M55.1909 40.4073C55.1909 40.4073 48.2838 46.8715 38.9051 51.0527C29.8922 55.0709 28.133 56.5647 27.1194 57.7674C27.2464 58.3386 27.8806 58.2126 28.5776 58.2126C29.2744 58.2126 36.245 57.6429 42.2632 54.5373C48.2838 51.433 52.3389 47.1233 55.1909 40.4073Z" fill="#576EBE"/><path d="M29.9078 0.233696C27.437 0.170679 8.74497 -0.083683 1.39422 18.9263C1.39422 18.9263 7.27722 12.3696 15.2701 8.78913C23.7612 4.9866 32.3784 0.298023 29.9078 0.233696Z" fill="#576EBE"/></svg>'},
            {svg: '<svg class="i _bank-russia" width="230" height="58" viewBox="0 0 230 58" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask0)"><path d="M29.5414 0.526245C13.8491 0.526245 1.12631 13.2182 1.12631 28.8703C1.12631 44.5243 13.8491 57.2163 29.5414 57.2163C45.2418 57.2163 57.9646 44.5243 57.9646 28.8703C57.9646 13.2182 45.2418 0.526245 29.5414 0.526245ZM29.5414 55.0263C15.0582 55.0263 3.32196 43.3163 3.32196 28.8703C3.32196 14.4242 15.0582 2.71625 29.5414 2.71625C44.0287 2.71625 55.7669 14.4242 55.7669 28.8703C55.7669 43.3163 44.0287 55.0263 29.5414 55.0263Z" fill="#898989"/></g><mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask1)"><path fill-rule="evenodd" clip-rule="evenodd" d="M29.5414 50.1302C30.524 50.1302 31.1195 49.4702 31.1556 48.5682C31.3701 48.9742 31.6488 49.2502 32.0679 49.3342C32.479 49.4162 32.9241 49.3582 33.3011 49.1922C33.6843 49.0373 33.9959 48.7457 34.1754 48.3742C34.3618 47.9942 34.2997 47.6002 34.1673 47.1442C34.6285 47.8082 35.4125 47.9802 36.1003 47.6602C37.0447 47.2202 37.3896 46.4202 37.0026 45.5062C35.8356 42.7422 34.6766 40.0282 33.5056 37.2642C33.3994 37.0142 33.3091 36.7582 33.1908 36.5082C33.0886 36.2882 33.0184 36.1262 32.9221 35.9902C32.8473 35.8902 32.7541 35.8054 32.6474 35.7402C34.4581 35.9402 35.3283 36.6522 35.8096 36.9682C35.9359 37.0522 35.9299 37.0642 36.4191 36.9122C36.5267 36.8804 36.6395 36.8701 36.751 36.8822C36.8625 36.8942 36.9706 36.9282 37.0688 36.9822C37.2874 37.1042 37.5119 37.2362 37.7024 37.3862C38.3541 37.8922 39.0158 38.3802 39.6294 38.9262C39.9161 39.1802 40.3292 39.6182 40.271 40.0082C40.2249 40.3762 39.3346 41.2182 39.0699 41.4682C38.4383 42.0662 39.3928 43.1862 40.6681 43.0822C40.3272 42.7262 40.247 42.4242 40.2891 42.1562C40.4174 42.1542 40.66 42.1782 40.8886 41.9742C41.1633 41.7262 41.039 40.9982 41.2957 40.7502C41.7428 40.3142 43.2086 40.2742 44.0869 40.2362C44.4538 40.2222 44.8408 40.1222 44.8127 39.5502C45.3702 39.5882 45.4865 40.0022 45.4865 40.3742C45.9637 40.1022 46.3768 38.8062 44.6062 38.5082C44.905 38.2402 45.4002 38.1382 45.707 38.4842C45.9938 38.0082 45.2679 37.0742 43.9565 37.6022C43.9585 37.5962 43.369 36.8242 41.5965 38.8042C41.3739 38.6362 41.1513 38.4722 40.9488 38.2842C40.265 37.6602 38.5366 35.9762 38.5366 35.9762C38.5366 35.0282 38.3942 33.1922 37.139 32.0922C36.6036 31.6242 36.0943 31.3762 34.9614 31.1702C34.9614 31.1702 35.5088 30.3142 35.595 29.9782C36.5815 30.9622 38.5646 31.2562 38.5646 29.5942C40.1808 31.2102 41.6827 30.3402 41.6827 29.3262C41.7328 29.8202 41.8591 30.3642 42.0276 30.8302C42.2301 31.3722 42.97 33.4542 44.8809 33.4542C44.925 34.1762 44.929 36.5582 47.2129 37.0882C47.3091 37.1142 47.4355 37.1462 47.4976 37.2222C48.418 38.3642 52.2519 39.5682 52.7211 39.2442C52.4223 39.0322 51.9531 38.7502 51.8789 37.4062C51.8308 36.5202 51.7325 31.9202 51.7325 25.4382C51.7325 23.1462 51.4859 15.7162 44.1209 14.6802C43.0041 14.5222 41.9052 14.6062 40.9528 15.3122C39.6575 16.2762 39.0198 17.9042 39.7818 19.7442C39.8058 19.8102 39.8259 19.8762 39.86 19.9342C40.1186 20.3722 40.0144 20.7522 39.6775 21.0862C39.0619 21.6942 38.3461 22.1062 37.4839 22.2062C36.9385 22.2682 36.4893 22.0302 36.1284 21.6582C35.3022 20.8102 34.7208 19.8142 34.5383 18.6402C34.1894 16.4042 34.7508 15.2962 34.7829 15.2262C35.3825 14.0282 36.6557 13.1482 38.1295 13.0222C38.8053 11.7622 40.7443 12.2602 40.7443 12.2602C41.2295 12.3662 41.3999 12.5062 41.5223 12.7442C41.5223 12.7442 42.3724 11.4502 41.5704 10.9322C40.7703 10.4142 38.9757 10.2002 38.9757 10.2002C38.9757 9.35823 37.5801 8.70223 35.0576 9.15223C32.0078 9.69423 31.3541 8.50623 31.3541 8.50623C31.2278 9.96223 32.3406 10.7122 32.6996 10.9162C31.5426 12.1682 29.9264 14.6702 29.5414 18.2202C29.1564 14.6702 27.5403 12.1682 26.3833 10.9162C26.7402 10.7122 27.8551 9.96223 27.7288 8.50623C27.7288 8.50623 27.0731 9.69423 24.0232 9.15223C21.5027 8.70223 20.1071 9.35823 20.1071 10.2002C20.1071 10.2002 18.3125 10.4142 17.5105 10.9322C16.7104 11.4502 17.5586 12.7442 17.5586 12.7442C17.6829 12.5062 17.8533 12.3662 18.3386 12.2602C18.3386 12.2602 20.2776 11.7622 20.9533 13.0222C22.4271 13.1482 23.7004 14.0282 24.2999 15.2262C24.332 15.2962 24.9276 16.4142 24.5446 18.6402C24.342 19.8122 23.7806 20.8102 22.9545 21.6582C22.5935 22.0302 22.1444 22.2682 21.599 22.2062C20.7368 22.1062 20.0209 21.6942 19.4053 21.0862C19.0685 20.7522 18.9642 20.3722 19.2229 19.9342C19.257 19.8762 19.277 19.8102 19.3011 19.7442C20.063 17.9042 19.4254 16.2762 18.1301 15.3122C17.1776 14.6062 16.0788 14.5222 14.9619 14.6802C7.59696 15.7162 7.34832 23.1462 7.34832 25.4382C7.34832 31.9202 7.25006 36.5202 7.20194 37.4062C7.12775 38.7502 6.65854 39.0302 6.35977 39.2442C6.83098 39.5682 10.6628 38.3662 11.5852 37.2222C11.6474 37.1462 11.7737 37.1122 11.87 37.0882C14.1538 36.5562 14.1578 34.1762 14.202 33.4542C16.1129 33.4542 16.8528 31.3722 17.0553 30.8302C17.2237 30.3642 17.3501 29.8202 17.4002 29.3262C17.4002 30.3402 18.902 31.2082 20.5182 29.5942C20.5182 31.2562 22.5013 30.9642 23.4879 29.9782C23.5741 30.3142 24.1215 31.1702 24.1215 31.1702C22.9886 31.3762 22.4793 31.6242 21.9419 32.0922C20.6886 33.1942 20.5463 35.0302 20.5463 35.9762C20.5463 35.9762 18.8178 37.6622 18.1341 38.2842C17.9316 38.4722 17.709 38.6362 17.4864 38.8042C15.7138 36.8262 15.1223 37.5962 15.1263 37.6022C13.815 37.0742 13.0891 38.0082 13.3758 38.4842C13.6806 38.1382 14.1779 38.2402 14.4767 38.5082C12.7061 38.8042 13.1172 40.1022 13.5964 40.3742C13.5964 40.0002 13.7107 39.5862 14.2701 39.5502C14.2421 40.1222 14.6291 40.2222 14.996 40.2362C15.8723 40.2742 17.338 40.3142 17.7872 40.7502C18.0418 40.9982 17.9175 41.7262 18.1942 41.9742C18.4228 42.1782 18.6654 42.1542 18.7918 42.1562C18.8339 42.4242 18.7557 42.7262 18.4148 43.0822C19.6901 43.1882 20.6445 42.0662 20.0129 41.4682C19.7482 41.2182 18.8559 40.3742 18.8118 40.0082C18.7537 39.6182 19.1667 39.1802 19.4535 38.9262C20.067 38.3822 20.7287 37.8922 21.3804 37.3862C21.5709 37.2362 21.7955 37.1022 22.0141 36.9822C22.1123 36.9282 22.2203 36.8942 22.3318 36.8822C22.4434 36.8701 22.5562 36.8804 22.6637 36.9122C23.153 37.0642 23.147 37.0522 23.2733 36.9682C23.7525 36.6522 24.6248 35.9382 26.4354 35.7402C26.3278 35.8048 26.2338 35.8897 26.1587 35.9902C26.0625 36.1242 25.9943 36.2862 25.892 36.5082C25.7737 36.7582 25.6835 37.0142 25.5772 37.2642C24.4062 40.0282 23.2472 42.7422 22.0802 45.5062C21.6932 46.4202 22.0381 47.2202 22.9825 47.6602C23.6703 47.9802 24.4543 47.8082 24.9155 47.1442C24.7832 47.6022 24.721 47.9942 24.9075 48.3742C25.0869 48.7457 25.3986 49.0373 25.7818 49.1922C26.1587 49.3582 26.6039 49.4162 27.0149 49.3342C27.434 49.2502 27.7127 48.9742 27.9273 48.5682C27.9634 49.4702 28.5589 50.1302 29.5414 50.1302Z" fill="#898989"/></g><mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask2)"><path d="M77.5369 18.9722C79.103 18.9722 82.2992 18.8322 84.1259 18.7222C84.0787 19.0563 84.0506 19.3929 84.0417 19.7302C84.0417 19.9242 84.0998 20.3742 84.1259 20.6802C82.4134 20.4676 80.6917 20.3375 78.9666 20.2902C78.3791 20.2902 76.1013 20.3442 74.8681 20.4562V27.4862H76.2978C79.2213 27.4862 85.3691 28.0442 85.3691 33.1102C85.3691 37.2242 81.9142 39.1002 77.3705 39.0722C76.8612 39.0722 74.9563 38.9902 73.7412 38.9902C73.2138 38.9902 72.5682 39.0182 72.117 39.0722C72.2894 35.9902 72.3416 31.7362 72.3416 28.2082C72.3416 25.0462 72.3195 20.2582 72.117 18.7202C73.9136 18.8062 76.8853 18.9722 77.5369 18.9722ZM74.8681 37.4502C75.598 37.4782 76.4642 37.5062 77.2522 37.5062C80.5667 37.5062 82.4957 35.9642 82.4957 33.0802C82.4957 29.9742 80.1998 28.9642 74.8681 28.9642V37.4502Z" fill="#898989"/></g><mask id="mask3" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask3)"><path d="M88.5493 26.5581C89.6461 25.2181 91.6633 24.6321 93.3536 24.6321C96.3012 24.6321 98.3465 26.0821 98.3465 29.5821V36.5261C98.3465 37.9561 98.6533 38.2901 99.2408 38.2901C99.4433 38.2901 99.7501 38.2321 99.9165 38.1761L100.083 38.8501C99.4298 39.1805 98.7116 39.3628 97.9796 39.3841C97.0552 39.3841 96.4677 38.9641 96.2411 38.1501L96.0746 37.5381C94.5587 38.7401 92.9025 39.3841 91.5269 39.3841C88.9704 39.3841 87.3121 38.0381 87.3121 35.6861C87.3121 33.1661 89.1969 31.9881 91.7776 31.5161L94.637 30.9821C95.5954 30.8141 96.1047 30.5341 96.1047 29.8361C96.1047 26.7861 94.8114 26.0021 92.6779 26.0021C91.0237 26.0021 89.7845 26.4781 88.8882 28.3001H88.5493V26.5581ZM96.1047 31.8501L94.2479 32.1281C92.2267 32.4381 89.979 33.1361 89.979 35.2681C89.979 36.8901 90.8813 37.7581 92.702 37.7581C93.8269 37.7581 94.9498 37.3641 96.1047 36.1621V31.8501Z" fill="#898989"/></g><mask id="mask4" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask4)"><path fill-rule="evenodd" clip-rule="evenodd" d="M103.931 24.994C104.24 24.994 104.825 24.938 105.246 24.91C105.024 27.036 104.992 30.562 104.992 30.702C106.173 30.76 107.881 30.818 108.787 30.818C109.967 30.8107 111.145 30.772 112.322 30.702C112.322 30.536 112.292 27.01 112.072 24.91C112.541 24.938 113.163 24.994 113.498 24.994C113.81 24.994 114.398 24.938 114.819 24.91C114.592 27.01 114.564 30.534 114.564 31.99C114.564 33.166 114.592 36.946 114.819 39.0741C114.39 39.0197 113.958 38.9923 113.526 38.9921C113.05 38.9921 112.487 39.0201 112.07 39.0741C112.29 36.946 112.32 33.166 112.32 32.274C111.085 32.186 109.401 32.076 108.755 32.076C107.991 32.076 106.119 32.126 104.99 32.212C104.99 33.166 105.022 36.944 105.244 39.0741C104.817 39.0199 104.386 38.9925 103.955 38.9921C103.478 38.9921 102.916 39.0201 102.493 39.0741C102.716 36.946 102.744 33.166 102.744 31.99C102.744 30.562 102.716 27.01 102.493 24.91C102.97 24.936 103.592 24.994 103.931 24.994Z" fill="#898989"/></g><mask id="mask5" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask5)"><path fill-rule="evenodd" clip-rule="evenodd" d="M120.066 24.994C120.367 24.994 120.959 24.938 121.374 24.91C121.157 27.01 121.131 30.562 121.131 31.07H121.584C122.509 31.07 127.251 25.692 127.702 24.91C128.093 24.938 128.735 24.994 129.072 24.994C129.358 24.994 130.032 24.938 130.451 24.91L123.744 30.9C124.59 31.906 129.045 36.92 131.065 39.0741C130.506 39.0281 129.945 39.0007 129.384 38.9921C128.877 38.9921 128.119 39.0201 127.532 39.0741C126.493 37.4501 123.321 33.728 121.584 31.822H121.131C121.131 32.86 121.157 36.946 121.374 39.0741C120.948 39.0195 120.518 38.9921 120.088 38.9921C119.617 38.9921 119.056 39.0201 118.627 39.0741C118.857 36.946 118.889 33.166 118.889 31.99C118.889 30.562 118.857 27.01 118.627 24.91C119.11 24.936 119.73 24.994 120.066 24.994Z" fill="#898989"/></g><mask id="mask6" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask6)"><path d="M143.467 18.8062C144.443 18.8062 145.712 18.7222 146.436 18.7222C151.63 18.7222 153.655 20.2902 153.655 23.8142C153.655 28.3822 149.805 29.8342 145.239 29.8342C144.985 29.8342 143.914 29.7802 143.378 29.7222V34.5622C143.378 35.9622 143.435 37.6722 143.607 39.0722C142.617 38.9661 141.618 38.9661 140.627 39.0722C140.8 35.9922 140.856 31.7342 140.856 28.2082C140.856 25.0462 140.828 20.2582 140.627 18.7202C141.558 18.7462 142.821 18.8062 143.467 18.8062ZM144.559 28.3522C148.49 28.3522 150.791 26.7842 150.791 23.8142C150.791 21.0442 148.602 20.2902 145.879 20.2902C145.406 20.2902 143.773 20.3162 143.378 20.3742V28.2362C143.721 28.2982 144.279 28.3522 144.559 28.3522Z" fill="#898989"/></g><mask id="mask7" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask7)"><path d="M168.272 31.9061C168.272 36.1921 165.485 39.3821 161.086 39.3821C156.765 39.3821 154.066 36.2201 154.066 32.3001C154.066 27.6541 157.04 24.6321 161.337 24.6321C165.604 24.6321 168.272 27.7101 168.272 31.9061ZM156.735 32.2141C156.735 35.3781 158.054 38.2881 161.028 38.2881C163.891 38.2881 165.606 35.5441 165.606 31.7941C165.606 28.7701 164.425 25.7201 161.252 25.7201C158.221 25.7201 156.735 28.8841 156.735 32.2141Z" fill="#898989"/></g><mask id="mask8" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask8)"><path fill-rule="evenodd" clip-rule="evenodd" d="M182.028 27.9582H181.689C180.706 26.3642 179.333 25.7202 177.789 25.7202C174.502 25.7202 172.932 28.8842 172.932 31.9622C172.932 35.5162 174.893 38.2882 178.376 38.2882C179.531 38.2882 180.568 38.1222 182.194 36.3562L182.449 36.6642L182.11 38.0362C180.757 38.9342 179.249 39.3822 177.508 39.3822C173.127 39.3822 170.266 36.3302 170.266 32.0182C170.266 27.5122 173.354 24.6322 177.871 24.6322C179.568 24.6256 181.239 25.0488 182.728 25.8622L182.028 27.9582Z" fill="#898989"/></g><mask id="mask9" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask9)"><path fill-rule="evenodd" clip-rule="evenodd" d="M196.192 27.9581H195.859C194.881 26.3641 193.505 25.7201 191.963 25.7201C188.675 25.7201 187.103 28.8841 187.103 31.9621C187.103 35.5161 189.074 38.2881 192.551 38.2881C193.696 38.2881 194.739 38.1221 196.365 36.3561L196.613 36.6641L196.281 38.0361C194.935 38.9341 193.415 39.3821 191.679 39.3821C187.301 39.3821 184.44 36.3301 184.44 32.0181C184.44 27.5121 187.53 24.6321 192.048 24.6321C193.507 24.6321 195.106 24.9101 196.902 25.8621L196.192 27.9581Z" fill="#898989"/></g><mask id="mask10" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask10)"><path fill-rule="evenodd" clip-rule="evenodd" d="M200.355 38.9921C200.185 38.9921 199.679 39.0421 199.455 39.0741C199.679 36.946 199.709 33.166 199.709 31.99C199.709 30.562 199.679 27.01 199.455 24.91C199.934 24.938 200.547 24.994 200.884 24.994C201.193 24.994 201.781 24.938 202.206 24.91C201.981 27.01 201.957 30.534 201.957 31.99C201.957 33.166 201.981 34.816 202.007 35.602C203.553 33.728 209.055 26.758 210.377 24.91C210.676 24.964 210.874 24.994 211.213 24.994C211.379 24.994 211.967 24.938 212.282 24.91C212.055 27.01 212.023 30.534 212.023 31.99C212.023 33.166 212.055 36.946 212.282 39.0741C211.853 39.0201 211.422 38.9927 210.99 38.9921C210.511 38.9921 209.954 39.0201 209.527 39.0741C209.751 36.946 209.783 33.166 209.783 31.99C209.783 30.532 209.751 28.746 209.731 28.154C207.816 30.088 202.761 36.696 201.167 39.0741C200.9 39.0168 200.628 38.9893 200.355 38.9921Z" fill="#898989"/></g><mask id="mask11" mask-type="alpha" maskUnits="userSpaceOnUse" x="-28" y="-28" width="285" height="114"><path d="M-27.355 -27.8219H256.844V85.5641H-27.355V-27.8219Z" fill="white"/></mask><g mask="url(#mask11)"><path fill-rule="evenodd" clip-rule="evenodd" d="M216.248 38.9921C216.077 38.9921 215.572 39.0421 215.354 39.0741C215.572 36.946 215.602 33.166 215.602 31.99C215.602 30.562 215.572 27.01 215.354 24.91C215.827 24.938 216.44 24.994 216.777 24.994C217.086 24.994 217.678 24.938 218.099 24.91C217.874 27.01 217.85 30.534 217.85 31.99C217.85 33.166 217.874 34.816 217.9 35.602C219.446 33.728 224.942 26.758 226.262 24.91C226.57 24.964 226.769 24.994 227.106 24.994C227.272 24.994 227.866 24.938 228.171 24.91C227.954 27.01 227.922 30.534 227.922 31.99C227.922 33.166 227.954 36.946 228.171 39.0741C227.742 39.0199 227.311 38.9925 226.879 38.9921C226.404 38.9921 225.839 39.0201 225.423 39.0741C225.648 36.946 225.672 33.166 225.672 31.99C225.672 30.532 225.648 28.746 225.622 28.154C223.713 30.088 218.652 36.696 217.054 39.0741C216.789 39.0163 216.519 38.9888 216.248 38.9921Z" fill="#898989"/></g></svg>'},
            {svg: '<svg class="i _rzhd" width="120" height="53" viewBox="0 0 120 53" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M64.6779 13.25H81.2068L61.3753 39.7553H44.8463L64.6779 13.25Z" fill="#E21A1A"/><path d="M0.221313 17.9438C0.221313 16.8388 0.221313 15.4601 1.32394 14.355C2.42657 13.25 3.80223 13.25 4.90486 13.25H32.5914C36.1723 13.25 38.7924 13.25 40.9924 14.355C43.1976 15.4601 44.8516 17.6702 46.5003 19.875L48.1542 22.0851C49.3251 23.6532 50.2177 24.8424 50.2177 26.5053C50.2177 28.1628 49.2568 29.4415 48.1542 30.9202L41.5384 39.75H25.0147L35.7575 25.395C36.5818 24.2899 37.548 22.906 36.8601 21.3905C36.167 19.8697 34.3818 19.8697 33.0009 19.8697H20.0529V53H6.83184V19.875H0.221313V17.9438Z" fill="#E21A1A"/><path d="M84.5147 4.6938V6.625H101.044C102.146 6.625 103.8 6.625 104.903 7.73004C106.006 8.83509 106.006 10.4927 106.006 11.5977V28.1576C106.006 29.2626 106.006 30.9202 104.903 32.02C103.8 33.125 102.146 33.125 101.044 33.125H93.0522C91.6766 33.125 89.8861 33.125 89.1983 31.6095C88.5105 30.0888 89.4713 28.7101 90.3009 27.605L101.044 13.25H84.5147L77.9042 22.0851C76.7963 23.5637 75.8355 24.8477 75.8355 26.5C75.8355 28.1523 76.7281 29.3468 77.9042 30.9149L79.5582 33.125C81.2068 35.3298 82.8608 37.5399 85.066 38.645C87.2661 39.75 89.8861 39.75 93.467 39.75H100.629C104.761 39.75 110.962 39.75 115.089 35.6087C119.221 31.4674 119.221 25.395 119.221 23.1849V16.5651C119.221 14.3603 119.221 8.28257 115.089 4.14128C110.957 0 104.761 0.00526211 100.629 0.00526211L89.1983 0C88.0957 0 86.7147 0 85.6174 1.10504C84.5147 2.21009 84.5147 3.58876 84.5147 4.6938Z" fill="#E21A1A"/></svg>'},
            {svg: '<svg class="i _megafone" width="210" height="37" viewBox="0 0 210 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.0526 0.0686456V19.1521C21.0526 20.0445 20.3651 20.6623 19.5401 20.6623H17.2713C17.1338 20.6623 17.0651 20.7996 17.0651 20.8683V36.8627C17.6151 36.8627 18.1651 37 18.7838 37C29.0276 37 37.3463 28.6939 37.3463 18.4657C37.3463 9.06122 30.2651 1.16698 21.0526 0.0686456ZM20.6401 28.6252C19.3338 28.6252 18.3713 27.5269 18.3713 26.3599C18.3713 25.0557 19.4713 24.0946 20.6401 24.0946C21.9463 24.0946 22.9088 25.1929 22.9088 26.3599C23.0463 27.5955 21.9463 28.6252 20.6401 28.6252ZM26.0713 28.6252C24.7651 28.6252 23.8026 27.5269 23.8026 26.3599C23.8026 25.0557 24.9026 24.0946 26.0713 24.0946C27.3776 24.0946 28.3401 25.1929 28.3401 26.3599C28.3401 27.5269 27.4463 28.6252 26.0713 28.6252ZM31.5713 28.6252C30.2651 28.6252 29.3026 27.5269 29.3026 26.3599C29.3026 25.0557 30.4026 24.0946 31.5713 24.0946C32.8776 24.0946 33.8401 25.1929 33.8401 26.3599C33.8401 27.5269 32.8776 28.6252 31.5713 28.6252Z" fill="#00B956"/><path d="M18.7838 0C8.54006 0 0.221313 8.30612 0.221313 18.5343C0.221313 27.5269 6.47756 34.872 14.8651 36.5881V19.9072C14.8651 19.1521 15.5526 18.5343 16.2401 18.397H18.5088C18.6463 18.397 18.7151 18.2597 18.7151 18.1911L18.7838 0ZM15.2088 15.2393C13.9026 15.2393 12.9401 14.141 12.9401 12.974C12.9401 11.6698 14.0401 10.7087 15.2088 10.7087C16.5151 10.7087 17.4776 11.8071 17.4776 12.974C17.4776 14.141 16.4463 15.2393 15.2088 15.2393Z" fill="#00B956"/><path d="M204.615 10.0909V17.0928H195.265V10.0909H190.521V28.6252H195.265V21.1429H204.615V28.6252H209.221V10.0909H204.615ZM127.34 12.2189C126.584 10.5714 125.071 9.67904 123.559 9.67904C122.046 9.67904 120.465 10.5714 119.778 12.2189L112.284 28.6939H117.234L118.884 24.7811H128.509L130.159 28.6939H135.109L127.34 12.2189ZM120.19 21.0742L123.009 14.2783C123.146 14.0724 123.215 14.0724 123.353 14.0724C123.49 14.0724 123.696 14.0724 123.696 14.2783L126.515 21.0742H120.19ZM72.0651 6.79592C69.8651 6.79592 68.4901 7.96289 67.4588 10.2968L61.4776 24.2319L55.4276 10.2282C54.4651 7.96289 53.0213 6.72727 50.8213 6.72727C48.7588 6.72727 46.6963 8.10019 46.6963 11.3265V28.5566H51.3026V11.9443L57.4213 25.7421C58.1776 27.7328 59.6213 28.8998 61.4776 28.8998C63.4713 28.8998 64.7776 27.7328 65.5338 25.7421L71.6526 11.9443V28.7625H76.2588V11.5325C76.1901 8.30612 74.1276 6.79592 72.0651 6.79592ZM84.3713 24.7124C84.1651 24.7124 83.8901 24.5065 83.8901 24.2319V20.9369H95.4401V17.1614H83.8901V14.3469C83.8901 14.141 84.0963 13.8664 84.3713 13.8664H95.8526V9.95362H82.1026C80.4526 9.95362 79.3526 11.2579 79.3526 12.6994V25.6735C79.3526 27.0464 80.5213 28.4193 82.1026 28.4193H95.8526V24.5065H84.3713V24.7124ZM103.621 28.6252V14.4842C103.621 14.2783 103.828 14.0037 104.103 14.0037H115.584V10.0909H101.834C100.184 10.0909 99.0838 11.3952 99.0838 12.8367V28.5566L103.621 28.6252ZM187.496 19.4267C187.496 12.974 184.678 9.95362 177.665 9.95362H176.015C169.003 9.95362 166.184 13.0427 166.184 19.4267C166.184 25.7421 169.003 28.8998 176.015 28.8998H177.528C184.678 28.7625 187.496 25.7421 187.496 19.4267ZM177.528 24.987H176.015C172.234 24.987 170.653 23.2709 170.653 19.4267C170.653 15.7199 171.959 13.8664 176.015 13.8664H177.528C181.446 13.8664 182.89 15.7199 182.89 19.4267C182.89 23.2022 181.446 24.987 177.528 24.987ZM153.328 7.20779H144.115C137.24 7.20779 134.49 10.7087 134.49 16.6809C134.49 17.6419 134.628 18.5343 134.696 19.2894C135.453 23.5455 137.996 26.154 144.39 26.154H146.453V28.5566H151.059V26.154H153.053C159.515 26.154 162.059 23.5455 162.746 19.2894C162.884 18.5343 162.953 17.6419 162.953 16.6809C162.884 10.7087 160.065 7.20779 153.328 7.20779ZM144.253 22.3098C141.09 22.3098 139.99 21.1429 139.303 19.2208C139.096 18.5343 139.096 17.5733 139.096 16.6122C139.096 12.6994 140.953 11.0519 143.565 11.0519H146.384V22.3098H144.253ZM158.14 19.4267C157.453 21.2801 156.284 22.5158 153.19 22.5158H151.128V11.1892H153.946C156.559 11.1892 158.415 12.8367 158.415 16.7495C158.346 17.7792 158.346 18.603 158.14 19.4267Z" fill="#00B956"/></svg>'},
            {svg: '<svg class="i _ros-atom" width="178" height="62" viewBox="0 0 178 62" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.3771 35.4173C33.9602 38.0775 29.8486 38.2887 27.191 35.8687C24.5238 33.4582 24.3216 29.3383 26.7288 26.6781C29.1361 24.018 33.2573 23.8163 35.9245 26.2268C38.5821 28.6372 38.7843 32.7475 36.3771 35.4173Z" fill="url(#paint0_radial)"/><path d="M33.2477 8.7773C33.7965 9.31509 34.2972 9.86249 34.7594 10.4099C37.3785 13.5406 38.6014 16.6137 38.6014 16.6137C40.2672 16.921 41.8367 17.0075 43.2907 16.9402C43.387 16.9306 43.4736 16.9306 43.5699 16.9306C43.6566 16.921 43.7336 16.9114 43.8203 16.9018C47.046 16.6137 51.225 15.3845 55.0573 11.5527C55.1921 11.4183 55.3173 11.2838 55.4521 11.1398C54.8647 10.4387 54.2485 9.73765 53.5841 9.07501C42.4626 -1.96898 25.1112 -2.92933 12.9016 6.17476C22.4825 1.54589 29.1265 4.73424 33.2477 8.7773Z" fill="url(#paint1_linear)"/><path d="M11.178 40.3535C11.3706 39.6141 11.5921 38.9034 11.8424 38.2408C13.2482 34.4186 15.3088 31.8161 15.3088 31.8161C14.7407 30.2219 14.0378 28.8294 13.2482 27.6097C13.2001 27.5329 13.1519 27.4561 13.0942 27.3793C13.046 27.312 12.9979 27.2448 12.9497 27.168C11.0817 24.527 7.91378 21.5307 2.68524 20.1382C2.50229 20.0902 2.31934 20.0518 2.13639 20.0038C1.81863 20.8681 1.52013 21.742 1.27941 22.6447C-2.75514 37.7702 5.08286 53.2318 19.093 59.2244C10.2729 53.2702 9.72403 45.9332 11.178 40.3535Z" fill="url(#paint2_linear)"/><path d="M49.7036 43.6667C48.9622 43.8684 48.24 44.0316 47.5371 44.1565C43.5122 44.8575 40.2287 44.3773 40.2287 44.3773C39.1214 45.6642 38.274 46.9703 37.6 48.2667C37.5615 48.3532 37.5133 48.43 37.4748 48.5164C37.4363 48.5933 37.4074 48.6701 37.3689 48.7469C36.0112 51.676 34.9905 55.9015 36.3964 61.1258C36.4445 61.3083 36.5023 61.4907 36.5504 61.6732C37.4556 61.5099 38.3703 61.3371 39.2754 61.097C54.4218 57.0251 63.9353 42.5239 62.1346 27.4176C61.3643 37.991 55.2692 42.1205 49.7036 43.6667Z" fill="url(#paint3_linear)"/><path d="M12.9015 6.17474C12.9015 6.17474 6.14199 10.4003 2.60815 18.8801C3.53254 19.0434 12.9689 20.9353 16.4835 31.3935C17.3405 30.8461 19.9788 28.7717 21.7506 23.0384C23.8978 16.1143 27.9613 11.0053 33.238 8.78689C33.2476 8.77728 26.5554 -0.72055 12.9015 6.17474Z" fill="url(#paint4_linear)"/><path d="M34.3357 56.0264C34.3357 52.5211 35.3083 47.873 39.2176 43.4939L39.2658 43.4266C38.6303 42.7448 36.3963 41.0738 30.6478 42.3798C23.5609 43.9932 15.7518 43.8012 11.178 40.3535C11.178 40.3535 6.26725 50.8789 19.0834 59.2243C19.0834 59.2243 26.1222 62.9505 35.2409 61.7693C35.0772 61.3179 34.3357 59.1091 34.3357 56.0264Z" fill="url(#paint5_linear)"/><path d="M56.2513 12.1577C55.2402 13.3774 50.4546 18.3808 42.4626 18.3904C41.1723 18.3904 39.8146 18.2559 38.3702 17.9582L38.3028 17.939C38.0429 18.8994 37.8214 21.6363 41.7211 25.8331C46.6608 31.1438 50.4065 37.9911 49.6939 43.6571C49.6939 43.6571 61.2872 42.6391 62.1249 27.3888C62.1346 27.3984 61.8457 19.4467 56.2513 12.1577Z" fill="url(#paint6_linear)"/><path d="M76.5107 38.9322H73.2657V23.8451H78.475C82.2785 23.8451 84.6761 25.4201 84.6761 28.8869C84.6761 32.2962 82.2111 34.2073 78.1765 34.2073H76.5107V38.9322ZM76.4433 31.3646H78.215C80.1601 31.3646 81.3252 30.606 81.3252 29.0118C81.3252 27.3312 80.2275 26.6877 78.2343 26.6877H76.4433V31.3646Z" fill="#1A1A1A"/><path d="M87.0352 31.3934C87.0352 26.3324 90.1261 23.5954 94.2954 23.5954C98.9655 23.5954 101.662 26.5533 101.662 31.3934C101.662 36.7618 98.5322 39.1915 94.3821 39.1915C90.0009 39.1915 87.0352 36.4545 87.0352 31.3934ZM98.2337 31.3934C98.2337 27.965 96.6545 26.438 94.3051 26.438C92.1674 26.438 90.4824 28.0322 90.4824 31.3934C90.4824 34.7547 92.2348 36.3488 94.4977 36.3488C96.7027 36.3488 98.2337 34.7739 98.2337 31.3934Z" fill="#1A1A1A"/><path d="M116.095 38.3271C115.316 38.7401 114.218 39.1915 112.013 39.1915C107.391 39.1915 104.338 36.5409 104.338 31.5855C104.338 26.39 107.381 23.5858 112.331 23.5858C113.977 23.5858 115.335 23.9315 116.134 24.2965L115.421 27.0143C114.516 26.7165 113.476 26.5629 112.783 26.5629C109.798 26.5629 107.766 28.0514 107.766 31.3934C107.766 34.5818 109.711 36.2048 112.754 36.2048C113.447 36.2048 114.507 36.0127 115.431 35.619L116.095 38.3271Z" fill="#1A1A1A"/><path d="M127.958 34.9083H121.497L120.024 38.9418H118.06L123.828 23.8547H125.773L131.434 38.9418H129.403L127.958 34.9083ZM122.123 33.1413H127.333L124.8 26.0539H124.713L122.123 33.1413Z" fill="#1A1A1A"/><path d="M138.194 38.9322H136.249V25.6602H131.771V23.8547H142.662V25.6602H138.184V38.9322H138.194Z" fill="#1A1A1A"/><path d="M144.722 31.3934C144.722 26.5629 147.515 23.6338 151.511 23.6338C156.008 23.6338 158.424 26.8222 158.424 31.3934C158.424 36.5217 155.536 39.153 151.578 39.153C147.38 39.153 144.722 36.176 144.722 31.3934ZM156.354 31.3934C156.354 27.2543 154.496 25.4489 151.511 25.4489C148.853 25.4489 146.802 27.3696 146.802 31.3934C146.802 35.3597 148.786 37.338 151.771 37.338C154.602 37.338 156.354 35.2924 156.354 31.3934Z" fill="#1A1A1A"/><path d="M177.211 38.9322H175.266L174.341 27.1391L170.518 38.9322H168.487L164.683 27.1871L163.73 38.9322H161.785L163.075 23.8451H165.454L169.536 36.8194L173.532 23.8451H175.911L177.211 38.9322Z" fill="#1A1A1A"/><defs><radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(29.4679 27.4199) rotate(0.0552827) scale(9.1574 9.15964)"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></radialGradient><linearGradient id="paint1_linear" x1="22.6109" y1="2.08344" x2="49.9852" y2="13.136" gradientUnits="userSpaceOnUse"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></linearGradient><linearGradient id="paint2_linear" x1="10.6764" y1="52.8869" x2="6.55381" y2="23.7221" gradientUnits="userSpaceOnUse"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></linearGradient><linearGradient id="paint3_linear" x1="60.8318" y1="37.8284" x2="37.6281" y2="56.0481" gradientUnits="userSpaceOnUse"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></linearGradient><linearGradient id="paint4_linear" x1="11.6527" y1="22.9979" x2="23.9206" y2="4.12286" gradientUnits="userSpaceOnUse"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></linearGradient><linearGradient id="paint5_linear" x1="34.9484" y1="49.8741" x2="12.8605" y2="52.1317" gradientUnits="userSpaceOnUse"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></linearGradient><linearGradient id="paint6_linear" x1="49.1716" y1="18.0062" x2="53.6523" y2="40.6834" gradientUnits="userSpaceOnUse"><stop stop-color="#4495D1"/><stop offset="1" stop-color="#15256D"/></linearGradient></defs></svg>'},
            {svg: '<svg class="i _megafone" width="210" height="37" viewBox="0 0 210 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.0526 0.0686456V19.1521C21.0526 20.0445 20.3651 20.6623 19.5401 20.6623H17.2713C17.1338 20.6623 17.0651 20.7996 17.0651 20.8683V36.8627C17.6151 36.8627 18.1651 37 18.7838 37C29.0276 37 37.3463 28.6939 37.3463 18.4657C37.3463 9.06122 30.2651 1.16698 21.0526 0.0686456ZM20.6401 28.6252C19.3338 28.6252 18.3713 27.5269 18.3713 26.3599C18.3713 25.0557 19.4713 24.0946 20.6401 24.0946C21.9463 24.0946 22.9088 25.1929 22.9088 26.3599C23.0463 27.5955 21.9463 28.6252 20.6401 28.6252ZM26.0713 28.6252C24.7651 28.6252 23.8026 27.5269 23.8026 26.3599C23.8026 25.0557 24.9026 24.0946 26.0713 24.0946C27.3776 24.0946 28.3401 25.1929 28.3401 26.3599C28.3401 27.5269 27.4463 28.6252 26.0713 28.6252ZM31.5713 28.6252C30.2651 28.6252 29.3026 27.5269 29.3026 26.3599C29.3026 25.0557 30.4026 24.0946 31.5713 24.0946C32.8776 24.0946 33.8401 25.1929 33.8401 26.3599C33.8401 27.5269 32.8776 28.6252 31.5713 28.6252Z" fill="#00B956"/><path d="M18.7838 0C8.54006 0 0.221313 8.30612 0.221313 18.5343C0.221313 27.5269 6.47756 34.872 14.8651 36.5881V19.9072C14.8651 19.1521 15.5526 18.5343 16.2401 18.397H18.5088C18.6463 18.397 18.7151 18.2597 18.7151 18.1911L18.7838 0ZM15.2088 15.2393C13.9026 15.2393 12.9401 14.141 12.9401 12.974C12.9401 11.6698 14.0401 10.7087 15.2088 10.7087C16.5151 10.7087 17.4776 11.8071 17.4776 12.974C17.4776 14.141 16.4463 15.2393 15.2088 15.2393Z" fill="#00B956"/><path d="M204.615 10.0909V17.0928H195.265V10.0909H190.521V28.6252H195.265V21.1429H204.615V28.6252H209.221V10.0909H204.615ZM127.34 12.2189C126.584 10.5714 125.071 9.67904 123.559 9.67904C122.046 9.67904 120.465 10.5714 119.778 12.2189L112.284 28.6939H117.234L118.884 24.7811H128.509L130.159 28.6939H135.109L127.34 12.2189ZM120.19 21.0742L123.009 14.2783C123.146 14.0724 123.215 14.0724 123.353 14.0724C123.49 14.0724 123.696 14.0724 123.696 14.2783L126.515 21.0742H120.19ZM72.0651 6.79592C69.8651 6.79592 68.4901 7.96289 67.4588 10.2968L61.4776 24.2319L55.4276 10.2282C54.4651 7.96289 53.0213 6.72727 50.8213 6.72727C48.7588 6.72727 46.6963 8.10019 46.6963 11.3265V28.5566H51.3026V11.9443L57.4213 25.7421C58.1776 27.7328 59.6213 28.8998 61.4776 28.8998C63.4713 28.8998 64.7776 27.7328 65.5338 25.7421L71.6526 11.9443V28.7625H76.2588V11.5325C76.1901 8.30612 74.1276 6.79592 72.0651 6.79592ZM84.3713 24.7124C84.1651 24.7124 83.8901 24.5065 83.8901 24.2319V20.9369H95.4401V17.1614H83.8901V14.3469C83.8901 14.141 84.0963 13.8664 84.3713 13.8664H95.8526V9.95362H82.1026C80.4526 9.95362 79.3526 11.2579 79.3526 12.6994V25.6735C79.3526 27.0464 80.5213 28.4193 82.1026 28.4193H95.8526V24.5065H84.3713V24.7124ZM103.621 28.6252V14.4842C103.621 14.2783 103.828 14.0037 104.103 14.0037H115.584V10.0909H101.834C100.184 10.0909 99.0838 11.3952 99.0838 12.8367V28.5566L103.621 28.6252ZM187.496 19.4267C187.496 12.974 184.678 9.95362 177.665 9.95362H176.015C169.003 9.95362 166.184 13.0427 166.184 19.4267C166.184 25.7421 169.003 28.8998 176.015 28.8998H177.528C184.678 28.7625 187.496 25.7421 187.496 19.4267ZM177.528 24.987H176.015C172.234 24.987 170.653 23.2709 170.653 19.4267C170.653 15.7199 171.959 13.8664 176.015 13.8664H177.528C181.446 13.8664 182.89 15.7199 182.89 19.4267C182.89 23.2022 181.446 24.987 177.528 24.987ZM153.328 7.20779H144.115C137.24 7.20779 134.49 10.7087 134.49 16.6809C134.49 17.6419 134.628 18.5343 134.696 19.2894C135.453 23.5455 137.996 26.154 144.39 26.154H146.453V28.5566H151.059V26.154H153.053C159.515 26.154 162.059 23.5455 162.746 19.2894C162.884 18.5343 162.953 17.6419 162.953 16.6809C162.884 10.7087 160.065 7.20779 153.328 7.20779ZM144.253 22.3098C141.09 22.3098 139.99 21.1429 139.303 19.2208C139.096 18.5343 139.096 17.5733 139.096 16.6122C139.096 12.6994 140.953 11.0519 143.565 11.0519H146.384V22.3098H144.253ZM158.14 19.4267C157.453 21.2801 156.284 22.5158 153.19 22.5158H151.128V11.1892H153.946C156.559 11.1892 158.415 12.8367 158.415 16.7495C158.346 17.7792 158.346 18.603 158.14 19.4267Z" fill="#00B956"/></svg>'},
        ];

block content
    include ../pages-content/home

