extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Список страниц';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var pages =
        [
            {url : 'home.html', label: 'Главная'},
            {url : 'products.html', label: 'Продукты'},
            {url : 'product-page.html', label: 'Карточка товара'},
            {url : 'about.html', label: 'О компании'},
            {url : 'contacts.html', label: 'Контакты'},
            {url : 'event-page.html', label: 'Событие'},
            {url : 'webinar-page.html', label: 'Вебинар'},
            {url : 'partners.html', label: 'Партнеры'},
            {url : 'services.html', label: 'Услуги'},
            {url : 'buy.html', label: 'Где купить'},
            {url : 'experience.html', label: 'Наш опыт'},
            {url : 'certificates.html', label: 'Лицензии и сертификаты'},
            {url : 'career.html', label: 'Работа и стажировка у нас'},
            {url : 'cases.html', label: 'Кейсы'},
            {url : 'case-page.html', label: 'Кейс'},
            {url : 'support.html', label: 'Техническая поддержка'},
            {url : 'warranty.html', label: 'Гарантийное обслуживание'},
            {url : 'warranty-plans.html', label: 'Программы поддержки'},
            {url : 'warranty-app.html', label: 'Заявка'},
            {url : 'news.html', label: 'Новости'},
            {url : 'news-page.html', label: 'Новость'},
        ];

block content
    include ../pages-content/pages-list