extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'НОВОСТИ';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {value: 'Новости'}
        ];
    -
        var news =
        [
            {image: 0, headline: 'ТСС получила сертификаты соответствия ФСБ России на&nbsp;СКЗИ Dcrypt&nbsp;XG', preview : 'ООО «ТСС» получило три сертификата соответствия ФСБ России на средство криптографической защиты информации «Dcrypt 1.0 v.2» исп. 50, 51 и 52 (условное обозначение Dcrypt XG).', date: 'Сегодня'},
            {image: 1, headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', preview : 'Сертификат соответствия &#8470;&nbsp;2130 от&nbsp;8&nbsp;июля 2010&nbsp;г.&nbsp;на&nbsp;СКРД &laquo;Diamond ACS&raquo; (ТУ&nbsp;5015-001-61649217-10) продлен не&nbsp;будет.', date: '22&nbsp;июля, 2020'},
            {image: 2, headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', preview : 'Поддержка МКСЗ &laquo;Diamond VPN/FW&raquo; (сертификат соответствия ФСТЭК России &#8470;&nbsp;2260 от&nbsp;21&nbsp;января 2011&nbsp;г., действителен до&nbsp;21&nbsp;января 2020&nbsp;г.) будет прекращена.', date: '19&nbsp;марта, 2020'},
            {image: 3, headline: 'ТСС приняла участие в&nbsp;форуме &laquo;Информационная безопасность финансовой сферы&raquo;', preview : 'Основатель и&nbsp;гендиректор ООО &laquo;ТСС&raquo; Александр Атаманов и&nbsp;заместитель генерального директора Владимир Сенькин приняли участие в&nbsp;XI&nbsp;Уральском форуме &laquo;Информационная безопасность финансовой сферы&raquo;.', date: '22&nbsp;февраля, 2019'},
            {image: 4, headline: 'ТСС получила сертификат ФСТЭК России на&nbsp;МКСЗ Diamond VPN/FW', preview : 'Компания ООО &laquo;ТСС&raquo; получила сертификат соответствия ФСТЭК России &#8470;&nbsp;4066 от&nbsp;24&nbsp;января 2019&nbsp;г.&nbsp;на&nbsp;многофункциональный комплекс сетевой защиты Diamond VPN/FW. Документ действителен до&nbsp;24&nbsp;января 2024г.', date: '1&nbsp;февраля, 2019'},
            {image: 5, headline: 'ТСС поздравляет с&nbsp;Международным днем защиты персональных данных', preview : 'Компания ТСС поздравляет наших клиентов, партнеров и&nbsp;всех причастных к&nbsp;миру информационной безопасности с&nbsp;Международным днем защиты персональных данных (Data Protection Day).', date: '28&nbsp;января, 2019'},
        ];

block content
    include ../pages-content/news-alt