extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'НОВОСТИ';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {value: 'Новости'}
        ];
    -
        var news =
        [
            {headline: 'ТСС получила сертификаты соответствия ФСБ России на&nbsp;СКЗИ Dcrypt&nbsp;XG', date: 'Сегодня'},
            {headline: 'Оповещение: согласован новый порядок поддержки СКРД &laquo;Diamond ACS&raquo;', date: '22&nbsp;июля, 2020'},
            {headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'},
            {headline: 'ТСС приняла участие в&nbsp;форуме &laquo;Информационная безопасность финансовой сферы&raquo;', date: '22&nbsp;февраля, 2019'},
            {headline: 'ТСС получила сертификат ФСТЭК России на&nbsp;МКСЗ Diamond VPN/FW', date: '1&nbsp;февраля, 2019'},
            {headline: 'ТСС поздравляет с&nbsp;Международным днем защиты персональных данных', date: '28&nbsp;января, 2019'},
            {headline: 'ТСС поздравляет с&nbsp;Международным днем защиты персональных данных', date: '18&nbsp;января, 2019'},
            {headline: 'ТСС поздравляет вас с&nbsp;Международным днем защиты информации', date: '30&nbsp;декабря, 2018'},
            {headline: 'ТСС оповещает о&nbsp;прекращении поддержки старой версии МКСЗ &laquo;Diamond VPN/FW&raquo;', date: '19&nbsp;марта, 2020'}
        ];

block content
    include ../pages-content/news