extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'НОВОСТИ';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './about.html', value: 'Компания'},
            {url: './news.html', value: 'Новости'},
            {value: 'ТСС приняла участие в&nbsp;форуме &laquo;Информационная безопасность финансовой сферы&raquo;'}
        ];

block content
    include ../pages-content/news-page