extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Партнеры';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {value: 'Партнеры'}
        ];
    -
        var scrollNavigation = {
            button: {
                mod     : 'js-popup-launcher',
                trigger : 'become-partner-trigger',
                id      : 'become-partner',
                value   : 'Стать парнером'
            },
            elements : [
                {url: '#distributors', mod : 'scroll-navigation__element--current', value: 'Дистрибьюторы'},
                {url: '#partners', value: 'Партнеры'},
                {url: '#partners-program', value: 'Партнерская программа'}
            ]
        };
    -
        var features =
        [
            {
                icon: '<svg class="i" width="92" height="93" viewBox="0 0 92 93" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="2.58276" y1="87.1791" x2="89.4172" y2="87.1791" stroke-width="2" stroke-linecap="round"/><mask id="path-2-inside-1" fill="white"><rect x="26.0208" y="63.5879" width="9.99591" height="24.5912" rx="1"/></mask><rect x="26.0208" y="63.5879" width="9.99591" height="24.5912" rx="1" stroke-width="4" stroke-linejoin="round" mask="url(#path-2-inside-1)"/><mask id="path-3-inside-2" fill="white"><rect x="42.1481" y="49.564" width="9.99591" height="38.6151" rx="1"/></mask><rect x="42.1481" y="49.564" width="9.99591" height="38.6151" rx="1" stroke-width="4" stroke-linejoin="round" mask="url(#path-3-inside-2)"/><mask id="path-4-inside-3" fill="white"><rect x="58.2753" y="33.3981" width="9.99591" height="54.7809" rx="1"/></mask><rect x="58.2753" y="33.3981" width="9.99591" height="54.7809" rx="1" stroke-width="4" stroke-linejoin="round" mask="url(#path-4-inside-3)"/><mask id="path-5-inside-4" fill="white"><rect x="74.762" y="14.8336" width="9.99591" height="73.3454" rx="1"/></mask><rect x="74.762" y="14.8336" width="9.99591" height="73.3454" rx="1" stroke-width="4" stroke-linejoin="round" mask="url(#path-5-inside-4)"/><path d="M26.1718 56.8666H35.1807V42.4982H51.0649V26.077H67.1918V7.81337H85.7284M85.7284 7.81337L82.2412 4.03851M85.7284 7.81337L82.2412 11.901" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
                text: 'Вместе с&nbsp;нами вы&nbsp;продвигаете самые <br />современные решения, пользующиеся спросом <br />у&nbsp;заказчиков.'
            },
            {
                icon: '<svg class="i" width="92" height="93" viewBox="0 0 92 93" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M70.486 79.3981H76.6401C77.1924 79.3981 77.6401 78.9504 77.6401 78.3981V4.13989C77.6401 3.58761 77.1924 3.13989 76.6401 3.13989H15.36C14.8077 3.13989 14.36 3.58761 14.36 4.13989V78.3981C14.36 78.9504 14.8077 79.3981 15.36 79.3981H42.423" stroke-width="2" stroke-linecap="round"/><line x1="44.9173" y1="16.236" x2="64.5541" y2="16.236" stroke-width="2" stroke-linecap="round"/><line x1="25.2306" y1="27.0909" x2="64.5541" y2="27.0909" stroke-width="2" stroke-linecap="round"/><line x1="25.2306" y1="37.9785" x2="64.5541" y2="37.9785" stroke-width="2" stroke-linecap="round"/><line x1="25.2306" y1="48.8661" x2="64.5541" y2="48.8661" stroke-width="2" stroke-linecap="round"/><line x1="25.2306" y1="59.7537" x2="39.0413" y2="59.7537" stroke-width="2" stroke-linecap="round"/><line x1="54.4086" y1="69.6428" x2="58.6818" y2="69.6428" stroke-width="2" stroke-linecap="round"/><circle cx="56.5452" cy="69.5212" r="9.90498" stroke-width="2"/><path d="M48.5577 82.2214V89.6766L56.5453 85.4165L64.5329 89.6766V82.2214" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
                text: 'Обучение и&nbsp;сертификация Diamond позволят вам развить <br />компетенции для выполнения работ <br />по&nbsp;внедрению и&nbsp;обслуживанию решений Diamond.'
            },
            {
                icon: '<svg class="i" width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M57.7946 56.95C57.7946 57.4195 57.5865 57.9401 57.0618 58.4962C56.5321 59.0576 55.7189 59.6086 54.6381 60.0931C52.4789 61.061 49.4257 61.6855 46 61.6855C42.5744 61.6855 39.5212 61.061 37.362 60.0931C36.2812 59.6086 35.468 59.0576 34.9383 58.4962C34.4136 57.9401 34.2054 57.4195 34.2054 56.95C34.2054 56.4805 34.4136 55.9598 34.9383 55.4037C35.468 54.8423 36.2812 54.2914 37.362 53.8069C39.5212 52.8389 42.5744 52.2145 46 52.2145C49.4257 52.2145 52.4789 52.8389 54.6381 53.8069C55.7189 54.2914 56.5321 54.8423 57.0618 55.4037C57.5865 55.9598 57.7946 56.4805 57.7946 56.95Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.6781 36.2139C88.6781 36.6834 88.47 37.2041 87.9453 37.7601C87.4156 38.3216 86.6024 38.8725 85.5216 39.357C83.3624 40.325 80.3092 40.9494 76.8835 40.9494C73.4579 40.9494 70.4047 40.325 68.2454 39.357C67.1647 38.8725 66.3514 38.3216 65.8217 37.7601C65.297 37.2041 65.0889 36.6834 65.0889 36.2139C65.0889 35.7444 65.297 35.2238 65.8217 34.6677C66.3514 34.1062 67.1647 33.5553 68.2454 33.0708C70.4047 32.1028 73.4579 31.4784 76.8835 31.4784C80.3092 31.4784 83.3624 32.1028 85.5216 33.0708C86.6024 33.5553 87.4156 34.1062 87.9453 34.6677C88.47 35.2238 88.6781 35.7444 88.6781 36.2139Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M26.9111 53.8616C26.9111 54.3311 26.703 54.8518 26.1783 55.4079C25.6486 55.9693 24.8354 56.5202 23.7546 57.0047C21.5953 57.9727 18.5422 58.5971 15.1165 58.5971C11.6908 58.5971 8.63767 57.9727 6.47841 57.0047C5.39763 56.5202 4.58442 55.9693 4.05471 55.4079C3.53001 54.8518 3.3219 54.3311 3.3219 53.8616C3.3219 53.3921 3.53001 52.8715 4.05471 52.3154C4.58442 51.7539 5.39763 51.203 6.47841 50.7185C8.63767 49.7506 11.6908 49.1261 15.1165 49.1261C18.5422 49.1261 21.5953 49.7506 23.7546 50.7185C24.8354 51.203 25.6486 51.7539 26.1783 52.3154C26.703 52.8715 26.9111 53.3921 26.9111 53.8616Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M34.0878 57.3911V60.6438C34.0878 63.5678 39.4211 65.3326 46 65.3326C52.579 65.3326 57.9123 63.5678 57.9123 60.9207V57.3911" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M64.9713 36.6552V39.9079C64.9713 42.8319 70.3046 44.5966 76.8835 44.5966C83.4625 44.5966 88.7957 42.8319 88.7957 40.1847V36.6552" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.20428 54.303V57.5557C3.20428 60.4797 8.53756 62.2445 15.1165 62.2445C21.6954 62.2445 27.0287 60.4797 27.0287 57.8325V54.303" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M57.9123 65.3328C57.9123 67.7694 52.579 69.7447 46 69.7447C39.4211 69.7447 34.0878 67.7694 34.0878 65.3328" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.7957 44.5966C88.7957 47.0332 83.4625 49.0085 76.8835 49.0085C70.3046 49.0085 64.9713 47.0332 64.9713 44.5966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.0287 62.2444C27.0287 64.681 21.6954 66.6563 15.1165 66.6563C8.53756 66.6563 3.20428 64.681 3.20428 62.2444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M34.0878 65.3328V68.5855C34.0878 71.5095 39.4211 73.2742 46 73.2742C52.579 73.2742 57.9123 71.5095 57.9123 68.8623V65.3328" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M64.9713 44.5966V47.8493C64.9713 50.7733 70.3046 52.538 76.8835 52.538C83.4625 52.538 88.7957 50.7733 88.7957 48.1261V44.5966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.20428 62.2444V65.4971C3.20428 68.4211 8.53756 70.1859 15.1165 70.1859C21.6954 70.1859 27.0287 68.4211 27.0287 65.7739V62.2444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M57.9123 73.2742C57.9123 75.7108 52.579 77.6861 46 77.6861C39.4211 77.6861 34.0878 75.7108 34.0878 73.2742" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.7957 52.5381C88.7957 54.9747 83.4625 56.95 76.8835 56.95C70.3046 56.95 64.9713 54.9747 64.9713 52.5381" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.0287 70.1859C27.0287 72.6226 21.6954 74.5978 15.1165 74.5978C8.53756 74.5978 3.20428 72.6226 3.20428 70.1859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M34.0878 73.2742V76.5269C34.0878 79.4509 39.4211 81.2156 46 81.2156C52.579 81.2156 57.9123 79.4509 57.9123 76.8037V73.2742" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M64.9713 52.5381V55.7908C64.9713 58.7148 70.3046 60.4796 76.8835 60.4796C83.4625 60.4796 88.7957 58.7148 88.7957 56.0676V52.5381" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3.20428 70.1859V73.4386C3.20428 76.3626 8.53756 78.1274 15.1165 78.1274C21.6954 78.1274 27.0287 76.3626 27.0287 73.7155V70.1859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M57.9123 81.2157C57.9123 83.6523 52.579 85.6276 46 85.6276C39.4211 85.6276 34.0878 83.6523 34.0878 81.2157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.7957 60.4795C88.7957 62.9161 83.4625 64.8914 76.8835 64.8914C70.3046 64.8914 64.9713 62.9161 64.9713 60.4795" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.7957 68.4211C88.7957 70.8578 83.4625 72.8331 76.8835 72.8331C70.3046 72.8331 64.9713 70.8578 64.9713 68.4211" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.7957 76.3624C88.7957 78.7991 83.4625 80.7744 76.8835 80.7744C70.3046 80.7744 64.9713 78.7991 64.9713 76.3624" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M34.0878 81.2157V84.4684C34.0878 87.3924 39.4211 89.1572 46 89.1572C52.579 89.1572 57.9123 87.3924 57.9123 84.7452V81.2157" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M64.9713 60.4795V63.7322C64.9713 66.6562 70.3046 68.421 76.8835 68.421C83.4625 68.421 88.7957 66.6562 88.7957 64.009V60.4795" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M64.9713 68.4211V71.6739C64.9713 74.5978 70.3046 76.3626 76.8835 76.3626C83.4625 76.3626 88.7957 74.5978 88.7957 71.9507V68.4211" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M64.9713 76.3624V79.6152C64.9713 82.5391 70.3046 84.3039 76.8835 84.3039C83.4625 84.3039 88.7957 82.5391 88.7957 79.892V76.3624" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><circle cx="14.7964" cy="35.2106" r="4.41539" stroke-width="2"/><circle cx="46" cy="27.269" r="4.41539" stroke-width="2"/><path d="M81.2989 7.41526C81.2989 9.85382 79.3221 11.8307 76.8835 11.8307C75.4372 11.8307 74.1533 11.1363 73.3463 10.0585C72.7946 9.32157 72.4681 8.40798 72.4681 7.41526C72.4681 4.97671 74.445 2.99988 76.8835 2.99988C79.3221 2.99988 81.2989 4.97671 81.2989 7.41526Z" stroke-width="2"/><path d="M19.3939 34.3567L41.7645 28.5671" stroke-width="2"/><path d="M50.3433 25.004L73.4188 10.2248" stroke-width="2"/></svg>',
                text: 'В&nbsp;рамках программы вы&nbsp;получаете необходимые ресурсы <br />и&nbsp;инструменты для развития бизнеса по&nbsp;решениям Diamond.'
            },
            {
                icon: '<svg class="i" width="92" height="93" viewBox="0 0 92 93" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.8978 52.9603L15.8672 79.4582C15.0996 81.2577 16.8549 83.1033 18.6905 82.4269L25.9751 79.743C27.1764 79.3005 28.5029 79.9574 28.879 81.181L31.2901 89.0259C31.9042 91.0238 34.6819 91.1562 35.4832 89.2258L45.596 64.8628C45.6602 64.7081 45.8747 64.6961 45.9558 64.8426L59.3098 88.9835C60.2664 90.6937 62.8051 90.4281 63.3871 88.5571L65.4879 81.8036C65.8763 80.5548 67.2507 79.9064 68.4615 80.4008L75.6415 83.3324C77.6065 84.1347 79.4759 81.9988 78.4203 80.1574L62.6404 52.6782M44.9332 5.36814L40.6928 4.12749C38.6838 3.53971 36.5213 4.26554 35.2738 5.94636L32.3008 9.95188C31.7376 10.7108 30.9707 11.2945 30.0892 11.6354L25.4991 13.4104C23.6437 14.1279 22.3901 15.877 22.3068 17.8645L22.0864 23.1254C22.0482 24.0366 21.7615 24.92 21.2573 25.6801L18.3465 30.0678C17.2468 31.7255 17.2344 33.8774 18.3149 35.5476L20.9881 39.6798C21.5014 40.4733 21.7793 41.3961 21.7896 42.3412L21.844 47.3291C21.8668 49.4222 23.1909 51.2795 25.1622 51.9835L29.323 53.4692C30.268 53.8067 31.0895 54.4206 31.6809 55.2312L34.3065 58.8302C35.5797 60.5753 37.8297 61.3055 39.885 60.6405L44.1236 59.2692C45.0783 58.9603 46.1038 58.9458 47.0668 59.2276L51.3072 60.4682C53.3162 61.056 55.4786 60.3302 56.7262 58.6494L59.6991 54.6438C60.2624 53.8849 61.0292 53.3012 61.9107 52.9603L66.5009 51.1853C68.3563 50.4678 69.6099 48.7187 69.6931 46.7312L69.9136 41.4704C69.9518 40.5591 70.2385 39.6757 70.7427 38.9157L73.6534 34.5279C74.7531 32.8702 74.7655 30.7183 73.685 29.0481L71.0119 24.9159C70.4985 24.1224 70.2206 23.1996 70.2103 22.2545L70.156 17.2666C70.1332 15.1735 68.809 13.3162 66.8377 12.6122L62.6769 11.1265C61.732 10.789 60.9104 10.1751 60.319 9.36453L57.6934 5.76552C56.4203 4.02036 54.1703 3.29019 52.115 3.95516L47.8763 5.32652C46.9217 5.63539 45.8962 5.64989 44.9332 5.36814ZM61.7196 32.2979C61.7196 41.1545 54.5399 48.3341 45.6833 48.3341C36.8267 48.3341 29.647 41.1545 29.647 32.2979C29.647 23.4413 36.8267 16.2616 45.6833 16.2616C54.5399 16.2616 61.7196 23.4413 61.7196 32.2979ZM43.736 29.5818H38.8718C38.4843 29.5818 38.3232 30.0776 38.6367 30.3054L42.5719 33.1645C42.7121 33.2663 42.7708 33.4469 42.7172 33.6117L41.2141 38.2378C41.0944 38.6063 41.5162 38.9128 41.8297 38.685L45.7649 35.8259C45.9051 35.7241 46.0949 35.7241 46.2351 35.8259L50.1703 38.685C50.4838 38.9128 50.9056 38.6063 50.7858 38.2378L49.2827 33.6117C49.2292 33.4469 49.2878 33.2663 49.428 33.1645L53.3632 30.3054C53.6767 30.0776 53.5156 29.5818 53.1281 29.5818H48.2639C48.0906 29.5818 47.9371 29.4702 47.8835 29.3054L46.3804 24.6793C46.2607 24.3107 45.7393 24.3107 45.6196 24.6793L44.1164 29.3054C44.0629 29.4702 43.9093 29.5818 43.736 29.5818Z" stroke-width="2"/></svg>',
                text: 'Статус официального партнера ТСС поможет получить <br />преимущество среди конкурентов и&nbsp;большее доверие <br />клиентов.'
            },
        ];
    -
        var distibutors =
        [
            {headline : 'Mont, Москва', jpg: 'mont'},
            {headline : 'Axoft, Москва', jpg: 'axsoft'},
        ];
    -
        var partners =
        [
            {headline : 'АО&nbsp;&laquo;АЗИМУТ&raquo; (Москва)', jpg: 'azimut'},
            {headline : 'АО&nbsp;&laquo;БИТК&raquo; (Москва)', jpg: 'bitk'},
            {headline : 'АО&nbsp;&laquo;Калуга Астрал&raquo; (Москва)', jpg: 'astral'},
            {headline : 'Ланит (Москва)', jpg: 'lanit'},
            {headline : 'ООО &laquo;Ланит-Интеграция&raquo; (Москва)', jpg: 'lanit-integra'},
            {headline : 'АО&nbsp;&laquo;НИИИТ&raquo; (Москва)', jpg: 'niiit'},
            {hidden: true, headline : 'АО «НИЦ» (Москва)', jpg: 'nic'},
            {hidden: true, headline : 'АО&nbsp;НПК &laquo;Абитон&raquo; (Москва)', jpg: 'abiton'},
            {hidden: true, headline : 'Винтегра Секьюрити (Москва)', jpg: 'wintegra'},
            {hidden: true, headline : 'ДиалогНаука (Москва)', jpg: 'dialog'},
            {hidden: true, headline : 'ЗАО &laquo;ОКБ САПР&raquo; (Москва)', jpg: 'sapr'},
            {hidden: true, headline : 'ИБС Экспертиза (IBS) (Москва)', jpg: 'ibs'},
            {hidden: true, headline : 'ООО «АВ СОФТ» (Москва)', jpg: 'avsoft'},
            {hidden: true, headline : 'ООО «ИН-ФОРМА» (Москва)', jpg: 'informa'},
            {hidden: true, headline : 'INLINE Technologies (Москва)', jpg: 'inline'},
            {hidden: true, headline : 'ООО &laquo;Инженерно-техническая компания Д-Системс&raquo; (Москва)', jpg: 'dsystems'},
            {hidden: true, headline : 'ООО &laquo;ИТЕРАНЕТ&raquo; (Москва)', jpg: 'iteranet'},
            {hidden: true, headline : 'ООО «НТЦ ЕВРААС» (Москва)', jpg: 'evraas'},
            {hidden: true, headline : 'ООО &laquo;ПиЭлСи Технолоджи&raquo; (Москва)', jpg: 'topaz'},
            {hidden: true, headline : 'ООО &laquo;Реальная безопасность&raquo; (Москва)', jpg: 'real-security'},
            {hidden: true, headline : 'ООО &laquo;Русь-Телеком&raquo; (Москва)', jpg: 'rus-telecom'},
            {hidden: true, headline : 'ООО &laquo;СевенПро&raquo; (Москва)', jpg: 'sevenpro'},
            {hidden: true, headline : 'ООО «Сфера безопасности» (Москва)', jpg: 'sfera-security'},
            {hidden: true, headline : 'ООО &laquo;Арсенал&raquo; (Москва)', jpg: 'arsenal'},
            {hidden: true, headline : 'ООО &laquo;BI&nbsp;Solutions&raquo; (Москва)', jpg: 'bi-solutions'},
            {hidden: true, headline : 'РТК &laquo;Солар&raquo; (Москва)', jpg: 'rt-solar'},
            {hidden: true, headline : 'ООО &laquo;Телеком Интеграция&raquo; (Москва)', jpg: 'telecom-integra'},
            {hidden: true, headline : 'ООО &laquo;Бест Инжиниринг&raquo; (Санкт-Петербург)', jpg: 'best'},
            {hidden: true, headline : 'ООО &laquo;СКБ&raquo; (Санкт-Петербург)', jpg: 'skb'},
            {hidden: true, headline : 'ООО &laquo;Кредо-С&raquo; (Тула)', jpg: 'credo-s'},
            {hidden: true, headline : 'ООО &laquo;ЦБИ&raquo; (Юбилейный)', jpg: 'cbi'},
            {hidden: true, headline : 'АО&nbsp;&laquo;БИТК&raquo; в&nbsp;Воронеже (Воронеж)', jpg: 'bitk'},
            {hidden: true, headline : 'ГК&nbsp;&laquo;ICL&raquo; (Казань)', jpg: 'icl'},
            {hidden: true, headline : 'АО&nbsp;ГК&nbsp;&laquo;МАЙ&raquo; (Нижний Новгород)', jpg: 'may'},
            {hidden: true, headline : 'ООО НПО &laquo;НовоТест Системы&raquo; (Новороссийск)', jpg: 'novo-test'},
            {hidden: true, headline : 'ООО &laquo;Просистем&raquo; (Кемерово)', jpg: 'prosystem'},
        ];

block content
    include ../pages-content/partners