extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Diamond VPN/FW';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var scrollNavigation =
        [
            {url: '#overview', mod : 'scroll-navigation__element--current', value: 'Обзор'},
            {url: '#models', value: 'Модели'},
            {url: '#apply', value: 'Схема применения'},
            {url: '#tests', value: 'Тесты'},
            {url: '#certificates', value: 'Сертификаты'},
            {url: '#cases', value: 'Кейсы'},
            {url: '#material', value: 'Материалы'}
        ];
    -
        var props =
        [
            {label: 'Вид монтажа', value: 'в&nbsp;стойку U1'},
            {label: 'Габариты, Ш&times;В&times;Г', value: '431 &times; 44 &times; 305&nbsp;мм'},
            {label: 'Температура эксплуатации', value: '0&ndash;40 &deg;С'},
            {label: 'Влажность', value: '5&ndash;90&nbsp;%'},
            {label: 'Порт управления', value: '1&nbsp;порт RJ45 консольный порт'},
            {label: 'Bypass', value: 'в&nbsp;зависимости от&nbsp;спецификаций модулей Ethernet (поддержка Lanner Gen 3&nbsp;bypass)'},
            {label: 'Контроллеры', value: '2 &times; Intel i210АТ + 1&nbsp;Marvell 88E1543'},
            {label: 'Локальные порты', value: 'До&nbsp;6&nbsp;RJ-45 GbE портов (10/100/1000&nbsp;Мбит/с), в&nbsp;зависимости от&nbsp;установленных модулей + 2&nbsp;USB 2.0'},
            {label: 'Электропитание', value: '150&nbsp;W'},
            {label: 'Входящий ток', value: 'AC&nbsp;110~240&nbsp;V @ 47~63&nbsp;Hz'}
        ];
    -
        var certificates =
        [
            {image: 0, original: 'assets/images/certificate/image-'+ 0 +'-2x.jpg"', headline: 'Лицензия 16275H, лист 1'},
            {image: 1, original: 'assets/images/certificate/image-'+ 1 +'-2x.jpg"', headline: 'Лицензия 16275H, лист&nbsp;2'},
            {image: 2, original: 'assets/images/certificate/image-'+ 2 +'-2x.jpg"', headline: 'Лицензия 33589, лист&nbsp;1'},
            {image: 3, original: 'assets/images/certificate/image-'+ 3 +'-2x.jpg"', headline: 'Лицензия 33589, лист&nbsp;2'},
            {mobileHidden: true, image: 4, original: 'assets/images/certificate/image-'+ 4 +'-2x.jpg"', headline: 'Лицензия 33589, лист&nbsp;1'},
            {hidden: true, image: 5, original: 'assets/images/certificate/image-'+ 5 +'-2x.jpg"', headline: 'Лицензия 33589, лист&nbsp;2'}
        ];
    -
        var articles =
        [
            {
                image    : 0,
                headline : 'СКЗИ Diamond VPN/FW для защиты объектов среднего и&nbsp;крупного бизнеса',
                preview  : '<p class="p--s">В буклете представлены основные технические характеристики СКЗИ Diamond VPN/FW 4-й серии, предназначенного для защиты объектов крупного и среднего бизнеса.</p>'
            },{
                image    : 1,
                headline : 'Система централизованного управления и&nbsp;мониторинга Diamond NCC',
                preview  : '<p class="p--s">Система централизованного управления и&nbsp;мониторинга Diamond NCC 5115 является высокопроизводительным программно-аппаратное решение для управления комплексами безопасности МКСЗ Diamond VPN/FW. Централизованное создание политик безопасности и&nbsp;управление настройками устройств повышают эффективность и&nbsp;отказоустойчивость работы системы информационной безопасности организации.</p>'
            },
        ];
    -
        var webinars =
        [
            {mod: 'webinar-element--mini', image: 0, preview: 'Dcrypt XG&nbsp;100&nbsp;Гб высокоскоростной сертифицированный шифратор реальный опыт'},
            {mod: 'webinar-element--mini', image: 1, preview: 'Diamond NCC онлайн презентация нового продукта для управления защищенной сетью'},
            {mod: 'webinar-element--mini', image: 2, preview: 'Презентация Diamond VPN/FW на&nbsp;Infosecurity'},
            {mod: 'webinar-element--mini', image: 3, preview: 'Высокопроизводительное шифро- вальное средство Dcrypt XG&nbsp;ключевые характеристики и&nbsp;целевые функции'}
        ];
    -
        var products =
        [
            {image: 0, headline: 'Diamond VPN/FW', desc: 'Многофункциональный комплекс для защиты сети с&nbsp;функциями межсетевого экрана, средства криптографической защиты информации (СКЗИ) и&nbsp;СОВ.'},
            {image: 1, headline: 'Diamond VPN/FW Client', desc: 'Программный клиент для безопасного удаленного доступа с&nbsp;сертифицирован- ной криптографией.'},
            {image: 2, headline: 'Diamond NCC центр управления и&nbsp;мониторинга', desc: 'Современная платформа для управления большими защищенными сетями.'},
            {image: 3, headline: 'Diamond ACS', desc: 'Программное решение для контроля и&nbsp;разграничения доступа с&nbsp;возможностью подключения аппаратной платы&nbsp;&mdash; максимальная защита от&nbsp;НСД.'},
            {image: 4, headline: 'DCRYPT XG', desc: 'Сертифицированный шифратор для защиты трафика на&nbsp;канальном уровне, который позволяет достигать скорости шифрования 100&nbsp;Gb.'},
            {image: 5, headline: 'DCRYPT', desc: 'Встраиваемое средство криптографической защиты информации с&nbsp;простой адаптацией к&nbsp;любой IT-инфраструктуре заказчика.'},
            {image: 6, headline: 'DCRYPT Smart SFP', desc: 'Сертифицированное ФСБ канальное шифрование в&nbsp;форм-факторе SFP-модуля.'},
            {image: 7, headline: 'Безопасный IoT', desc: 'Встраиваемые криптографические решения для безопасного интернета вещей.'}
        ];

block content
    include ../pages-content/product-page