extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Продукты';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var products =
        [
            {image: 0, headline: 'Diamond VPN/FW', desc: 'Многофункциональный комплекс для защиты сети с&nbsp;функциями межсетевого экрана, средства криптографической защиты информации (СКЗИ) и&nbsp;СОВ.'},
            {image: 1, headline: 'Diamond VPN/FW Client', desc: 'Программный клиент для безопасного удаленного доступа с&nbsp;сертифицированной криптографией.'},
            {image: 2, headline: 'Diamond NCC центр управления и&nbsp;мониторинга', desc: 'Современная платформа для управления большими защищенными сетями.'},
            {image: 3, headline: 'Diamond ACS', desc: 'Программное решение для контроля и&nbsp;разграничения доступа с&nbsp;возможностью подключения аппаратной платы&nbsp;&mdash; максимальная защита от&nbsp;НСД.'},
            {image: 4, headline: 'DCRYPT XG', desc: 'Сертифицированный шифратор для защиты трафика на&nbsp;канальном уровне, который позволяет достигать скорости шифрования 100&nbsp;Gb.'},
            {image: 5, headline: 'DCRYPT', desc: 'Встраиваемое средство криптографической защиты информации с&nbsp;простой адаптацией к&nbsp;любой IT-инфраструктуре заказчика.'},
            {image: 6, headline: 'DCRYPT Smart SFP', desc: 'Сертифицированное ФСБ канальное шифрование в&nbsp;форм-факторе SFP-модуля.'},
            {image: 7, headline: 'Безопасный IoT', desc: 'Встраиваемые криптографические решения для безопасного интернета вещей.'}
        ];
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {value: 'Продукты'}
        ];

block content
    include ../pages-content/products