extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Услуги';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {value: 'Услуги'}
        ];
    -
        var services =
        [
            {
                icon     : '<svg class="i _icon-0" width="120" height="110" viewBox="0 0 120 110" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M82.9825 65.4874C82.0115 65.4874 81.2247 66.2742 81.2247 67.2452V75.4786C81.2247 77.0208 79.9701 78.2754 78.4279 78.2754H55.3739C54.4028 78.2754 53.616 79.0622 53.616 80.0332C53.616 81.0042 54.4028 81.791 55.3739 81.791H78.4279C81.9086 81.791 84.7403 78.9593 84.7403 75.4786V67.2452C84.7403 66.2742 83.9532 65.4874 82.9825 65.4874Z"/><path d="M78.5213 38.3913V30.7849C78.5213 27.1064 77.4392 23.5482 75.3917 20.4947C74.8508 19.6885 73.7588 19.4731 72.9528 20.0136C72.1466 20.5543 71.9312 21.6462 72.4717 22.4525C74.1294 24.9249 75.0057 27.806 75.0057 30.7849V38.389H70.551V30.7849C70.551 24.9671 65.8178 20.2339 59.9996 20.2339C54.1815 20.2339 49.4483 24.9668 49.4483 30.7849V38.389H44.9936V30.7849C44.9936 22.5106 51.7253 15.7791 59.9994 15.7791C62.4753 15.7791 64.9318 16.3988 67.1031 17.5711C67.9576 18.0322 69.0235 17.7136 69.485 16.8596C69.9463 16.0053 69.6275 14.9389 68.7735 14.4776C66.0908 13.0292 63.0568 12.2637 59.9994 12.2637C49.7865 12.2637 41.478 20.5723 41.478 30.7852V38.3916C38.0406 38.442 35.2593 41.2523 35.2593 44.7014V75.4788C35.2593 78.9595 38.091 81.7912 41.5717 81.7912H47.282C48.253 81.7912 49.0398 81.0044 49.0398 80.0334C49.0398 79.0623 48.253 78.2756 47.282 78.2756H41.5717C40.0295 78.2756 38.7749 77.0209 38.7749 75.4788V53.3557H81.2241V59.1539C81.2241 60.1249 82.0109 60.9117 82.9819 60.9117C83.953 60.9117 84.7398 60.1249 84.7398 59.1539V44.7012C84.7402 41.2521 81.9589 38.4417 78.5213 38.3913ZM52.9642 30.7847C52.9642 26.9053 56.1203 23.7493 59.9999 23.7493C63.8795 23.7493 67.0356 26.9053 67.0356 30.7847V38.3888H52.9644L52.9642 30.7847ZM38.7752 49.8401V44.7012C38.7752 43.159 40.0298 41.9044 41.5719 41.9044H78.4278C79.97 41.9044 81.2246 43.159 81.2246 44.7012V49.8401H38.7752Z"/><path d="M59.9999 74.1054C60.9709 74.1054 61.7577 73.3186 61.7577 72.3476V69.0572C64.1129 68.31 65.8246 66.1036 65.8246 63.5044C65.8246 60.2927 63.2117 57.6797 59.9999 57.6797C56.788 57.6797 54.1752 60.2925 54.1752 63.5044C54.1752 66.1036 55.8868 68.31 58.2421 69.0572V72.3476C58.2421 73.3186 59.0289 74.1054 59.9999 74.1054ZM59.9999 61.1953C61.2732 61.1953 62.3089 62.231 62.3089 63.5044C62.3089 64.7777 61.2732 65.8134 59.9999 65.8134C58.7265 65.8134 57.6908 64.7777 57.6908 63.5044C57.6908 62.231 58.7265 61.1953 59.9999 61.1953Z"/><path d="M105.052 39.286C104.585 39.286 104.138 39.4711 103.808 39.8009L96.71 46.8996H90.3415C89.3705 46.8996 88.5837 47.6864 88.5837 48.6574C88.5837 49.6285 89.3705 50.4152 90.3415 50.4152H97.4379C97.9041 50.4152 98.3511 50.2301 98.6811 49.9006L105.78 42.8016H109.201C109.938 44.9986 112.015 46.5865 114.457 46.5865C117.513 46.5865 120 44.1 120 41.0438C120 37.9875 117.513 35.5011 114.457 35.5011C112.015 35.5011 109.938 37.0892 109.201 39.286H105.052ZM114.457 39.0164C115.575 39.0164 116.484 39.9258 116.484 41.0435C116.484 42.1613 115.575 43.0706 114.457 43.0706C113.339 43.0706 112.43 42.1613 112.43 41.0435C112.43 39.9258 113.339 39.0164 114.457 39.0164Z"/><path d="M114.457 63.0483C112.015 63.0483 109.939 64.6364 109.202 66.8332H105.78L98.6813 59.7343C98.3516 59.4047 97.9046 59.2196 97.4382 59.2196H90.3418C89.3708 59.2196 88.584 60.0064 88.584 60.9774C88.584 61.9484 89.3708 62.7352 90.3418 62.7352H96.7103L103.809 69.8339C104.139 70.1637 104.585 70.3489 105.052 70.3489H109.202C109.939 72.5459 112.016 74.1338 114.457 74.1338C117.514 74.1338 120 71.6473 120 68.591C120 65.5348 117.513 63.0483 114.457 63.0483ZM114.457 70.6182C113.339 70.6182 112.43 69.7088 112.43 68.591C112.43 67.4733 113.339 66.5639 114.457 66.5639C115.575 66.5639 116.484 67.4733 116.484 68.591C116.484 69.7088 115.575 70.6182 114.457 70.6182Z"/><path d="M29.6582 59.2196H22.5619C22.0957 59.2196 21.6487 59.4047 21.3187 59.7345L14.2202 66.8332H5.54275C4.57173 66.8332 3.78494 67.62 3.78494 68.591C3.78494 69.5621 4.57173 70.3489 5.54275 70.3489H14.9482C15.4144 70.3489 15.8613 70.1637 16.1913 69.8339L23.2898 62.7352H29.6582C30.6293 62.7352 31.4161 61.9484 31.4161 60.9774C31.4161 60.0064 30.6293 59.2196 29.6582 59.2196Z"/><path d="M8.82 30.7161H21.3164L28.4151 37.8151C28.7585 38.1582 29.2085 38.3298 29.6583 38.3298C30.108 38.3298 30.558 38.1582 30.9014 37.8151C31.5879 37.1284 31.5879 36.0156 30.9014 35.3291L23.2875 27.7154C22.9577 27.3859 22.5108 27.2008 22.0444 27.2008H8.82C7.84899 27.2008 7.06219 27.9875 7.06219 28.9586C7.06219 29.9296 7.84899 30.7161 8.82 30.7161Z"/><path d="M10.7983 50.4418H29.6582C30.6292 50.4418 31.416 49.655 31.416 48.684C31.416 47.713 30.6292 46.9262 29.6582 46.9262H10.7983C10.0615 44.7292 7.98491 43.1415 5.54296 43.1415C2.48648 43.1415 0 45.6278 0 48.684C0 51.7402 2.48648 54.2267 5.54272 54.2267C7.98467 54.227 10.0615 52.6388 10.7983 50.4418ZM3.51562 48.684C3.51562 47.5663 4.42499 46.6571 5.54272 46.6571C6.66046 46.6571 7.56983 47.5665 7.56983 48.684C7.56983 49.802 6.66046 50.7111 5.54272 50.7111C4.42499 50.7111 3.51562 49.802 3.51562 48.684Z"/><path d="M31.2569 81.2752L26.7834 85.7487C26.4539 86.0785 26.2687 86.5254 26.2687 86.9918V98.2575C24.0717 98.9944 22.4838 101.071 22.4838 103.513C22.4838 106.569 24.9703 109.056 28.0265 109.056C31.0828 109.056 33.569 106.569 33.569 103.513C33.569 101.071 31.9811 98.9944 29.7843 98.2575V87.7198L33.7431 83.7612C34.4296 83.0745 34.4296 81.9617 33.7431 81.2752C33.0564 80.589 31.9436 80.589 31.2569 81.2752ZM28.0265 105.54C26.9085 105.54 25.9994 104.631 25.9994 103.513C25.9994 102.395 26.9088 101.486 28.0265 101.486C29.1442 101.486 30.0534 102.395 30.0534 103.513C30.0534 104.631 29.1442 105.54 28.0265 105.54Z"/><path d="M89.6023 81.2752C88.9156 80.589 87.8028 80.589 87.1163 81.2752C86.4298 81.9619 86.4298 83.0747 87.1163 83.7612L91.0751 87.7198V103.513C91.0751 104.484 91.8619 105.271 92.833 105.271C93.804 105.271 94.5908 104.484 94.5908 103.513V86.9918C94.5908 86.5257 94.4056 86.0787 94.0761 85.7487L89.6023 81.2752Z"/><path d="M88.3592 24.9143C88.809 24.9143 89.259 24.7427 89.6023 24.3996L94.0758 19.9261C94.4054 19.5963 94.5905 19.1493 94.5905 18.6829V10.7981C96.7876 10.0612 98.3754 7.98444 98.3754 5.54273C98.3754 2.48648 95.889 0 92.8327 0C89.7765 0 87.29 2.48648 87.29 5.54273C87.29 7.98468 88.8781 10.0612 91.0749 10.7981V17.955L87.1161 21.9136C86.4296 22.6003 86.4296 23.7131 87.1161 24.3996C87.4594 24.7427 87.9094 24.9143 88.3592 24.9143ZM92.8327 3.51562C93.9507 3.51562 94.8598 4.42499 94.8598 5.54273C94.8598 6.66046 93.9505 7.56983 92.8327 7.56983C91.715 7.56983 90.8056 6.66046 90.8056 5.54273C90.8056 4.42499 91.7148 3.51562 92.8327 3.51562Z"/><path d="M29.7843 17.9551V4.83973C29.7843 3.86872 28.9975 3.08193 28.0265 3.08193C27.0555 3.08193 26.2687 3.86872 26.2687 4.83973V18.6831C26.2687 19.1492 26.4538 19.5962 26.7834 19.9262L31.2569 24.3997C31.6002 24.7428 32.0502 24.9144 32.5 24.9144C32.9498 24.9144 33.3998 24.7428 33.7431 24.3997C34.4296 23.713 34.4296 22.6002 33.7431 21.9137L29.7843 17.9551Z"/><path d="M88.3592 32.4135C87.3882 32.4135 86.6014 33.2003 86.6014 34.1713C86.6014 35.1423 87.3882 35.9291 88.3592 35.9291H96.2246C96.6908 35.9291 97.1377 35.744 97.4677 35.4144L108.725 24.1572C109.054 23.8274 109.24 23.3805 109.24 22.9141V14.021C109.24 13.05 108.453 12.2632 107.482 12.2632C106.511 12.2632 105.724 13.05 105.724 14.021V22.1861L95.4964 32.4138L88.3592 32.4135Z"/><path d="M110.672 81.155H104.202L92.8836 69.8362C92.1969 69.1499 91.084 69.1499 90.3976 69.8362C89.7111 70.5229 89.7111 71.6357 90.3976 72.3222L102.231 84.1557C102.561 84.4853 103.008 84.6704 103.474 84.6704H110.672C111.643 84.6704 112.43 83.8836 112.43 82.9126C112.43 81.9416 111.643 81.155 110.672 81.155Z"/><path d="M23.9393 74.7251H29.6582C30.6293 74.7251 31.4161 73.9383 31.4161 72.9673C31.4161 71.9963 30.6293 71.2095 29.6582 71.2095H23.2111C22.7449 71.2095 22.2979 71.3946 21.9679 71.7242L11.2266 82.4655C10.4984 82.1131 9.68179 81.915 8.81976 81.915C5.76352 81.915 3.27704 84.4015 3.27704 87.4577C3.27704 90.514 5.76352 93.0002 8.81976 93.0002C11.876 93.0002 14.3625 90.514 14.3625 87.4577C14.3625 86.5432 14.1384 85.6805 13.7447 84.9194L23.9393 74.7251ZM8.81999 89.4848C7.70203 89.4848 6.79289 88.5755 6.79289 87.458C6.79289 86.34 7.70226 85.4309 8.81999 85.4309C9.93773 85.4309 10.8471 86.3402 10.8471 87.458C10.8471 88.5757 9.93773 89.4848 8.81999 89.4848Z"/><path d="M70.071 88.3044H49.9288C46.8022 88.3044 44.2588 90.8481 44.2588 93.9744C44.2588 97.1007 46.8022 99.6446 49.9288 99.6446H70.0707C73.1973 99.6446 75.7407 97.101 75.7407 93.9747C75.7407 90.8483 73.1975 88.3044 70.071 88.3044ZM70.071 96.129H49.9288C48.741 96.129 47.7744 95.1625 47.7744 93.9747C47.7744 92.7868 48.741 91.8203 49.9288 91.8203H70.0707C71.2585 91.8203 72.2251 92.7868 72.2251 93.9747C72.2251 95.1625 71.2588 96.129 70.071 96.129Z"/></svg>',
                headline : 'Создание системы защиты информации',
                text     : 'Внедрение организационных мер защиты персональных данных.'
            },
            {
                icon     : '<svg class="i _icon-1" width="120" height="110" viewBox="0 0 120 110" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.6271 28.7051H62.5059C63.4773 28.7051 64.2649 27.9175 64.2649 26.9461C64.2649 25.9747 63.4773 25.1871 62.5059 25.1871H25.6271C24.6557 25.1871 23.8681 25.9747 23.8681 26.9461C23.8681 27.9175 24.6557 28.7051 25.6271 28.7051Z"/><path d="M1.75899 83.0209C2.73042 83.0209 3.51798 82.2333 3.51798 81.2619V44.0545H56.6083C57.5797 44.0545 58.3673 43.267 58.3673 42.2955C58.3673 41.3241 57.5797 40.5365 56.6083 40.5365H3.51798V37.433C3.51798 32.6204 7.43326 28.7051 12.2459 28.7051H18.131C19.1024 28.7051 19.89 27.9175 19.89 26.9461C19.89 25.9747 19.1024 25.1871 18.131 25.1871H12.2459C5.49345 25.1871 0 30.6806 0 37.433V81.2619C0 82.2335 0.787559 83.0209 1.75899 83.0209Z"/><path d="M113.157 66.7014C112.185 66.7014 111.398 67.489 111.398 68.4604V96.9828C111.398 101.795 107.483 105.71 102.67 105.71H12.2459C7.43326 105.711 3.51798 101.795 3.51798 96.9828V88.7582C3.51798 87.7868 2.73042 86.9992 1.75899 86.9992C0.787559 86.9992 0 87.7868 0 88.7582V96.9828C0 103.735 5.49345 109.228 12.2459 109.228H102.67C109.422 109.228 114.916 103.735 114.916 96.9828V68.4604C114.916 67.489 114.128 66.7014 113.157 66.7014Z"/><path d="M63.8148 43.2015C63.9353 50.5081 66.8738 57.3961 72.0886 62.5971C77.3032 67.7976 84.1994 70.7178 91.5065 70.8193C91.6411 70.8212 91.7748 70.8221 91.9091 70.8221C99.3417 70.8219 106.333 67.958 111.632 62.7317C117.028 57.4099 120 50.3057 120 42.7275C120 39.5133 119.459 36.3572 118.393 33.3467C118.068 32.4311 117.063 31.9515 116.147 32.2761C115.232 32.6004 114.752 33.6056 115.077 34.5215C116.009 37.1536 116.482 39.9146 116.482 42.7275C116.482 49.3568 113.882 55.5714 109.162 60.2269C104.442 64.8812 98.1948 67.3998 91.555 67.3016C85.1675 67.2129 79.1363 64.6575 74.5725 60.1061C70.0088 55.5548 67.4374 49.5306 67.3318 43.1434C67.2146 36.0513 70.165 29.2546 75.4258 24.4964C75.563 24.3723 75.7436 24.3041 75.9347 24.3041H107.875C108.066 24.3041 108.247 24.3726 108.385 24.4969C109.634 25.6269 110.771 26.8898 111.766 28.2506C112.339 29.0351 113.439 29.2068 114.223 28.6333C115.008 28.0604 115.179 26.9599 114.606 26.1754C113.471 24.6209 112.172 23.1783 110.745 21.8877C109.959 21.1773 108.94 20.7859 107.875 20.7859H107.276V15.3705C107.276 6.89525 100.38 0 91.9049 0C83.4294 0 76.5342 6.89525 76.5342 15.3705V20.7859H75.9345C74.8697 20.7859 73.8509 21.1768 73.0657 21.887C67.053 27.3263 63.6809 35.0949 63.8148 43.2015ZM87.0888 20.7861V15.3708C87.0888 12.7149 89.2495 10.5542 91.9056 10.5542C94.5617 10.5542 96.7225 12.7149 96.7225 15.3708V20.7861H87.0888ZM80.0528 15.3705C80.0528 8.83506 85.3699 3.51798 91.9056 3.51798C98.4413 3.51798 103.758 8.83506 103.758 15.3705V20.7859H100.24V15.3705C100.24 10.7749 96.5015 7.03596 91.9056 7.03596C87.3097 7.03596 83.5708 10.7749 83.5708 15.3705V20.7859H80.0528V15.3705Z"/><path d="M11.2259 33.6812C10.2544 33.6812 9.46689 34.4687 9.46689 35.4402C9.46689 36.4116 10.2544 37.1991 11.2259 37.1991H12.6952C13.6667 37.1991 14.4542 36.4116 14.4542 35.4402C14.4542 34.4687 13.6667 33.6812 12.6952 33.6812H11.2259Z"/><path d="M18.6507 35.4402C18.6507 36.4116 19.4383 37.1991 20.4097 37.1991H21.879C22.8505 37.1991 23.638 36.4116 23.638 35.4402C23.638 34.4687 22.8505 33.6812 21.879 33.6812H20.4097C19.4383 33.6812 18.6507 34.4687 18.6507 35.4402Z"/><path d="M29.5937 33.6812C28.6223 33.6812 27.8347 34.4687 27.8347 35.4402C27.8347 36.4116 28.6223 37.1991 29.5937 37.1991H31.0631C32.0345 37.1991 32.8221 36.4116 32.8221 35.4402C32.8221 34.4687 32.0345 33.6812 31.0631 33.6812H29.5937Z"/><path d="M38.7775 33.6812C37.8061 33.6812 37.0185 34.4687 37.0185 35.4402C37.0185 36.4116 37.8061 37.1991 38.7775 37.1991H56.6083C57.5797 37.1991 58.3673 36.4116 58.3673 35.4402C58.3673 34.4687 57.5797 33.6812 56.6083 33.6812H38.7775Z"/><path d="M84.9527 53.019C85.6427 53.9614 86.7084 54.5017 87.8764 54.5017H95.9344C97.1024 54.5017 98.1681 53.9614 98.8581 53.019C99.5481 52.0767 99.7418 50.8977 99.3893 49.7841L97.8269 44.8498C99.0169 43.3753 99.61 41.5213 99.4981 39.6193C99.2732 35.7894 96.2161 32.7219 92.3874 32.4846C90.2627 32.3525 88.2425 33.0798 86.6971 34.5323C85.1731 35.9646 84.2993 37.9848 84.2993 40.0754C84.2993 41.8103 84.8971 43.5027 85.9842 44.8496L84.4215 49.7841C84.0692 50.8977 84.2627 52.0767 84.9527 53.019ZM87.7755 50.8459L89.3694 45.8126C89.7109 44.7337 89.4785 43.5597 88.7474 42.6715C88.1391 41.9329 87.8173 41.0349 87.8173 40.0754C87.8173 38.9354 88.2751 37.8769 89.1065 37.0957C89.8727 36.3757 90.858 35.9873 91.9049 35.9873C91.9929 35.9873 92.0811 35.9901 92.1697 35.9955C94.1911 36.121 95.8676 37.8033 95.9863 39.8254C96.0475 40.8656 95.7189 41.8774 95.0613 42.6743C94.3312 43.5592 94.0994 44.7321 94.4416 45.8121L96.0355 50.8456C96.0411 50.8637 96.0517 50.897 96.02 50.9404C95.9884 50.9838 95.9534 50.9838 95.9347 50.9838H87.8766C87.8578 50.9838 87.8229 50.9838 87.7912 50.9404C87.7593 50.8972 87.7699 50.8639 87.7755 50.8459Z"/><path d="M17.835 57.167C17.835 56.1955 17.0474 55.408 16.076 55.408C15.1046 55.408 14.317 56.1955 14.317 57.167V67.03C14.317 68.0014 15.1046 68.789 16.076 68.789C17.0474 68.789 17.835 68.0014 17.835 67.03V57.167Z"/><path d="M48.6331 57.167C48.6331 56.1955 47.8455 55.408 46.8741 55.408C45.9026 55.408 45.1151 56.1955 45.1151 57.167V67.03C45.1151 68.0014 45.9026 68.789 46.8741 68.789C47.8455 68.789 48.6331 68.0014 48.6331 67.03V57.167Z"/><path d="M37.0331 60.9662C37.0331 57.9015 34.5398 55.408 31.4749 55.408C28.41 55.408 25.9167 57.9013 25.9167 60.9662V63.231C25.9167 66.2957 28.41 68.7892 31.4749 68.7892C34.5398 68.7892 37.0331 66.2959 37.0331 63.231V60.9662ZM33.5151 63.231C33.5151 64.3558 32.6 65.2712 31.4749 65.2712C30.3499 65.2712 29.4347 64.3561 29.4347 63.231V60.9662C29.4347 59.8413 30.3499 58.926 31.4749 58.926C32.6 58.926 33.5151 59.8411 33.5151 60.9662V63.231Z"/><path d="M16.076 80.1427C15.1046 80.1427 14.317 80.9302 14.317 81.9017V91.7647C14.317 92.7361 15.1046 93.5237 16.076 93.5237C17.0474 93.5237 17.835 92.7361 17.835 91.7647V81.9017C17.835 80.93 17.0474 80.1427 16.076 80.1427Z"/><path d="M46.8741 80.1427C45.9026 80.1427 45.1151 80.9302 45.1151 81.9017V91.7647C45.1151 92.7361 45.9026 93.5237 46.8741 93.5237C47.8455 93.5237 48.6331 92.7361 48.6331 91.7647V81.9017C48.6331 80.93 47.8455 80.1427 46.8741 80.1427Z"/><path d="M31.4751 80.1427C28.4105 80.1427 25.917 82.636 25.917 85.7009V87.9657C25.917 91.0304 28.4103 93.5237 31.4751 93.5237C34.54 93.5237 37.0333 91.0304 37.0333 87.9657V85.7009C37.0331 82.636 34.5398 80.1427 31.4751 80.1427ZM33.5151 87.9655C33.5151 89.0903 32.6 90.0055 31.4749 90.0055C30.3499 90.0055 29.4347 89.0903 29.4347 87.9655V85.7006C29.4347 84.5758 30.3499 83.6604 31.4749 83.6604C32.6 83.6604 33.5151 84.5756 33.5151 85.7006V87.9655Z"/><path d="M74.8971 81.9017V91.7647C74.8971 92.7361 75.6847 93.5237 76.6561 93.5237C77.6275 93.5237 78.4151 92.7361 78.4151 91.7647V81.9017C78.4151 80.9302 77.6275 80.1427 76.6561 80.1427C75.6847 80.1427 74.8971 80.93 74.8971 81.9017Z"/><path d="M55.6988 85.7006V87.9655C55.6988 91.0301 58.1921 93.5234 61.257 93.5234C64.3218 93.5234 66.8152 91.0301 66.8152 87.9655V85.7006C66.8152 82.636 64.3218 80.1424 61.257 80.1424C58.1921 80.1424 55.6988 82.636 55.6988 85.7006ZM63.2972 85.7006V87.9655C63.2972 89.0903 62.382 90.0055 61.257 90.0055C60.1319 90.0055 59.2168 89.0903 59.2168 87.9655V85.7006C59.2168 84.5758 60.1319 83.6604 61.257 83.6604C62.382 83.6604 63.2972 84.5758 63.2972 85.7006Z"/><path d="M86.4971 85.7006V87.9655C86.4971 91.0301 88.9904 93.5234 92.0553 93.5234C95.1201 93.5234 97.6134 91.0301 97.6134 87.9655V85.7006C97.6134 82.636 95.1201 80.1424 92.0553 80.1424C88.9904 80.1424 86.4971 82.636 86.4971 85.7006ZM94.0955 85.7006V87.9655C94.0955 89.0903 93.1803 90.0055 92.0553 90.0055C90.9302 90.0055 90.0151 89.0903 90.0151 87.9655V85.7006C90.0151 84.5758 90.9302 83.6604 92.0553 83.6604C93.1803 83.6604 94.0955 84.5758 94.0955 85.7006Z"/></svg>',
                headline : 'Экспертиза проектных решений',
                text     : 'Мероприятия по&nbsp;защите информации в&nbsp;ГИС и&nbsp;МИС.'
            },
            {
                icon     : '<svg class="i _icon-2" width="117" height="117" viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M105.009 62.8742V26.1022C111.36 25.1872 116.26 19.7248 116.26 13.1261C116.26 5.88988 110.372 0 103.134 0C95.8958 0 90.0077 5.88988 90.0077 13.1261H0V88.1326H56.3505C57.3256 103.801 70.3485 116.26 86.2574 116.26C102.8 116.26 116.26 102.8 116.26 86.2574C116.26 76.8085 111.859 68.3778 105.009 62.8742ZM103.134 3.75032C108.304 3.75032 112.51 7.95631 112.51 13.1261C112.51 18.2959 108.304 22.5019 103.134 22.5019C97.9641 22.5019 93.7581 18.2959 93.7581 13.1261C93.7581 7.95631 97.9641 3.75032 103.134 3.75032ZM3.75032 16.8765H90.5609C91.0091 18.3728 91.7216 19.7511 92.6367 20.9737L81.1682 32.4422C80.4332 32.0896 79.6231 31.8777 78.7568 31.8777C77.8904 31.8777 77.0804 32.0896 76.3472 32.4422L72.5687 28.6637C72.9194 27.9287 73.1313 27.1186 73.1313 26.2523C73.1313 23.1507 70.6073 20.6268 67.5058 20.6268C64.4043 20.6268 61.8803 23.1507 61.8803 26.2523C61.8803 27.1186 62.0922 27.9287 62.4447 28.6618L53.0408 38.0658C52.3057 37.7151 51.4957 37.5032 50.6294 37.5032C47.5278 37.5032 45.0039 40.0272 45.0039 43.1287C45.0039 46.2302 47.5278 48.7542 50.6294 48.7542C53.7309 48.7542 56.2548 46.2302 56.2548 43.1287C56.2548 42.2624 56.0429 41.4523 55.6904 40.7191L65.0944 31.3152C65.8294 31.6658 66.6395 31.8777 67.5058 31.8777C68.3721 31.8777 69.1822 31.6658 69.9154 31.3133L73.6938 35.0918C73.3432 35.8268 73.1313 36.6369 73.1313 37.5032C73.1313 40.6047 75.6553 43.1287 78.7568 43.1287C81.8583 43.1287 84.3823 40.6047 84.3823 37.5032C84.3823 36.6369 84.1704 35.8268 83.8178 35.0936L95.2882 23.6252C97.004 24.9115 99.0404 25.7835 101.259 26.1041V60.3164C96.839 57.7493 91.7254 56.2548 86.2574 56.2548C77.2942 56.2548 69.2572 60.2264 63.7555 66.4801V58.13H52.5045V80.6319H56.8024C56.5699 81.8564 56.4292 83.1109 56.3505 84.3823H3.75032V16.8765ZM78.7568 35.6281C79.79 35.6281 80.6319 36.4681 80.6319 37.5032C80.6319 38.5383 79.79 39.3784 78.7568 39.3784C77.7236 39.3784 76.8816 38.5383 76.8816 37.5032C76.8816 36.4681 77.7236 35.6281 78.7568 35.6281ZM65.6306 26.2523C65.6306 25.2172 66.4726 24.3771 67.5058 24.3771C68.539 24.3771 69.381 25.2172 69.381 26.2523C69.381 27.2873 68.539 28.1274 67.5058 28.1274C66.4726 28.1274 65.6306 27.2873 65.6306 26.2523ZM52.5045 43.1287C52.5045 44.1638 51.6626 45.0039 50.6294 45.0039C49.5961 45.0039 48.7542 44.1638 48.7542 43.1287C48.7542 42.0936 49.5961 41.2535 50.6294 41.2535C51.6626 41.2535 52.5045 42.0936 52.5045 43.1287ZM86.2574 101.259C77.9861 101.259 71.2561 94.5288 71.2561 86.2574C71.2561 77.9861 77.9861 71.2561 86.2574 71.2561C94.5288 71.2561 101.259 77.9861 101.259 86.2574C101.259 94.5288 94.5288 101.259 86.2574 101.259ZM60.0052 71.7643C59.107 73.3844 58.3644 75.0965 57.7756 76.8816H56.2548V61.8803H60.0052V71.7643ZM84.3823 60.1008V67.6014C74.9202 68.5465 67.5058 76.5516 67.5058 86.2574C67.5058 89.0008 68.1134 91.6016 69.1766 93.9531L62.6716 97.709C60.9802 94.2437 60.0052 90.3659 60.0052 86.2574C60.0052 72.415 70.7817 61.0684 84.3823 60.1008ZM86.2574 112.51C77.2304 112.51 69.2535 107.929 64.528 100.968L71.0592 97.1971C74.4683 101.919 80.0019 105.009 86.2574 105.009C92.513 105.009 98.0466 101.919 101.456 97.1971L107.987 100.968C103.261 107.929 95.2844 112.51 86.2574 112.51ZM109.843 97.709L103.338 93.9531C104.401 91.6016 105.009 89.0008 105.009 86.2574C105.009 76.5516 97.5946 68.5446 88.1326 67.6014V60.1008C101.733 61.0684 112.51 72.415 112.51 86.2574C112.51 90.3659 111.535 94.2437 109.843 97.709Z"/><path d="M86.2574 75.0065C80.0525 75.0065 75.0065 80.0525 75.0065 86.2574C75.0065 92.4623 80.0525 97.5084 86.2574 97.5084C92.4623 97.5084 97.5084 92.4623 97.5084 86.2574C97.5084 80.0525 92.4623 75.0065 86.2574 75.0065ZM86.2574 93.7581C82.1208 93.7581 78.7568 90.394 78.7568 86.2574C78.7568 82.1208 82.1208 78.7568 86.2574 78.7568C90.394 78.7568 93.7581 82.1208 93.7581 86.2574C93.7581 90.394 90.394 93.7581 86.2574 93.7581Z"/><path d="M7.50065 20.6268H11.251V24.3771H7.50065V20.6268Z"/><path d="M15.0013 20.6268H41.2535V24.3771H15.0013V20.6268Z"/><path d="M7.50065 28.1274H11.251V31.8777H7.50065V28.1274Z"/><path d="M15.0013 28.1274H41.2535V31.8777H15.0013V28.1274Z"/><path d="M7.50065 35.6281H11.251V39.3784H7.50065V35.6281Z"/><path d="M15.0013 35.6281H41.2535V39.3784H15.0013V35.6281Z"/><path d="M7.50065 43.1287H11.251V46.879H7.50065V43.1287Z"/><path d="M15.0013 43.1287H41.2535V46.879H15.0013V43.1287Z"/><path d="M7.50065 80.6319H18.7516V61.8803H7.50065V80.6319ZM11.251 65.6306H15.0013V76.8816H11.251V65.6306Z"/><path d="M22.5019 80.6319H33.7529V65.6306H22.5019V80.6319ZM26.2523 69.381H30.0026V76.8816H26.2523V69.381Z"/><path d="M37.5032 80.6319H48.7542V50.6294H37.5032V80.6319ZM41.2535 54.3797H45.0039V76.8816H41.2535V54.3797Z"/></svg>',
                headline : 'Проектирование',
                text     : 'Защита коммерческой тайны&nbsp;&mdash; главное условие успешного ведения бизнеса.'
            },
            {
                icon     : '<svg class="i _icon-3" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M97.0423 102.632C93.9357 99.5251 88.8802 99.5251 85.7731 102.632C83.7722 104.633 83.0621 107.442 83.6384 110.018C76.2315 113.529 68.2861 115.313 60 115.313C29.5006 115.313 4.6875 90.4995 4.6875 60C4.6875 45.6223 10.1768 32.0013 20.1445 21.6457C21.0422 20.7131 21.0138 19.2293 20.0813 18.3316C19.1487 17.434 17.6646 17.4623 16.7672 18.3951C5.95477 29.6285 0 44.404 0 60C0 76.0266 6.24118 91.0939 17.5737 102.427C28.9062 113.759 43.9735 120 60 120C69.1107 120 77.8435 118.01 85.9756 114.094C87.5016 115.518 89.4542 116.232 91.4077 116.232C93.4484 116.232 95.4889 115.455 97.0423 113.902C100.149 110.795 100.149 105.739 97.0423 102.632ZM93.728 110.587C92.4488 111.866 90.3669 111.866 89.0876 110.587C87.8082 109.308 87.8082 107.226 89.0876 105.946C89.7272 105.307 90.5675 104.987 91.4079 104.987C92.2479 104.987 93.0884 105.307 93.728 105.946C95.0072 107.226 95.0072 109.308 93.728 110.587Z"/><path d="M115.657 82.4454C118.537 75.3174 120 67.7766 120 60C120 46.7719 115.59 33.8569 107.551 23.4124C109.444 20.3416 109.063 16.2555 106.404 13.5958C103.297 10.4892 98.2415 10.4887 95.1344 13.5958C92.0275 16.7029 92.0275 21.7584 95.1344 24.8655C96.6879 26.419 98.7286 27.1954 100.769 27.1954C101.878 27.1954 102.986 26.9641 104.017 26.5054C111.314 36.0919 115.312 47.9034 115.312 60C115.312 67.0502 114.008 73.8874 111.442 80.3581C109.001 79.9662 106.412 80.707 104.534 82.5846C101.427 85.6917 101.427 90.7472 104.534 93.8543C106.087 95.4078 108.128 96.1842 110.168 96.1842C112.209 96.1842 114.25 95.4078 115.803 93.8543C118.91 90.7472 118.91 85.6917 115.803 82.5846C115.755 82.5368 115.706 82.4918 115.657 82.4454ZM103.089 21.551C103.079 21.5613 103.068 21.5697 103.057 21.5801L103.055 21.5819C103.034 21.5988 103.017 21.6173 102.997 21.6347C101.712 22.8262 99.6986 22.8009 98.449 21.551C97.1697 20.2718 97.1697 18.1898 98.449 16.9106C99.0888 16.271 99.9288 15.9511 100.769 15.9511C101.609 15.9511 102.45 16.2708 103.089 16.9106C104.369 18.1898 104.369 20.2718 103.089 21.551ZM112.489 90.5398C111.21 91.819 109.128 91.8195 107.849 90.5398C106.569 89.2606 106.569 87.1786 107.849 85.8994C108.488 85.2598 109.328 84.9399 110.169 84.9399C110.653 84.9399 111.136 85.0498 111.581 85.2621C111.652 85.3038 111.725 85.3425 111.801 85.3772C112.047 85.5181 112.279 85.6899 112.489 85.8994C113.768 87.1786 113.768 89.2606 112.489 90.5398Z"/><path d="M84.875 2.33391C81.9903 -0.550782 77.4263 -0.755157 74.3014 1.71703C69.6441 0.578438 64.8366 0 60.0001 0C50.4005 0 41.2283 2.19961 32.7378 6.53766C31.5851 7.12664 31.1281 8.53852 31.7171 9.69118C32.1315 10.5023 32.9534 10.969 33.8061 10.969C34.1649 10.969 34.5291 10.8863 34.8706 10.7119C42.6945 6.71438 51.1491 4.6875 60.0001 4.6875C63.8963 4.6875 67.771 5.09461 71.5496 5.89641C70.8373 8.55821 71.521 11.5191 73.6055 13.6036C75.159 15.157 77.1994 15.9335 79.2404 15.9335C81.2811 15.9335 83.3216 15.157 84.875 13.6036C87.9819 10.4965 87.9819 5.44102 84.875 2.33391ZM81.5602 10.2891C80.281 11.5683 78.1991 11.5683 76.9198 10.2891C75.6404 9.00985 75.6404 6.92789 76.9198 5.64867C77.5597 5.00883 78.3999 4.68914 79.2402 4.68914C80.0802 4.68914 80.9206 5.00883 81.5602 5.64867C82.8394 6.92789 82.8394 9.00985 81.5602 10.2891Z"/><path d="M27.5408 12.3197C26.7814 11.2714 25.3164 11.037 24.2678 11.7961C24.2624 11.8004 24.2483 11.8104 24.2401 11.8165C23.1983 12.5773 22.967 14.0382 23.7242 15.0837C24.1827 15.717 24.8982 16.0531 25.6246 16.0531C26.101 16.0531 26.5818 15.9082 26.9973 15.6075C27.0043 15.6024 27.0102 15.5982 27.0172 15.5928C28.0656 14.8336 28.3 13.3683 27.5408 12.3197Z"/><path d="M79.6875 37.9688H40.3125C39.0181 37.9688 37.9688 39.0183 37.9688 40.3125V79.6875C37.9688 80.9818 39.0181 82.0313 40.3125 82.0313H79.6875C80.982 82.0313 82.0313 80.9818 82.0313 79.6875V40.3125C82.0313 39.0183 80.982 37.9688 79.6875 37.9688ZM77.3438 77.3438H42.6563V42.6563H77.3438V77.3438Z"/><path d="M98.2032 56.7188C99.4976 56.7188 100.547 55.6693 100.547 54.375C100.547 53.0808 99.4976 52.0313 98.2032 52.0313H91.4063V45.4688H98.2032C99.4976 45.4688 100.547 44.4192 100.547 43.125C100.547 41.8308 99.4976 40.7813 98.2032 40.7813H91.4063V30.9375C91.4063 29.6433 90.357 28.5938 89.0626 28.5938H79.2188V21.7969C79.2188 20.5027 78.1695 19.4531 76.875 19.4531C75.5806 19.4531 74.5313 20.5027 74.5313 21.7969V28.5938H67.9688V21.7969C67.9688 20.5027 66.9195 19.4531 65.625 19.4531C64.3306 19.4531 63.2813 20.5027 63.2813 21.7969V28.5938H56.7188V21.7969C56.7188 20.5027 55.6695 19.4531 54.375 19.4531C53.0806 19.4531 52.0313 20.5027 52.0313 21.7969V28.5938H45.4688V21.7969C45.4688 20.5027 44.4195 19.4531 43.125 19.4531C41.8306 19.4531 40.7813 20.5027 40.7813 21.7969V28.5938H30.9375C29.6431 28.5938 28.5938 29.6433 28.5938 30.9375V40.7813H21.7969C20.5024 40.7813 19.4531 41.8308 19.4531 43.125C19.4531 44.4192 20.5024 45.4688 21.7969 45.4688H28.5938V52.0313H21.7969C20.5024 52.0313 19.4531 53.0808 19.4531 54.375C19.4531 55.6693 20.5024 56.7188 21.7969 56.7188H28.5938V63.2813H21.7969C20.5024 63.2813 19.4531 64.3308 19.4531 65.625C19.4531 66.9193 20.5024 67.9688 21.7969 67.9688H28.5938V74.5313H21.7969C20.5024 74.5313 19.4531 75.5808 19.4531 76.875C19.4531 78.1693 20.5024 79.2188 21.7969 79.2188H28.5938V89.0626C28.5938 90.3568 29.6431 91.4063 30.9375 91.4063H40.7813V98.2032C40.7813 99.4974 41.8306 100.547 43.125 100.547C44.4195 100.547 45.4688 99.4974 45.4688 98.2032V91.4063H52.0313V98.2032C52.0313 99.4974 53.0806 100.547 54.375 100.547C55.6695 100.547 56.7188 99.4974 56.7188 98.2032V91.4063H63.2813V98.2032C63.2813 99.4974 64.3306 100.547 65.625 100.547C66.9195 100.547 67.9688 99.4974 67.9688 98.2032V91.4063H74.5313V98.2032C74.5313 99.4974 75.5806 100.547 76.875 100.547C78.1695 100.547 79.2188 99.4974 79.2188 98.2032V91.4063H89.0626C90.357 91.4063 91.4063 90.3568 91.4063 89.0626V79.2188H98.2032C99.4976 79.2188 100.547 78.1693 100.547 76.875C100.547 75.5808 99.4976 74.5313 98.2032 74.5313H91.4063V67.9688H98.2032C99.4976 67.9688 100.547 66.9193 100.547 65.625C100.547 64.3308 99.4976 63.2813 98.2032 63.2813H91.4063V56.7188H98.2032ZM86.7188 86.7188H33.2813V33.2813H86.7188V86.7188Z"/><path d="M69.3751 48.2813H59.7201C58.4256 48.2813 57.3763 49.3308 57.3763 50.625C57.3763 51.9193 58.4256 52.9688 59.7201 52.9688H69.3751C70.6696 52.9688 71.7189 51.9193 71.7189 50.625C71.7189 49.3308 70.6696 48.2813 69.3751 48.2813Z"/><path d="M51.0328 48.968C50.5968 48.5321 49.9921 48.2813 49.3757 48.2813C48.757 48.2813 48.1546 48.5318 47.7187 48.968C47.2804 49.4039 47.032 50.0086 47.032 50.625C47.032 51.2414 47.2804 51.8461 47.7187 52.2818C48.1546 52.718 48.7593 52.9688 49.3757 52.9688C49.9921 52.9688 50.5968 52.718 51.0328 52.2818C51.4687 51.8461 51.7195 51.2414 51.7195 50.625C51.7195 50.0086 51.4687 49.4039 51.0328 48.968Z"/><path d="M69.375 57.6563H49.3751C48.0807 57.6563 47.0314 58.7058 47.0314 60C47.0314 61.2943 48.0807 62.3438 49.3751 62.3438H69.375C70.6695 62.3438 71.7188 61.2943 71.7188 60C71.7188 58.7058 70.6695 57.6563 69.375 57.6563Z"/><path d="M51.0328 67.718C50.5968 67.2821 49.9921 67.0313 49.3757 67.0313C48.7593 67.0313 48.1546 67.2818 47.7164 67.718C47.2804 68.1539 47.032 68.7586 47.032 69.375C47.032 69.9914 47.2804 70.5961 47.7164 71.0318C48.1546 71.4678 48.7593 71.7188 49.3757 71.7188C49.9921 71.7188 50.5968 71.468 51.0328 71.0318C51.4687 70.5961 51.7195 69.9914 51.7195 69.375C51.7195 68.7586 51.4687 68.1539 51.0328 67.718Z"/><path d="M60.6868 67.718C60.2508 67.2818 59.6461 67.0313 59.0297 67.0313C58.4133 67.0313 57.8087 67.2818 57.3727 67.718C56.9368 68.1539 56.686 68.7586 56.686 69.375C56.686 69.9914 56.9368 70.5961 57.3727 71.0318C57.8087 71.4678 58.4133 71.7188 59.0297 71.7188C59.6485 71.7188 60.2508 71.468 60.6868 71.0318C61.1227 70.5961 61.3735 69.9914 61.3735 69.375C61.3735 68.7561 61.1227 68.1539 60.6868 67.718Z"/><path d="M71.0321 67.718C70.5961 67.2821 69.9914 67.0313 69.375 67.0313C68.7586 67.0313 68.1539 67.2818 67.718 67.718C67.2821 68.1539 67.0313 68.7563 67.0313 69.375C67.0313 69.9914 67.2821 70.5961 67.718 71.0318C68.1539 71.4678 68.7586 71.7188 69.375 71.7188C69.9914 71.7188 70.5961 71.468 71.0321 71.0318C71.468 70.5961 71.7188 69.9914 71.7188 69.375C71.7188 68.7561 71.468 68.1539 71.0321 67.718Z"/></svg>',
                headline : 'Аттестация по&nbsp;требованиям безопасности',
                text     : 'Анализ эффективности работы и&nbsp;обеспечение бесперебойности процессов бизнеса.'
            },
            {
                icon     : '<svg class="i _icon-4" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 14H0V118C0 119.2 0.8 120 2 120H70V116H4V14Z"/><path d="M12 4H74V20C74 21.2 74.8 22 76 22H92V28H96V20C96 19.8 96 19.6 95.8 19.4V19.2C95.6 19 95.6 18.8 95.4 18.6L77.4 0.6C77.2 0.4 77 0.4 76.8 0.2H76.6C76.4 0.2 76.2 0 76 0H10C8.8 0 8 0.8 8 2V110C8 111.2 8.8 112 10 112H78V108H12V4ZM89.2 18H78V6.8L89.2 18Z"/><path d="M50 54H46V58H50V54Z"/><path d="M42 54H38V58H42V54Z"/><path d="M34 54H30V58H34V54Z"/><path d="M26 54H22V58H26V54Z"/><path d="M58 54H54V58H58V54Z"/><path d="M22 10H18V14H22V10Z"/><path d="M30 10H26V14H30V10Z"/><path d="M30 18H26V22H30V18Z"/><path d="M22 18H18V22H22V18Z"/><path d="M50 10H34V14H50V10Z"/><path d="M50 18H34V22H50V18Z"/><path d="M70 32H18V36H70V32Z"/><path d="M86 42H18V46H86V42Z"/><path d="M86 66H18V70H86V66Z"/><path d="M86 76H18V80H86V76Z"/><path d="M62 86H18V90H62V86Z"/><path d="M70 86H66V90H70V86Z"/><path d="M78 86H74V90H78V86Z"/><path d="M86 86H82V90H86V86Z"/><path d="M112 66C108.2 66 105.2 68.6 104.2 72H96V58H108C109.2 58 110 57.2 110 56V23.8C113.4 23 116 19.8 116 16C116 11.6 112.4 8 108 8C103.6 8 100 11.6 100 16C100 19.8 102.6 22.8 106 23.8V54H62V58H92V96.2C88.6 97 86 100.2 86 104C86 108.4 89.6 112 94 112C98.4 112 102 108.4 102 104C102 100.2 99.4 97.2 96 96.2V76H104.2C105 79.4 108.2 82 112 82C116.4 82 120 78.4 120 74C120 69.6 116.4 66 112 66ZM104 16C104 13.8 105.8 12 108 12C110.2 12 112 13.8 112 16C112 18.2 110.2 20 108 20C105.8 20 104 18.2 104 16ZM98 104C98 106.2 96.2 108 94 108C91.8 108 90 106.2 90 104C90 101.8 91.8 100 94 100C96.2 100 98 101.8 98 104ZM112 78C109.8 78 108 76.2 108 74C108 71.8 109.8 70 112 70C114.2 70 116 71.8 116 74C116 76.2 114.2 78 112 78Z"/><path d="M42 96H18V100H42V96Z"/></svg>',
                headline : 'Обучение по&nbsp;продуктам',
                text     : 'Подготовка пакета аттестационной документации.'
            }
        ];

block content
    include ../pages-content/services