extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Техническая поддержка';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {value: 'Техническая поддержка'}
        ];
    -
        var support =
        [
            {
                image: 0, type: 'Программы поддержки',
                headline: 'Выберите уровень сервиса, который оптимально отвечает нуждам вашей организации',
                preview: 'В&nbsp;этом разделе вы&nbsp;можете подробнее узнать об&nbsp;уровнях технической поддержки решений Diamond.'
            },
            {
                image: 1, type: 'Гарантийное обслуживание',
                headline: 'Оперативная замена компонентов, широкое региональное покрытие',
                preview: 'В&nbsp;этом разделе содержится подробная информация об&nbsp;условиях гарантийного обслуживания решений Diamond.'
            },
        ];

block content
    include ../pages-content/support