extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Программы поддержки';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './support.html', value: 'Техническая поддержка'},
            {value: 'Программы поддержки'}
        ];
    -
        var features =
        [
            {icon: '<svg class="i" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-inside-1" fill="white"><rect x="28.8818" y="43.957" width="13.9064" height="20.2071" rx="3"/></mask><rect x="28.8818" y="43.957" width="13.9064" height="20.2071" rx="3" stroke-width="8" mask="url(#path-1-inside-1)"/><mask id="path-2-inside-2" fill="white"><rect x="45.0515" y="18.8816" width="13.9064" height="45.2825" rx="3"/></mask><rect x="45.0515" y="18.8816" width="13.9064" height="45.2825" rx="3" stroke-width="8" mask="url(#path-2-inside-2)"/><mask id="path-3-inside-3" fill="white"><rect x="61.2222" y="34.2626" width="13.9064" height="29.9015" rx="3"/></mask><rect x="61.2222" y="34.2626" width="13.9064" height="29.9015" rx="3" stroke-width="8" mask="url(#path-3-inside-3)"/><path d="M20.965 10.8505V18.2379M20.965 81.1495V71.2696H9.40332M82.5969 71.2696H75.1282M28.8818 71.2696H36.5895M20.965 64.164V56.4563M20.965 48.7485V41.0408M20.965 33.3331V25.6253M44.2972 71.2696H52.005M59.7127 71.2696H67.4204" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>', description: 'Доступ к&nbsp;обширной базе знаний по&nbsp;всем типовым вопросам.'},
            {icon: '<svg class="i" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="20.9656" cy="63.1204" rx="10.889" ry="10.8921" stroke-width="4"/><ellipse cx="46.0001" cy="45.2027" rx="10.889" ry="10.8921" stroke-width="4"/><ellipse cx="71.0342" cy="27.5116" rx="10.889" ry="10.8921" stroke-width="4"/><path d="M21.0305 12.36L20.9515 52.1179M20.8967 79.64L20.9076 74.1595" stroke-width="4" stroke-linecap="round"/><path d="M46.1301 12.36L46.087 34.0343M45.9963 79.64L46.0417 56.8371" stroke-width="4" stroke-linecap="round"/><path d="M71.0342 12.36L71.0257 16.6119M70.9004 79.64L70.9824 38.3896" stroke-width="4" stroke-linecap="round"/></svg>', description: '3&nbsp;уровня технической поддержки для решения вопросов любой степени сложности.'},
            {icon: '<svg class="i" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.4438 40.2781H34.442L38.603 26.5154L42.9131 51.9295L47.5203 40.2781H57.551" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><circle cx="40.4488" cy="39.6909" r="27.2857" stroke-width="4"/><line x1="62.0657" y1="60.1327" x2="78.8256" y2="76.7665" stroke-width="4" stroke-linecap="round"/></svg>', description: 'Возможность контролировать весь жизненный цикл обращения.'}
        ];
    -
        var plans =
        [
            {
                mod      : 'warranty-plan--standard',
                headline : 'Стандартный план',
                value    : 10,
                features : [
                    'Консультации по&nbsp;вопросам внедрения и&nbsp;работы с&nbsp;системой защиты информации.',
                    'Доступ к&nbsp;базе знаний и&nbsp;документации по&nbsp;продукту.',
                    'Консультации по&nbsp;телефону в&nbsp;рабочее время без ограничений.',
                    'Бесплатные обновления всей линейки продуктов.',
                ]
            },
            {
                mod      : 'warranty-plan--exclusive',
                headline : 'Эксклюзивный план',
                value    : 150,
                features : [
                    'Консультации по&nbsp;вопросам внедрения и&nbsp;работы с&nbsp;системой защиты информации.',
                    'Доступ к&nbsp;базе знаний и&nbsp;документации по&nbsp;продукту.',
                    'Телефонные консультации доступны в&nbsp;круглосуточном режиме.',
                    'Бесплатные обновления всей линейки продуктов.',
                    'Помощь в&nbsp;настройке дополнительного функционала продукта.',
                    'До&nbsp;150 часов работы технических специалистов на&nbsp;объектах заказчика в&nbsp;регионах присутствия технических центров. В&nbsp;случае необходимости, осуществляется выезд ведущих разработчиков на&nbsp;объекты заказчика.',
                ]
            },
            {
                mod      : 'warranty-plan--extanded',
                headline : 'Расширенный план',
                value    : 50,
                features : [
                    'Консультации по&nbsp;вопросам внедрения и&nbsp;работы с&nbsp;системой защиты информации.',
                    'Доступ к&nbsp;базе знаний и&nbsp;документации по&nbsp;продукту.',
                    'Консультации по&nbsp;телефону в&nbsp;рабочее время без ограничений.',
                    'Бесплатные обновления всей линейки продуктов.',
                    'Помощь в&nbsp;настройке дополнительного функционала продукта.',
                    'До&nbsp;50&nbsp;часов работы технических специали&nbsp;&mdash; стов на&nbsp;объектах заказчика в&nbsp;регионах присутствия технических центров.',
                ]
            },
        ];

block content
    include ../pages-content/warranty-plans