extends ../layout/default
include ../utils/_mixins

block variables
    - var title = 'Компания';
    - var description = 'Diamond VPN/FW — наиболее производительное программно-аппаратное решение на рынке сертифицированных средств защиты.';
    -
        var breadcrumbs =
        [
            {url: './home.html', value: 'ТСС'},
            {url: './support.html', value: 'Техническая поддержка'},
            {value: 'Гарантийное обслуживание'}
        ];

block content
    include ../pages-content/warranty