.popup {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	@include hundred;
	align-items: center;
	justify-content: center;
	background: rgba(map-get($basic, secondary), .8);
	z-index: 999;

		&__inside {
			@include flex();
			height: 100%;
			align-items: center;
			justify-content: center;
			overflow: auto;
		}
		&__underlay {
			position: absolute;
			top: 0;
			left: 0;
			@include link(100%);
			width: 100%;
			z-index: 0;
		}
		&__container {
			position: relative;
			width: 100%;
			@include auto;
			background-color: $colorWhite;
			@include radius(map-get($defaults, radius));
			overflow: hidden;
		}
		&__close {
			position: absolute;
			top: 0;
			right: 0;
			@include flex(5.6rem);
			height: 5.6rem;
			align-items: center;
			justify-content: center;
			z-index: 3;
				& .i {
					display: block;
					@include size(2.4rem, 2.4rem);
					fill: map-get($grey, color_2);
				}
		}
		&__content {
			width: 100%;
		}
		&__headline {
			@include align_c;
			&.h4 {
				margin-bottom: 3.6rem;
			}
		}

	&--440 {
		.popup {
			&__container {
				max-width: 44rem;
				padding: #{map-get($defaults, base) * 6} #{map-get($defaults, base) * 5.25} 5.8rem;
			}
		}
	}
	&--1470 {
		.popup {
			&__container {
				max-width: 147rem;
				padding: 3.8rem #{map-get($defaults, base) * 8};
			}
		}
	}
	&--dark {
		.popup {
			&__container {
				background-color: map-get($grey, color_3);
			}
		}
	}

	@include bp-tablet {
		&__inside {
			padding: map-get($defaults, gutter);
		}
	}
	@include bp-tabletXS {
		&--440 {
			.popup {
				&__container {
					padding-left: map-get($defaults, gutter);
					padding-right: map-get($defaults, gutter);
				}
			}
		}
	}
	@include bp-mobile {
		&__inside {
			padding: 0;
		}
		&__container {
			min-height: 100%;
			border-radius: 0;
		}

		&--440 {
			.popup {
				&__container {
					max-width: 100%;
					padding-left: map-get($defaults, gutter);
					padding-right: map-get($defaults, gutter);
				}
			}
		}
		&--1470 {
			.popup {
				&__container {
					padding: 8rem #{map-get($defaults, base) * 2} #{map-get($defaults, base) * 6};
				}
			}
		}
	}
}