.load-more {
	&__element {
		transition: opacity .3s linear;
			&--hidden {
				height: 0;
				margin: 0!important;
				opacity: 0;
				overflow: hidden;
			}
	}
	&__control {
		width: 100%;
		margin-top: #{map-get($defaults, base) * 3};

		& .button {
			& .i {
				will-change: transform;
				@include smooth(.2s);
			}
		}
	}

	&--expanded {
		& .button {
			& .i {
				&._chevron-down {
					transform: rotate(-180deg);
				}
			}
		}
	}
	&--mobile {
		.load-more {
			&__control {
				display: none;
			}
		}
	}
	&--centered {
		.load-more {
			&__control {
				margin-top: multi(7);
				@include align_c;
			}
		}
	}

	@include bp-tabletXS {
		&__element {
			&--mobile-hidden {
				height: 0;
				margin: 0!important;
				opacity: 0;
				overflow: hidden;
			}
		}
		&__control {
			@include align_c;
		}

		&--mobile {
			.load-more {
				&__control {
					display: block;
					@include align_c;
				}
			}
		}
		&--centered {
			.load-more {
				&__control {
					margin-top: multi(4);
				}
			}
		}
	}
}