include ../sections/about/header
include ../sections/about/about-aim
include ../sections/about/management
include ../sections/about/about-features
include ../sections/about/about-history
include ../sections/about/about-news
include ../sections/about/about-clients
include ../sections/about/reviews
include ../sections/about/about-contacts
include ../sections/contacts/contacts-map