include ../sections/product-page/header
div.page-wrapper#js-scroll-sections-wrapper
    +scroll-navigation(scrollNavigation)
    div.page
        div.container
            div.grid
                div.page__body.grid-col.grid-col--8.grid-col--l-12.grid-col--s-12
                    section.page__section.js-scroll-section#client
                        div.page__section-headline.h3 Заказчик
                        div.case-client
                            div.case-client__image
                                img(
                                    class="lazyload"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="assets/images/case/image-1.jpg"
                                    data-srcset="assets/images/case/image-1.jpg 1x, assets/images/case/image-1-2x.jpg 2x"
                                    alt=""
                                )
                            div.case-client__details
                                div.case-client__headline Федеральная служба государственной регистрации, кадастра и картографии

                    section.page__section.js-scroll-section#project-architecture
                        div.page__section-headline.h3 Архитектура проекта
                        p МКСЗ Diamond VPN/FW можно использовать для фильтрации сетевого трафика в&nbsp;режиме коммутатора или в&nbsp;режиме маршрутизатора по&nbsp;любым полям и&nbsp;заголовкам. Доступна возможность фильтрации по&nbsp;доменному имени, фильтрация по&nbsp;расписанию, синхронизация правил межсетевого экранирования между несколькими устройствами, логирование правил фильтрации. Можно создавать различные контексты фильтрации.
                        div.case-image
                            img(
                                class="lazyload"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                data-src="assets/images/case/page/image-0.jpg"
                                data-srcset="assets/images/case/page/image-0.jpg 1x, assets/images/case/page/image-0-2x.jpg 2x"
                                alt=""
                            )

                    section.page__section.js-scroll-section#aims
                        div.page__section-headline.h3 Цели и задачи
                        ul.round-checked
                             li конфиденциальность данных&nbsp;&mdash; доступ есть только у&nbsp;лиц, имеющих на&nbsp;это полномочия;
                             li доступность информационных систем с&nbsp;находящимися в&nbsp;них данными конкретным пользователям, у&nbsp;которых есть право доступа к&nbsp;таким сведениям;
                             li целостность данных предполагает блокировку несанкционированного изменения информации;
                             li подлинность&nbsp;&mdash; полнота и&nbsp;общая точность информации;
                             li неотказуемость&nbsp;&mdash; возможность определить источник или авторство информации.

                    section.page__section.js-scroll-section#result
                        div.page__section-headline.h3 Результаты
                        ul.round-checked
                            li автоматизация процессов в&nbsp;единой информационной среде с&nbsp;возможностью
                            li разграничения прав доступа для филиалов. Центральная система &laquo;1С:Зарплата и&nbsp;управление персоналом&raquo;
                            li распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                            li ведения учета требованиям законодательства, возможности формирования
                            li любых видов аналитических отчетов

                    section.page__section.js-scroll-section#cases
                        div.page__section-headline.h3 Другие кейсы
                        div.case-slider.swiper-container._with-arrows._with-dots.js-case-slider
                            div.swiper-wrapper
                                div.case-element.case-slider__element.swiper-slide
                                    div.case-element__header
                                        div.case-element__headline Федеральная служба государственной регистрации, #[br]кадастра и&nbsp;картографии
                                        div.case-element__logotype
                                            img(
                                            class="lazyload"
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="assets/images/case/image-0.jpg"
                                            data-srcset="assets/images/case/image-0.jpg 1x, assets/images/case/image-0-2x.jpg 2x"
                                            alt=""
                                            )

                                    div.case-element__section
                                        div.case-element__title Описание
                                        p Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации без единой методологии ведения учета.

                                    div.case-element__section
                                        div.case-element__title Результаты
                                        ul.round-checked
                                            li автоматизация процессов в единой информационной среде с возможностью
                                            li разграничения прав доступа для филиалов. Центральная система «1С:Зарплата и управление персоналом»
                                            li и распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                                            li ведения учета требованиям законодательства, возможности формирования
                                            li любых видов аналитических отчетов.

                                div.case-element.case-slider__element.swiper-slide
                                    div.case-element__header
                                        div.case-element__headline Федеральная служба государственной регистрации, #[br]кадастра и&nbsp;картографии
                                        div.case-element__logotype
                                            img(
                                            class="lazyload"
                                            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-src="assets/images/case/image-0.jpg"
                                            data-srcset="assets/images/case/image-0.jpg 1x, assets/images/case/image-0-2x.jpg 2x"
                                            alt=""
                                            )

                                    div.case-element__section
                                        div.case-element__title Описание
                                        p Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации без единой методологии ведения учета.

                                    div.case-element__section
                                        div.case-element__title Результаты
                                        ul.round-checked
                                            li автоматизация процессов в единой информационной среде с возможностью
                                            li разграничения прав доступа для филиалов. Центральная система «1С:Зарплата и управление персоналом»
                                            li и распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                                            li ведения учета требованиям законодательства, возможности формирования
                                            li любых видов аналитических отчетов.

                            +arrows({prev: 'js-case-slider-prev', next: 'js-case-slider-next'})
                            div.dots.js-case-slider-pagination

                aside.page__aside.grid-col.grid-col--4.grid-col--l-12.grid-col--s-12
                    a.button.button--h-40.button--fs-20.button--fw-500.order-project-button.js-scroll-link(href='#order-project') Заказать пилотный проект
                    div.order-project#order-project
                        form.form.js-form(action='/' method='POST')
                            header.order-project__header
                                div.order-project__headline.h4 Пилотный #[br]проект
                                | <svg class="i" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                | <g clip-path="url(#clip0)">
                                | <path d="M40.5 27C44.64 27 48 23.64 48 19.5C48 15.36 44.64 12 40.5 12C36.36 12 33 15.36 33 19.5C33 23.64 36.36 27 40.5 27ZM40.5 15C42.99 15 45 17.01 45 19.5C45 21.99 42.99 24 40.5 24C38.01 24 36 21.99 36 19.5C36 17.01 38.01 15 40.5 15Z" fill="#D70E45"/>
                                | <path d="M14.52 38.8499C9.56997 38.8499 4.70997 45.2999 0.0899675 57.9899C-0.120033 58.5299 0.0299675 59.1599 0.449967 59.5499C0.719967 59.8499 1.10997 59.9999 1.49997 59.9999C1.67997 59.9999 1.82997 59.9699 2.00997 59.9099C13.62 55.6799 20.01 51.2699 21 46.7399C21.33 45.2999 21.24 43.1399 19.05 40.9499C17.67 39.5699 16.14 38.8499 14.52 38.8499ZM18.09 46.0799C17.85 47.1299 16.92 48.8099 13.71 51.0299C11.34 52.6499 8.12997 54.2999 4.10997 55.8899C5.87997 51.4799 7.67997 48.0299 9.47997 45.5999C11.31 43.1399 13.05 41.8499 14.55 41.8499C15.36 41.8499 16.17 42.2399 16.98 43.0499C17.94 44.0699 18.3 45.0599 18.09 46.0799Z" fill="#D70E45"/>
                                | <path d="M58.5 0C50.73 0 43.77 1.32 37.89 3.93C33.03 6.09 28.86 9.09 25.5 12.87C24.87 13.59 24.3 14.31 23.76 15.03C21.18 15.21 18.54 16.23 15.9 18.09C13.65 19.65 11.4 21.84 9.20999 24.57C5.51999 29.13 3.23999 33.66 3.14999 33.84C2.81999 34.5 3.02999 35.31 3.59999 35.73C3.89999 35.91 4.19999 36 4.49999 36C4.88999 36 5.27999 35.85 5.54999 35.58C5.54999 35.58 6.98999 34.14 9.44999 32.76C11.46 31.62 14.58 30.27 18.33 30.03C19.29 32.46 21.99 35.37 23.31 36.69C24.6 37.98 27.51 40.71 29.97 41.67C29.73 45.42 28.38 48.54 27.24 50.55C25.86 53.01 24.45 54.42 24.45 54.45C23.94 54.96 23.85 55.8 24.3 56.4C24.57 56.79 25.02 57 25.5 57C25.74 57 25.95 56.94 26.16 56.85C26.34 56.76 30.87 54.48 35.43 50.79C38.16 48.6 40.32 46.35 41.91 44.1C43.77 41.46 44.79 38.82 44.97 36.24C45.69 35.7 46.41 35.13 47.1 34.5C50.91 31.14 53.91 27 56.07 22.11C58.68 16.23 60 9.27 60 1.5V0H58.5ZM18.15 27.06C14.67 27.27 11.7 28.26 9.32999 29.43C12.18 25.29 16.56 20.13 21.48 18.51C19.53 21.93 18.51 25.05 18.15 27.06ZM30.57 50.67C31.74 48.3 32.73 45.3 32.94 41.85C34.92 41.49 38.07 40.47 41.46 38.52C39.87 43.44 34.74 47.82 30.57 50.67ZM45.15 32.25C38.88 37.77 32.43 39 31.5 39C31.5 39 30.87 39 29.22 37.83C28.08 37.02 26.73 35.85 25.44 34.56C24.15 33.27 23.01 31.92 22.17 30.78C21.03 29.13 21 28.5 21 28.5C21 27.57 22.23 21.12 27.75 14.88C34.35 7.41 44.43 3.33 56.97 3.03C56.67 15.6 52.59 25.68 45.15 32.25Z" fill="#70BDB7"/>
                                | </g>
                                | <defs>
                                | <clipPath id="clip0">
                                | <rect width="60" height="60" fill="white"/>
                                | </clipPath>
                                | </defs>
                                | </svg>
                            include ../includes/form-rows