include ../sections/event/header
include ../sections/event/event-summary
include ../sections/event/event-description
include ../sections/event/event-program
include ../sections/event/event-speakers
include ../sections/event/event-partners
include ../sections/event/event-map