section.section.section--pages-list
    header.section__header
        div.container
            h2.section__headline.h2 Список страниц
    div.container
        ul.red-dash
            each element in pages
                +list-element(element)
