include ../sections/partners/header
div.page-wrapper#js-scroll-sections-wrapper
    +scroll-navigation(scrollNavigation.elements, scrollNavigation.button)
    include ../sections/partners/distributors
    include ../sections/partners/business-partners
    include ../sections/partners/partners-program
include ../sections/partners/partnership-profitable
include ../sections/partners/partners-advantages
