include ../includes/fullwidth-banner
div.page-wrapper#js-scroll-sections-wrapper
    +scroll-navigation(scrollNavigation)
    div.page
        div.container
            div.grid
                div.page__body.grid-col.grid-col--8.grid-col--l-12.grid-col--s-12
                    section.product-section.product-section--overview.js-scroll-section#overview
                        div.product-section__headline.h3 Обзор Diamond VPN/FW
                        div.show-more.js-show-more
                            p Отличительными преимуществами использования данного комплекса являются:
                            ul
                                li наиболее низкая стоимость внедрения и&nbsp;владения комплекса;
                                li простая адаптация средств комплекса к&nbsp;любой IT-инфраструктуре заказчика;
                                li высокая степень масштабируемости применяемых элементов комплекса;
                                li кроссплатформенность, обеспечивающая централизованное управление безопасностью информации в&nbsp;СВТ на&nbsp;аппаратных платформах с&nbsp;архитектурой процессора: Intel IA-32 и&nbsp;EM64T, для&nbsp;всех современных дистрибутивов семейств операционных систем Microsoft Windows и&nbsp;Linux;
                                li удобство установки и&nbsp;управления.
                            div.show-more__hidden
                                p Эти преимущества основываются на применении ряда уникальных технических решений, таких как:
                                ul
                                    li самые развитые в&nbsp;своем классе средства сетевого развертывания и&nbsp;администрирования;
                                    li высокоскоростная параллельная обработка на&nbsp;одном сервере информации о&nbsp;событиях безопасности от&nbsp;большого количества средств защиты, установленных на&nbsp;СВТ;
                                    li собственный TCP-транспорт без необходимости использования дополнительного программного обеспечения и&nbsp;служб (IIS, и&nbsp;т.п.);
                                    li использование систем управления базами данных (СУБД) с&nbsp;открытыми исходными кодами, входящими в&nbsp;реестр отечественного программного обеспечения таких, как PostgreSQL;
                                    li средства защиты информации, использующие технологии аппаратной поддержки виртуализации;
                                    li возможность работы с&nbsp;большим (до&nbsp;50&nbsp;000) количеством агентов на&nbsp;СВТ под управлением одного сервера безопасности без изменения скорости обработки данных сервером;
                                    li возможность развертывания агентов в&nbsp;единой системе управления безопасности без ограничения их&nbsp;количества;
                                    li возможность одновременного конфигурирования политик безопасности разных (несвязанных друг с&nbsp;другом) доменов и&nbsp;автономных рабочих станций с&nbsp;одного автоматизированного рабочего места (АРМ) администратора;
                                    li возможность конфигурирования сетевых АРМ пользователей вне зависимости от&nbsp;их&nbsp;состояний (включены или выключены);
                                    li реализация дискреционного контроля доступа в&nbsp;виде собственной подсистемы комплекса (наложенных механизмов защиты), дополняющей стандартные средства операционной системы и&nbsp;полностью независимой от&nbsp;них;
                                    li поддержка средств идентификации и&nbsp;аутентификации на&nbsp;базе идентификаторов eToken, MS-Key, Rutoken, JaCarta, ePass2003 и&nbsp;др.;
                                    li возможность периодического контроля состояния защиты информации в&nbsp;автоматическом режиме (матрица доступа и&nbsp;контроль целостности);
                                    li возможность конфигурирования и&nbsp;отслеживания наличия устройств на&nbsp;всех рабочих станциях в&nbsp;режиме реального времени;
                                    li наличие функциональных возможностей системы контроля подключаемых съемных носителей (далее&nbsp;&mdash; СКН) информации, обеспечивающих:
                                        ul
                                            li реализацию политики безопасности по&nbsp;отношению к&nbsp;подключаемым произвольным съемным машинным носителям информации;
                                            li возможность управления использованием подключаемых произвольных съемных машинных носителей информации на&nbsp;основе анализа разрешений на&nbsp;подключение к&nbsp;конкретным интерфейсам ввода (вывода) средств вычислительной техники, типов подключаемых внешних программно-аппаратных устройств, конкретных съемных машинных носителей информации;
                                            li возможность со&nbsp;стороны администраторов СКН управлять данными (данными средства контроля подключения съемных машинных носителей информации), используемыми функциями безопасности средства контроля подключения съемных машинных носителей информации;
                                            li поддержку определенных ролей для средства контроля подключения съемных машинных носителей информации и&nbsp;их&nbsp;ассоциации с&nbsp;конкретными администраторами СКН и&nbsp;пользователями информационной системы;
                                            li возможность защиты от&nbsp;несанкционированной модификации данных средства контроля подключения съемных машинных носителей информации при передаче между программным обеспечением управления средствами контроля подключения съемных машинных носителей информации и&nbsp;программным обеспечением взаимодействия с&nbsp;подключаемыми съемными машинными носителями информации;
                                            li возможность регистрации событий, связанных с&nbsp;изменениями конфигурации функций безопасности средства контроля подключения съемных машинных носителей информации;
                                            li возможность читать информацию из&nbsp;записей аудита уполномоченным администраторам СКН;
                                            li возможность реагирования при обнаружении событий, указывающих на&nbsp;возможное нарушение безопасности;
                                            li возможность выборочного просмотра данных аудита.

                                p Входящие в&nbsp;комплекс средства аппаратной поддержки включают в&nbsp;себя специализированные аппаратные модули доверенной загрузки (АМДЗ) форм-факторов PCI, PCI-express и&nbsp;mini PCI-express, которые обладают следующими основными преимуществами:
                                ul
                                    li возможность коммутации 3-х SATA 2&nbsp;интерфейсов;
                                    li графический интерфейс пользователя;
                                    li возможность выполнения приложений в&nbsp;доверенной вычислительной среде на&nbsp;отдельном 32-битном ARM-процессоре;
                                    li возможность коммутации выделенного USB-интерфейса между внутренним процессором и&nbsp;АРМ;
                                    li возможность интеграции SMART-карты в&nbsp;АМДЗ;
                                    li поддержка средств идентификации и&nbsp;аутентификации на&nbsp;базе идентификаторов eToken, MS-Key, Rutoken, JaCarta, ePass2003 и&nbsp;др.;
                                    li поддержка многофакторной аутентификации с&nbsp;использованием биометрических данных пользователя (вход в&nbsp;систему по&nbsp;отпечаткам пальцев, смарт-карте и&nbsp;PIN-коду);
                                    li возможность одновременной работы в&nbsp;нескольких контурах безопасности с&nbsp;разным уровнем конфиденциальности за&nbsp;счет использования технологий аппаратной виртуализации.

                                p СКРД Diamond ACS включает в&nbsp;свой состав следующие продукты:
                                ul
                                    li СКРД Diamond ACS на&nbsp;автономном АРМ (программное обеспечение);
                                    li СКРД Diamond ACS Enterprise на&nbsp;автономном АРМ (программное обеспечение);
                                    li СКРД Diamond ACS в&nbsp;распределенной гетерогенной сети (программное обеспечение);
                                    li СКРД Diamond ACS Enterprise в&nbsp;распределенной гетерогенной сети (программное обеспечение);
                                    li аппаратные модули СКРД Diamond ACS (носитель ключевой и&nbsp;идентифицирующей информации Diamond USB Key&nbsp;Lt, аппаратный модуль системы контроля доступа на&nbsp;рабочей станции в&nbsp;сети &laquo;Diamond ACS HW&raquo; PCI, PCI-E, &laquo;Diamond ACS&nbsp;HW&raquo; miniPCI-E, модуль Deep Virtual Secure &laquo;Diamond ACS HW&raquo; USB);
                                    li специальные модули СКРД Diamond ACS (модуль Deep Virtual Secure для &laquo;Diamond ACS HW&raquo; PCI/PCI-E/mPCI-E и&nbsp;модуль коммутации Ethernet для &laquo;Diamond ACS HW&raquo; PCI/PCI-E).

                                p В&nbsp;состав СКРД Diamond ACS входят консоль администрирования или программный комплекс управления безопасностью СКРД &laquo;Diamond ACS Security Management Server Enterprise&raquo;, и&nbsp;агенты, устанавливаемые на&nbsp;СВТ.
                                p ООО ТСС совместно с&nbsp;другими разработчиками средств защиты информации проводят работу по&nbsp;созданию интегрированных решений с&nbsp;использованием СКРД Diamond ACS. В&nbsp;частности, в&nbsp;версии Diamond ACS 3.21.0.7 реализована поддержка модулей доверенной загрузки ОКБ САПР, что позволило выполнить требования ФСТЭК России для высоких классов защиты. В&nbsp;настоящее время ведется работа по&nbsp;созданию системы управления АПМДЗ для выполнения требований ФСБ.

                            div.show-more__control
                                button.button.button--h-48.button--green.button--fs-16.button--hover-theme-alt.js-show-more-button(type='button' data-expanded='Скрыть' data-collapsed='Полное описание')
                                    span.js-show-more-button-text Полное описание
                                    | <svg class="i _chevron-down" width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    | <path d="M2 2L5 5L8 2" stroke-width="2" stroke-linecap="square"/>
                                    | </svg>

                        div.product-features
                            div.product-feature
                                div.product-feature__header
                                    div.product-feature__icon
                                        | <svg class="i _cogs" fill="none" version="1.1" viewBox="0 0 53.585 56.642" xmlns="http://www.w3.org/2000/svg">
                                        | <g stroke="#d70e45" stroke-width="2">
                                        | <circle cx="16.239" cy="16.239" r="6.5"/>
                                        | <circle transform="rotate(30)" cx="53.223" cy="16.499" r="6.1328"/>
                                        | <path d="m13.242 3.0057c1.1029-2.6742 4.8905-2.6742 5.9934 0 0.684 1.6587 2.5852 2.4462 4.2417 1.757 2.6708-1.1112 5.3491 1.5672 4.238 4.238-0.6892 1.6565 0.0983 3.5577 1.757 4.2417 2.6742 1.1029 2.6742 4.8905 0 5.9934-1.6587 0.684-2.4462 2.5852-1.757 4.2417 1.1111 2.6708-1.5672 5.3491-4.238 4.238-1.6565-0.6892-3.5577 0.0983-4.2417 1.757-1.1029 2.6742-4.8905 2.6742-5.9934 0-0.684-1.6587-2.5852-2.4462-4.2417-1.757-2.6708 1.1111-5.3491-1.5672-4.238-4.238 0.68919-1.6565-0.09834-3.5577-1.757-4.2417-2.6742-1.1029-2.6742-4.8905 0-5.9934 1.6587-0.684 2.4462-2.5852 1.757-4.2417-1.1112-2.6708 1.5672-5.3491 4.238-4.238 1.6565 0.68919 3.5577-0.09834 4.2417-1.757z"/>
                                        | <path d="m41.841 28.018c2.2787-1.7541 5.5397 0.1286 5.1599 2.9791-0.2356 1.7679 1.0098 3.391 2.7785 3.621 2.8517 0.3709 3.8262 4.008 1.5421 5.7551-1.4168 1.0836-1.6838 3.1119-0.5958 4.5252 1.7542 2.2787-0.1285 5.5396-2.979 5.1598-1.768-0.2356-3.391 1.0098-3.6211 2.7786-0.3709 2.8516-4.008 3.8262-5.755 1.542-1.0836-1.4167-3.1119-1.6837-4.5252-0.5957-2.2788 1.7541-5.5397-0.1286-5.1599-2.9791 0.2356-1.7679-1.0098-3.391-2.7785-3.621-2.8517-0.3709-3.8262-4.008-1.5421-5.7551 1.4168-1.0836 1.6838-3.1119 0.5958-4.5252-1.7542-2.2787 0.1285-5.5396 2.979-5.1598 1.768 0.2356 3.391-1.0099 3.6211-2.7786 0.3709-2.8516 4.008-3.8262 5.755-1.542 1.0836 1.4167 3.1119 1.6837 4.5252 0.5957z"/>
                                        | </g>
                                        | </svg>
                                    div.product-feature__value 400%
                                div.product-feature__headline МКСЗ «Diamond VPN/FW» 41XX
                                p Непревзойденная скорость криптографической защиты с ГОСТ 28147/89.

                            div.product-feature
                                div.product-feature__header
                                    div.product-feature__icon
                                        | <svg class="i _activity" width="38" height="51" viewBox="0 0 38 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        | <line x1="37" y1="1" x2="37" y2="50" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M29 1C29 1 32 14 32 25.5C32 37 29 50 29 50" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M18 1C18 1 27 9.5 27 25.5C27 41.5 18 50 18 50" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M7 0.999999C7 0.999999 22 6.5 22 25.5C22 44.5 7 50 7 50" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M1 24C0.447715 24 0 24.4477 0 25C0 25.5523 0.447715 26 1 26V24ZM17.7071 25.7071C18.0976 25.3166 18.0976 24.6834 17.7071 24.2929L11.3431 17.9289C10.9526 17.5384 10.3195 17.5384 9.92893 17.9289C9.53841 18.3195 9.53841 18.9526 9.92893 19.3431L15.5858 25L9.92893 30.6569C9.53841 31.0474 9.53841 31.6805 9.92893 32.0711C10.3195 32.4616 10.9526 32.4616 11.3431 32.0711L17.7071 25.7071ZM1 26H17V24H1V26Z" fill="#D70E45"/>
                                        | </svg>

                                    div.product-feature__value n+1
                                div.product-feature__headline Active-active отказоустойчивость
                                p Надежность при любых обстоятельствах. Доступность ваших систем&nbsp;&mdash; наш основной приоритет.

                            div.product-feature
                                div.product-feature__header
                                    div.product-feature__icon
                                        | <svg class="i _coins" width="47" height="57" viewBox="0 0 47 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        | <path d="M46 6.5C46 7.07504 45.7442 7.69626 45.1332 8.34382C44.5172 8.9967 43.5791 9.63003 42.344 10.1837C39.8761 11.29 36.3966 12 32.5 12C28.6034 12 25.1239 11.29 22.656 10.1837C21.4209 9.63003 20.4828 8.9967 19.8668 8.34382C19.2558 7.69626 19 7.07504 19 6.5C19 5.92496 19.2558 5.30374 19.8668 4.65618C20.4828 4.0033 21.4209 3.36997 22.656 2.81632C25.1239 1.71002 28.6034 1 32.5 1C36.3966 1 39.8761 1.71002 42.344 2.81632C43.5791 3.36997 44.5172 4.0033 45.1332 4.65618C45.7442 5.30374 46 5.92496 46 6.5Z" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M19 7V10.6863C19 14 25.0442 16 32.5 16C39.9558 16 46 14 46 11V7" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M46 16C46 18.7614 39.9558 21 32.5 21C25.0442 21 19 18.7614 19 16" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M19 16V19.6863C19 23 25.0442 25 32.5 25C39.9558 25 46 23 46 20V16" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M46 25C46 27.7614 39.9558 30 32.5 30C25.0442 30 19 27.7614 19 25" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M19 25V28.6863C19 32 25.0442 34 32.5 34C39.9558 34 46 32 46 29V25" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M46 34C46 36.7614 39.9558 39 32.5 39C25.0442 39 19 36.7614 19 34" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M19 34V37.6863C19 41 25.0442 43 32.5 43C39.9558 43 46 41 46 38V34" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M1 51C1 51.3448 1.17762 51.6653 1.47 51.848L5.47 54.348C5.6003 54.4294 5.74761 54.4797 5.9005 54.495L20.9005 55.995C21.1146 56.0164 21.33 55.9682 21.5145 55.8575L31.5145 49.8575C31.8157 49.6768 32 49.3513 32 49V14.5C32 13.2801 31.4443 12.1914 30.5879 11.2836C29.7364 10.3812 28.551 9.61391 27.1621 8.9913C24.382 7.74505 20.6115 7 16.5 7C12.3885 7 8.61798 7.74505 5.8379 8.9913C4.449 9.61391 3.26361 10.3812 2.41214 11.2836C1.55565 12.1914 1 13.2801 1 14.5V51Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M30 14.5C30 15.075 29.7442 15.6963 29.1332 16.3438C28.5172 16.9967 27.5791 17.63 26.344 18.1837C23.8761 19.29 20.3966 20 16.5 20C12.6034 20 9.12389 19.29 6.65601 18.1837C5.42092 17.63 4.48284 16.9967 3.86682 16.3438C3.25583 15.6963 3 15.075 3 14.5C3 13.925 3.25583 13.3037 3.86682 12.6562C4.48284 12.0033 5.42092 11.37 6.65601 10.8163C9.12389 9.71002 12.6034 9 16.5 9C20.3966 9 23.8761 9.71002 26.344 10.8163C27.5791 11.37 28.5172 12.0033 29.1332 12.6562C29.7442 13.3037 30 13.925 30 14.5Z" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M3 15V18.6863C3 22 9.04416 24 16.5 24C23.9558 24 30 22 30 19V15" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M30 24C30 26.7614 23.9558 29 16.5 29C9.04416 29 3 26.7614 3 24" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M3 24V27.6863C3 31 9.04416 33 16.5 33C23.9558 33 30 31 30 28V24" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M30 33C30 35.7614 23.9558 38 16.5 38C9.04416 38 3 35.7614 3 33" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M3 33V36.6863C3 40 9.04416 42 16.5 42C23.9558 42 30 40 30 37V33" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M30 42C30 44.7614 23.9558 47 16.5 47C9.04416 47 3 44.7614 3 42" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | <path d="M3 42V45.6863C3 49 9.04416 51 16.5 51C23.9558 51 30 49 30 46V42" stroke="#D70E45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        | </svg>

                                    div.product-feature__value −40%
                                div.product-feature__headline Оптимизация затрат
                                p Снижение совокупной стоимости владения до&nbsp;40% по&nbsp;сравнению с&nbsp;конкурентами.

                    section.product-section.product-section--models.js-scroll-section#models
                        div.product-section__headline.h3 Модели МКСЗ &laquo;Diamond VPN/FW&raquo;
                        p СКЗИ Dcrypt XG имеет модульную архитектуру. Базовой конструкцией аппаратной платформы является шасси форм-фактора 3U, предназначенное для установки в стандартную стойку в соответствии с ISO/IEC 60297-3 (19″). Каждое шасси позволяет устанавливать от 1 до 8 модулей шифрования. Предусмотрено также 1U решение, позволяющее устанавливать до 2-х модулей шифрования. Учитывая возможность установки в одном шасси до 8 модулей шифрования 100 Гбит/сек, максимальная пропускная способность одного комплекса 3U может достигать 800 Гбит/сек в режиме full-duplex для защиты Ethernet каналов. Модуль шифрования имеет два сетевых интерфейса QSFP28.
                        ul
                            li сетевое устройство со&nbsp;слотами расширения &mdash;Control-Plane
                            li АПМДЗ&nbsp;&mdash; сертифицированный ФСБ России аппаратно-программный модуль доверенной загрузки (для классов защиты КС2 и&nbsp;КС3)
                            li Аппаратно-программный модуль расширения Diamond HEM

                        div.tabs.tabs--grey-buttons.js-tabs
                            div.tabs__list
                                button.tabs__element._active.js-tabs-button(data-tab-id="tab-model-11xx" type="button") 11XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-21xx" type="button") 21XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-31xx" type="button") 31XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-41xx" type="button") 41XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-51xx" type="button") 51XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-61xx" type="button") 61XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-71xx" type="button") 71XX
                                button.tabs__element.js-tabs-button(data-tab-id="tab-model-81xx" type="button") 81XX

                            div.tabs__pane._active.js-tabs-pane(data-tab="tab-model-11xx")
                                div.product-props-wrapper
                                    div.product-props-image
                                        img(
                                            class='lazyload'
                                            src='assets/images/product/page/image-0.jpg'
                                            srcset='assets/images/product/page/image-0.jpg 1x, assets/images/product/page/image-0-2x.jpg 2x'
                                        alt='')
                                    div.tabs.tabs--mobile.js-tabs
                                        div.tabs__list
                                            button.tabs__element._active.js-tabs-button(data-tab-id="tab-model-props" type="button") Характеристики
                                            button.tabs__element.js-tabs-button(data-tab-id="tab-model-modules" type="button") Модули расширения
                                        div.tabs__pane._active.product-props-section.product-props-section--type-1.js-tabs-pane(data-tab="tab-model-props")
                                            div.product-props-section__headline Характеристики и&nbsp;рекомендации по&nbsp;установке
                                            each element in props
                                                +product-prop(element)

                                        div.tabs__pane.product-props-section.product-props-section--type-2.js-tabs-pane(data-tab="tab-model-modules")
                                            div.product-props-section__headline Модули расширения
                                            table.colored-rows
                                                thead
                                                    tr
                                                        th Характеристики
                                                        th Bypass
                                                tbody
                                                    tr
                                                        td 4 10GbE SFP+
                                                        td N/A
                                                    tr
                                                        td 8 GbE SFP
                                                        td N/A
                                                    tr
                                                        td 2 10G RJ45
                                                        td N/A
                                                    tr
                                                        td 2 10G RJ45
                                                        td 1 pair Generation 3
                                                    tr
                                                        td 2 10G SFP+
                                                        td N/A
                                                    tr
                                                        td 2 10G SFP+
                                                        td 1 pair Fiber Bypass
                                                    tr
                                                        td 4 GbE SFP
                                                        td 2 pairs Fiber Bypass
                                                    tr
                                                        td 4 GbE SFP
                                                        td N/A
                                                    tr
                                                        td 4 GbE RJ45
                                                        td 2 pairs Generation 3
                                                    tr
                                                        td 8 GbE RJ45
                                                        td 4 pairs Generation 3
                                                    tr
                                                        td 8 GbE RJ45
                                                        td N/A
                                                    tr
                                                        td 8 GbE RJ45
                                                        td 4 pairs G3 Bypass
                                                    tr
                                                        td 8 GbE RJ45
                                                        td N/A
                                                    tr
                                                        td 8 GbE SFP
                                                        td N/A




                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-21xx") 2
                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-31xx") 3
                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-41xx") 4
                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-51xx") 5
                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-61xx") 5
                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-71xx") 7
                            div.tabs__pane.js-tabs-pane(data-tab="tab-model-81xx") 8

                    section.product-section.product-section--scheme.js-accordions-non-collapsible.js-scroll-section#apply
                        div.product-section__headline.h3 Типовая схема применения
                        div.accordion.accordion--type-0.accordion--is-hidden.js-accordion
                            button.accordion__button.js-accordion-button(type="button") Построение защищенного соединения
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    p 1

                        div.accordion.accordion--type-0.accordion--is-hidden.js-accordion
                            button.accordion__button.js-accordion-button(type="button") Подключение удаленных сотрудников
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    p 2

                        div.accordion.accordion--type-0.accordion--is-hidden.js-accordion
                            button.accordion__button.js-accordion-button(type="button") Межсетевое экранирование
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    p МКСЗ Diamond VPN/FW можно использовать для фильтрации сетевого трафика в&nbsp;режиме коммутатора или в&nbsp;режиме маршрутизатора по&nbsp;любым полям и&nbsp;заголовкам. Доступна возможность фильтрации по&nbsp;доменному имени, фильтрация по&nbsp;расписанию, синхронизация правил межсетевого экранирования между несколькими устройствами, логирование правил фильтрации. Можно создавать различные контексты фильтрации.
                                    img(
                                        class='lazyload'
                                        src='assets/images/product/page/image-1.jpg'
                                        srcset='assets/images/product/page/image-1.jpg 1x, assets/images/product/page/image-1-2x.jpg 2x'
                                    alt='')

                        div.accordion.accordion--type-0.accordion--is-hidden.js-accordion
                            button.accordion__button.js-accordion-button(type="button") Система обнаружения вторжений
                            div.accordion__body.js-accordion-body
                                div.accordion__inside.js-accordion-inside
                                    p 3

                    section.product-section.js-scroll-section#tests
                        div.product-section__headline.h3 Результаты тестов
                        div.table-wrapper
                            table.colored-columns
                                thead
                                    tr
                                        th(style="max-width:8.2rem") Размер пакеты
                                        th 7141
                                        th 7101
                                        th 6101
                                        th 5121
                                        th 5111
                                        th 5101
                                        th 4101
                                        th 4101
                                        th 3101
                                        th 2111
                                        th 1101
                                tbody
                                    tr
                                        td 64
                                        td 2&nbsp;266
                                        td 1&nbsp;319
                                        td 660
                                        td 335
                                        td 306
                                        td 177
                                        td 35
                                        td 100
                                        td 20
                                        td 31
                                        td 12

                                    tr
                                        td 128
                                        td 3&nbsp;820
                                        td 2&nbsp;223
                                        td 1&nbsp;112
                                        td 707
                                        td 347
                                        td 374
                                        td 66
                                        td 185
                                        td 37
                                        td 58
                                        td 23

                                    tr
                                        td 256
                                        td 6&nbsp;846
                                        td 3&nbsp;985
                                        td 1&nbsp;992
                                        td 1&nbsp;268
                                        td 1&nbsp;159
                                        td 670
                                        td 115
                                        td 325
                                        td 66
                                        td 102
                                        td 39

                                    tr
                                        td 512
                                        td 12&nbsp;886
                                        td 7&nbsp;500
                                        td 3&nbsp;750
                                        td 2&nbsp;166
                                        td 1&nbsp;980
                                        td 1&nbsp;145
                                        td 189
                                        td 534
                                        td 108
                                        td 168
                                        td 66

                                    tr
                                        td 1024
                                        td 14&nbsp;779
                                        td 8&nbsp;603
                                        td 4&nbsp;301
                                        td 2&nbsp;400
                                        td 2&nbsp;200
                                        td 1&nbsp;125
                                        td 298
                                        td 840
                                        td 164
                                        td 275
                                        td 105

                                    tr
                                        td 1518
                                        td 15&nbsp;089
                                        td 8&nbsp;782
                                        td 4&nbsp;391
                                        td 2&nbsp;450
                                        td 2&nbsp;240
                                        td 1&nbsp;195
                                        td 336
                                        td 950
                                        td 200
                                        td 375
                                        td 140

                                    tr
                                        td 9&nbsp;000
                                        td 15&nbsp;490
                                        td 9&nbsp;015
                                        td 4&nbsp;508
                                        td 2&nbsp;558
                                        td 2&nbsp;243
                                        td 1&nbsp;405
                                        td 354
                                        td 1&nbsp;000
                                        td 305
                                        td 660
                                        td 225

                                tfoot
                                    tr
                                        td Байты
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с
                                        td Мбтит/с

                    section.product-section.load-more.js-load-more.js-scroll-section#certificates
                        div.product-section__headline.h3 Сертификаты
                        div.certificate-array#product-docs(data-nav-bar='1')
                            each element in certificates
                                if element.hidden
                                    div.certificate-array__element(class=element.hidden ? 'load-more__element--hidden js-load-more-element' : '')
                                        +certificate-element(element)
                                else if element.mobileHidden
                                    div.certificate-array__element(class=element.mobileHidden ? 'load-more__element--mobile-hidden js-load-more-element-mobile' : '')
                                        +certificate-element(element)
                                else
                                    div.certificate-array__element
                                        +certificate-element(element)
                        div.load-more__control
                            button.button.button--h-48.button--green.button--fs-16.button--hover-theme-alt.js-load-more-button(type='button' data-expanded='Скрыть' data-collapsed='Еще 5 сертификатов')
                                span.js-load-more-button-text Еще 5 сертификатов
                                | <svg class="i _chevron-down" width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                | <path d="M2 2L5 5L8 2" stroke-width="2" stroke-linecap="square"/>
                                | </svg>


                    section.product-section.js-scroll-section#cases
                        div.product-section__headline.h3 Кейсы
                        div.case-slider.swiper-container._with-arrows._with-dots.js-case-slider
                            div.swiper-wrapper
                                div.case-element.case-slider__element.swiper-slide
                                    div.case-element__header
                                        div.case-element__headline Федеральная служба государственной регистрации, #[br]кадастра и&nbsp;картографии
                                        div.case-element__logotype
                                            img(
                                                class="lazyload"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                data-src="assets/images/case/image-0.jpg"
                                                data-srcset="assets/images/case/image-0.jpg 1x, assets/images/case/image-0-2x.jpg 2x"
                                                alt=""
                                            )

                                    div.case-element__section
                                        div.case-element__title Описание
                                        p Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации без единой методологии ведения учета.

                                    div.case-element__section
                                        div.case-element__title Результаты
                                        ul.round-checked
                                            li автоматизация процессов в единой информационной среде с возможностью
                                            li разграничения прав доступа для филиалов. Центральная система «1С:Зарплата и управление персоналом»
                                            li и распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                                            li ведения учета требованиям законодательства, возможности формирования
                                            li любых видов аналитических отчетов.

                                div.case-element.case-slider__element.swiper-slide
                                    div.case-element__header
                                        div.case-element__headline Федеральная служба государственной регистрации, #[br]кадастра и&nbsp;картографии
                                        div.case-element__logotype
                                            img(
                                                class="lazyload"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                data-src="assets/images/case/image-0.jpg"
                                                data-srcset="assets/images/case/image-0.jpg 1x, assets/images/case/image-0-2x.jpg 2x"
                                                alt=""
                                            )

                                    div.case-element__section
                                        div.case-element__title Описание
                                        p Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации без единой методологии ведения учета.

                                    div.case-element__section
                                        div.case-element__title Результаты
                                        ul.round-checked
                                            li автоматизация процессов в единой информационной среде с возможностью
                                            li разграничения прав доступа для филиалов. Центральная система «1С:Зарплата и управление персоналом»
                                            li и распределенные узлы отвечают задачам масштабирования бизнеса, обеспечению соответствия
                                            li ведения учета требованиям законодательства, возможности формирования
                                            li любых видов аналитических отчетов.

                            +arrows({prev: 'js-case-slider-prev', next: 'js-case-slider-next'})
                            div.dots.js-case-slider-pagination
                    section.product-section.product-section--material.js-scroll-section#material
                        div.product-section__headline.h3 Материалы
                        each element in articles
                            +product-article(element)

                    section.product-section
                        div.product-section__headline.h3 Видео по&nbsp;продукту
                        div.default-slider.default-slider--non-destroyable.default-slider--webinars.swiper-container#webinars-slider(data-slides-offset='44')
                            div.swiper-wrapper
                                each element in webinars
                                    div.default-slider__element.swiper-slide.js-default-slider-element
                                        +webinar-element(element)
                            div.default-slider__arrow.default-slider__arrow--prev.js-default-slider-prev
                                | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
                                | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
                                | </svg>
                            div.default-slider__arrow.default-slider__arrow--next.js-default-slider-next
                                | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                                | </svg>

                            div.default-slider__pagination.js-default-slider-pagination
                aside.page__aside.grid-col.grid-col--4.grid-col--l-12.grid-col--s-12
                    a.button.button--h-40.button--fs-20.button--fw-500.order-project-button.js-scroll-link(href='#order-project') Заказать пилотный проект
                    div.order-project#order-project
                        form.form.js-form(action='/' method='POST')
                            header.order-project__header
                                div.order-project__headline.h4 Пилотный #[br]проект
                                | <svg class="i" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                | <g clip-path="url(#clip0)">
                                | <path d="M40.5 27C44.64 27 48 23.64 48 19.5C48 15.36 44.64 12 40.5 12C36.36 12 33 15.36 33 19.5C33 23.64 36.36 27 40.5 27ZM40.5 15C42.99 15 45 17.01 45 19.5C45 21.99 42.99 24 40.5 24C38.01 24 36 21.99 36 19.5C36 17.01 38.01 15 40.5 15Z" fill="#D70E45"/>
                                | <path d="M14.52 38.8499C9.56997 38.8499 4.70997 45.2999 0.0899675 57.9899C-0.120033 58.5299 0.0299675 59.1599 0.449967 59.5499C0.719967 59.8499 1.10997 59.9999 1.49997 59.9999C1.67997 59.9999 1.82997 59.9699 2.00997 59.9099C13.62 55.6799 20.01 51.2699 21 46.7399C21.33 45.2999 21.24 43.1399 19.05 40.9499C17.67 39.5699 16.14 38.8499 14.52 38.8499ZM18.09 46.0799C17.85 47.1299 16.92 48.8099 13.71 51.0299C11.34 52.6499 8.12997 54.2999 4.10997 55.8899C5.87997 51.4799 7.67997 48.0299 9.47997 45.5999C11.31 43.1399 13.05 41.8499 14.55 41.8499C15.36 41.8499 16.17 42.2399 16.98 43.0499C17.94 44.0699 18.3 45.0599 18.09 46.0799Z" fill="#D70E45"/>
                                | <path d="M58.5 0C50.73 0 43.77 1.32 37.89 3.93C33.03 6.09 28.86 9.09 25.5 12.87C24.87 13.59 24.3 14.31 23.76 15.03C21.18 15.21 18.54 16.23 15.9 18.09C13.65 19.65 11.4 21.84 9.20999 24.57C5.51999 29.13 3.23999 33.66 3.14999 33.84C2.81999 34.5 3.02999 35.31 3.59999 35.73C3.89999 35.91 4.19999 36 4.49999 36C4.88999 36 5.27999 35.85 5.54999 35.58C5.54999 35.58 6.98999 34.14 9.44999 32.76C11.46 31.62 14.58 30.27 18.33 30.03C19.29 32.46 21.99 35.37 23.31 36.69C24.6 37.98 27.51 40.71 29.97 41.67C29.73 45.42 28.38 48.54 27.24 50.55C25.86 53.01 24.45 54.42 24.45 54.45C23.94 54.96 23.85 55.8 24.3 56.4C24.57 56.79 25.02 57 25.5 57C25.74 57 25.95 56.94 26.16 56.85C26.34 56.76 30.87 54.48 35.43 50.79C38.16 48.6 40.32 46.35 41.91 44.1C43.77 41.46 44.79 38.82 44.97 36.24C45.69 35.7 46.41 35.13 47.1 34.5C50.91 31.14 53.91 27 56.07 22.11C58.68 16.23 60 9.27 60 1.5V0H58.5ZM18.15 27.06C14.67 27.27 11.7 28.26 9.32999 29.43C12.18 25.29 16.56 20.13 21.48 18.51C19.53 21.93 18.51 25.05 18.15 27.06ZM30.57 50.67C31.74 48.3 32.73 45.3 32.94 41.85C34.92 41.49 38.07 40.47 41.46 38.52C39.87 43.44 34.74 47.82 30.57 50.67ZM45.15 32.25C38.88 37.77 32.43 39 31.5 39C31.5 39 30.87 39 29.22 37.83C28.08 37.02 26.73 35.85 25.44 34.56C24.15 33.27 23.01 31.92 22.17 30.78C21.03 29.13 21 28.5 21 28.5C21 27.57 22.23 21.12 27.75 14.88C34.35 7.41 44.43 3.33 56.97 3.03C56.67 15.6 52.59 25.68 45.15 32.25Z" fill="#70BDB7"/>
                                | </g>
                                | <defs>
                                | <clipPath id="clip0">
                                | <rect width="60" height="60" fill="white"/>
                                | </clipPath>
                                | </defs>
                                | </svg>
                            include ../includes/form-rows

include ../sections/product-page/other-products