include ../sections/products/header
div.website-workarea__description
    div.container
        p Продукты семейства Diamond разработаны для комплексного обеспечения информационной безопасности. Программно-аппаратные средства защиты позволяют эффективно решать задачи шифрования высокоскоростных каналов связи, межсетевого экранирования, а&nbsp;также обнаружения и&nbsp;предотвращения вторжений.
        p Программный комплекс Diamond ACS, входящий в&nbsp;реестр отечественного&nbsp;ПО, надежно защищает данные от&nbsp;несанкционированного доступа. При этом все наши решения отвечают требованиям регуляторов: комплексы имеют сертификаты ФСТЭК и&nbsp;ФСБ, а&nbsp;также входят в&nbsp;реестр отечественного&nbsp;ПО.

div.section.section--products-array
    div.container
        include ../sections/products/products-array
