div.hero-slider.swiper-container.js-hero-slider(data-speed='1200' data-delay='4500')
    div.swiper-wrapper
        div.hero-slider__element.swiper-slide
            div.hero-slider__background
                img(
                    class="js-hero-slider-background"
                    data-desktop-src="assets/images/hero-slider/background-0.jpg"
                    data-desktop-srcset="assets/images/hero-slider/background-0.jpg 1x, assets/images/hero-slider/background-0-2x.jpg 2x"
                    data-mobile-src="assets/images/hero-slider/background-mobile-0.jpg"
                    data-mobile-srcset="assets/images/hero-slider/background-mobile-0.jpg 1x, assets/images/hero-slider/background-mobile-0-2x.jpg 2x"
                    src='assets/images/hero-slider/background-0.jpg'
                    srcset='assets/images/hero-slider/background-0.jpg 1x, assets/images/hero-slider/background-0-2x.jpg 2x'
                alt='')
            div.container
                div.hero-slider__description
                    h1.hero-slider__headline.h1 Глубокая экспертиза во&nbsp;встраиваемой безопасности и&nbsp;в&nbsp;защите высокоскоростных каналов связи
                    a.button.button--h-48.button--fs-20.button--fw-700(href='javascript:void(0);') Подробнее
                div.hero-slider__image
                    img(class='lazyload'
                        data-src='assets/images/hero-slider/image-1.png'
                        data-srcset='assets/images/hero-slider/image-1.png 1x, assets/images/hero-slider/image-1-2x.png 2x'
                        alt='')
        div.hero-slider__element.swiper-slide
            div.hero-slider__background
                img(
                    class="js-hero-slider-background"
                    data-desktop-src="assets/images/hero-slider/background-0.jpg"
                    data-desktop-srcset="assets/images/hero-slider/background-0.jpg 1x, assets/images/hero-slider/background-0-2x.jpg 2x"
                    data-mobile-src="assets/images/hero-slider/background-mobile-0.jpg"
                    data-mobile-srcset="assets/images/hero-slider/background-mobile-0.jpg 1x, assets/images/hero-slider/background-mobile-0-2x.jpg 2x"
                    src='assets/images/hero-slider/background-0.jpg'
                    srcset='assets/images/hero-slider/background-0.jpg 1x, assets/images/hero-slider/background-0-2x.jpg 2x'
                alt='')
            div.container
                div.hero-slider__description
                    h1.hero-slider__headline.h1 Dcrypt XG #[br]высокопроизводительный шифратор со&nbsp;скоростью шифрования 100&nbsp;Gb
                    a.button.button--h-48.button--fs-20.button--fw-700(href='javascript:void(0);') Подробнее
                div.hero-slider__image
                    img(class='lazyload'
                    data-src='assets/images/hero-slider/image-0.png'
                    data-srcset='assets/images/hero-slider/image-0.png 1x, assets/images/hero-slider/image-0-2x.png 2x'
                    alt='')
        div.hero-slider__element.swiper-slide
            div.hero-slider__background
                img(
                class="js-hero-slider-background"
                data-desktop-src="assets/images/hero-slider/background-0.jpg"
                data-desktop-srcset="assets/images/hero-slider/background-0.jpg 1x, assets/images/hero-slider/background-0-2x.jpg 2x"
                data-mobile-src="assets/images/hero-slider/background-mobile-0.jpg"
                data-mobile-srcset="assets/images/hero-slider/background-mobile-0.jpg 1x, assets/images/hero-slider/background-mobile-0-2x.jpg 2x"
                src='assets/images/hero-slider/background-0.jpg'
                srcset='assets/images/hero-slider/background-0.jpg 1x, assets/images/hero-slider/background-0-2x.jpg 2x'
                alt='')
            div.container
                div.hero-slider__description
                    h1.hero-slider__headline.h1 Diamond VPN/FW. Единое высокопроизводительное решение для защиты от&nbsp;сетевых угроз.
                    a.button.button--h-48.button--fs-20.button--fw-700(href='javascript:void(0);') Подробнее
                div.hero-slider__image
                    img(class='lazyload'
                    data-src='assets/images/hero-slider/image-1.png'
                    data-srcset='assets/images/hero-slider/image-1.png 1x, assets/images/hero-slider/image-1-2x.png 2x'
                    alt='')
    div.hero-slider__arrows
        div.hero-slider__arrow.hero-slider__arrow--prev.js-hero-slider-prev
            | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
            | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
            | </svg>
        div.hero-slider__arrow.hero-slider__arrow--next.js-hero-slider-next
            | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
            | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
            | </svg>

    div.hero-slider__pagination.js-hero-slider-pagination
