section.section.section--webinars.section--with-control
    div.container
        header.section__header
            div.section__headline.h2 Вебинары
            a.button.button--alternative(href='javascript:void(0);')
                | Все вебинары
                | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>
        div.mobile-slider-wrapper.js-mobile-slider-wrapper
            div.product-array.grid.mobile-slider.swiper-container.js-mobile-slider
                div.swiper-wrapper
                    each element in webinars
                        div.product-array__element.mobile-slider__element.swiper-slide.grid-col.grid-col--3.grid-col--m-6.grid-col--s-12
                            +webinar-element(element)
                div.mobile-slider__pagination.js-mobile-slider-pagination

        div.section__more
            a.button.button--alternative(href='javascript:void(0);')
                | Все вебинары
                | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>