section.section.section--products
    div.container
        header.section__header
            div.section__headline.h2 Наши продукты
        div.mobile-slider-wrapper.js-mobile-slider-wrapper
            div.product-array.grid.mobile-slider.swiper-container.js-mobile-slider
                div.swiper-wrapper
                    each element in products
                        div.product-array__element.mobile-slider__element.swiper-slide.grid-col.grid-col--3.grid-col--m-6.grid-col--s-12
                            +product-element(element)
                div.mobile-slider__pagination.js-mobile-slider-pagination