section.section.section--we-are-trusted.section--with-control
    div.container
        header.section__header
            div.section__headline.h2 Нам доверяют #[span._mobile-hidden крупнейшие компании]
            a.button.button--alternative(href='javascript:void(0);')
                | О нашем опыте
                | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>

        div.brands-carousel.swiper-container#brands-carousel(data-offset='65')
            div.swiper-wrapper
                each element in brands
                    +brands-carousel-element(element)
            div.brands-carousel__arrow.brands-carousel__arrow--prev.js-brands-carousel-prev
                | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>
            div.brands-carousel__arrow.brands-carousel__arrow--next.js-brands-carousel-next
                | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>
        div.section__more
            a.button.button--alternative(href='javascript:void(0);')
                | О нашем опыте
                | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>

