div.section.section--news
    div.container
        div.tabs.js-tabs
            div.tabs__list
                button.tabs__element._active.js-tabs-button.js-default-slider-updater(data-tab-id="tab-all" type="button") Все вместе
                button.tabs__element.js-tabs-button.js-default-slider-updater(data-tab-id="tab-news" type="button") Новости
                button.tabs__element.js-tabs-button.js-default-slider-updater(data-tab-id="tab-events" type="button") Мероприятия

            div.tabs__pane._active.js-tabs-pane(data-tab="tab-all")
                div.default-slider.swiper-container#news-events-slider(data-slides-offset='24')
                    div.swiper-wrapper
                        each element in newsAndEvents
                            div.default-slider__element.swiper-slide.js-default-slider-element
                                +news-element(element)
                    div.default-slider__arrow.default-slider__arrow--prev.js-default-slider-prev
                        | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>
                    div.default-slider__arrow.default-slider__arrow--next.js-default-slider-next
                        | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>

                include ../../includes/pagination

            div.tabs__pane.js-tabs-pane(data-tab="tab-news")
                div.default-slider.swiper-container#news-slider(data-slides-offset='24')
                    div.swiper-wrapper
                        each element in news
                            div.default-slider__element.swiper-slide.js-default-slider-element
                                +news-element(element)
                    div.default-slider__arrow.default-slider__arrow--prev.js-default-slider-prev
                        | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>
                    div.default-slider__arrow.default-slider__arrow--next.js-default-slider-next
                        | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>

                include ../../includes/pagination

            div.tabs__pane.js-tabs-pane(data-tab="tab-events")
                div.default-slider.swiper-container#events-slider(data-slides-offset='24')
                    div.swiper-wrapper
                        each element in events
                            div.default-slider__element.swiper-slide.js-default-slider-element
                                +news-element(element)
                    div.default-slider__arrow.default-slider__arrow--prev.js-default-slider-prev
                        | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>
                    div.default-slider__arrow.default-slider__arrow--next.js-default-slider-next
                        | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>

                include ../../includes/pagination