section.section.section--products
    div.container
        header.section__header
            div.section__headline.h2 Наши продукты
        div.mobile-slider-wrapper.js-mobile-slider-wrapper
            div.product-array.grid.mobile-slider.swiper-container.js-mobile-slider
                div.swiper-wrapper
                    each element in products
                        div.product-array__element.mobile-slider__element.swiper-slide.grid-col.grid-col--3.grid-col--m-6.grid-col--s-12
                            +product-element(element)
                div.mobile-slider__arrow.mobile-slider__arrow--prev.js-mobile-slider-prev
                    | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M13.1956 5.00244L0.992432 5.00244" stroke-linecap="round" stroke-linejoin="round"/>
                    | <path d="M5.18188 9.37744L0.804548 5.0001L5.18189 0.622767" stroke-linecap="round" stroke-linejoin="round"/>
                    | </svg>
                div.mobile-slider__arrow.mobile-slider__arrow--next.js-mobile-slider-next
                    | <svg class="i" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                    | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                    | </svg>
                div.mobile-slider__pagination.js-mobile-slider-pagination