div.section.about-company
    div.container
        div.grid
            div.grid-col.grid-col--7.grid-col--m-12.grid-col--s-12
                div.about-company__headline.h2 ТСС
                p.p--l Высокотехнологичная компания, специализирующаяся на&nbsp;разработке современных, гибких и&nbsp;надежных средств защиты информации.
                p Основные направления деятельности компании: создание средств защиты информации от несанкционированного доступа (НСД), обеспечение сетевой безопасности и криптографическая защита информации.
                p Команда ТСС — это высокоуровневые эксперты по информационной безопасности, профессионалы в сфере разработки программного обеспечения и системной интеграции, а также специалисты по сетевым технологиям. Наши главные преимущества — общая цель, тесное взаимодействие и поиск оптимальных решений поставленных задач для достижения максимально высокого результата.
                div.about-company__more
                    a.button.button--alternative(href='javascript:void(0);')
                        | О компании
                        | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                        | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                        | </svg>

            div.grid-col.grid-col--5.grid-col--m-12.grid-col--s-12
                div.about-company-features
                    div.about-company-feature
                        div.about-company-feature__icon
                            | <svg class="i" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M27.2 23.4398V30C27.2 36 30.4 41.5199 35.5199 44.4801L37.6 45.6801L39.6801 44.4801C44.8 41.5199 48 36 48 30V23.4398L37.6 20L27.2 23.4398ZM46.4 30C46.4 35.4398 43.5199 40.4 38.8801 43.1199L37.6 43.8398L36.3199 43.1199C31.6801 40.4 28.8 35.3601 28.8 30V24.5601L37.6 21.6L46.4 24.5601V30Z" fill="#D70E45"/>
                            | <path d="M37.2 42.3199C42.2398 39.4398 44.8 34.8 44.8 28.6398V27.2H43.2V28.5601C43.2 34.1601 40.8801 38.2398 36.4 40.8801L37.2 42.3199Z" fill="#D70E45"/>
                            | <path d="M44 6.39999H26.4V4.79999C26.4 3.43984 25.3602 2.39999 24 2.39999H6.4C5.03984 2.39999 4 3.43984 4 4.79999V7.99999H5.6V4.79999C5.6 4.31992 5.91992 3.99999 6.4 3.99999H24C24.4801 3.99999 24.8 4.31992 24.8 4.79999V7.99999H44C45.3602 7.99999 46.4 9.03984 46.4 10.4V20.8H48V10.4C48 8.16015 46.2398 6.39999 44 6.39999Z" fill="#D70E45"/>
                            | <path d="M4 40.8H28V39.2H4C2.63984 39.2 1.6 38.1602 1.6 36.8V14.4C1.6 13.0398 2.63984 12 4 12H37.6C38.9602 12 40 13.0398 40 14.4V19.2H41.6V14.4C41.6 12.1602 39.8398 10.4 37.6 10.4H4C1.76016 10.4 0 12.1602 0 14.4V36.8C0 39.0398 1.76016 40.8 4 40.8Z" fill="#D70E45"/>
                            | <path d="M43.2 12H44.8V20H43.2V12Z" fill="#D70E45"/>
                            | <path d="M17.6 25.6C17.6 27.3602 19.0398 28.8 20.8 28.8C22.5602 28.8 24 27.3602 24 25.6C24 23.8398 22.5602 22.4 20.8 22.4C19.0398 22.4 17.6 23.8398 17.6 25.6ZM22.4 25.6C22.4 26.4801 21.6801 27.2 20.8 27.2C19.9199 27.2 19.2 26.4801 19.2 25.6C19.2 24.7199 19.9199 24 20.8 24C21.6801 24 22.4 24.7199 22.4 25.6Z" fill="#D70E45"/>
                            | <path d="M26.6398 20.0801C19.6 17.9199 11.9199 19.8398 6.71992 25.0398L6.08008 25.6L6.63985 26.1602C10.4 29.9199 15.4398 32 20.8 32C22.1602 32 23.6 31.8399 24.9602 31.6L24.6398 30C18.8 31.2801 12.8 29.6 8.4 25.6C13.2 21.2 19.9199 19.6801 26.1602 21.6L26.6398 20.0801Z" fill="#D70E45"/>
                            | </svg>

                        div.about-company-feature__value 11+
                        p лет опыта защиты информации

                    div.about-company-feature
                        div.about-company-feature__icon
                            | <svg class="i" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M45.75 6.75H12.75C12.5511 6.75 12.3603 6.82902 12.2197 6.96967C12.079 7.11032 12 7.30109 12 7.5V29.25C12 29.4489 12.079 29.6397 12.2197 29.7803C12.3603 29.921 12.5511 30 12.75 30H33V36.75H30V38.25H42V39.75H30V41.25H42.75C42.9489 41.25 43.1397 41.171 43.2803 41.0303C43.421 40.8897 43.5 40.6989 43.5 40.5V30H45.75C45.9489 30 46.1397 29.921 46.2803 29.7803C46.421 29.6397 46.5 29.4489 46.5 29.25V7.5C46.5 7.30109 46.421 7.11032 46.2803 6.96967C46.1397 6.82902 45.9489 6.75 45.75 6.75ZM45 8.25V11.25H13.5V8.25H45ZM34.5 30H36V31.5C36 31.6989 36.079 31.8897 36.2197 32.0303C36.3603 32.171 36.5511 32.25 36.75 32.25C36.9489 32.25 37.1397 32.171 37.2803 32.0303C37.421 31.8897 37.5 31.6989 37.5 31.5V30H39V36.75H34.5V30ZM42 36.75H40.5V30H42V36.75ZM13.5 28.5V12.75H45V28.5H13.5Z" fill="#D70E45"/>
                            | <path d="M5.25 41.25H24.75C25.7442 41.2489 26.6974 40.8534 27.4004 40.1504C28.1034 39.4474 28.4989 38.4942 28.5 37.5C28.5 37.3011 28.421 37.1103 28.2803 36.9697C28.1397 36.829 27.9489 36.75 27.75 36.75H24.75V31.5H23.25V36.75H6.75V24H10.5V22.5H6C5.80109 22.5 5.61032 22.579 5.46967 22.7197C5.32902 22.8603 5.25 23.0511 5.25 23.25V36.75H2.25C2.05109 36.75 1.86032 36.829 1.71967 36.9697C1.57902 37.1103 1.5 37.3011 1.5 37.5C1.50113 38.4942 1.89658 39.4474 2.5996 40.1504C3.30261 40.8534 4.25578 41.2489 5.25 41.25ZM12.4393 38.25L12.9696 38.7803C13.1103 38.921 13.3011 39 13.5 39H16.5C16.6989 39 16.8897 38.921 17.0304 38.7803L17.5607 38.25H26.8715C26.7159 38.6884 26.4284 39.0679 26.0486 39.3364C25.6688 39.605 25.2152 39.7495 24.75 39.75H5.25C4.78482 39.7495 4.33121 39.605 3.95138 39.3364C3.57156 39.0679 3.28414 38.6884 3.12854 38.25H12.4393Z" fill="#D70E45"/>
                            | <path d="M15 10.5C15.4142 10.5 15.75 10.1642 15.75 9.75C15.75 9.33579 15.4142 9 15 9C14.5858 9 14.25 9.33579 14.25 9.75C14.25 10.1642 14.5858 10.5 15 10.5Z" fill="#D70E45"/>
                            | <path d="M17.25 10.5C17.6642 10.5 18 10.1642 18 9.75C18 9.33579 17.6642 9 17.25 9C16.8358 9 16.5 9.33579 16.5 9.75C16.5 10.1642 16.8358 10.5 17.25 10.5Z" fill="#D70E45"/>
                            | <path d="M19.5 10.5C19.9142 10.5 20.25 10.1642 20.25 9.75C20.25 9.33579 19.9142 9 19.5 9C19.0858 9 18.75 9.33579 18.75 9.75C18.75 10.1642 19.0858 10.5 19.5 10.5Z" fill="#D70E45"/>
                            | <path d="M15 14.25H17.25V15.75H15V14.25Z" fill="#D70E45"/>
                            | <path d="M19.5 14.25H24.75V15.75H19.5V14.25Z" fill="#D70E45"/>
                            | <path d="M26.25 14.25H28.5V15.75H26.25V14.25Z" fill="#D70E45"/>
                            | <path d="M15 18H17.25V19.5H15V18Z" fill="#D70E45"/>
                            | <path d="M19.5 18H22.5V19.5H19.5V18Z" fill="#D70E45"/>
                            | <path d="M24 18H28.5V19.5H24V18Z" fill="#D70E45"/>
                            | <path d="M15 21.75H17.25V23.25H15V21.75Z" fill="#D70E45"/>
                            | <path d="M19.5 21.75H28.5V23.25H19.5V21.75Z" fill="#D70E45"/>
                            | <path d="M15 25.5H17.25V27H15V25.5Z" fill="#D70E45"/>
                            | <path d="M19.5 25.5H22.5V27H19.5V25.5Z" fill="#D70E45"/>
                            | <path d="M24 25.5H28.5V27H24V25.5Z" fill="#D70E45"/>
                            | <path d="M33.2196 17.4697L30.9696 19.7197C30.829 19.8603 30.75 20.0511 30.75 20.25C30.75 20.4489 30.829 20.6397 30.9696 20.7803L33.2196 23.0303L34.2804 21.9697L32.5606 20.25L34.2804 18.5303L33.2196 17.4697Z" fill="#D70E45"/>
                            | <path d="M40.2804 17.4697L39.2196 18.5303L40.9394 20.25L39.2196 21.9697L40.2804 23.0303L42.5304 20.7803C42.671 20.6397 42.75 20.4489 42.75 20.25C42.75 20.0511 42.671 19.8603 42.5304 19.7197L40.2804 17.4697Z" fill="#D70E45"/>
                            | <path d="M34.5379 24.4988L37.5358 15.4958L38.9594 15.9698L35.9615 24.9728L34.5379 24.4988Z" fill="#D70E45"/>
                            | </svg>

                        div.about-company-feature__value 25+
                        p сертифицированных программных продуктов

                    div.about-company-feature
                        div.about-company-feature__icon
                            | <svg class="i" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <g clip-path="url(#clip0)">
                            | <path d="M0.543945 44.8103L1.16617 46.2108L23.494 36.9527L27.3838 37.4196L28.784 41.6984L26.917 43.488C26.2169 44.1102 25.9836 45.1214 26.3726 46.0551L27.1506 48L40.0646 42.9432L39.3645 41.0762C39.0534 40.1425 38.1975 39.5981 37.1863 39.5981H34.6188L33.2186 36.2526L36.6416 34.5413C37.7307 33.9966 38.1975 32.7518 37.8085 31.6627L33.3743 19.7599C32.9075 18.5151 31.5848 17.9704 30.34 18.3594C30.34 18.3594 30.2625 18.3594 30.2625 18.4372L26.9949 19.8374L26.528 18.6705L28.3176 16.5702C29.562 15.1696 30.34 13.4583 30.5736 11.5913L32.8296 8.86839C34.3077 7.1567 33.9966 4.58956 32.2849 3.11112C31.9738 2.87788 31.6627 2.64464 31.3515 2.4889C30.4957 2.09991 29.6399 2.02204 28.7065 2.25566L28.4729 1.55518C28.0839 0.310739 26.6837 -0.311863 25.5168 0.154993L9.10159 6.06763C7.85677 6.53448 7.23454 7.8568 7.7014 9.02375V9.10162L8.09039 10.1128C6.06759 11.0465 5.13388 13.3804 5.83397 15.4032C6.3787 16.9592 7.77889 18.0483 9.4127 18.2815L13.0693 18.6705C14.5474 19.7599 16.3365 20.46 18.1261 20.6154L20.6932 20.849L21.1601 22.016C20.6154 22.3271 20.2264 22.8718 20.071 23.5719L19.5263 26.2169L0.543945 33.9187L1.08867 35.3968L11.9802 31.0405L14.6252 38.9755L0.543945 44.8103ZM37.8085 41.543L37.9643 42.0095L28.0061 45.9772L27.7728 45.5104C27.6949 45.1993 27.7728 44.8881 27.9286 44.6549L30.5736 42.1653L33.9187 41.0762H37.0306C37.4195 41.0762 37.6532 41.2315 37.8085 41.543ZM32.9075 39.6756L30.1067 40.6093L29.0955 37.6532C29.562 37.7307 29.951 37.6532 30.34 37.4196L31.6627 36.7974L32.9075 39.6756ZM30.8068 19.6042C31.1958 19.4484 31.6627 19.6042 31.8184 19.9932L32.4406 21.627L28.6287 22.8718L29.0955 24.3499L32.9075 23.105L33.8408 25.5947L30.1846 26.8391L30.6515 28.3176L34.3855 27.0728L35.3193 29.562L31.7405 30.729L32.2074 32.2074L35.8636 30.9626L36.2526 31.9738C36.4083 32.3628 36.2526 32.7518 35.8636 32.9075L29.7177 35.9415C29.562 36.0194 29.4066 36.0194 29.2509 36.0194L23.9609 35.3968L21.0822 26.7616L21.627 23.883C21.7048 23.6498 21.8602 23.4162 22.0938 23.3383L30.8068 19.6042ZM30.7289 3.88909C31.9738 4.43382 32.5964 5.91188 32.0516 7.23458C31.9738 7.46782 31.8184 7.62356 31.6627 7.8568L30.7289 9.02375C30.6515 8.24578 30.4957 7.54569 30.2625 6.76772L29.2509 3.73372C29.7956 3.65585 30.2625 3.73372 30.7289 3.88909ZM7.38991 15.0143C6.92343 13.6916 7.46778 12.2914 8.71261 11.6688L9.80169 14.3142C10.1907 15.2475 10.7354 16.1812 11.3576 16.9592L9.72381 16.8034C8.63474 16.7256 7.7014 16.0255 7.38991 15.0143ZM18.4372 19.1373C15.2475 18.8262 12.4467 16.8034 11.2797 13.7694L9.25734 8.63477C9.10159 8.24578 9.25734 7.77893 9.64632 7.62356L26.0611 1.71093C26.2948 1.63306 26.4501 1.63306 26.6837 1.71093C26.8391 1.7888 26.9949 1.94417 27.0727 2.17779L28.784 7.31245C29.7177 10.1907 29.0955 13.3026 27.1506 15.5586L24.7388 18.3594L25.4389 20.2264L22.6382 21.3934L21.8602 19.4484L18.4372 19.1373ZM13.4583 30.4179L15.2475 29.7178L17.1924 35.6304L18.6704 35.1635L16.648 29.0955L19.7599 27.8507L22.4049 35.7083L16.1033 38.3533L13.4583 30.4179Z" fill="#D70E45"/>
                            | <path d="M38.9754 13.6137V14.3916H40.5314V13.6137C40.5314 11.4355 42.2431 9.72384 44.4212 9.72384V8.1679C42.2431 8.1679 40.5314 6.4566 40.5314 4.27807V3.5001H38.9754V4.27807C38.9754 6.4566 37.2641 8.1679 35.0856 8.1679V9.72384C37.2641 9.72384 38.9754 11.4355 38.9754 13.6137ZM39.7534 7.07883C40.2203 7.85679 40.8425 8.4794 41.6205 8.94587C40.8425 9.41273 40.2203 10.0353 39.7534 10.8133C39.2866 10.0353 38.6643 9.41273 37.8864 8.94587C38.6643 8.4794 39.2866 7.85679 39.7534 7.07883Z" fill="#D70E45"/>
                            | <path d="M4.74489 29.173V29.951H6.30083V29.173C6.30083 26.9949 8.01251 25.2832 10.1907 25.2832V23.7273C8.01251 23.7273 6.30083 22.016 6.30083 19.8374V19.0595H4.74489V19.8374C4.74489 22.016 3.03359 23.7273 0.855054 23.7273V25.2832C3.03359 25.2832 4.74489 26.9949 4.74489 29.173ZM5.52286 22.6382C5.98972 23.4162 6.61194 24.0388 7.38991 24.5052C6.61194 24.9721 5.98972 25.5947 5.52286 26.3727C5.056 25.5947 4.43378 24.9721 3.65581 24.5052C4.43378 24.0388 5.056 23.4162 5.52286 22.6382Z" fill="#D70E45"/>
                            | <path d="M43.6433 19.8374V19.0595H42.0873V19.8374C42.0873 22.016 40.376 23.7273 38.1975 23.7273V25.2832C40.376 25.2832 42.0873 26.9949 42.0873 29.173V29.951H43.6433V29.173C43.6433 26.9949 45.355 25.2832 47.5331 25.2832V23.7273C45.355 23.7273 43.6433 22.016 43.6433 19.8374ZM42.8653 26.3727C42.3985 25.5947 41.7762 24.9721 40.9983 24.5052C41.7762 24.0388 42.3985 23.4162 42.8653 22.6382C43.3322 23.4162 43.9544 24.0388 44.7324 24.5052C43.9544 24.9721 43.3322 25.5947 42.8653 26.3727Z" fill="#D70E45"/>
                            | <path d="M23.6498 13.8473L24.7388 14.9364C29.0176 10.6576 25.0499 4.12271 24.8167 3.8891L23.494 4.74494C23.5719 4.74494 27.0727 10.4243 23.6498 13.8473Z" fill="#D70E45"/>
                            | </g>
                            | <defs>
                            | <clipPath id="clip0">
                            | <rect width="48" height="48" fill="white"/>
                            | </clipPath>
                            | </defs>
                            | </svg>

                        div.about-company-feature__value 200+
                        p успешно реализованных проектов

                    div.about-company-feature
                        div.about-company-feature__icon
                             | <svg class="i" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                             | <path d="M32.2702 27.9458L28.1843 26.1299C27.8957 26.0016 27.7093 25.7146 27.7093 25.3989V24.2769C29.0818 23.1833 29.964 21.4993 29.964 19.6121V18.0327C30.4161 17.7828 30.7155 17.3 30.7155 16.7592V16.606C30.7155 13.3176 28.0401 10.6422 24.7518 10.6422H23.2488C19.9604 10.6422 17.285 13.3176 17.285 16.606V17.9967C17.285 18.4721 17.4896 18.9027 17.8461 19.1782C17.9066 19.2249 17.9702 19.2659 18.0365 19.3015V19.612C18.0365 21.4992 18.9186 23.1832 20.291 24.2767V25.3988C20.291 25.7145 20.1046 26.0015 19.816 26.1298L15.7302 27.9457C14.3921 28.5404 13.5274 29.8709 13.5274 31.3351V40.6543C13.5274 41.0426 13.8422 41.3574 14.2305 41.3574C14.6189 41.3574 14.9337 41.0426 14.9337 40.6543V31.3352C14.9337 31.2538 14.9395 31.1732 14.9479 31.0934L16.8306 32.9761C17.1236 33.2691 17.285 33.6587 17.285 34.0731V40.6544C17.285 41.0427 17.5998 41.3575 17.9881 41.3575C18.3765 41.3575 18.6913 41.0427 18.6913 40.6544V34.0731C18.6913 33.2831 18.3837 32.5404 17.825 31.9817L15.5805 29.7372C15.7828 29.5274 16.0254 29.3535 16.3014 29.2307L20.3183 27.4455L23.2972 30.4244V40.6543C23.2972 41.0426 23.612 41.3574 24.0004 41.3574C24.3887 41.3574 24.7035 41.0426 24.7035 40.6543V30.4245L27.6824 27.4455L31.6992 29.2307C31.9752 29.3535 32.2178 29.5274 32.4201 29.7373L30.1756 31.9817C29.6169 32.5404 29.3093 33.2831 29.3093 34.0731V40.6544C29.3093 41.0427 29.6241 41.3575 30.0125 41.3575C30.4008 41.3575 30.7156 41.0427 30.7156 40.6544V34.0731C30.7156 33.6587 30.8769 33.2691 31.17 32.9761L33.0526 31.0935C33.061 31.1733 33.0668 31.2537 33.0668 31.3351V40.6543C33.0668 41.0426 33.3817 41.3574 33.77 41.3574C34.1583 41.3574 34.4731 41.0426 34.4731 40.6543V31.3352C34.4728 29.871 33.6082 28.5405 32.2702 27.9458ZM24.0001 29.1389L21.3862 26.5249C21.585 26.1905 21.6972 25.8036 21.6972 25.3989V25.1128C22.4062 25.4107 23.1843 25.5758 24.0002 25.5758C24.8161 25.5758 25.594 25.4108 26.3029 25.1129V25.3989C26.3029 25.8037 26.4152 26.1905 26.614 26.525L24.0001 29.1389ZM24.0002 24.1694C21.4872 24.1695 19.4427 22.125 19.4427 19.6121V19.2958C19.8814 19.1219 20.3097 18.8452 20.7197 18.4669C21.0049 18.2036 21.0228 17.7587 20.7594 17.4733C20.4961 17.1881 20.0513 17.1702 19.7658 17.4335C19.4142 17.7582 19.0628 17.9679 18.7217 18.0569C18.7135 18.0591 18.7074 18.06 18.7031 18.0604C18.698 18.0506 18.6912 18.0299 18.6912 17.9968V16.6061C18.6912 14.0931 20.7357 12.0486 23.2487 12.0486H24.7517C27.2647 12.0486 29.3091 14.0931 29.3091 16.6061V16.7593C29.3091 16.7821 29.2955 16.8019 29.2775 16.8055C25.067 17.637 22.9552 16.0698 22.2427 15.3573C21.9681 15.0827 21.5229 15.0827 21.2484 15.3573C20.9738 15.6319 20.9738 16.0771 21.2484 16.3516C23.4318 18.5351 26.618 18.5744 28.5576 18.3414V19.612C28.5576 22.1249 26.5131 24.1694 24.0002 24.1694Z" fill="#D70E45"/>
                             | <path d="M12.679 19.1214V17.6181C12.679 15.7838 11.7257 14.169 10.2894 13.2398C10.3781 12.9552 10.4244 12.6572 10.4244 12.3575C10.4244 10.7266 9.09761 9.39984 7.46673 9.39984C5.83586 9.39984 4.5091 10.7267 4.5091 12.3575C4.5091 12.6609 4.55504 12.9561 4.64392 13.2399C3.20766 14.1691 2.2545 15.7839 2.2545 17.6181V19.1211C2.2545 20.8974 3.14822 22.4681 4.50901 23.4095V24.9557C4.50901 25.2607 4.3396 25.5348 4.06688 25.6712L1.63491 26.8872C0.626439 27.3915 0 28.4052 0 29.5327V35.6545C0 36.0428 0.314813 36.3576 0.703126 36.3576C1.09144 36.3576 1.40625 36.0428 1.40625 35.6545V29.8368L2.55169 30.9823C2.84466 31.2753 3.0061 31.6649 3.0061 32.0793V35.6545C3.0061 36.0428 3.32091 36.3576 3.70923 36.3576C4.09754 36.3576 4.41235 36.0428 4.41235 35.6545V32.0793C4.41235 31.2893 4.10466 30.5466 3.5461 29.9879L1.95188 28.3937C1.94419 28.386 1.93594 28.3794 1.92807 28.3722C2.0281 28.2838 2.14032 28.207 2.26388 28.1451L4.69585 26.9292C4.82045 26.8668 4.93642 26.7932 5.04451 26.7115L6.76361 28.4307V35.6546C6.76361 36.0429 7.07842 36.3577 7.46673 36.3577C7.85505 36.3577 8.16986 36.0429 8.16986 35.6546V28.4306L9.88905 26.7114C9.99724 26.7932 10.1131 26.8668 10.2377 26.9291L10.9083 27.2644C11.0093 27.3149 11.1165 27.3388 11.2223 27.3388C11.4802 27.3388 11.7285 27.1963 11.8517 26.9501C12.0254 26.6027 11.8846 26.1804 11.5373 26.0068L10.8667 25.6714C10.5939 25.535 10.4245 25.2609 10.4245 24.956V23.4098C11.7852 22.4683 12.679 20.8976 12.679 19.1214ZM7.46673 10.8061C8.3222 10.8061 9.01811 11.5021 9.01811 12.3575C9.01811 12.4517 9.00967 12.544 8.99355 12.6345C8.51036 12.4862 7.99783 12.4058 7.46673 12.4058C6.93639 12.4058 6.42451 12.4859 5.94207 12.6338C5.92586 12.5434 5.91536 12.4515 5.91536 12.3575C5.91536 11.502 6.61126 10.8061 7.46673 10.8061ZM7.46673 13.8122C9.56533 13.8122 11.2727 15.5196 11.2727 17.6182V17.873C8.34536 18.7692 6.60076 16.5424 6.52623 16.4448C6.40389 16.2818 6.21686 16.1798 6.01361 16.1653C5.81036 16.1511 5.61067 16.2254 5.46657 16.3695C4.79542 17.0407 4.13804 17.3644 3.66329 17.5207C3.71532 15.467 5.40085 13.8122 7.46673 13.8122ZM7.46673 27.1449L5.84195 25.5201C5.88939 25.3388 5.91536 25.1498 5.91536 24.9558V24.0975C6.40558 24.2507 6.92673 24.3333 7.46673 24.3333C8.00673 24.3333 8.52789 24.2507 9.01811 24.0975V24.9558C9.01811 25.1498 9.04408 25.3389 9.09152 25.5201L7.46673 27.1449ZM7.46673 22.9271C5.36814 22.9271 3.66076 21.2197 3.66076 19.1211V18.9754C4.22148 18.8466 5.05285 18.5472 5.92014 17.8497C6.22698 18.1392 6.66554 18.4944 7.22401 18.799C7.88458 19.1592 8.79686 19.4925 9.91118 19.4925C10.3346 19.4925 10.7877 19.4433 11.2667 19.3302C11.1577 21.332 9.49511 22.9271 7.46673 22.9271Z" fill="#D70E45"/>
                             | <path d="M46.3651 24.3843L42.4302 22.4168C42.1574 22.2803 41.988 22.0062 41.988 21.7013V20.7049C42.9091 19.8871 43.491 18.6953 43.491 17.3697V16.5694C43.5073 16.5694 43.5232 16.5698 43.5394 16.5698C43.9277 16.5698 44.2425 16.255 44.2425 15.8667V14.3637C44.2425 11.9041 42.2414 9.90298 39.7818 9.90298H38.2788C35.8192 9.90298 33.8181 11.9041 33.8181 14.3637V15.8667C33.8181 16.255 34.1329 16.5698 34.5212 16.5698C34.527 16.5698 34.5439 16.5696 34.5696 16.5686V17.3697C34.5696 18.6954 35.1516 19.8872 36.0727 20.705V21.7014C36.0727 22.0064 35.9033 22.2805 35.6305 22.4168C35.2831 22.5905 35.1423 23.0128 35.316 23.3602C35.4392 23.6065 35.6875 23.749 35.9454 23.749C36.0511 23.749 36.1584 23.7251 36.2593 23.6747C36.3839 23.6124 36.4999 23.5388 36.608 23.457L38.3272 25.1762V34.6546C38.3272 35.0429 38.642 35.3578 39.0303 35.3578C39.4186 35.3578 39.7334 35.0429 39.7334 34.6546V25.176L41.4525 23.4568C41.5607 23.5387 41.6766 23.6123 41.8012 23.6745L45.6088 25.5784L44.4539 26.7333C43.8954 27.292 43.5877 28.0346 43.5877 28.8247V34.6544C43.5877 35.0427 43.9025 35.3576 44.2908 35.3576C44.6791 35.3576 44.9939 35.0427 44.9939 34.6544V28.8247C44.9939 28.4103 45.1553 28.0207 45.4483 27.7276L46.5423 26.6336C46.5755 26.7609 46.5937 26.8935 46.5937 27.0296V34.6544C46.5937 35.0427 46.9085 35.3576 47.2968 35.3576C47.6851 35.3576 47.9999 35.0427 47.9999 34.6544V27.0296C48 25.9022 47.3736 24.8886 46.3651 24.3843ZM35.2242 15.0189V14.3636C35.2242 12.6794 36.5946 11.3091 38.2788 11.3091H39.7818C41.466 11.3091 42.8363 12.6794 42.8363 14.3636V15.1446C39.7797 14.9797 37.9352 13.7903 37.9173 13.7786C37.7983 13.6993 37.6626 13.6605 37.5275 13.6605C37.346 13.6605 37.166 13.7306 37.03 13.8665C36.3573 14.5392 35.6981 14.863 35.2242 15.0189ZM39.0303 23.8904L37.4055 22.2656C37.453 22.0843 37.4789 21.8953 37.4789 21.7013V21.5516C37.9623 21.7315 38.485 21.8303 39.0303 21.8303C39.5756 21.8303 40.0983 21.7315 40.5817 21.5516V21.7013C40.5817 21.8953 40.6076 22.0843 40.6551 22.2656L39.0303 23.8904ZM39.0303 20.4242C37.3461 20.4242 35.9758 19.054 35.9758 17.3697V16.2362C36.4683 16.0394 37.042 15.7266 37.6259 15.2291C38.3643 15.6133 39.9091 16.2773 42.0848 16.4967V17.3697C42.0848 19.0539 40.7145 20.4242 39.0303 20.4242Z" fill="#D70E45"/>
                             | </svg>

                        div.about-company-feature__value 150+
                        p довольных клиентов
        div.about-company__more.about-company__more--mobile
            a.button.button--alternative(href='javascript:void(0);')
                | О компании
                | <svg class="i _arrow-right" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                | <path d="M0.804443 4.99756L13.0076 4.99756" stroke-linecap="round" stroke-linejoin="round"/>
                | <path d="M8.81812 0.622559L13.1955 4.9999L8.81812 9.37723" stroke-linecap="round" stroke-linejoin="round"/>
                | </svg>