.youtube-player {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
		&__poster,
		&__video {
			position: absolute;
			top: 0;
			left: 0;
			@include full;
			@include smooth(.2s);
		}
		&__poster {
			opacity: 1;
			visibility: visible;
			@include smooth(.15s);
			z-index: 1;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				@include hundred;
				background-color: rgba(map-get($basic, secondary), .1);
				z-index: 1;
			}

			&-play {
				position: absolute;
				top: 50%;
				left: 50%;
				@include size(8rem,8rem);
				background: url("data:image/svg+xml,%0A%3Csvg enable-background='new 0 0 24 24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.522 17.874c.49 1.738 1.989 2.056 2.089 2.117 2.467.672 16.295.674 18.799 0 1.715-.496 2.03-2.017 2.089-2.117.653-3.474.696-8.003-.03-11.945l.03.196c-.49-1.738-1.989-2.056-2.089-2.117-2.434-.661-16.298-.686-18.799 0-1.715.497-2.03 2.017-2.089 2.117-.699 3.651-.734 7.84 0 11.749zm9.086-2.223v-7.293l6.266 3.652z' fill='%23C21041'/%3E%3C/svg%3E") 0 0 no-repeat;
				background-size: cover;
				will-change: transform;
				transform: translate(-50%, -50%);
				@include smooth(.8s);
				z-index: 2;
			}

			&:hover {
				.youtube-player__poster {
					&-play {
						transform: translate(-50%, -50%) scale(1.1);
					}
				}
			}
		}
		&__video {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
		}

	&--is-playing {
		.youtube-player {
			&__poster {
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
			}
			&__video {
				opacity: 1;
				pointer-events: all;
				visibility: visible;
			}
		}
	}

	@include bp-tabletXS {
		&__poster {
			&-play {
				@include size(5rem, 5rem);
			}
		}
	}
}