header.website-workarea__header#order-project-button-anchor
    div.website-workarea__header-image
        img(
        class="lazyload"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
        srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
        data-src="assets/images/workarea-header/image-11.jpg"
        data-srcset="assets/images/workarea-header/image-11.jpg 1x, assets/images/workarea-header/image-11-2x.jpg 2x"
        alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h1 Автоматизация процессов
            p.p--l Комплекс разрозненных информационных систем в&nbsp;филиалах и&nbsp;головной организации #[br]без единой методологии ведения учета.