section.section.section--default.section--dark
    div.container
        header.section__header
            div.section__headline.h2 Другие продукты

        div.product-carousel.js-product-carousel._with-arrows._with-dots.swiper-container
            div.swiper-wrapper
                each element in products
                    div.product-carousel__element.swiper-slide
                        +product-element(element)

            +arrows({prev: 'js-products-carousel-prev', next: 'js-products-carousel-next'})
            div.dots.js-product-carousel-pagination

