.button {
	@include button(4rem, 0 #{map-get($defaults , base) * 3} .2rem, map-get($basic, theme), map-get($basic, theme));
		&:hover {
			color: $colorWhite;
		}
		&:active {}

	& .i {
		&._arrow-right {
			@include size(1.4rem, 1.1rem);
		}
		&._chevron-down {
			@include size(1rem, .7rem);
			margin-top: .2rem;
			margin-left: 1rem;
			fill: none;
			stroke: $colorWhite;
		}
		&._pdf {
			@include size(map-get($defaults, gutter), map-get($defaults, gutter));
			margin-right: map-get($defaults, base);
			fill: $colorWhite
		}
		&._pin {
			@include size(multi(2), 1.7rem);
			margin-right: .5rem;
			fill: none;
		}
	}

	&--white {
		color: map-get($basic, primary);
		background-color: $colorWhite;
		border-color: $colorWhite;
	}
	&--bordered {
		color: $colorWhite;
		background-color: transparent;
		border: .1rem solid rgba($colorWhite, .5);
	}
	&--bordered-theme {
		color: map-get($basic, theme);
		background-color: $colorWhite;
		border: .1rem solid rgba( map-get($basic, theme), .2);
			& .i {
				@include size(multi(2), 1.7rem);
				stroke: map-get($basic, theme);
			}
			&:hover {
				color: $colorWhite;
				background-color: map-get($basic, theme);
				border-color: map-get($basic, theme);
					& .i {
						stroke: $colorWhite;
					}
			}
	}
	&--green {
		color: map-get($basic, themeAlt);
		background-color: map-get($basic, themeAltLightset);
		border-color: map-get($basic, themeAltLightset);

			& .i {
				&._chevron-down {
					stroke: map-get($basic, themeAlt);
				}
				&._pdf {
					fill: map-get($basic, themeAlt)
				}
			}
	}

	&--hover-theme {
		&:hover {
			background-color: map-get($basic, theme);
			border-color: map-get($basic, theme);
		}
	}
	&--hover-theme-alt {
		&:hover {
			background-color: map-get($basic, themeAlt);
			border-color: map-get($basic, themeAlt);

				& .i {
					&._chevron-down {
						stroke: $colorWhite;
					}
					&._pdf {
						fill: $colorWhite;
					}
				}
		}
	}

	&--w-100 {
		width: 100%;
	}

	&--h-32 {
		height: 3.2rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
	&--h-48 {
		height: 4.8rem;
	}
	&--h-52 {
		height: 5.2rem;
	}
	&--h-56 {
		height: 5.6rem;
	}

	&--p-32 {
		padding-left: #{map-get($defaults , base) * 4};
		padding-right: #{map-get($defaults , base) * 4};
	}

	&--fs-14 {
		font-size: 1.4rem;
	}
	&--fs-16 {
		font-size: map-get($defaults, gutter);
	}
	&--fs-17 {
		font-size: 1.7rem;
	}
	&--fs-20 {
		font-size: 2rem;
	}
	&--fs-24 {
		font-size: 2.4rem;
	}

	&--fw-500 {
		font-weight: $medium;
	}
	&--fw-700 {
		font-weight: $bold;
	}

	&--alternative {
		height: 4.8rem;
		color: map-get($basic, themeAlt);
		font-size: 1.7rem;
		background-color: transparent;
		border: .1rem solid map-get($grey, color_0);
		@include radius(10rem);

			& .i {
				&._arrow-right {
					margin-top: .2rem;
					margin-left: map-get($defaults, base);
					stroke: map-get($basic, themeAlt);
				}
			}

			&:hover {
				color: map-get($basic, themeAlt);
			}
	}

	&--mt-24 {
		margin-top: multi(3);
	}
	&--mt-40 {
		margin-top: 4rem;
	}

	@include bp-tabletXS {
		&--h-52 {
			height: 4rem;
				&.button {
					&--fs-24 {
						font-size: 1.8rem;
					}
				}
		}

		&--mobile--h-40 {
			height: 3.6rem;
		}
		&--mobile--h-36 {
			height: 4rem;
		}
		&--mobile-fs-16 {
			font-size: 1.6rem;
		}

		&--mobile-fs-14 {
			padding-left: multi(2);
			padding-right: multi(2);
			font-size: 1.4rem;
		}

		&--mt-40 {
			margin: 3rem auto 0;
		}
	}
}