.control {
	position: relative;
	display: block;
	cursor: default;
	@include smooth(.2s);
		&__input {
			position: absolute;
			width: .1rem;
			height: .1rem;
			clip: rect(0, 0, 0, 0);
			z-index: 0;
				&:checked {
					& + .control__container {
						.control__checkbox,
						.control__radio {
							background-color: map-get($basic, theme);
							border-color: map-get($basic, theme);
								&::after {
									opacity: 1;
								}
						}
					}
				}
				&:disabled {
					& + .control__container {
						pointer-events: none;

							.control__value {
								color: map-get($grey, color_3);
							}
					}
				}
		}
		&__container {
			@include flex();
			align-items: flex-start;
			cursor: pointer;
		}
		&__checkbox,
		&__radio {
			position: relative;
			@include flex(3rem);
			height: 3rem;
			align-items: center;
			justify-content: center;
			background-color: $colorWhite;
			border: .1rem solid map-get($grey, color_1);
				&::after {
					content: '';
					display: block;
					opacity: 0;
					@include smooth(.2s);
				}
		}
		&__checkbox {
			@include radius(#{map-get($defaults, radius) / 2});
				&::after {
					@include size(1.8rem, 1.3rem);
					background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.96045 6.03076L7.40353 11.4738L16.2485 1.26807' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-size: cover;
				}
		}
		&__radio {
			@include round;
		}
		&__value {
			width: calc(100% - 3rem);
			padding-top: .4rem;
			padding-left: map-get($defaults, base);
			color: map-get($basic, secondary);
			@include font-size();
			@include smooth(.2s);
		}

	& + .control {
		margin-top: multi(2);
	}

	@include bp-tabletXS {
		&__value {
			font-size: multi(2);
		}

		& + .control {
			margin-top: multi(1);
		}
	}
}