.input {
	position: relative;
	width: 100%;

	&__label {
		position: absolute;
		top: multi(1);
		left: multi(3);
		color: map-get($grey, color_2);
		@include font-size(1.4rem, 2.4rem);
		font-weight: $regular;
		@include no-touch;
		z-index: 2;
	}
	&__field {
		@include input(4.8rem, 1.2rem 2.8rem 1.2rem 1.7rem);
		color: map-get($basic, primary);
		border-color: map-get($grey, color_1);
			&--textarea {
				@include input(5.6rem, 2.6rem 4.7rem 1rem 1.6rem);
				min-height: 5.6rem;
				line-height: 1.3;
				overflow: hidden;
			}

		&::-webkit-input-placeholder {
			color: map-get($grey, color_2);
		}
		&::-moz-placeholder {
			color: map-get($grey, color_2);
		}
		&:-ms-input-placeholder {
			color: map-get($grey, color_2);
		}
		&:-moz-placeholder {
			color: map-get($grey, color_2);
		}

		&:invalid {
			//border-color: $colorRed;
		}
		&:focus {
			&::-webkit-input-placeholder {
				opacity: 0;
			}
			&::-moz-placeholder {
				opacity: 0;
			}
			&:-ms-input-placeholder {
				opacity: 0;
			}
			&:-moz-placeholder {
				opacity: 0;
			}
		}
		&:disabled {
			pointer-events: none;
			border-color: transparent;
			@include noselect;
		}

		//remove clear icons
		&::-ms-clear {
			display: none;
		}
		&::-ms-reveal {
			display: none;
		}
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			-webkit-appearance: none;
		}
	}
	&__messages {
		margin-top: .6rem;
			&:empty {
				display: none;
			}
	}
	&__message {
		color: $colorRed;
		@include font-size(1.2rem, 1rem);
			& + .input__message {
				margin-top: .4rem;
			}
	}

	& .input--error {
		display: none;
		margin-top: 1.2rem;
		color: $colorRed;
		@include font-size(1.2rem, 1.6rem);
	}

	&--required {
		&::after {
			content: '';
			position: absolute;
			top: 2.3rem;
			right: 2.2rem;
			display: block;
			@include size(.4rem, .4rem);
			background-color: map-get($basic, theme);
			@include round;
			z-index: 2;
		}
	}

	&--group {
		.input {
			&__field {
				height: 6rem;
				padding-top: 3rem;
				padding-left: multi(3);
				padding-bottom: .6rem;
				font-size: multi(2);
				@include radius();
					&--textarea {
						height: 21.2rem;
						min-height: 21.2rem;
						padding: 3rem multi(3) multi(3);
					}
			}
		}
		&.input--required {
			&::after {
				top: 3rem;
			}
		}
	}

	//validation
	&--error {
		.input {
			&__field {
				border-color: $colorRed;
			}
		}

		& .input--error {
			display: block;
		}
	}
	&--success {
		.input {
			&__field {
				//border-color: $colorGreen;
			}
		}

		&::after {
			background-color: $colorGreen;
		}
	}

	@include bp-tabletXS {
		&__label {
			top: 0;
			left: multi(2);
		}
		&--group {
			.input {
				&__field {
					height: 4.4rem;
					padding-top: 2.2rem;
					padding-left: multi(2);
					font-size: 1.4rem;
						&--textarea {
							height: 15.4rem;
							min-height: 15.4rem;
							padding: 2.2rem multi(2) multi(2);
						}
				}
			}
			&.input--required {
				&::after {
					top: 2.1rem;
				}
			}
		}
	}
}