.round-checked {
	width: 100%;
		& > li {
			position: relative;
			padding-left: multi(4);
				&::before {
					content: '';
					position: absolute;
					top: .5rem;
					left: 0;
					display: block;
					@include size(1.6rem, 1.6rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.442 2.51561C9.26017 1.98901 7.93976 1.85856 6.67772 2.1437C5.41568 2.42884 4.27962 3.1143 3.43897 4.09785C2.59833 5.08141 2.09814 6.31035 2.01301 7.6014C1.92788 8.89245 2.26237 10.1764 2.96658 11.2619C3.6708 12.3473 4.70701 13.176 5.92069 13.6244C7.13436 14.0728 8.46046 14.1168 9.70122 13.75C10.942 13.3831 12.0309 12.625 12.8056 11.5887C13.5803 10.5524 13.9993 9.29346 14 7.99961V7.38666C14 7.01847 14.2985 6.71999 14.6667 6.71999C15.0349 6.71999 15.3333 7.01847 15.3333 7.38666V7.99999C15.3324 9.58137 14.8204 11.1205 13.8735 12.387C12.9267 13.6536 11.5957 14.5802 10.0793 15.0286C8.56279 15.4769 6.942 15.4231 5.45862 14.8751C3.97524 14.327 2.70875 13.3142 1.84804 11.9876C0.987334 10.6609 0.578519 9.09162 0.682568 7.51367C0.786618 5.93572 1.39796 4.43368 2.42541 3.23156C3.45286 2.02944 4.84138 1.19165 6.38388 0.843146C7.92637 0.49464 9.5402 0.654086 10.9847 1.29771C11.321 1.44756 11.4721 1.84168 11.3223 2.17799C11.1724 2.51431 10.7783 2.66546 10.442 2.51561Z' fill='%23D70E45'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1378 2.19503C15.3983 2.45525 15.3985 2.87736 15.1383 3.13784L8.47164 9.81117C8.34664 9.9363 8.17704 10.0066 8.00017 10.0067C7.8233 10.0067 7.65366 9.93647 7.5286 9.8114L5.5286 7.8114C5.26825 7.55106 5.26825 7.12895 5.5286 6.8686C5.78895 6.60825 6.21106 6.60825 6.47141 6.8686L7.99977 8.39696L14.195 2.1955C14.4552 1.93502 14.8774 1.93481 15.1378 2.19503Z' fill='%23D70E45'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
				}

				& + li {
					margin-top: map-get($defaults, gutter);
				}

				& ul {
					& > li {
						position: relative;
						padding-left: multi(3);
						&::before {
							content: '';
							position: absolute;
							top: 1.2rem;
							left: 0;
							display: block;
							@include size(1.2rem, .1rem);
							background-color: map-get($basic, theme);
						}
						& + li {
							margin-top: map-get($defaults, gutter);
						}
					}
				}
		}

	@include bp-tabletXS {
		@include font-size(1.4rem, 2rem);
			li {
				padding-left: #{map-get($defaults, base) * 3};
				&::before {
					top: .3rem;
				}

				& ul {
					@include font-size(1.4rem, 2rem);
				}
			}
	}
}
.red-dash {
	width: 100%;
		li {
			position: relative;
			padding-left: 4.2rem;
			&::before {
				content: '';
				position: absolute;
				top: 1.1rem;
				left: 0;
				display: block;
				@include size(1.6rem, .2rem);
				background: map-get($basic, theme);
				@include radius(.2rem);
			}

			& + li {
				margin-top: map-get($defaults, gutter);
			}
		}

	@include bp-tabletXS {
		@include font-size(1.4rem, 2rem);
		li {
			padding-left: #{map-get($defaults, base) * 4};
				&::before {
					top: map-get($defaults, base);
				}
		}
	}
}
.default {
	width: 100%;
		li {
			padding-left: 0;
				& + li {
					margin-top: map-get($defaults, base);
				}
		}

	@include bp-tabletXS {
		@include font-size(1.4rem, 2rem);
			li {
				& + li {
					margin-top: #{map-get($defaults, base) / 2};
				}
			}
	}
}
.docs {
	width: 100%;
	@include font-size(1.6rem, 2.4rem);
		li {
			position: relative;
			padding-left: multi(3);
				&::before {
					content: '';
					position: absolute;
					top: .4rem;
					left: 0;
					display: block;
					background-repeat: no-repeat;
					background-size: cover;
				}
				& + li {
					margin-top: multi(2);
				}

				&._pdf {
					&::before {
						@include size(multi(2), multi(2));
						background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9998 9.14284V8H12.5713V13.7142H13.7141V11.4285H15.4284V10.2857H13.7141V9.14284H15.9998Z' fill='%2325B0A5'/%3E%3Cpath d='M9.7144 13.7142H7.42871V8H9.7144C10.1689 8.00045 10.6047 8.18121 10.9261 8.5026C11.2475 8.82399 11.4282 9.25975 11.4287 9.71426V12C11.4282 12.4545 11.2475 12.8902 10.9261 13.2116C10.6047 13.533 10.1689 13.7138 9.7144 13.7142ZM8.57155 12.5714H9.7144C9.8659 12.5712 10.0112 12.511 10.1183 12.4038C10.2254 12.2967 10.2857 12.1515 10.2858 12V9.71426C10.2857 9.56276 10.2254 9.41751 10.1183 9.31038C10.0112 9.20325 9.8659 9.14299 9.7144 9.14284H8.57155V12.5714Z' fill='%2325B0A5'/%3E%3Cpath d='M5.14324 8H2.28613V13.7142H3.42898V12H5.14324C5.4462 11.9995 5.73663 11.8789 5.95085 11.6647C6.16508 11.4505 6.28563 11.1601 6.28608 10.8571V9.14284C6.28578 8.83984 6.16528 8.54932 5.95102 8.33506C5.73676 8.12081 5.44625 8.0003 5.14324 8ZM3.42898 10.8571V9.14284H5.14324L5.14381 10.8571H3.42898Z' fill='%2325B0A5'/%3E%3Cpath d='M11.4284 6.85725V4.57157C11.4304 4.49647 11.4162 4.42183 11.3866 4.35277C11.357 4.28372 11.3128 4.2219 11.257 4.17157L7.25705 0.171621C7.20675 0.115818 7.14493 0.0715937 7.07588 0.0419978C7.00682 0.012402 6.93216 -0.00186045 6.85706 0.000194306H1.14284C0.840021 0.00109871 0.549859 0.121796 0.33573 0.335924C0.121601 0.550053 0.000904404 0.840215 0 1.14304V14.8572C0 15.1603 0.120406 15.4509 0.334731 15.6653C0.549056 15.8796 0.839742 16 1.14284 16H10.2856V14.8572H1.14284V1.14304H5.71422V4.57157C5.71512 4.87439 5.83582 5.16455 6.04995 5.37868C6.26408 5.59281 6.55424 5.71351 6.85706 5.71441H10.2856V6.85725H11.4284ZM6.85706 4.57157V1.37161L10.057 4.57157H6.85706Z' fill='%2325B0A5'/%3E%3C/svg%3E%0A")
					}
				}
				&._doc {
					&::before {
						@include size(1.4rem, 1.7rem);
						background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 14 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.70956 7.50902V6.97568H1.17622V7.50902H1.70956ZM1.70956 11.7757H1.17622V12.309H1.70956V11.7757ZM12.3762 7.50902H12.9096V6.97568H12.3762V7.50902ZM12.3762 11.7757V12.309H12.9096V11.7757H12.3762ZM13.4429 4.30902H13.9762V4.08822L13.8205 3.93142L13.4429 4.30902ZM10.2429 1.10902L10.6205 0.731417L10.4637 0.575684H10.2429V1.10902ZM1.17622 7.50902V11.7757H2.24289V7.50902H1.17622ZM1.70956 12.309H2.77622V11.2424H1.70956V12.309ZM4.37622 10.709V8.57568H3.30956V10.709H4.37622ZM2.77622 6.97568H1.70956V8.04235H2.77622V6.97568ZM4.37622 8.57568C4.37622 8.15134 4.20765 7.74437 3.9076 7.44431C3.60754 7.14425 3.20057 6.97568 2.77622 6.97568V8.04235C2.91767 8.04235 3.05333 8.09854 3.15335 8.19856C3.25337 8.29858 3.30956 8.43423 3.30956 8.57568H4.37622ZM2.77622 12.309C3.20057 12.309 3.60754 12.1404 3.9076 11.8404C4.20765 11.5403 4.37622 11.1334 4.37622 10.709H3.30956C3.30956 10.8505 3.25337 10.9861 3.15335 11.0861C3.05333 11.1862 2.91767 11.2424 2.77622 11.2424V12.309ZM5.44289 8.57568V10.709H6.50956V8.57568H5.44289ZM8.64289 10.709V8.57568H7.57623V10.709H8.64289ZM8.64289 8.57568C8.64289 8.15134 8.47432 7.74437 8.17426 7.44431C7.8742 7.14425 7.46724 6.97568 7.04289 6.97568V8.04235C7.18434 8.04235 7.32 8.09854 7.42002 8.19856C7.52003 8.29858 7.57623 8.43423 7.57623 8.57568H8.64289ZM7.04289 12.309C7.46724 12.309 7.8742 12.1404 8.17426 11.8404C8.47432 11.5403 8.64289 11.1334 8.64289 10.709H7.57623C7.57623 10.8505 7.52003 10.9861 7.42002 11.0861C7.32 11.1862 7.18434 11.2424 7.04289 11.2424V12.309ZM5.44289 10.709C5.44289 11.1334 5.61146 11.5403 5.91152 11.8404C6.21158 12.1404 6.61855 12.309 7.04289 12.309V11.2424C6.90144 11.2424 6.76579 11.1862 6.66577 11.0861C6.56575 10.9861 6.50956 10.8505 6.50956 10.709H5.44289ZM6.50956 8.57568C6.50956 8.43423 6.56575 8.29858 6.66577 8.19856C6.76579 8.09854 6.90144 8.04235 7.04289 8.04235V6.97568C6.61855 6.97568 6.21158 7.14425 5.91152 7.44431C5.61146 7.74437 5.44289 8.15134 5.44289 8.57568H6.50956ZM9.70956 6.97568V12.309H10.7762V6.97568H9.70956ZM10.2429 8.04235H12.3762V6.97568H10.2429V8.04235ZM11.8429 7.50902V9.10902H12.9096V7.50902H11.8429ZM10.2429 12.309H12.3762V11.2424H10.2429V12.309ZM12.9096 11.7757V10.1757H11.8429V11.7757H12.9096ZM1.17622 5.90902V2.17568H0.109558V5.90902H1.17622ZM12.9096 4.30902V5.90902H13.9762V4.30902H12.9096ZM1.70956 1.64235H10.2429V0.575684H1.70956V1.64235ZM9.86529 1.48662L13.0653 4.68662L13.8205 3.93142L10.6205 0.731417L9.86529 1.48662ZM1.17622 2.17568C1.17622 2.03423 1.23242 1.89858 1.33243 1.79856C1.43245 1.69854 1.56811 1.64235 1.70956 1.64235V0.575684C1.28521 0.575684 0.878246 0.744255 0.578187 1.04431C0.278129 1.34437 0.109558 1.75134 0.109558 2.17568H1.17622ZM0.109558 13.3757V14.9757H1.17622V13.3757H0.109558ZM1.70956 16.5757H12.3762V15.509H1.70956V16.5757ZM13.9762 14.9757V13.3757H12.9096V14.9757H13.9762ZM12.3762 16.5757C12.8006 16.5757 13.2075 16.4071 13.5076 16.1071C13.8077 15.807 13.9762 15.4 13.9762 14.9757H12.9096C12.9096 15.1171 12.8534 15.2528 12.7533 15.3528C12.6533 15.4528 12.5177 15.509 12.3762 15.509V16.5757ZM0.109558 14.9757C0.109558 15.4 0.278129 15.807 0.578187 16.1071C0.878246 16.4071 1.28521 16.5757 1.70956 16.5757V15.509C1.56811 15.509 1.43245 15.4528 1.33243 15.3528C1.23242 15.2528 1.17622 15.1171 1.17622 14.9757H0.109558Z' fill='%2325B0A5'/%3E%3C/svg%3E%0A");
					}
				}
		}
}