table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
		th, td {
			padding-left: 1.4rem;
			padding-right: 1.4rem;
			@include font-size(1.5rem);
		}
		&.colored-rows {
			thead {
				th {
					padding-top: 0;
				}
			}
			tbody {
				tr {
					&:nth-child(odd) {
						background-color: map-get($table, tr);
					}
					&:nth-child(even) {
						background-color: $colorWhite;
					}

					& + tr {
						border-top: .1rem solid map-get($table, border);
					}
				}
			}
			tr {
				&:last-child {
					border-bottom: .1rem solid map-get($table, border);
				}
			}
			th, td {
				padding-top: 1.1rem;
				padding-bottom: 1.2rem;
				@include align_l;
			}
		}
		&.colored-columns {
			thead {
				border-top: .1rem solid map-get($table, border);
					th {
						padding-top: 1.1rem;
						padding-bottom: 1.2rem;
						@include align_r;
						line-height: map-get($defaults, gutter);
					}
			}
			tbody {
				tr {
					& + tr {
						border-top: .1rem solid map-get($table, border);
					}
				}
			}
			tfoot {
				color: #889D9C;

					td {
						font-size: 1.4rem;
					}
			}
			tr {
				&:last-child {
					border-bottom: .1rem solid map-get($table, border);
				}
			}
			th, td {
				padding:.7rem 1.3rem map-get($defaults, base) 1.2rem;
				@include align_r;
					&:nth-child(odd) {
						background-color: map-get($table, tr);
					}
					&:nth-child(even) {
						background-color: $colorWhite;
					}
			}
			th {
				@include align_c;
				vertical-align: bottom;
			}

			@include bp-desktopHD {
				th, td {
					padding-left: multi(1);
					padding-right: multi(1);
				}
				tfoot {
					color: #889D9C;
						td {
							font-size: 1.3rem;
						}
				}
			}
		}
		&.colored-rows,
		&.colored-columns {
			&._content-centered {
				th, td {
					@include align_c;
				}
			}
		}
}
.table-wrapper {
	@include bp-tablet {
		@include outbox('true');
		overflow: auto;
		@include touch-scroll;
	}

	table.colored-columns {
		min-width: 88rem;
	}

	@include bp-desktopHD {
		table.colored-columns {
			min-width: 75rem;
		}
	}
}