.reviews-carousel-wrapper {
	display: flex;
	width: 100%;

	@include bp-tablet {
		display: block;
		@include outbox();
	}
}
.reviews-carousel {
	position: relative;
	width: calc(100% - 35.5rem);
	background: map-get($grey, color_3);
		&__element {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			padding: multi(2) 6.8rem;
				&-details {
					width: 100%;
					padding-right: 5.8rem;
					flex-shrink: 1;
				}
				&-image {
					@include size(21.2rem, 21.2rem);
					flex-shrink: 0;
						& img {
							@include hundred;
							object-fit: cover;
							object-position: center center;
						}
				}
				&-name {
					width: 100%;
					margin-top: multi(2);
					font-weight: $bold;
				}
				&-position {
					margin-top: multi(1);
				}
		}
		&__pagination {
			& .swiper-pagination-bullet {
				width: .8rem;
				height: .8rem;
				margin-left: .5rem;
				margin-right: .5rem;
				background-color: rgba(map-get($basic, primary), .5);
				outline: 0;
				opacity: 1;
					&-active {
						background-color: map-get($basic, primary);
						transform: scale(1.5);
					}
			}
		}

		&.swiper-container-horizontal > .swiper-pagination-bullets{
			position: absolute;
			bottom: 0;
			display: none;
			width: 100%;
			@include align_c;
			z-index: 2;
		}

	@include bp-desktopXS {
		&__element {
			padding-left: multi(3);
			padding-right: multi(3);
				&-details {
					padding-right: multi(4);
				}
		}
	}
	@include bp-tablet {
		width: 100%;
		padding-bottom: 3rem    ;
		background: transparent;
			&__element {
				height: initial;
				background: map-get($grey, color_3);
			}
			&.swiper-container-horizontal > .swiper-pagination-bullets {
				display: block;
			}

			& .swiper-wrapper {
				align-items: initial;
			}
	}
	@include bp-tabletXS {
		&__element {
			padding: multi(3) multi(2) multi(4);
			justify-content: center;
			flex-wrap: wrap;
				&-image {
					@include size(12.2rem, 12.2rem);
					margin-bottom: multi(4);
					order: -1;
				}
				&-details {}
				&-name {
				}
				&-position {}
		}
	}
}
.reviews-carousel-thumbs {
	width: 35.5rem;
	max-height: 36rem;
		&__element {
			position: relative;
			@include flex();
			height: auto;
			align-items: flex-start;
			flex-wrap: nowrap;
			cursor: pointer;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					@include size(.4rem, 100%);
					background: map-get($basic, themeAlt);
					opacity: 0;
					@include smooth(.2s);
					z-index: 2;
				}

				&-image {
					@include size(multi(8), multi(8));
					@include round;
					overflow: hidden;
					flex-shrink: 0;
						& img {
							@include hundred;
							object-fit: cover;
							object-position: center center;
						}
						& + .reviews-carousel-thumbs__element-details {
							padding-left: multi(2);
						}
				}
				&-details {
					width: 100%;
					flex-shrink: 1;
				}
				&-name,
				&-position {
					@include font-size(1.6rem, 2.4rem);
				}
				&-name {
					font-weight: $bold;
				}

				&.swiper-slide-thumb-active {
					&::after {
						opacity: 1;
					}
				}

				& + .reviews-carousel-thumbs__element {
					margin-top: multi(3);
				}
		}

	& .swiper-wrapper {
		flex-direction: column;
	}

	@include bp-tablet {
		display: none;

		width: 100%;
		padding-left: multi(2);
		padding-right: multi(2);
			&__element {
				&::after {
					display: none;
				}
			}
	}
	@include bp-tabletXS {
		&__element {
			& + .reviews-carousel-thumbs__element {
				margin-top: multi(2);
			}
		}
	}
}