block variables

doctype html
html(lang='ru' class=dark ? '_dark-theme' : '')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
        meta(name='format-detection', content='telephone=no')
        title ТСС &#8594; #{title}
        meta(name='description', content=description)
        link(rel='shortcut icon', href='/favicon/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon' href='/favicon/apple-touch-icon.png' sizes='180x180')
        link(rel='icon' type='image/png' href='/favicon/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
        link(rel='mask-icon' href='/favicon/safari-pinned-tab' color='5bbad5')
        link(rel='manifest' href='/favicon/manifest.json')
        meta(name="theme-color", content='#ffffff')

        meta(property="og:url" content="")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        meta(property="og:image" content="./assets/images/socialmedia-image.jpg")
        meta(property="og:image:width" content="968")
        meta(property="og:image:height" content="504")

        block head

    body
        div.website-wrapper.js-website-wrapper
            include ../template-parts/website-header
            main.website-workarea
                block content
            include ../template-parts/website-footer
            include ../includes/popups

        script(scr='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
