section.section.section--warranty-docs
    div.container
        header.section__header
            div.section__headline.h2 Документы

        ul.docs
            li._pdf
                a(href='javascript:void(0);') Регламент оказания прямой технической поддержки продуктов Diamond ACS, Diamond VPN/FW и&nbsp;Dcrypt
            li._pdf
                a(href='javascript:void(0);') Регламент оказания совместной технической поддержки