div.section.section--warranty-features
    div.container
        p Приобретая продукты линейки Diamond ACS и&nbsp;Diamond VPN/FW, вы&nbsp;получаете эффективную поддержку по&nbsp;работе системы от&nbsp;нашей команды специалистов.
        div.warranty-features
            each element in features
                +warranty-feature(element)