section.section.section--warranty-plans
    div.container
        header.section__header
            div.section__headline.h2 Планы технической поддержки

        div.warranty-plans
            each element in plans
                +warranty-plan(element)