header.website-workarea__header
    div.website-workarea__header-image
        img(
        class="lazyload"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
        srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
        data-src="assets/images/workarea-header/image-15.jpg"
        data-srcset="assets/images/workarea-header/image-15.jpg 1x, assets/images/workarea-header/image-15-2x.jpg 2x"
        alt=""
        )
    div.container
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            h1.website-workarea__header-h1 Заявка
            p.p--l На предоставление услуг по технической поддержке