div.section.section--warranty
    div.container
        p Настоящие Правила распространяются на&nbsp;аппаратные модули (далее&nbsp;&mdash; Изделия) производства компании ООО &laquo;ТСС&raquo; (далее&nbsp;&mdash; Изготовитель) и&nbsp;регламентируют порядок действий, сроки и&nbsp;иные аспекты, связанные с&nbsp;осуществлением гарантийного обслуживания.
        p Чтобы узнать подробнее о&nbsp;Правилах гарантийного обслуживания, скачайте нижеприведенный файл.
        a.button.button--h-48.button--mt-24.button--green.button--fs-16.button--mobile-fs-14.button--fw-500.button--hover-theme-alt(href='javascript:void(0);')
            | <svg class="i _pdf" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path d="M15.9998 9.14284V8H12.5713V13.7142H13.7141V11.4285H15.4284V10.2857H13.7141V9.14284H15.9998Z"/>
            | <path d="M9.7144 13.7142H7.42871V8H9.7144C10.1689 8.00045 10.6047 8.18121 10.9261 8.5026C11.2475 8.82399 11.4282 9.25975 11.4287 9.71426V12C11.4282 12.4545 11.2475 12.8902 10.9261 13.2116C10.6047 13.533 10.1689 13.7138 9.7144 13.7142ZM8.57155 12.5714H9.7144C9.8659 12.5712 10.0112 12.511 10.1183 12.4038C10.2254 12.2967 10.2857 12.1515 10.2858 12V9.71426C10.2857 9.56276 10.2254 9.41751 10.1183 9.31038C10.0112 9.20325 9.8659 9.14299 9.7144 9.14284H8.57155V12.5714Z"/>
            | <path d="M5.14324 8H2.28613V13.7142H3.42898V12H5.14324C5.4462 11.9995 5.73663 11.8789 5.95085 11.6647C6.16508 11.4505 6.28563 11.1601 6.28608 10.8571V9.14284C6.28578 8.83984 6.16528 8.54932 5.95102 8.33506C5.73676 8.12081 5.44625 8.0003 5.14324 8ZM3.42898 10.8571V9.14284H5.14324L5.14381 10.8571H3.42898Z"/>
            | <path d="M11.4284 6.85725V4.57157C11.4304 4.49647 11.4162 4.42183 11.3866 4.35277C11.357 4.28372 11.3128 4.2219 11.257 4.17157L7.25705 0.171621C7.20675 0.115818 7.14493 0.0715937 7.07588 0.0419978C7.00682 0.012402 6.93216 -0.00186045 6.85706 0.000194306H1.14284C0.840021 0.00109871 0.549859 0.121796 0.33573 0.335924C0.121601 0.550053 0.000904404 0.840215 0 1.14304V14.8572C0 15.1603 0.120406 15.4509 0.334731 15.6653C0.549056 15.8796 0.839742 16 1.14284 16H10.2856V14.8572H1.14284V1.14304H5.71422V4.57157C5.71512 4.87439 5.83582 5.16455 6.04995 5.37868C6.26408 5.59281 6.55424 5.71351 6.85706 5.71441H10.2856V6.85725H11.4284ZM6.85706 4.57157V1.37161L10.057 4.57157H6.85706Z"/>
            | </svg>
            | Правила гарантийного обслуживания