div.section--warranty-app
    div.container
        form.warranty-app.form.js-form(action='/' method='POST' enctype="multipart/form-data")
            div.warranty-app__section
                div.warranty-app__headline Общая информация
                div.warranty-app__row
                    div.warranty-app__element
                        +input({mod: 'input--group input--required', type: 'text', name: 'WARRANTY_SUBJECT', label: 'Тема запроса'})
                div.warranty-app__row
                    div.warranty-app__element
                        +input({mod: 'input--group input--required', type: 'text', name: 'WARRANTY_COMPANY_NAME', label: 'Название организации'})
                div.warranty-app__row
                    div.warranty-app__element
                        +input({mod: 'input--group input--required', type: 'text', name: 'WARRANTY_CERTIFICATE_NO', label: 'Номер сертификата ТП'})


                div.warranty-app__label.warranty-app__label--required Продукт, по&nbsp;которому нужна техподдержка
                div.warranty-app__row.warranty-app__row--wrappable.js-input
                    div.warranty-app__element.warranty-app__element--50
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'Diamond VPN/FW'})
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'Diamond VPN/FW Client'})
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'Diamond NCC центр управления и&nbsp;мониторинга'})
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'Diamond ACS'})
                    div.warranty-app__element.warranty-app__element--50
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'DCRYPT XG'})
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'DCRYPT'})
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'DCRYPT Smart SFP'})
                        +checkbox({name: 'TECH_SUPPORT_REQUIRED[]', value: 'Безопасный IoT'})
                    div.input__messages.js-input-messages

            div.warranty-app__section
                div.warranty-app__headline Контактное лицо
                div.warranty-app__row
                    div.warranty-app__element.warranty-app__element--50
                        +input({mod: 'input--group input--required', type: 'text', name: 'USER_NAME', label: 'Имя и фамилия'})
                    div.warranty-app__element.warranty-app__element--50
                        +input({mod: 'input--group', type: 'text', name: 'USER_POSITION', label: 'Должность'})
                div.warranty-app__row
                    div.warranty-app__element.warranty-app__element--50
                        +input({mod: 'input--group input--required', type: 'email', name: 'USER_EMAIL', label: 'Электронная почта'})
                    div.warranty-app__element.warranty-app__element--50
                        +input({mod: 'input--group', inputMod: 'js-input-tel', type: 'tel', name: 'USER_PHONE', label: 'Телефон'})

            div.warranty-app__section
                div.warranty-app__headline Описание проблемы
                div.warranty-app__row
                    div.warranty-app__element
                        +input({mod: 'input--group', textarea: true, name: 'WARRANTY_ISSUE', label: 'Полное и четкое описание проблемы'})

                div.warranty-app__label Файл
                div.warranty-app__text Можно приложить скриншоты или файлы настроек
                include ../../includes/file-uploader

            div.warranty-app__control
                button.button.button--h-48.button--fs-20.button--fw-700.button--hover-theme-alt(type='submit') Отправить