.ss-main {
	position: relative;
	display: block;
	width: 100%;
	@include noselect;

	.ss-single-selected {
		display: flex;
		@include size(100%, 5.2rem);
		padding: map-get($defaults, gutter) #{map-get($defaults, base) * 2} map-get($defaults, gutter) map-get($defaults, gutter);
		border: .1rem solid map-get($grey, color_0);
		background-color: $colorWhite;
		@include radius();
		cursor: pointer;
		outline: 0;
		transition: background-color .2s;

		&.ss-disabled {
			cursor: not-allowed;
		}
		&.ss-open-above {
			border-top-left-radius: 0;
			border-top-right-radius: 0;

				.ss-arrow span {
					transform: rotate(-180deg);
				}
				& + .ss-content {
					border-radius: map-get($defaults, radius) map-get($defaults, radius) 0 0;
				}
		}
		&.ss-open-below {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

				.ss-arrow span {
					transform: rotate(-180deg);
				}
		}

		.placeholder {
			display: flex;
			flex: 1 1 100%;
			align-items: center;
			width: 100%;
			color: map-get($basic, secondary);
			@include font-size(1.8rem,2rem);
			@include align_l;
			text-overflow: ellipsis;
			white-space: nowrap;
			@include noselect;
			overflow: hidden;

			* {
				display: flex;
				width: auto;
				align-items: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.ss-disabled {
				color: map-get($grey,color_2);
			}
		}

		.ss-deselect {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex: 0 1 auto;
			margin: 0 .6rem;

			&.ss-hide {
				display: none;
			}
		}

		.ss-arrow {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			@include size(5.6rem, 5.6rem);
			align-items: center;
			justify-content: center;
			flex: 0 1 auto;

			span {
				will-change: transform;
				transition: transform .2s;
					&::before {
						content: '';
						display: block;
						@include hundred;
						background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.196 0.151978L8.5 6.45598L14.804 0.151978L16.5 1.84798L8.5 9.84798L0.5 1.84798L2.196 0.151978Z' fill='%23898989'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
						background-size: cover;
					}


				&.arrow-up,
				&.arrow-down {
					@include size(1.7rem, 1rem);
				}
			}
		}
	}

	//no used
	/*
	.ss-multi-selected {
		display: flex;
		flex-direction: row;
		cursor: pointer;
		min-height: $height;
		width: 100%;
		padding: 0 0 0 3px;
		border: 1px solid $border-color;
		border-radius: $border-radius;
		background-color: $white;
		outline: 0;
		box-sizing: border-box;
		transition: background-color .2s;

		&.ss-disabled {
			background-color: $border-color;
			cursor: not-allowed;

			.ss-values {
				.ss-disabled {
					color: $font-color;
				}

				.ss-value {
					.ss-value-delete {
						cursor: not-allowed;
					}
				}
			}
		}

		&.ss-open-above {
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
		&.ss-open-below {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		.ss-values {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			flex: 1 1 100%;
			width: calc(100% - 30px);

			.ss-disabled {
				display: flex;
				padding: 4px 5px;
				margin: 2px 0px;
				line-height: 1em;
				align-items: center;
				width: 100%;
				color: $font-disabled-color;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			@keyframes scaleIn {
				0% {transform: scale(0); opacity: 0;}
				100% {transform: scale(1); opacity: 1;}
			}
			@keyframes scaleOut {
				0% {transform: scale(1); opacity: 1;}
				100% {transform: scale(0); opacity: 0;}
			}

			.ss-value {
				display: flex;
				user-select: none;
				align-items: center;
				font-size: 12px;
				padding: 3px 5px;
				margin: 3px 5px 3px 0px;
				color: $white;
				background-color: $primary-color;
				border-radius: $border-radius;
				animation-name: scaleIn;
				animation-duration: .2s;
				animation-timing-function: ease-out;
				animation-fill-mode: both;

				&.ss-out {
					animation-name: scaleOut;
					animation-duration: .2s;
					animation-timing-function: ease-out;
				}

				.ss-value-delete {
					margin: 0 0 0 5px;
					cursor: pointer;
				}
			}
		}

		.ss-add {
			display: flex;
			flex: 0 1 3px;
			margin: 9px 12px 0 5px;

			.ss-plus {
				display: flex;
				justify-content: center;
				align-items: center;
				background: $font-color;
				position: relative;
				height: 10px;
				width: 2px;
				transition: transform .2s;

				&:after {
					background: $font-color;
					content: "";
					position: absolute;
					height: 2px;
					width: 10px;
					left: -4px;
					top: 4px;
				}

				&.ss-cross {
					transform: rotate(45deg);
				}
			}
		}

	}
	*/
}
.ss-content {
	position: absolute;
	width: 100%;
	margin: -.1rem 0 0 0;
	border: .1rem solid map-get($grey, color_0);
	background-color: $colorWhite;
	@include radius(0 0 map-get($defaults, radius) map-get($defaults, radius));
	opacity: 0;
	transform: scaleY(0);
	transform-origin: center top;
	transition: transform .2s, opacity .2s;
	z-index: 1010;

	&.ss-open {
		display: block;
		opacity: 1;
		transform: scaleY(1);

			.ss-list {
				overflow-x: hidden;
				overflow-y: auto;
			}
	}

	.ss-search {
		display: flex;
		flex-direction: row;
		padding: 0;

		&.ss-hide {
			height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;

			input {
				height: 0;
				opacity: 0;
				padding: 0;
				margin: 0;
			}
		}

		input {
			display: inline-flex;
			font-size: inherit;
			line-height: inherit;
			flex: 1 1 auto;
			width: 100%;
			min-width: 0px;
			height: 30px;
			//padding: $spacing-m $spacing-l;
			margin: 0;
			//border: 1px solid $border-color;
			//border-radius: $border-radius;
			//background-color: $white;
			outline: 0;
			text-align: left;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-webkit-appearance: textfield;

			&::placeholder {
				//color: $font-placeholder-color;
				vertical-align: middle;
			}

			&:focus {
				//box-shadow: 0 0 5px $primary-color;
			}
		}

		.ss-addable {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			font-size: 22px;
			font-weight: bold;
			flex: 0 0 30px;
			height: 30px;
			margin: 0 0 0 8px;
			//border: 1px solid $border-color;
			//border-radius: $border-radius;
			box-sizing: border-box;
		}
	}

	.ss-addable {
		padding-top: 0;
	}

	.ss-list {
		max-height: 16rem;
		@include align_l;
		overflow: hidden;

		.ss-optgroup {
			.ss-optgroup-label {
				padding: 6px 10px 6px 10px;
				font-weight: bold;
			}
			.ss-option {
				padding: 6px 6px 6px 25px;
			}
		}

		.ss-optgroup-label-selectable {
			cursor: pointer;

			&:hover {
				background-color: map-get($grey, color_3);
			}
		}

		.ss-option {
			padding: map-get($defaults, base) map-get($defaults, gutter);
			color: map-get($basic, secondary);
			cursor: pointer;
			@include noselect;

			* {
				display: inline-block;
			}

			&:hover, &.ss-highlighted {
				background-color: map-get($grey, color_3);
			}

			&.ss-disabled {
				background-color: map-get($grey, color_3);
				cursor: not-allowed;
			}

			&:not(.ss-disabled).ss-option-selected {}

			&.ss-hide { display: none; }

			.ss-search-highlight {
				background-color: red;
			}
		}
	}
}
