.scroll-navigation {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: map-get($grey, color_1);
	z-index: 50;
		& .container {
			position: relative;
		}
		& .button {
			display: none;
		}

		&--with-control {
			& .container {
				padding-right: 20rem;
			}
			& .button {
				position: absolute;
				top: 1.2rem;
				right: map-get($defaults, gutter);
				display: inline-flex;
				z-index: 2;
			}
		}

		&__element {
			position: relative;
			height: #{map-get($defaults, base) * 8};
			padding-left: map-get($defaults, gutter);
			padding-right: map-get($defaults, gutter);
			color: map-get($basic, primary);
			@include font-size();
				& span {
					position: relative;
					@include flex(auto);
					height: 100%;
					align-items: center;
						&::after {
							content: '';
							position: absolute;
							left: 50%;
							bottom: 0;
							display: block;
							@include size(0, .2rem);
							background-color: map-get($basic, themeAlt);
							@include smooth(.2s);
						}
				}

				&--current {
					color: map-get($basic, themeAlt);
					 & span {
						 &::after {
							 left: 0;
							 width: 100%;
						 }
					 }
				}

				&:first-child {
					padding-left: 0;
				}
		}

	@include bp-tablet {
		&__element {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	@include bp-tabletXS {
		position: static;

		& .container {
			display: block;
			font-size: 0;
			white-space: nowrap;
			overflow: auto;
			@include touch-scroll;
		}

		&--with-control {
			& .container {
				padding-right: map-get($defaults, gutter);

			}
			& .button {
				display: none;
			}
		}

		&__element {
			display: inline-flex;
		}
	}
}