.mobile-slider {
	&-wrapper {
		position: relative;
		width: 100%;
			& .swiper-container {
				overflow: initial;
			}
			& .swiper-wrapper {
				flex-wrap: wrap;
			}
	}

	&.product-array {
		& .product-array__element {
			&.swiper-slide {
				height: initial;
			}
		}
	}
	
	&__element {}
	&__arrow {
		position: absolute;
		top: calc(50% - 1.5rem);
		display: none;
		@include size(3.2rem, 3.2rem);
		align-items: center;
		justify-content: center;
		background-color: $colorWhite;
		border: .1rem solid map-get($grey, color_0);
		@include round;
		cursor: pointer;
		outline: 0;
		transform: translateY(-50%);
		z-index: 2;
			& .i {
				@include size(1.2rem, .9rem);
				stroke: map-get($basic, themeAltLight);
			}

			&--prev {
				left: 1.4rem;
			}
			&--next {
				right: 1.4rem;
			}

			&.swiper-button-disabled {
				opacity: 0;
				@include no-touch;
			}
	}
	&__pagination {
		position: absolute;
		bottom: 0!important;
		display: none;
		width: 100%;
		@include align_c;
		z-index: 2;

		.swiper-pagination-bullet {
			width: .8rem;
			height: .8rem;
			margin-left: .5rem!important;
			margin-right: .5rem!important;
			background-color: rgba(map-get($basic, primary), .5);
			outline: 0;
			opacity: 1;
			&-active {
				background-color: map-get($basic, primary);
				transform: scale(1.5);
			}
		}
	}

	@include bp-tabletXS {
		display: block;
		width: 100%;
		margin: 0;
		padding-bottom: 3rem;
		&__element {
			width: 100%;
			margin: 0;
		}
		&__arrow {
			display: flex;
		}
		&__pagination {
			display: block;
		}

		&-wrapper {
			@include outbox;
			overflow: hidden;

			& .swiper-container {
				overflow: hidden;
			}
			& .swiper-wrapper {
				flex-wrap: nowrap;
				padding-bottom: 0;
			}
		}

		&.product-array {
			margin-top: 0;
			margin-bottom: 0;
			& .product-array__element {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		& .webinar-element {
			box-shadow: 0 .2rem .4rem rgba($colorBlack, .1);
				&__details {
					padding: 2.5rem 2.8rem;
				}
		}
	}
}