section.section.section--history
    div.container
        header.section__header
            div.section__headline.h2 История компании

        div.about-history.scrollable-block.js-scrollable-block
            div.about-history__row.about-history__row--up
                div.about-history__element
                    div.about-history__element-headline 2008
                    p Выделение направления разработки в&nbsp;самостоятельную компанию
                div.about-history__element
                    div.about-history__element-headline 2012
                    p Запуск в&nbsp;серийное производство и&nbsp;сертификация комплексов Diamond ACS и&nbsp;Diamond VPN/FW
                div.about-history__element
                    div.about-history__element-headline 2015
                    p Совместно с&nbsp;ОАО &laquo;БИТК&raquo; разработана 2&nbsp;версия комплекса Diamond VPN/FW и&nbsp;СКЗИ Dcrypt
                div.about-history__element
                    div.about-history__element-headline 2017
                    p Совместно с&nbsp;ОАО &laquo;БИТК&raquo; разработана 2&nbsp;версия комплекса Diamond VPN/FW и&nbsp;СКЗИ Dcrypt
                div.about-history__element
                    div.about-history__element-headline 2019
                    p Совместно с&nbsp;ОАО &laquo;БИТК&raquo; разработана 2&nbsp;версия комплекса Diamond VPN/FW и&nbsp;СКЗИ Dcrypt
            div.about-history__row.about-history__row--down
                div.about-history__element
                    div.about-history__element-headline 2010
                    p Запуск в&nbsp;серийное производство модулей доверенной загрузки Diamond ACS&nbsp;HW
                div.about-history__element
                    div.about-history__element-headline 2014
                    p Компанией выполнен 100-й проект по&nbsp;защите информации
                div.about-history__element
                    div.about-history__element-headline 2016
                    p Компанией разработаны специализированные отраслевые решения для защиты промышленных предприятий и&nbsp;объектов ключевой инфраструктуры
                div.about-history__element
                    div.about-history__element-headline 2018
                    p Компанией разработаны специализированные отраслевые решения для защиты промышленных предприятий и&nbsp;объектов ключевой инфраструктуры
                div.about-history__element
                    div.about-history__element-headline 2020
                    p Компанией разработаны специализированные отраслевые решения для защиты промышленных предприятий и&nbsp;объектов ключевой инфраструктуры