section.section.section--features
    div.container
        div.section__headline.h2 Опыт компании в&nbsp;цифрах
        div.features-array
            each element in features
                +features-element(element)