section.section.section--contacts
    div.container
        div.section__headline.h2 Контакты

        div.contacts-summary
            div.contacts-summary__section
                p #[b Адрес:] Россия, Москва, 105187, ул. Борисовская, д.1, офис 900
                p #[b Телефон, факс:] #[a(href="tel:+74951201284") +7&nbsp;495 120-12-84]
                p #[b Техническая поддержка:] #[a(href="tel:88005004368") 8&nbsp;800 500-43-68]
            div.contacts-summary__section
                p #[b Общие вопросы:] #[a(href='javascript:void(0);') info@tssltd.ru]
                p #[b Отдел продаж:] #[a(href='javascript:void(0);') sales@tssltd.ru]
                p #[b Техническая поддержка:] #[a(href='javascript:void(0);') support@tssltd.ru]