section.section.section--aim.section-with-sidebar.section-with-sidebar--dark
    div.container
        div.section-with-sidebar__body
            div.section-with-sidebar__headline.h2 Наша цель
            p.p--l Цель компании ТСС&nbsp;&mdash; повышение эффективности бизнеса заказчиков путем обеспечения надежной защиты их&nbsp;информационных систем и&nbsp;инфраструктуры.
            p Компания ТСС основана в&nbsp;2008&nbsp;году, является ведущим российским разработчиком программных и&nbsp;аппаратных средств защиты информации. С&nbsp;помощью разработанных решений защищены информационные активы клиентов совокупной капитализацией более 700 миллиардов рублей.
            p Команда ТСС объединила высококлассных специалистов в&nbsp;области информационной безопасности, разработки программного обеспечения, системной интеграции и&nbsp;сетевых технологий. Основным преимуществом нашей команды является нацеленность на&nbsp;конечный результат и&nbsp;эффективное решение задач клиента. География реализованных проектов охватывает 9&nbsp;федеральных округов Российской Федерации и&nbsp;ряд стран ближнего и&nbsp;дальнего зарубежья.
        aside.section-with-sidebar__sidebar
            ul.round-checked
                li Мы&nbsp;выполнили более 120 проектов по&nbsp;комплексной защите информационных систем в&nbsp;различных отраслях.
                li Среди наших клиентов крупнейшие российские предприятия и&nbsp;холдинги, 3&nbsp;федеральные службы и&nbsp;1&nbsp;агентство, более 20&nbsp;органов исполнительной власти.
                li ТСС обладает опытом работы как с&nbsp;крупными транснациональными корпорациями, так и&nbsp;с&nbsp;предприятиями малого и&nbsp;среднего бизнеса.