section.section.section--management
    div.container
        header.section__header
            div.section__headline.h2 Руководство

        div.reviews-carousel-wrapper
            div.reviews-carousel-thumbs.swiper-container.js-management-thumbs
                div.swiper-wrapper
                    each element in thumbs
                        +review-carousel-thumb-element(element)

            div.reviews-carousel.swiper-container.js-management-carousel
                div.swiper-wrapper
                    each element in carousel
                        +review-carousel-element(element)
                div.reviews-carousel__pagination.js-management-pagination
