section.section.section--reviews
    div.container
        header.section__header
            div.section__headline.h2 Отзывы

        div.reviews-carousel-wrapper
            div.reviews-carousel-thumbs.swiper-container.js-reviews-thumbs
                div.swiper-wrapper
                    each element in thumbs
                        +review-carousel-thumb-element(element)
            div.reviews-carousel.swiper-container.js-reviews-carousel
                div.swiper-wrapper
                    each element in carousel
                        +review-carousel-element(element)
                div.reviews-carousel__pagination.js-reviews-pagination