section.event-section.event-section--speakers
    div.container.container--narrow
        div.event-section__headline.h3 Спикеры

        div.event-speaker
            div.event-speaker__image
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/speakers/image-0.jpg"
                    data-srcset="assets/images/speakers/image-0.jpg 1x, assets/images/speakers/image-0-2x.jpg 2x"
                    alt=""
                )
            div.event-speaker__details
                div.event-speaker__name Александр Атаманов
                div.event-speaker__position Основатель и гендиректор ООО «ТСС»
        div.event-speaker
            div.event-speaker__image
                img(
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-src="assets/images/speakers/no-image.jpg"
                    data-srcset="assets/images/speakers/no-image.jpg 1x, assets/images/speakers/no-image-2x.jpg 2x"
                    alt=""
                )
            div.event-speaker__details
                div.event-speaker__name Владимир Сенькин
                div.event-speaker__position Заместитель генерального директора