section.event-section.event-section--program
    div.container.container--narrow
        div.event-section__headline.h3 Программа

        ul.round-checked
            li Преодоление технологической зависимости при построении автоматизированных информационных систем;
            li Перспективные отечественные разработки в&nbsp;сфере информационной безопасности;
            li Новые инструменты ведения бизнеса в&nbsp;цифровой экономике;
            li Автоматизация и&nbsp;искусственный интеллект в&nbsp;сфере обеспечения информационной безопасности;
            li Киберпреступность как бизнес;
            li Безопасность как сервис;
            li Информационная безопасность как часть бизнеса;
            li Анализ рисков и&nbsp;социальная ответственность.
