div.event-section.event-section--description
    div.container.container--narrow
        +youtube-player({id: 'lj381XRcfCA', poster: 'assets/images/youtube-player/image-0.jpg'})
        p.p--l Участие руководства ТСС в&nbsp;форуме неслучайно. Наша компания&nbsp;&mdash; один из&nbsp;лидеров на&nbsp;рынке информационной безопасности России. Компания была основана в&nbsp;2008 году ведущими специалистами, имеющими большой опыт в&nbsp;разработке и&nbsp;внедрении как зарубежных, так и&nbsp;отечественных средств&nbsp;ИБ.
        p Ведущие российские интеграторы, участвовавшие в&nbsp;форуме, являются партнерами ТСС. Кроме того, наша компания ведет совместные разработки с&nbsp;другими разработчиками и&nbsp;вендорами.
        p Форум является одним из&nbsp;крупнейших событий в&nbsp;сфере информационной безопасности. В&nbsp;этом году спикерами и&nbsp;модераторами пленарных заседаний выступили сотрудники компаний ВТБ, ПАО &laquo;Ростелеком&raquo;, АО&nbsp;&laquo;ЭЛВИС-ПЛЮС&raquo;, InfoWatch, Positive Technologies, Web Control, Ассоциации банков России, Национальной ассоциации участников фондового рынка (НАУФОР), представители Совета Федерации, Министра цифрового развития, связи и&nbsp;массовых коммуникаций Российской Федерации, Министерства, Роскомнадзора, ФСТЭК и&nbsp;ФСБ России.
        p Всего&nbsp;же ТСС выполнила 130 проектов по&nbsp;комплексной защите информационных систем в&nbsp;различных отраслях, в&nbsp;том числе в&nbsp;трех федеральных службах, одном агентстве и&nbsp;20&nbsp;органах исполнительной власти. Заказчиками ТСС выступили компании, как ПАО &laquo;Сибур&raquo;, &laquo;РусГидро&raquo;, &laquo;Сибирская Сервисная Компания&raquo;, &laquo;Мегафон&raquo;, МРСК Северного Кавказа, China Construction Bank и&nbsp;многие другие.