header.website-workarea__header.website-workarea__header--centered
    div.website-workarea__header-image
        img(
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="assets/images/workarea-header/image-1.jpg"
            data-srcset="assets/images/workarea-header/image-1.jpg 1x, assets/images/workarea-header/image-1-2x.jpg 2x"
            alt=""
        )
    div.container.container--narrow
        +breadcrumbs(breadcrumbs)
        div.website-workarea__header-content
            div.website-workarea__header-label.website-workarea__header-label--white Форум
            h1.website-workarea__header-h2 Информационная безопасность #[br]финансовой сферы
            a.button.button--h-48.button--fs-20.button--fw-700.button--mobile--h-36.button--mobile-fs-16.js-scroll-link(href='#reg-application') Зарегистрироваться