.quick-search {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 4.1rem;
	opacity: 0;
	overflow: hidden;
	transition: width .3s ease, opacity .3s ease;
	@include no-touch;
	z-index: 2;
		&__input {
			display: block;
			@include hundred;
			padding-left: multi(1);
			padding-right: 7rem;
			font-family: map-get($font, primary), map-get($font, alternative_0), map-get($font, alternative_1);
			@include font-size(1.6rem, 2.4rem);
			appearance: none;
			background: $colorWhite;
			border: 0;
			border-bottom: .1rem solid map-get($basic, theme);
			outline: 0;
			caret-color: map-get($basic, theme);

				&::-webkit-input-placeholder {
					color: map-get($grey, color_2);
				}
				&::-moz-placeholder {
					color: map-get($grey, color_2);
				}
				&:-ms-input-placeholder {
					color: map-get($grey, color_2);
				}
				&:-moz-placeholder {
					color: map-get($grey, color_2);
				}

				&:focus {
					&::-webkit-input-placeholder {
						color: transparent;
					}
					&::-moz-placeholder {
						color: transparent;
					}
					&:-ms-input-placeholder {
						color: transparent;
					}
					&:-moz-placeholder {
						color: transparent;
					}
				}
		}
		&__button {
			position: absolute;
			top: 0;
			right: 0;
			@include flex(6.2rem);
			height: 100%;
			align-items: center;
			justify-content: center;
			padding-bottom: .3rem;
			color: map-get($grey, color_2);
			@include font-size(1.6rem, 2.4rem);
				& .i {
					width: 1.6rem;
					height: 1.4rem;
					margin-top: .2rem;
					margin-right: .5rem;
					fill: none;
					stroke: map-get($grey, color_2);
				}
		}

	@include bp-tablet {
		top: 7.6rem;
		right: multi(2);
		@include size(calc(100vw - #{multi(4)}), 4rem);

		&__input {
			border: .1rem solid map-get($basic, theme);
			@include radius();
		}
		&__button {
			@include size(4rem, 4rem);
			padding-bottom: 0;
			font-size: 0;
				&::before {
					content: '';
					display: block;
					@include size(1.6rem, 1.7rem);
					background: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33333 13.1275C10.2789 13.1275 12.6667 10.7396 12.6667 7.79412C12.6667 4.8486 10.2789 2.46078 7.33333 2.46078C4.38781 2.46078 2 4.8486 2 7.79412C2 10.7396 4.38781 13.1275 7.33333 13.1275Z' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0001 14.4608L11.1001 11.5608' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
					background-size: cover;
					opacity: .6;
				}
				& .i {
					display: none;
				}
		}
	}
}