div.event-summary
    div.container.container--narrow
        div.event-summary__element.event-summary__element--time
            div.event-summary__label Начало
            div.event-summary__value 10:00
        div.event-summary__element.event-summary__element--date
            div.event-summary__value 17
            div.event-summary__label февраля 2020