.show-more {
	width: 100%;
	&__hidden {
		display: none;
		margin-top: map-get($defaults, gutter);
	}
	&__control {
		margin-top: #{ map-get($defaults,base) * 3};
	}
	& .button {
		& .i {
			will-change: transform;
			@include smooth(.2s);
		}
	}

	&--expanded {
		.show-more__hidden {
			display: block;
		}

		& .button {
			& .i {
				&._chevron-down {
					transform: rotate(-180deg);
				}
			}
		}
	}

	@include bp-tabletXS {
		&__control {
			margin-top: 3rem;
			@include align_c;
		}
	}
}