.tabs {
	@include flex();
		&__list {
			@include flex(auto);
			margin-bottom: 2.8rem;
			border-bottom: .1rem solid map-get($grey, color_0);
		}
		&__element {
			position: relative;
			@include link();
			padding-bottom: 2rem;
			color: map-get($basic, primary);
			@include font-size(2.2rem);
			font-weight: $bold;
			letter-spacing: .07rem;
			@include smooth(.2s);
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -.1rem;
					display: block;
					@include size(0, .2rem);
					background: map-get($basic, theme);
					transform: translateX(-50);
					@include smooth(.2s);
				}
				&:not(:last-child) {
					margin-right: 4.3rem;
				}
				&:hover,
				&._active {
					color: map-get($basic, theme);
				}
				&._active {
					&::after {
						left: 0;
						width: 100%;
					}
				}
		}
		&__pane {
			display: none;
			width: 100%;
				&._active {
					display: block;
				}
		}

	&--grey-buttons {
		width: 100%;
		.tabs {
			&__list {
				width: 100%;
				margin-bottom: 4.8rem;
				border-bottom-color: map-get($basic, themeAlt);
			}
			&__element {
				display: flex;
				height: 4.8rem;
				align-items: center;
				padding: 0 2rem;
				@include font-size(1.8rem, 1.8rem);
				font-weight: normal;
				background-color: map-get($grey, color_3);
					&::after {
						display: none;
					}
					&:not(:last-child) {
						margin-right: map-get($defaults, base);
					}
					&:hover {
						color: map-get($basic, themeAlt);
					}
					&._active {
						color: $colorWhite;
						background-color: map-get($basic, themeAlt);
					}
			}
		}
	}
	&--mobile {
		.tabs {
			&__list {
				display: none;
			}
			&__pane {
				display: block;
					&.product-props-section--type-0 {
						width: 100%;
					}
					&.product-props-section--type-1 {
						width: calc(100% - 36.4rem);
					}
					&.product-props-section--type-2 {
						width: 30.6rem;
					}
			}
		}
	}

	@include bp-tabletXS {
		&__list {
			margin-bottom: 3rem;
		}
		&__element {
			padding-bottom: map-get($defaults, base);
			@include font-size();
			letter-spacing: initial;
			&:not(:last-child) {
				margin-right: map-get($defaults, base);
			}
		}

		&--grey-buttons {
			width: 100%;
			.tabs {
				&__list {
					display: block;
					@include outbox('true');
					margin-bottom: 3.2rem;
					font-size: 0;
					white-space: nowrap;
					overflow: auto;
				}
				&__element {
					display: inline-flex;
					&:not(:last-child) {
						margin-right: map-get($defaults, base);
					}
				}
			}
		}
		&--mobile {
			margin-bottom: 3rem;
			.tabs {
				&__list {
					display: flex;
					width: 100%;
					margin-left: 0;
					margin-right: 0;
					padding-left: 0;
					padding-right: 0;
					border-bottom: .2rem solid map-get($grey, color_4);
					white-space: normal;
					overflow: initial;
				}
				&__element {
					height: auto;
					padding: 0 0 .8rem;
					color: map-get($basic, primary);
					font-size: map-get($defaults, gutter);
					background: transparent;
						&::after {
							bottom: -.2rem;
							display: block;
							background-color: map-get($basic, themeAlt);
						}
						&:not(:last-child) {
							margin-right: map-get($defaults, gutter);
						}
						&._active {
							color: map-get($basic, themeAlt);
							background: transparent;
						}
				}
				&__pane {
					display: none;
					&._active {
						display: block;
					}

					&.product-props-section--type-0,
					&.product-props-section--type-1,
					&.product-props-section--type-2 {
						width: 100%;
					}
				}
			}
		}
	}
}